backups/n8n/backup_n8n_github_hourly_v2.json
{
  "createdAt": "2025-11-09T13:30:13.204Z",
  "id": "BbMhDXpurwT0EISt",
  "name": "backup_n8n_github_hourly_v2",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 5
            }
          ]
        }
      },
      "id": "1",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        288,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "BASE_URL",
              "type": "string",
              "value": "https://<workspace>.n8n.cloud/rest"
            },
            {
              "id": "a2",
              "name": "OWNER",
              "type": "string",
              "value": "<owner>"
            },
            {
              "id": "a3",
              "name": "REPO",
              "type": "string",
              "value": "MindQuest"
            },
            {
              "id": "a4",
              "name": "BRANCH",
              "type": "string",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Set Constants",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.BASE_URL + '/workflows' }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\"X-N8N-API-KEY\": $env.N8N_API_KEY}",
        "options": {}
      },
      "id": "3",
      "name": "HTTP - List Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "4",
      "name": "Item Lists - Split Workflows",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [
        1088,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $item(0).$node['Set Constants'].json.BASE_URL + '/folders/' + $json.folderId }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\"X-N8N-API-KEY\": eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJmYTg2NGQ1MS00NzVlLTQ3NjUtYjNiNC0xMjc4ODUyNWEzZTYiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYyNjk1OTQzLCJleHAiOjE3NjUyNTY0MDB9.0GRDDolGJXXnoC6nAfE73rMqFC2B2CP0X__UrARnlsU}",
        "options": {}
      },
      "id": "5",
      "name": "HTTP - Get Folder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        224
      ]
    },
    {
      "parameters": {
        "url": "={{ $item(0).$node['Set Constants'].json.BASE_URL + '/workflows/' + $json.id }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\"X-N8N-API-KEY\": $env.N8N_API_KEY}",
        "options": {}
      },
      "id": "6",
      "name": "HTTP - Get Workflow By ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        384
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "folderSlug",
              "type": "string",
              "value": "={{ ($node['HTTP - Get Folder'].json.name || 'Uncategorized').replace(/[\\\\/\\\\:?*\\\"<>|]/g, '_') }}"
            },
            {
              "id": "b2",
              "name": "workflowSlug",
              "type": "string",
              "value": "={{ $json.name.replace(/[\\\\/\\\\:?*\\\"<>|]/g, '_') }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "7",
      "name": "Set - Build Slugs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "path",
              "type": "string",
              "value": "={{ 'backups/' + $json.folderSlug + '/' + $json.workflowSlug + '.json' }}"
            },
            {
              "id": "c2",
              "name": "content",
              "type": "string",
              "value": "={{ JSON.stringify($node['HTTP - Get Workflow By ID'].json, null, 2) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8",
      "name": "Set - Path & Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        304
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $item(0).$node['Set Constants'].json.OWNER }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $item(0).$node['Set Constants'].json.REPO }}"
        },
        "filePath": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.path }}"
        },
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "9",
      "name": "GitHub - Get File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2128,
        304
      ],
      "webhookId": "96bdf003-003b-4f9a-a5d4-01061734016b",
      "credentials": {
        "githubApi": {
          "id": "sYSRdEEkyzdTTHW2",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond1",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ !!$node['GitHub - Get File'].json.sha }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "10",
      "name": "IF - File Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        256
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $item(0).$node['Set Constants'].json.OWNER }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $item(0).$node['Set Constants'].json.REPO }}"
        },
        "filePath": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.path }}"
        },
        "fileContent": "={{ $json.content }}",
        "commitMessage": "={{ 'backup(n8n): add ' + $json.path }}"
      },
      "id": "11",
      "name": "GitHub - Create File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2656,
        512
      ],
      "webhookId": "f8292421-ee08-49e0-83dd-7a0de146859d",
      "credentials": {
        "githubApi": {
          "id": "sYSRdEEkyzdTTHW2",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $item(0).$node['Set Constants'].json.OWNER }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $item(0).$node['Set Constants'].json.REPO }}"
        },
        "filePath": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.path }}"
        },
        "fileContent": "={{ $json.content }}",
        "commitMessage": "={{ 'backup(n8n): update ' + $json.path }}"
      },
      "id": "12",
      "name": "GitHub - Edit File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2672,
        128
      ],
      "webhookId": "8dc33104-5f74-4931-bc3c-7a1946e3cda1",
      "credentials": {
        "githubApi": {
          "id": "sYSRdEEkyzdTTHW2",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Set Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Constants": {
      "main": [
        [
          {
            "node": "HTTP - List Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - List Workflows": {
      "main": [
        [
          {
            "node": "Item Lists - Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists - Split Workflows": {
      "main": [
        [
          {
            "node": "HTTP - Get Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP - Get Workflow By ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Folder": {
      "main": [
        [
          {
            "node": "Set - Build Slugs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Workflow By ID": {
      "main": [
        [
          {
            "node": "Set - Build Slugs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Build Slugs": {
      "main": [
        [
          {
            "node": "Set - Path & Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Path & Content": {
      "main": [
        [
          {
            "node": "GitHub - Get File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Get File": {
      "main": [
        [
          {
            "node": "IF - File Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - File Exists?": {
      "main": [
        [
          {
            "node": "GitHub - Edit File",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "GitHub - Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "780bf210-37b0-42e2-a3fd-d8406469d199",
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-09T13:30:13.204Z",
      "role": "workflow:owner",
      "workflowId": "BbMhDXpurwT0EISt",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
