backups/n8n/dash_quests.json
{
  "createdAt": "2025-11-05T17:35:05.601Z",
  "id": "yvg9NkBsLF3mbr5f",
  "name": "dash_quests",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1872,
        -96
      ],
      "id": "284b4524-9ed1-45f4-a607-5afaf4f5767b",
      "name": "Responder"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  qi.id                AS instancia_id,\n  qi.meta_codigo       AS meta_codigo,\n  qi.status            AS status,\n  qi.progresso_meta    AS progresso_meta,\n  qi.progresso_atual   AS progresso_atual,\n  qi.concluido_em      AS concluido_em,\n  qi.xp_concedido      AS xp_concedido,\n  qi.contexto_origem   AS contexto_origem,\n  qi.atualizado_em     AS atualizado_em,\n  qm.titulo            AS titulo,\n  qm.descricao         AS descricao,\n  qm.config            AS config,\n  qm.xp_recompensa     AS xp_recompensa,\n  qm.codigo            AS modelo_codigo,\n  qm.gatilho_codigo    AS gatilho_codigo,\n  qm.gatilho_valor     AS gatilho_valor,\n  qm.tipo              AS tipo\nFROM public.quest_instancias qi\nJOIN public.quest_modelos qm ON qm.id = qi.modelo_id\nWHERE qi.usuario_id = $1::uuid\n  AND qm.tipo = 'personalizada'\nORDER BY\n  CASE qi.status\n    WHEN 'ativa' THEN 0\n    WHEN 'pendente' THEN 1\n    WHEN 'reiniciada' THEN 2\n    WHEN 'concluida' THEN 3\n    WHEN 'vencida' THEN 4\n    WHEN 'cancelada' THEN 5\n    ELSE 6\n  END,\n  qi.atualizado_em DESC\nLIMIT 20;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1456,
        -256
      ],
      "id": "f2618d87-44bc-4686-b276-8c7431cb1901",
      "name": "Buscar Quests",
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  usuario_id,\n  xp_total,\n  xp_proximo_nivel,\n  nivel_atual,\n  titulo_nivel,\n  sequencia_atual,\n  sequencia_recorde,\n  meta_sequencia_codigo,\n  proxima_meta_codigo,\n  sequencia_status\nFROM public.quest_estado_usuario\nWHERE usuario_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1232,
        -96
      ],
      "id": "d6a052b2-8702-4a73-bc61-5a47551756b1",
      "name": "Buscar Estado",
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json ?? {};\nconst query = input.query ?? {};\nconst body = input.body ?? {};\n\nconst candidate = [\n  query.usuario_id,\n  query.user_id,\n  query.id_usuario,\n  body.usuario_id,\n  body.user_id,\n  body.id_usuario,\n  input.headers?.usuario_id,\n  input.headers?.user_id,\n].find((value) => typeof value === 'string' && value.trim().length > 0);\n\nif (!candidate) {\n  throw new Error('usuario_id obrigatório');\n}\n\nreturn [{\n  json: {\n    usuario_id: candidate.trim(),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -96
      ],
      "id": "ae08c38f-1bdd-4489-8a3c-8efcae0b6c9e",
      "name": "Validar Entrada"
    },
    {
      "parameters": {
        "path": "quests",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        768,
        -96
      ],
      "id": "718f1157-74bc-4a36-84d8-ca2b2744d7c5",
      "name": "Webhook",
      "webhookId": "5d8f7b9a-4f2e-4c7b-9d32-quests"
    },
    {
      "parameters": {
        "jsCode": "const getItem = (nodeName) => {\n  const list = $items(nodeName, 0, 0) || [];\n  return list[0]?.json || {};\n};\n\nconst getItems = (nodeName) => {\n  const list = $items(nodeName, 0, 0) || [];\n  return list.map((entry) => entry?.json || {});\n};\n\nconst toNumber = (value, fallback = null) => {\n  if (value === null || value === undefined || value === '') return fallback;\n  const coerced = Number(value);\n  return Number.isFinite(coerced) ? coerced : fallback;\n};\n\nconst parseJson = (value) => {\n  if (!value) return null;\n  if (typeof value === 'object') return value;\n  if (typeof value !== 'string') return null;\n  const trimmed = value.trim();\n  if (!trimmed) return null;\n  try {\n    return JSON.parse(trimmed);\n  } catch (_err) {\n    return null;\n  }\n};\n\nconst sequenciaStatus = parseJson(getItem(\"Buscar Estado\").sequencia_status) || getItem(\"Buscar Estado\").sequencia_status || null;\nconst estado = getItem(\"Buscar Estado\");\nconst quests = getItems(\"Buscar Quests\").map((row) => {\n  if (!row) return null;\n  const config = parseJson(row.config);\n  return {\n    instancia_id: row.instancia_id ?? null,\n    meta_codigo: row.meta_codigo ?? '',\n    status: row.status ?? 'pendente',\n    titulo: row.titulo ?? 'Quest personalizada',\n    descricao: row.descricao ?? null,\n    contexto_origem: row.contexto_origem ?? null,\n    progresso_meta: toNumber(row.progresso_meta, 1) ?? 1,\n    progresso_atual: toNumber(row.progresso_atual, 0) ?? 0,\n    concluido_em: row.concluido_em ?? null,\n    config: config ?? null,\n    xp_recompensa: toNumber(row.xp_recompensa, config?.xp_recompensa ?? null),\n    prioridade: row.prioridade ?? config?.prioridade ?? null,\n    recorrencia: row.recorrencia ?? config?.recorrencia ?? null,\n  };\n}).filter((item) => item !== null);\n\nreturn [{\n  json: {\n    usuario_id: estado.usuario_id ?? $json.usuario_id ?? null,\n    xp_total: toNumber(estado.xp_total, 0) ?? 0,\n    xp_proximo_nivel: toNumber(estado.xp_proximo_nivel, null),\n    nivel_atual: toNumber(estado.nivel_atual, 1) ?? 1,\n    titulo_nivel: estado.titulo_nivel ?? null,\n    sequencia_atual: toNumber(estado.sequencia_atual, 0) ?? 0,\n    sequencia_recorde: toNumber(estado.sequencia_recorde, 0) ?? 0,\n    meta_sequencia_codigo: estado.meta_sequencia_codigo ?? null,\n    proxima_meta_codigo: estado.proxima_meta_codigo ?? null,\n    sequencia_status: sequenciaStatus,\n    quests_personalizadas: quests,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -96
      ],
      "id": "80ffc4bd-9676-41cd-b714-ba1c07129186",
      "name": "Montar Resposta"
    }
  ],
  "connections": {
    "Buscar Quests": {
      "main": [
        [
          {
            "node": "Montar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Estado": {
      "main": [
        [
          {
            "node": "Buscar Quests",
            "type": "main",
            "index": 0
          },
          {
            "node": "Montar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Entrada": {
      "main": [
        [
          {
            "node": "Buscar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Resposta": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b939350e-06d5-4bbd-b078-12dfbe33b037",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-11-05T17:35:05.601Z",
      "role": "workflow:owner",
      "workflowId": "yvg9NkBsLF3mbr5f",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
