backups/n8n/expert_quest_personalizadas.json
{
  "name": "expert_quest_personalizadas",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usuario_id"
            },
            {
              "name": "chat_id"
            }
          ]
        }
      },
      "id": "0a5637fe-c2c7-4b65-ae64-cb55602b0e30",
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        432,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\n\nconst usuarioId = input.usuario_id;\nif (!usuarioId) {\n  throw new Error('usuario_id obrigatório');\n}\n\nreturn [{\n  json: {\n    usuario_id: usuarioId,\n    chat_id: input.chat_id || null\n  }\n}];"
      },
      "id": "2f98c472-d014-40d6-a05f-f79eb074e333",
      "name": "Normalizar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH quests AS (\n  SELECT\n    qi.id,\n    qi.meta_codigo,\n    qi.status,\n    COALESCE(qi.contexto_origem, '') AS contexto_origem,\n    qi.progresso_meta,\n    qi.progresso_atual,\n    qi.concluido_em,\n    qm.titulo,\n    qm.descricao,\n    qm.config\n  FROM public.quest_instancias qi\n  JOIN public.quest_modelos qm ON qm.id = qi.modelo_id\n  WHERE qi.usuario_id = $1::uuid\n    AND qm.tipo = 'personalizada'\n    AND qi.status IN ('pendente','ativa')\n)\nSELECT json_build_object(\n  'quests_ativas',\n  COALESCE(json_agg(quests ORDER BY quests.concluido_em NULLS FIRST), '[]'::json)\n) AS contexto\nFROM quests;",
        "options": {
          "queryReplacement": "={{ [ $('Normalizar Entrada').item.json.usuario_id ] }}"
        }
      },
      "id": "068d3199-c0b1-4391-ac85-79e8e337ee37",
      "name": "Buscar Quests Ativas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        -160
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ultimas AS (\n  SELECT\n    uc.id,\n    uc.session_id,\n    uc.data_conversa,\n    uc.resumo_conversa,\n    uc.tem_reflexao,\n    uc.total_palavras_usuario,\n    uc.criado_em\n  FROM public.usr_chat uc\n  WHERE uc.usuario_id = $1::uuid\n  ORDER BY uc.data_conversa DESC, uc.criado_em DESC\n  LIMIT 10\n)\nSELECT json_build_object(\n  'conversas_recentes',\n  COALESCE(json_agg(\n    json_build_object(\n      'chat_id', ultimas.id,\n      'session_id', ultimas.session_id,\n      'data_conversa', ultimas.data_conversa,\n      'resumo', ultimas.resumo_conversa,\n      'tem_reflexao', ultimas.tem_reflexao,\n      'total_palavras', ultimas.total_palavras_usuario\n    )\n    ORDER BY ultimas.data_conversa DESC, ultimas.criado_em DESC\n  ), '[]'::json)\n) AS conversas\nFROM ultimas;",
        "options": {
          "queryReplacement": "={{ [ $('Normalizar Entrada').item.json.usuario_id ] }}"
        }
      },
      "id": "2dd789f4-8f69-4290-97a6-479d2b2d5cb2",
      "name": "Buscar Conversas Recentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        976,
        -160
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ultimos AS (\n  SELECT\n    i.id,\n    i.titulo,\n    i.categoria,\n    i.tipo,\n    i.prioridade,\n    i.resumo_situacao,\n    i.criado_em\n  FROM public.insights i\n  WHERE i.usuario_id = $1::uuid\n  ORDER BY i.criado_em DESC\n  LIMIT 10\n)\nSELECT json_build_object(\n  'insights_recentes',\n  COALESCE(json_agg(\n    json_build_object(\n      'id', ultimos.id,\n      'titulo', ultimos.titulo,\n      'categoria', ultimos.categoria,\n      'tipo', ultimos.tipo,\n      'prioridade', ultimos.prioridade,\n      'resumo', ultimos.resumo_situacao,\n      'criado_em', ultimos.criado_em\n    )\n    ORDER BY ultimos.criado_em DESC\n  ), '[]'::json)\n) AS insights\nFROM ultimos;",
        "options": {
          "queryReplacement": "={{ [ $('Normalizar Entrada').item.json.usuario_id ] }}"
        }
      },
      "id": "1867d06d-0ded-4cfd-b9b0-80091a8fb0a4",
      "name": "Buscar Insights Recentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1168,
        -160
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ultimos AS (\n  SELECT\n    us.id,\n    us.sabotador_id,\n    us.apelido_personalizado,\n    us.contexto_principal,\n    us.insight_atual,\n    us.contramedida_ativa,\n    us.intensidade_media,\n    us.total_deteccoes,\n    us.data_ultima_atividade,\n    us.atualizado_em,\n    us.chat_id\n  FROM public.usuarios_sabotadores us\n  WHERE us.usuario_id = $1::uuid\n  ORDER BY COALESCE(us.data_ultima_atividade, us.atualizado_em) DESC\n  LIMIT 10\n)\nSELECT json_build_object(\n  'sabotadores_recentes',\n  COALESCE(json_agg(\n    json_build_object(\n      'id', ultimos.id,\n      'sabotador_id', ultimos.sabotador_id,\n      'apelido', ultimos.apelido_personalizado,\n      'contexto', ultimos.contexto_principal,\n      'insight', ultimos.insight_atual,\n      'contramedida', ultimos.contramedida_ativa,\n      'intensidade', ultimos.intensidade_media,\n      'total_deteccoes', ultimos.total_deteccoes,\n      'data_ultima_atividade', COALESCE(ultimos.data_ultima_atividade, ultimos.atualizado_em),\n      'chat_id', ultimos.chat_id\n    )\n    ORDER BY COALESCE(ultimos.data_ultima_atividade, ultimos.atualizado_em) DESC\n  ), '[]'::json)\n) AS sabotadores\nFROM ultimos;",
        "options": {
          "queryReplacement": "={{ [ $('Normalizar Entrada').item.json.usuario_id ] }}"
        }
      },
      "id": "76d6e0a5-367b-4ded-bb26-37a2256f5919",
      "name": "Buscar Sabotadores Recentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1376,
        -160
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object(\n  'areas_vida',\n  COALESCE(json_agg(\n    json_build_object(\n      'id', av.id,\n      'codigo', av.codigo,\n      'nome', av.nome,\n      'descricao', av.descricao\n    )\n    ORDER BY av.nome\n  ), '[]'::json)\n) AS areas_vida\nFROM public.areas_vida_catalogo av\nWHERE av.ativo = true;",
        "options": {}
      },
      "id": "7298012b-f341-42e4-a5c8-f92c1c17affb",
      "name": "Listar Áreas da Vida",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1600,
        -160
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object(\n  'sabotadores_catalogo',\n  COALESCE(json_agg(\n    json_build_object(\n      'id', sc.id,\n      'nome', sc.nome,\n      'emoji', sc.emoji,\n      'descricao', sc.descricao\n    )\n    ORDER BY sc.nome\n  ), '[]'::json)\n) AS sabotadores_catalogo\nFROM public.sabotadores_catalogo sc;",
        "options": {}
      },
      "id": "9714e764-ebef-4465-b1b4-17868f24f506",
      "name": "Listar Sabotadores Catálogo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        -160
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const getJson = (nodeName) => {\n  const data = $items(nodeName, 0, 0) || [];\n  const item = data[0] || {};\n  return item.json || {};\n};\n\nconst entrada = getJson(\"Normalizar Entrada\");\nconst questsRaw = getJson(\"Buscar Quests Ativas\");\nconst conversasRaw = getJson(\"Buscar Conversas Recentes\");\nconst insightsRaw = getJson(\"Buscar Insights Recentes\");\nconst sabotadoresRaw = getJson(\"Buscar Sabotadores Recentes\");\nconst areasRaw = getJson(\"Listar Áreas da Vida\");\nconst sabotadoresCatRaw = getJson(\"Listar Sabotadores Catálogo\");\n\nconst quests = questsRaw.contexto || {};\nconst conversas = conversasRaw.conversas || {};\nconst insights = insightsRaw.insights || {};\nconst sabotadores = sabotadoresRaw.sabotadores || {};\nconst areasVida = areasRaw.areas_vida || [];\nconst sabotadoresCatalogo = sabotadoresCatRaw.sabotadores_catalogo || [];\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    chat_id: entrada.chat_id,\n    quests_ativas: quests.quests_ativas || [],\n    conversas_recentes: conversas.conversas_recentes || [],\n    insights_recentes: insights.insights_recentes || [],\n    sabotadores_recentes: sabotadores.sabotadores_recentes || [],\n    areas_vida_disponiveis: areasVida,\n    sabotadores_catalogo: sabotadoresCatalogo\n  }\n}];"
      },
      "id": "03ed805a-e0c2-44fc-83ca-9fc25c0c852e",
      "name": "Montar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -160
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 900,
          "temperature": 0.2
        }
      },
      "id": "475beae2-6ce4-4ba2-9dbe-97a6739875da",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1936,
        224
      ],
      "credentials": {
        "openRouterApi": {
          "id": "rSnkOnnAHyfayLJt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é o agente de quests personalizadas do MindQuest.\nConsidere o contexto abaixo para sugerir novas quests ou atualizar as existentes.\n\n=== Dados do usuário ===\nChat atual: {{ $json.chat_id || 'N/A' }}\n\nQuests ativas:\n{{ JSON.stringify($json.quests_ativas || []) }}\n\nConversas recentes (máx. 10):\n{{ JSON.stringify($json.conversas_recentes || []) }}\n\nInsights recentes (máx. 10) — use os IDs para vincular cada quest:\n{{ JSON.stringify($json.insights_recentes || []) }}\n\nSabotadores recentes (máx. 10):\n{{ JSON.stringify($json.sabotadores_recentes || []) }}\n\nÁreas da vida disponíveis (use sempre os IDs abaixo):\n{{ JSON.stringify($json.areas_vida_disponiveis || []) }}\n\nSabotadores disponíveis (use apenas os IDs abaixo quando precisar referenciar um sabotador):\n{{ JSON.stringify($json.sabotadores_catalogo || []) }}\n\n=== Regras ===\n1. Somente micro-hábitos concretos (duração máxima 7 dias).\n2. Respeite limite total de 4 quests ativas/pendentes (considerando as atuais).\n3. Evite duplicar contexto/título já presente.\n4. Se necessário, sugira atualizações (concluir/cancelar/reiniciar) para quests existentes.\n5. Ajuste prioridade e recorrência conforme relevância.\n6. Toda nova quest deve estar vinculada a um insight listado acima (preencha sempre o campo insight_id com o UUID correspondente).\n7. Informe o sabotador somente quando fizer sentido, mas **apenas** usando os IDs fornecidos na lista de sabotadores disponíveis; caso contrário deixe sabotador_id como null.\n8. Sempre informe a área da vida usando o ID fornecido e o nível de complexidade entre 0 e 5 (0 = microação simples, 5 = altamente desafiadora) considerando esforço emocional e operacional.\n\n=== Formato da resposta ===\nRetorne exclusivamente JSON válido em uma única linha (sem quebras de linha ou espaços extras):\n{\n  \"novas_quests\": [\n    {\n      \"titulo\": \"string\",\n      \"descricao\": \"string\",\n      \"contexto_origem\": \"string\",\n      \"prioridade\": \"baixa|media|alta\",\n      \"recorrencia\": \"unica|diaria|semanal\",\n      \"prazo_inicio\": \"YYYY-MM-DD\",\n      \"prazo_fim\": \"YYYY-MM-DD\",\n      \"progresso_meta\": número inteiro >= 1,\n      \"status_inicial\": \"pendente\" ou \"ativa\",\n      \"xp_recompensa\": número >= 0,\n      \"insight_id\": \"uuid\",\n      \"sabotador_id\": \"uuid\" ou null,\n      \"area_vida_id\": \"uuid\",\n      \"complexidade\": inteiro entre 0 e 5,\n      \"payload_extra\": { opcional }\n    }\n  ],\n  \"atualizacoes\": [\n    {\n      \"meta_codigo\": \"string\" (opcional se usar instancia_id),\n      \"instancia_id\": \"uuid\" (opcional),\n      \"novo_status\": \"concluida|vencida|cancelada|reiniciada\",\n      \"progresso_atual\": número >= 0,\n      \"xp_extra\": número >= 0 opcional\n    }\n  ]\n}\n\nSe nada for necessário, devolva listas vazias.\nNão escreva texto fora do JSON.",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "611f42ee-9b97-4487-baf2-ec93954d9c17",
      "name": "Agente Quests",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2192,
        -160
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"novas_quests\":[{\"titulo\":\"Check-in matinal\",\"descricao\":\"Registrar uma vitória pequena toda manhã\",\"contexto_origem\":\"manter_foco\",\"prioridade\":\"media\",\"recorrencia\":\"diaria\",\"prazo_inicio\":\"2025-11-05\",\"prazo_fim\":\"2025-11-11\",\"progresso_meta\":5,\"status_inicial\":\"pendente\",\"xp_recompensa\":40,\"insight_id\":\"33333333-3333-4333-8333-333333333333\",\"sabotador_id\":\"11111111-1111-1111-1111-111111111111\",\"area_vida_id\":\"22222222-2222-2222-2222-222222222222\",\"complexidade\":2,\"payload_extra\":{\"canal\":\"app\"}}],\"atualizacoes\":[{\"meta_codigo\":\"quest_custom_001\",\"instancia_id\":\"00000000-0000-0000-0000-000000000000\",\"novo_status\":\"concluida\",\"progresso_atual\":3,\"xp_extra\":20}]}",
        "autoFix": true
      },
      "id": "e2c4ab07-de34-4172-b009-561e7c654de1",
      "name": "Parser JSON",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2320,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const getJson = (nodeName) => {\n  const data = $items(nodeName, 0, 0) || [];\n  const item = data[0] || {};\n  return item.json || {};\n};\n\nconst contexto = getJson(\"Montar Contexto\");\nconst resultado = $json.output || { novas_quests: [], atualizacoes: [] };\n\nreturn [{\n  json: {\n    usuario_id: contexto.usuario_id,\n    chat_id: contexto.chat_id,\n    quests_ativas: contexto.quests_ativas,\n    novas_quests_sugeridas: Array.isArray(resultado.novas_quests) ? resultado.novas_quests : [],\n    atualizacoes_sugeridas: Array.isArray(resultado.atualizacoes) ? resultado.atualizacoes : [],\n    sabotadores_catalogo: contexto.sabotadores_catalogo || [],\n    sabotadores_recentes: contexto.sabotadores_recentes || []\n  }\n}];"
      },
      "id": "51a21e80-6cb9-4e33-8b7c-76753e0c93b1",
      "name": "Interpretar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const entrada = $input.item.json || {};\nconst existentes = Array.isArray(entrada.quests_ativas) ? entrada.quests_ativas : [];\nconst limite = 4;\nconst dedupe = new Set();\n\nconst normalizeUuid = (value) => {\n  if (typeof value !== 'string') return null;\n  const trimmed = value.trim();\n  if (!trimmed) return null;\n  const uuidRegex = /^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$/;\n  return uuidRegex.test(trimmed) ? trimmed : null;\n};\n\nconst clampComplexidade = (value) => {\n  const num = Number(value);\n  if (!Number.isFinite(num)) return 0;\n  return Math.min(5, Math.max(0, Math.round(num)));\n};\n\nconst toArray = (value, key) => {\n  if (Array.isArray(value)) return value;\n  if (value && key && Array.isArray(value[key])) return value[key];\n  return [];\n};\n\nconst catalogoItens = toArray(entrada.sabotadores_catalogo, 'sabotadores_catalogo');\nconst sabotadoresCatalogoIds = new Set(\n  catalogoItens\n    .map((item) => (typeof item?.id === 'string' ? item.id.trim() : null))\n    .filter(Boolean),\n);\n\nconst sabotadoresRecentesMap = new Map();\nfor (const sab of toArray(entrada.sabotadores_recentes)) {\n  const recenteId = normalizeUuid(sab && sab.id);\n  const catalogId = typeof sab?.sabotador_id === 'string' ? sab.sabotador_id.trim() : null;\n  if (recenteId && catalogId) {\n    sabotadoresRecentesMap.set(recenteId, catalogId);\n  }\n}\n\nfor (const ativo of existentes) {\n  const key = `${(ativo.contexto_origem || '').toLowerCase()}|${(ativo.titulo || '').toLowerCase()}`;\n  dedupe.add(key);\n}\n\nconst novas = [];\nfor (const quest of entrada.novas_quests_sugeridas || []) {\n  if (!quest || typeof quest !== 'object') continue;\n  const key = `${(quest.contexto_origem || '').toLowerCase()}|${(quest.titulo || '').toLowerCase()}`;\n  if (dedupe.has(key)) continue;\n  if (existentes.length + novas.length >= limite) break;\n\n  const areaVidaId = normalizeUuid(quest.area_vida_id);\n  const insightId = normalizeUuid(quest.insight_id);\n  if (!areaVidaId || !insightId) continue;\n\n  let sabotadorId = null;\n  if (typeof quest.sabotador_id === 'string') {\n    const trimmed = quest.sabotador_id.trim();\n    if (sabotadoresCatalogoIds.has(trimmed)) {\n      sabotadorId = trimmed; // já veio como ID válido do catálogo\n    } else {\n      const uuidValue = normalizeUuid(trimmed);\n      if (uuidValue && sabotadoresRecentesMap.has(uuidValue)) {\n        const catalogMatch = sabotadoresRecentesMap.get(uuidValue);\n        if (catalogMatch && sabotadoresCatalogoIds.has(catalogMatch)) {\n          sabotadorId = catalogMatch;\n        }\n      }\n    }\n  }\n\n  dedupe.add(key);\n  novas.push({\n    ...quest,\n    prioridade: quest.prioridade || 'media',\n    recorrencia: quest.recorrencia || 'unica',\n    status_inicial: quest.status_inicial || 'pendente',\n    progresso_meta: quest.progresso_meta ?? 1,\n    xp_recompensa: quest.xp_recompensa ?? 0,\n    insight_id: insightId,\n    sabotador_id: sabotadorId,\n    area_vida_id: areaVidaId,\n    complexidade: clampComplexidade(quest.complexidade),\n  });\n}\n\nconst atualizacoes = [];\nfor (const upd of entrada.atualizacoes_sugeridas || []) {\n  if (!upd || typeof upd !== 'object') continue;\n  const novoStatus = upd.novo_status || '';\n  if (!['concluida', 'vencida', 'cancelada', 'reiniciada'].includes(novoStatus)) continue;\n  atualizacoes.push({\n    meta_codigo: upd.meta_codigo || null,\n    instancia_id: upd.instancia_id || null,\n    novo_status: novoStatus,\n    progresso_atual: upd.progresso_atual ?? 0,\n    xp_extra: upd.xp_extra ?? 0,\n  });\n}\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    novas_quests: novas,\n    atualizacoes: atualizacoes,\n  },\n}];\n"
      },
      "id": "a4a7fc44-288c-4d2b-af78-8381dd9a51b9",
      "name": "Aplicar Limites & Dedupe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        -160
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "cachedResultName": "sw_experts_gamification",
          "cachedResultUrl": "/workflow/agXJK8Dd49If1eFx",
          "mode": "list",
          "value": "agXJK8Dd49If1eFx"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $('start').item.json.usuario_id }}",
            "quests_personalizadas": "={{ JSON.stringify($json.novas_quests) }}",
            "atualizacoes_status": "={{ JSON.stringify($json.atualizacoes) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "quests_personalizadas",
              "displayName": "quests_personalizadas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "atualizacoes_status",
              "displayName": "atualizacoes_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ef67384d-6f13-4795-a40d-9ddd85ef5fc9",
      "name": "Chamar Gamificação",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2976,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $items(\"Aplicar Limites & Dedupe\", 0, 0) || [];\nconst entrada = (data[0] || {}).json || {};\nconst retorno = $input.item.json || {};\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    quests_registradas: entrada.novas_quests,\n    atualizacoes_enviadas: entrada.atualizacoes,\n    gamificacao_retorno: retorno\n  }\n}];"
      },
      "id": "a41c9071-26d5-421f-8ec8-06aa66192419",
      "name": "Montar Saída",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        -160
      ]
    }
  ],
  "pinData": {
    "start": [
      {
        "json": {
          "usuario_id": "d949d81c-9235-41ce-8b3b-6b5d593c5e24",
          "chat_id": "456c63a4-680f-42fa-b6f7-2805299d8145"
        }
      }
    ]
  },
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "Normalizar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Entrada": {
      "main": [
        [
          {
            "node": "Buscar Quests Ativas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Quests Ativas": {
      "main": [
        [
          {
            "node": "Buscar Conversas Recentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas Recentes": {
      "main": [
        [
          {
            "node": "Buscar Insights Recentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Insights Recentes": {
      "main": [
        [
          {
            "node": "Buscar Sabotadores Recentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sabotadores Recentes": {
      "main": [
        [
          {
            "node": "Listar Áreas da Vida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Áreas da Vida": {
      "main": [
        [
          {
            "node": "Listar Sabotadores Catálogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Sabotadores Catálogo": {
      "main": [
        [
          {
            "node": "Montar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Contexto": {
      "main": [
        [
          {
            "node": "Agente Quests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Quests",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Parser JSON",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Interpretar Resultado": {
      "main": [
        [
          {
            "node": "Aplicar Limites & Dedupe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar Limites & Dedupe": {
      "main": [
        [
          {
            "node": "Chamar Gamificação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar Gamificação": {
      "main": [
        [
          {
            "node": "Montar Saída",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser JSON": {
      "ai_outputParser": [
        [
          {
            "node": "Agente Quests",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Agente Quests": {
      "main": [
        [
          {
            "node": "Interpretar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ca780458-3248-4a2e-88ca-0cd80336c96e",
  "meta": {
    "instanceId": "8b04959d79052d9a4fde27fe8830b1f9748281331c826275aabfed3697b200b7"
  },
  "id": "LKjU8NE9aNHw7kEh",
  "tags": []
}