backups/n8n/job_reprocess_experts_orfaos_v1.json
{
  "createdAt": "2025-12-19T10:26:29.472Z",
  "id": "y4l6GMekKFWrmH7k",
  "name": "job_reprocess_experts_orfaos_v1",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "dffd541a-7781-4728-bc81-5cad62239621",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        224,
        48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Chats órfãos: qualquer data e apenas experts (humor, bigfive, sabotadores, emoções)\n-- OBS: sabotadores/emoções podem ter 0 registros mesmo após processar; usamos marcador ops_chat_experts_status.\nSELECT\n  c.id AS chat_id,\n  c.usuario_id,\n  c.data_conversa,\n  u.nome_preferencia AS usr_nome_preferencia\nFROM usr_chat c\nJOIN usuarios u ON u.id = c.usuario_id\nWHERE (\n    (\n      NOT EXISTS (SELECT 1 FROM usuarios_sabotadores us WHERE us.chat_id = c.id)\n      AND NOT EXISTS (\n        SELECT 1 FROM ops_chat_experts_status s\n        WHERE s.chat_id = c.id AND s.processed_sabotadores = true\n      )\n    )\n    OR (\n      NOT EXISTS (SELECT 1 FROM usuarios_emocoes ue WHERE ue.chat_id = c.id)\n      AND NOT EXISTS (\n        SELECT 1 FROM ops_chat_experts_status s\n        WHERE s.chat_id = c.id AND s.processed_emocoes = true\n      )\n    )\n    OR NOT EXISTS (SELECT 1 FROM usuarios_humor_energia uh WHERE uh.chat_id = c.id)\n    OR NOT EXISTS (SELECT 1 FROM usuarios_perfis up WHERE up.chat_id = c.id)\n  )\nORDER BY c.atualizado_em DESC\nLIMIT 50;",
        "options": {}
      },
      "id": "1a96953a-26f0-40d0-a2ae-faafcc2eb27f",
      "name": "Buscar Chats Órfãos Hoje",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        48
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ false }}"
        },
        "batchSize": 1
      },
      "id": "a6ff0adb-ff0d-4910-98ae-7269b037e713",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        48
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PNFN2i4YaWclauDh",
          "mode": "list",
          "cachedResultUrl": "/workflow/PNFN2i4YaWclauDh",
          "cachedResultName": "sw_experts_repro_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chat_id }}"
          },
          "matchingColumns": [
            "chat_id"
          ],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "21e18c92-5055-4074-8ff0-54880918b8d7",
      "name": "Chamar sw_experts_repro_v1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        912,
        48
      ],
      "executeOnce": false
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Buscar Chats Órfãos Hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Chats Órfãos Hoje": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Chamar sw_experts_repro_v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar sw_experts_repro_v1": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "activeVersionId": null,
  "shared": [
    {
      "createdAt": "2025-12-19T10:26:29.472Z",
      "role": "workflow:owner",
      "workflowId": "y4l6GMekKFWrmH7k",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
