backups/n8n/job_experts.json
{
  "createdAt": "2025-12-11T10:45:19.174Z",
  "id": "Rn3nIn29Q2ZGv7ti",
  "name": "job_experts",
  "description": "Chama o sw entender que executa os experts para analisar as conversas do usuario e gerar dados",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "038073ab-2a65-4121-80ec-5c740257c6e2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1216,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
          "query": "-- Busca chats válidos: >= 30 palavras e com interações novas\n-- Calcula total_palavras diretamente do campo mensagens (autor = 'usuario')\nSELECT \n  c.id,\n  c.usuario_id,\n  c.data_conversa,\n  c.mensagens,\n  c.total_interactions,\n  (\n    SELECT COALESCE(SUM(array_length(string_to_array(m->>'texto', ' '), 1)), 0)\n    FROM jsonb_array_elements(c.mensagens) AS m\n    WHERE m->>'autor' = 'usuario'\n      AND m->>'texto' IS NOT NULL\n  ) AS total_palavras,\n  u.nome_preferencia AS usr_nome_preferencia,\n  COALESCE(le.ultima_interaction, 0) AS ultima_processada\nFROM usr_chat c\nJOIN usuarios u ON u.id = c.usuario_id\nLEFT JOIN log_experts le ON le.chat_id = c.id AND le.expert_name = 'hub'\nWHERE c.data_conversa >= CURRENT_DATE - INTERVAL '7 days'\n  AND c.total_interactions > COALESCE(le.ultima_interaction, 0)\n  AND (\n    SELECT COALESCE(SUM(array_length(string_to_array(m->>'texto', ' '), 1)), 0)\n    FROM jsonb_array_elements(c.mensagens) AS m\n    WHERE m->>'autor' = 'usuario'\n      AND m->>'texto' IS NOT NULL\n  ) >= 30\nORDER BY c.data_conversa DESC\nLIMIT 50;",
        "options": {}
      },
      "id": "6c8a1a58-8c9d-4f9a-9dc2-631bdc305bef",
      "name": "busca_validas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1424,
        -192
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a0159aa2-3292-4440-ae70-b51464131f70",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1664,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepara dados para os experts\nconst item = $input.first().json;\nconst mensagens = item.mensagens || [];\nconst ultimaProcessada = item.ultima_processada || 0;\n\n// Extrai apenas mensagens novas (delta)\nconst mensagensNovas = Array.isArray(mensagens) ? mensagens.slice(ultimaProcessada) : [];\nconst mensagensDelta = mensagensNovas.map(m => `${m.autor}: ${m.texto}`).join('\\n');\n\nreturn [{\n  json: {\n    usuario_id: item.usuario_id,\n    chat_id: item.id,\n    data_conversa: item.data_conversa,\n    mensagens: mensagensDelta,\n    usr_nome_preferencia: item.usr_nome_preferencia || 'Usuário',\n    total_interactions: item.total_interactions,\n    ultima_processada: ultimaProcessada\n  }\n}];"
      },
      "id": "92a80786-2fcd-4d59-9d61-ffe1c42b65fe",
      "name": "prepara_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Upsert log + finaliza sessão em uma transação\nWITH upsert_log AS (\n  INSERT INTO log_experts (usuario_id, chat_id, expert_name, ultima_interaction, historico, processado_em, atualizado_em)\n  VALUES (\n    $1::uuid,\n    $2::uuid,\n    'hub',\n    $3::int,\n    jsonb_build_array(jsonb_build_object('de', 0, 'ate', $3::int, 'novas', $3::int, 'em', NOW())),\n    NOW(),\n    NOW()\n  )\n  ON CONFLICT (chat_id, expert_name) DO UPDATE SET\n    historico = log_experts.historico || jsonb_build_array(jsonb_build_object(\n      'de', log_experts.ultima_interaction,\n      'ate', $3::int,\n      'novas', $3::int - log_experts.ultima_interaction,\n      'em', NOW()\n    )),\n    ultima_interaction = $3::int,\n    atualizado_em = NOW()\n  RETURNING chat_id\n)\nUPDATE usr_chat SET\n  status = 'finalizado',\n  horario_fim = NOW(),\n  atualizado_em = NOW()\nWHERE id = $2::uuid\nRETURNING id, usuario_id, status;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id, $json.chat_id, $json.total_interactions] }}"
        }
      },
      "id": "d7569ce8-754c-4893-bad9-a152228c1f84",
      "name": "atualiza_log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2320,
        -192
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Regras: job_experts (v2.0)\n\n### Filtro de Contexto\n- **Mínimo:** 30 palavras do usuário\n- **Janela:** últimos 7 dias\n- **Limite:** 50 chats por execução\n\n### Fluxo\n1. Busca chats válidos (≥30 palavras + novas interações)\n2. Prepara delta de mensagens\n3. Chama sw_entender (hub dos experts)\n4. Atualiza log_experts + finaliza sessão\n\n### Controle\n- `log_experts.expert_name = 'hub'`\n- Histórico JSONB incremental\n- 1 registro por chat_id + expert_name",
        "height": 656,
        "width": 432
      },
      "id": "aa744652-e6b5-404c-9efe-e0880b657312",
      "name": "Regras job_experts v2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        -640
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "M6wDT4LzEiYcAo5Y",
          "mode": "list",
          "cachedResultUrl": "/workflow/M6wDT4LzEiYcAo5Y",
          "cachedResultName": "sw_experts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $json.usuario_id }}",
            "mensagens": "={{ $json.mensagens }}",
            "data_conversa": "={{ $json.data_conversa }}",
            "chat_id": "={{ $json.chat_id }}",
            "usr_nome_preferencia": "={{ $json.usr_nome_preferencia }}",
            "total_interactions": "={{ $json.total_interactions }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mensagens",
              "displayName": "mensagens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data_conversa",
              "displayName": "data_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "usr_nome_preferencia",
              "displayName": "usr_nome_preferencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "total_interactions",
              "displayName": "total_interactions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "518cf22a-5fca-4005-b04e-6420d5d38665",
      "name": "chama_sw_experts",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2096,
        -192
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "busca_validas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_validas": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepara_dados": {
      "main": [
        [
          {
            "node": "chama_sw_experts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "prepara_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_log": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chama_sw_experts": {
      "main": [
        [
          {
            "node": "atualiza_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "activeVersionId": "2e9a5642-411a-4d12-9592-ab9174d10c82",
  "shared": [
    {
      "createdAt": "2025-12-11T10:45:19.174Z",
      "role": "workflow:owner",
      "workflowId": "Rn3nIn29Q2ZGv7ti",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "createdAt": "2025-12-12T20:02:38.578Z",
    "workflowId": "Rn3nIn29Q2ZGv7ti",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 30
              }
            ]
          }
        },
        "id": "038073ab-2a65-4121-80ec-5c740257c6e2",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          1216,
          -192
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- Busca chats válidos: >= 30 palavras e com interações novas\n-- Calcula total_palavras diretamente do campo mensagens (autor = 'usuario')\nSELECT \n  c.id,\n  c.usuario_id,\n  c.data_conversa,\n  c.mensagens,\n  c.total_interactions,\n  (\n    SELECT COALESCE(SUM(array_length(string_to_array(m->>'texto', ' '), 1)), 0)\n    FROM jsonb_array_elements(c.mensagens) AS m\n    WHERE m->>'autor' = 'usuario'\n      AND m->>'texto' IS NOT NULL\n  ) AS total_palavras,\n  u.nome_preferencia AS usr_nome_preferencia,\n  COALESCE(le.ultima_interaction, 0) AS ultima_processada\nFROM usr_chat c\nJOIN usuarios u ON u.id = c.usuario_id\nLEFT JOIN log_experts le ON le.chat_id = c.id AND le.expert_name = 'hub'\nWHERE c.data_conversa >= CURRENT_DATE - INTERVAL '7 days'\n  AND c.total_interactions > COALESCE(le.ultima_interaction, 0)\n  AND (\n    SELECT COALESCE(SUM(array_length(string_to_array(m->>'texto', ' '), 1)), 0)\n    FROM jsonb_array_elements(c.mensagens) AS m\n    WHERE m->>'autor' = 'usuario'\n      AND m->>'texto' IS NOT NULL\n  ) >= 30\nORDER BY c.data_conversa DESC\nLIMIT 50;",
          "options": {}
        },
        "id": "6c8a1a58-8c9d-4f9a-9dc2-631bdc305bef",
        "name": "busca_validas",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1424,
          -192
        ],
        "credentials": {
          "postgres": {
            "id": "8ySWxtSO7gYK5uue",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "a0159aa2-3292-4440-ae70-b51464131f70",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1664,
          -192
        ]
      },
      {
        "parameters": {
          "jsCode": "// Prepara dados para os experts\nconst item = $input.first().json;\nconst mensagens = item.mensagens || [];\nconst ultimaProcessada = item.ultima_processada || 0;\n\n// Extrai apenas mensagens novas (delta)\nconst mensagensNovas = Array.isArray(mensagens) ? mensagens.slice(ultimaProcessada) : [];\nconst mensagensDelta = mensagensNovas.map(m => `${m.autor}: ${m.texto}`).join('\\n');\n\nreturn [{\n  json: {\n    usuario_id: item.usuario_id,\n    chat_id: item.id,\n    data_conversa: item.data_conversa,\n    mensagens: mensagensDelta,\n    usr_nome_preferencia: item.usr_nome_preferencia || 'Usuário',\n    total_interactions: item.total_interactions,\n    ultima_processada: ultimaProcessada\n  }\n}];"
        },
        "id": "92a80786-2fcd-4d59-9d61-ffe1c42b65fe",
        "name": "prepara_dados",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1872,
          -192
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- Upsert log + finaliza sessão em uma transação\nWITH upsert_log AS (\n  INSERT INTO log_experts (usuario_id, chat_id, expert_name, ultima_interaction, historico, processado_em, atualizado_em)\n  VALUES (\n    $1::uuid,\n    $2::uuid,\n    'hub',\n    $3::int,\n    jsonb_build_array(jsonb_build_object('de', 0, 'ate', $3::int, 'novas', $3::int, 'em', NOW())),\n    NOW(),\n    NOW()\n  )\n  ON CONFLICT (chat_id, expert_name) DO UPDATE SET\n    historico = log_experts.historico || jsonb_build_array(jsonb_build_object(\n      'de', log_experts.ultima_interaction,\n      'ate', $3::int,\n      'novas', $3::int - log_experts.ultima_interaction,\n      'em', NOW()\n    )),\n    ultima_interaction = $3::int,\n    atualizado_em = NOW()\n  RETURNING chat_id\n)\nUPDATE usr_chat SET\n  status = 'finalizado',\n  horario_fim = NOW(),\n  atualizado_em = NOW()\nWHERE id = $2::uuid\nRETURNING id, usuario_id, status;",
          "options": {
            "queryReplacement": "={{ [$json.usuario_id, $json.chat_id, $json.total_interactions] }}"
          }
        },
        "id": "d7569ce8-754c-4893-bad9-a152228c1f84",
        "name": "atualiza_log",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2320,
          -192
        ],
        "credentials": {
          "postgres": {
            "id": "8ySWxtSO7gYK5uue",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Regras: job_experts (v2.0)\n\n### Filtro de Contexto\n- **Mínimo:** 30 palavras do usuário\n- **Janela:** últimos 7 dias\n- **Limite:** 50 chats por execução\n\n### Fluxo\n1. Busca chats válidos (≥30 palavras + novas interações)\n2. Prepara delta de mensagens\n3. Chama sw_entender (hub dos experts)\n4. Atualiza log_experts + finaliza sessão\n\n### Controle\n- `log_experts.expert_name = 'hub'`\n- Histórico JSONB incremental\n- 1 registro por chat_id + expert_name",
          "height": 656,
          "width": 432
        },
        "id": "aa744652-e6b5-404c-9efe-e0880b657312",
        "name": "Regras job_experts v2",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          688,
          -640
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "M6wDT4LzEiYcAo5Y",
            "mode": "list",
            "cachedResultUrl": "/workflow/M6wDT4LzEiYcAo5Y",
            "cachedResultName": "sw_experts"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "usuario_id": "={{ $json.usuario_id }}",
              "mensagens": "={{ $json.mensagens }}",
              "data_conversa": "={{ $json.data_conversa }}",
              "chat_id": "={{ $json.chat_id }}",
              "usr_nome_preferencia": "={{ $json.usr_nome_preferencia }}",
              "total_interactions": "={{ $json.total_interactions }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "usuario_id",
                "displayName": "usuario_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "mensagens",
                "displayName": "mensagens",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "data_conversa",
                "displayName": "data_conversa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "usr_nome_preferencia",
                "displayName": "usr_nome_preferencia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "total_interactions",
                "displayName": "total_interactions",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": true,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "id": "518cf22a-5fca-4005-b04e-6420d5d38665",
        "name": "chama_sw_experts",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2096,
          -192
        ]
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "busca_validas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "busca_validas": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepara_dados": {
        "main": [
          [
            {
              "node": "chama_sw_experts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "prepara_dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "atualiza_log": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "chama_sw_experts": {
        "main": [
          [
            {
              "node": "atualiza_log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Aldo Santos",
    "name": null,
    "description": null
  }
}
