backups/n8n/job_experts_v2.json
{
  "createdAt": "2025-12-11T10:45:19.174Z",
  "id": "Rn3nIn29Q2ZGv7ti",
  "name": "job_experts_v2",
  "description": "Chama o sw entender que executa os experts para analisar as conversas do usuario e gerar dados",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "038073ab-2a65-4121-80ec-5c740257c6e2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1216,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Busca chats de hoje/ontem não finalizados com novas interações\nWITH chats_pendentes AS (\n  SELECT \n    c.id,\n    c.usuario_id,\n    c.data_conversa,\n    c.mensagens,\n    c.total_interactions,\n    c.status,\n    u.nome_preferencia AS usr_nome_preferencia,\n    COALESCE(le.ultima_interaction, 0) AS ultima_processada\n  FROM usr_chat c\n  JOIN usuarios u ON u.id = c.usuario_id\n  LEFT JOIN log_experts le ON le.chat_id = c.id AND le.expert_name = 'hub'\n  WHERE c.status != 'finalizado'\n    AND c.total_interactions > COALESCE(le.ultima_interaction, 0)\n    AND c.data_conversa >= CURRENT_DATE - INTERVAL '1 day'\n)\nSELECT \n  id,\n  usuario_id,\n  data_conversa,\n  mensagens,\n  total_interactions,\n  usr_nome_preferencia,\n  ultima_processada\nFROM chats_pendentes\nORDER BY data_conversa DESC\nLIMIT 50;",
        "options": {}
      },
      "id": "6c8a1a58-8c9d-4f9a-9dc2-631bdc305bef",
      "name": "busca_validas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1424,
        -192
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a0159aa2-3292-4440-ae70-b51464131f70",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1664,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepara dados e valida delta de palavras\nconst item = $input.first().json;\nconst mensagens = item.mensagens || [];\nconst ultimaProcessada = item.ultima_processada || 0;\n\n// Extrai apenas mensagens novas (delta)\nconst mensagensNovas = Array.isArray(mensagens) ? mensagens.slice(ultimaProcessada) : [];\n\n// Se não há mensagens novas, skip\nif (mensagensNovas.length === 0) {\n  return [{\n    json: {\n      skip: true,\n      motivo: 'sem_mensagens_novas',\n      palavras_delta: 0,\n      chat_id: item.id\n    }\n  }];\n}\n\n// Calcula palavras do DELTA (apenas do usuário)\nconst palavrasDelta = mensagensNovas\n  .filter(m => m.autor === 'usuario')\n  .reduce((sum, m) => sum + (m.texto || '').trim().split(/\\s+/).filter(w => w).length, 0);\n\n// Se delta < 30 palavras, não processar\nif (palavrasDelta < 30) {\n  return [{\n    json: {\n      skip: true,\n      motivo: 'delta_insuficiente',\n      palavras_delta: palavrasDelta,\n      chat_id: item.id\n    }\n  }];\n}\n\n// Formata apenas o delta de mensagens para enviar ao expert\nconst mensagensDelta = mensagensNovas.map(m => `${m.autor}: ${m.texto}`).join('\\n');\n\nreturn [{\n  json: {\n    skip: false,\n    usuario_id: item.usuario_id,\n    chat_id: item.id,\n    data_conversa: item.data_conversa,\n    mensagens_delta: mensagensDelta,\n    usr_nome_preferencia: item.usr_nome_preferencia || 'Usuário',\n    total_interactions: item.total_interactions,\n    ultima_processada: ultimaProcessada,\n    palavras_delta: palavrasDelta\n  }\n}];"
      },
      "id": "92a80786-2fcd-4d59-9d61-ffe1c42b65fe",
      "name": "prepara_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        -176
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Upsert log de processamento (expert_name = 'hub')\nINSERT INTO log_experts (usuario_id, chat_id, expert_name, ultima_interaction, historico, processado_em, atualizado_em)\nVALUES (\n  $1::uuid,\n  $2::uuid,\n  'hub',\n  $3::int,\n  jsonb_build_array(jsonb_build_object('de', $4::int, 'ate', $3::int, 'novas', $3::int - $4::int, 'em', NOW())),\n  NOW(),\n  NOW()\n)\nON CONFLICT (chat_id, expert_name) DO UPDATE SET\n  historico = log_experts.historico || jsonb_build_array(jsonb_build_object(\n    'de', $4::int,\n    'ate', $3::int,\n    'novas', $3::int - $4::int,\n    'em', NOW()\n  )),\n  ultima_interaction = $3::int,\n  atualizado_em = NOW()\nRETURNING id, ultima_interaction;",
        "options": {
          "queryReplacement": "={{ [$('prepara_dados').first().json.usuario_id, $('prepara_dados').first().json.chat_id, $('prepara_dados').first().json.total_interactions, $('prepara_dados').first().json.ultima_processada] }}"
        }
      },
      "id": "d7569ce8-754c-4893-bad9-a152228c1f84",
      "name": "atualiza_log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2832,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Regras: job_experts (v2.3)\n\n### Filtro de Contexto\n- **Data:** hoje ou ontem (CURRENT_DATE - 1 day)\n- **Status:** != 'finalizado'\n- **Delta:** novas interações desde último processamento\n- **Mínimo:** 30 palavras do usuário no delta\n- **Limite:** 50 chats por execução\n\n### Fluxo\n1. Busca chats (hoje/ontem, não finalizados)\n2. Calcula delta de mensagens (slice)\n3. Conta palavras do usuário no delta\n4. SE delta >= 30 palavras:\n   - Chama sw_experts(mensagens_delta)\n5. SE processado = true:\n   - Atualiza log 'hub' com range\n6. ELSE: volta ao loop\n\n### Controle de Delta\n- `log_experts.expert_name = 'hub'`\n- `ultima_interaction` = total_interactions\n- Histórico JSONB: {de, ate, novas, em}",
        "height": 700,
        "width": 432
      },
      "id": "aa744652-e6b5-404c-9efe-e0880b657312",
      "name": "Regras job_experts v2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        -640
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "af4tqT4UNTFznKEu",
          "mode": "list",
          "cachedResultUrl": "/workflow/af4tqT4UNTFznKEu",
          "cachedResultName": "sw_experts_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $json.usuario_id }}",
            "data_conversa": "={{ $json.data_conversa }}",
            "chat_id": "={{ $json.chat_id }}",
            "usr_nome_preferencia": "={{ $json.usr_nome_preferencia }}",
            "total_interactions": "={{ $json.total_interactions }}",
            "mensagens": "={{ $json.mensagens_delta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mensagens",
              "displayName": "mensagens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_conversa",
              "displayName": "data_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "usr_nome_preferencia",
              "displayName": "usr_nome_preferencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "total_interactions",
              "displayName": "total_interactions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "518cf22a-5fca-4005-b04e-6420d5d38665",
      "name": "chama_sw_experts",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2320,
        -192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond_processado",
              "leftValue": "={{ $json.processado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "verifica_processado",
      "name": "Se Processou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2560,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "96ba3fee-2ffc-44f4-a0dc-e0a89bee45cc",
              "leftValue": "={{ $json.skip }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2096,
        -176
      ],
      "id": "1b994b4b-7876-4c0c-833f-d085dcdee697",
      "name": "> 30 palavras ?"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "busca_validas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_validas": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepara_dados": {
      "main": [
        [
          {
            "node": "> 30 palavras ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "prepara_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_log": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chama_sw_experts": {
      "main": [
        [
          {
            "node": "Se Processou?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se Processou?": {
      "main": [
        [
          {
            "node": "atualiza_log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "> 30 palavras ?": {
      "main": [
        [
          {
            "node": "chama_sw_experts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-12-15T17:00:33.008-05:00",
          "Readable date": "December 15th 2025, 5:00:33 pm",
          "Readable time": "5:00:33 pm",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "December",
          "Day of month": "15",
          "Hour": "17",
          "Minute": "00",
          "Second": "33",
          "Timezone": "America/New_York (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "activeVersionId": "2b8f666f-79ff-4f34-88dd-7cd1bf05f339",
  "shared": [
    {
      "createdAt": "2025-12-11T10:45:19.174Z",
      "role": "workflow:owner",
      "workflowId": "Rn3nIn29Q2ZGv7ti",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "createdAt": "2025-12-15T22:26:09.686Z",
    "workflowId": "Rn3nIn29Q2ZGv7ti",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 30
              }
            ]
          }
        },
        "id": "038073ab-2a65-4121-80ec-5c740257c6e2",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          1216,
          -192
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- Busca chats de hoje/ontem não finalizados com novas interações\nWITH chats_pendentes AS (\n  SELECT \n    c.id,\n    c.usuario_id,\n    c.data_conversa,\n    c.mensagens,\n    c.total_interactions,\n    c.status,\n    u.nome_preferencia AS usr_nome_preferencia,\n    COALESCE(le.ultima_interaction, 0) AS ultima_processada\n  FROM usr_chat c\n  JOIN usuarios u ON u.id = c.usuario_id\n  LEFT JOIN log_experts le ON le.chat_id = c.id AND le.expert_name = 'hub'\n  WHERE c.status != 'finalizado'\n    AND c.total_interactions > COALESCE(le.ultima_interaction, 0)\n    AND c.data_conversa >= CURRENT_DATE - INTERVAL '1 day'\n)\nSELECT \n  id,\n  usuario_id,\n  data_conversa,\n  mensagens,\n  total_interactions,\n  usr_nome_preferencia,\n  ultima_processada\nFROM chats_pendentes\nORDER BY data_conversa DESC\nLIMIT 50;",
          "options": {}
        },
        "id": "6c8a1a58-8c9d-4f9a-9dc2-631bdc305bef",
        "name": "busca_validas",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1424,
          -192
        ],
        "credentials": {
          "postgres": {
            "id": "8ySWxtSO7gYK5uue",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "a0159aa2-3292-4440-ae70-b51464131f70",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1664,
          -192
        ]
      },
      {
        "parameters": {
          "jsCode": "// Prepara dados e valida delta de palavras\nconst item = $input.first().json;\nconst mensagens = item.mensagens || [];\nconst ultimaProcessada = item.ultima_processada || 0;\n\n// Extrai apenas mensagens novas (delta)\nconst mensagensNovas = Array.isArray(mensagens) ? mensagens.slice(ultimaProcessada) : [];\n\n// Se não há mensagens novas, skip\nif (mensagensNovas.length === 0) {\n  return [{\n    json: {\n      skip: true,\n      motivo: 'sem_mensagens_novas',\n      palavras_delta: 0,\n      chat_id: item.id\n    }\n  }];\n}\n\n// Calcula palavras do DELTA (apenas do usuário)\nconst palavrasDelta = mensagensNovas\n  .filter(m => m.autor === 'usuario')\n  .reduce((sum, m) => sum + (m.texto || '').trim().split(/\\s+/).filter(w => w).length, 0);\n\n// Se delta < 30 palavras, não processar\nif (palavrasDelta < 30) {\n  return [{\n    json: {\n      skip: true,\n      motivo: 'delta_insuficiente',\n      palavras_delta: palavrasDelta,\n      chat_id: item.id\n    }\n  }];\n}\n\n// Formata apenas o delta de mensagens para enviar ao expert\nconst mensagensDelta = mensagensNovas.map(m => `${m.autor}: ${m.texto}`).join('\\n');\n\nreturn [{\n  json: {\n    skip: false,\n    usuario_id: item.usuario_id,\n    chat_id: item.id,\n    data_conversa: item.data_conversa,\n    mensagens_delta: mensagensDelta,\n    usr_nome_preferencia: item.usr_nome_preferencia || 'Usuário',\n    total_interactions: item.total_interactions,\n    ultima_processada: ultimaProcessada,\n    palavras_delta: palavrasDelta\n  }\n}];"
        },
        "id": "92a80786-2fcd-4d59-9d61-ffe1c42b65fe",
        "name": "prepara_dados",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1904,
          -176
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- Upsert log de processamento (expert_name = 'hub')\nINSERT INTO log_experts (usuario_id, chat_id, expert_name, ultima_interaction, historico, processado_em, atualizado_em)\nVALUES (\n  $1::uuid,\n  $2::uuid,\n  'hub',\n  $3::int,\n  jsonb_build_array(jsonb_build_object('de', $4::int, 'ate', $3::int, 'novas', $3::int - $4::int, 'em', NOW())),\n  NOW(),\n  NOW()\n)\nON CONFLICT (chat_id, expert_name) DO UPDATE SET\n  historico = log_experts.historico || jsonb_build_array(jsonb_build_object(\n    'de', $4::int,\n    'ate', $3::int,\n    'novas', $3::int - $4::int,\n    'em', NOW()\n  )),\n  ultima_interaction = $3::int,\n  atualizado_em = NOW()\nRETURNING id, ultima_interaction;",
          "options": {
            "queryReplacement": "={{ [$('prepara_dados').first().json.usuario_id, $('prepara_dados').first().json.chat_id, $('prepara_dados').first().json.total_interactions, $('prepara_dados').first().json.ultima_processada] }}"
          }
        },
        "id": "d7569ce8-754c-4893-bad9-a152228c1f84",
        "name": "atualiza_log",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2832,
          -32
        ],
        "credentials": {
          "postgres": {
            "id": "8ySWxtSO7gYK5uue",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Regras: job_experts (v2.3)\n\n### Filtro de Contexto\n- **Data:** hoje ou ontem (CURRENT_DATE - 1 day)\n- **Status:** != 'finalizado'\n- **Delta:** novas interações desde último processamento\n- **Mínimo:** 30 palavras do usuário no delta\n- **Limite:** 50 chats por execução\n\n### Fluxo\n1. Busca chats (hoje/ontem, não finalizados)\n2. Calcula delta de mensagens (slice)\n3. Conta palavras do usuário no delta\n4. SE delta >= 30 palavras:\n   - Chama sw_experts(mensagens_delta)\n5. SE processado = true:\n   - Atualiza log 'hub' com range\n6. ELSE: volta ao loop\n\n### Controle de Delta\n- `log_experts.expert_name = 'hub'`\n- `ultima_interaction` = total_interactions\n- Histórico JSONB: {de, ate, novas, em}",
          "height": 700,
          "width": 432
        },
        "id": "aa744652-e6b5-404c-9efe-e0880b657312",
        "name": "Regras job_experts v2",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          688,
          -640
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "af4tqT4UNTFznKEu",
            "mode": "list",
            "cachedResultUrl": "/workflow/af4tqT4UNTFznKEu",
            "cachedResultName": "sw_experts_v2"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "usuario_id": "={{ $json.usuario_id }}",
              "data_conversa": "={{ $json.data_conversa }}",
              "chat_id": "={{ $json.chat_id }}",
              "usr_nome_preferencia": "={{ $json.usr_nome_preferencia }}",
              "total_interactions": "={{ $json.total_interactions }}",
              "mensagens": "={{ $json.mensagens_delta }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "usuario_id",
                "displayName": "usuario_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "mensagens",
                "displayName": "mensagens",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "data_conversa",
                "displayName": "data_conversa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "usr_nome_preferencia",
                "displayName": "usr_nome_preferencia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "total_interactions",
                "displayName": "total_interactions",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number"
              }
            ],
            "attemptToConvertTypes": true,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "id": "518cf22a-5fca-4005-b04e-6420d5d38665",
        "name": "chama_sw_experts",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2320,
          -192
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond_processado",
                "leftValue": "={{ $json.processado }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "verifica_processado",
        "name": "Se Processou?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2560,
          -112
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 3,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "96ba3fee-2ffc-44f4-a0dc-e0a89bee45cc",
                "leftValue": "={{ $json.skip }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2096,
          -176
        ],
        "id": "1b994b4b-7876-4c0c-833f-d085dcdee697",
        "name": "> 30 palavras ?"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "busca_validas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "busca_validas": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepara_dados": {
        "main": [
          [
            {
              "node": "> 30 palavras ?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "prepara_dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "atualiza_log": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "chama_sw_experts": {
        "main": [
          [
            {
              "node": "Se Processou?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Se Processou?": {
        "main": [
          [
            {
              "node": "atualiza_log",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "> 30 palavras ?": {
        "main": [
          [
            {
              "node": "chama_sw_experts",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Aldo Santos",
    "name": null,
    "description": null
  }
}
