backups/n8n/job_batch_xp_conversas.json
{
  "createdAt": "2025-11-07T15:20:00.000Z",
  "id": "job_batch_xp_conversas",
  "name": "job_batch_xp_conversas",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "4c2c5c64-0a21-4907-a1a7-ef702aa2b2df",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id\nFROM public.usuarios u\nWHERE COALESCE(u.ativo, true) = true;"
      },
      "id": "a06a22f3-cc9f-4d89-b8bb-d40772e8354d",
      "name": "Listar Usuários",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "8f1f6b33-6d26-46c0-9cd7-d0ed9c8f3159",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "cachedResultName": "sw_xp_conversas",
          "cachedResultUrl": "/workflow/swXpConvs01",
          "mode": "list",
          "value": "swXpConvs01"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "bab3890c-4df7-4f4a-842d-2448b4378d6c",
      "name": "Executar XP Conversas",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {},
      "id": "a3534d05-a0de-45d4-a4ff-41d62a52b5bc",
      "name": "Concluído",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        432,
        0
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Listar Usuários",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Usuários": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Executar XP Conversas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Concluído",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar XP Conversas": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "job-batch-xp-conversas-v1",
  "triggerCount": 0,
  "shared": []
}
