backups/n8n/job_notificacoes_v2.json
{
  "createdAt": "2025-12-17T20:18:16.166Z",
  "id": "vGLluHVYupmxKJWT",
  "name": "job_notificacoes_v2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        -208
      ],
      "id": "79c3a7a5-ac81-4d64-b1db-d580e71e10a4",
      "name": "Trigger Conversas 09h"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  n.usuario_id,\n  u.nome_preferencia,\n  u.tom_conversa,\n  u.whatsapp_numero,\n  n.lembretes_canais,\n  ARRAY_AGG(DISTINCT dp.token) FILTER (WHERE dp.token IS NOT NULL) AS push_tokens,\n  CASE \n    WHEN NOT EXISTS (SELECT 1 FROM usr_chat WHERE usuario_id = n.usuario_id) \n    THEN true \n    ELSE false \n  END AS is_primeira_conversa,\n  (SELECT json_agg(json_build_object(\n    'data_conversa', c.data_conversa,\n    'resumo', c.resumo_conversa\n  ) ORDER BY c.data_conversa DESC)\n   FROM (\n     SELECT data_conversa, resumo_conversa\n     FROM usr_chat\n     WHERE usuario_id = n.usuario_id\n       AND resumo_conversa IS NOT NULL\n     ORDER BY data_conversa DESC\n   ) c\n  ) AS ultimas_conversas\nFROM notificacoes n\nINNER JOIN usuarios u ON u.id = n.usuario_id\nLEFT JOIN dispositivos_push dp ON dp.usuario_id = n.usuario_id\nWHERE n.lembretes_ativo = true\n  AND n.lembretes_conversas_diarias = true\n  AND 'whatsapp' = ANY(n.lembretes_canais)\n  AND NOT EXISTS (\n    SELECT 1 \n    FROM usr_chat c \n    WHERE c.usuario_id = n.usuario_id \n      AND DATE(c.data_conversa) = CURRENT_DATE\n  )\n  AND NOT EXISTS (\n    SELECT 1 \n    FROM notificacoes_log nl \n    WHERE nl.usuario_id = n.usuario_id \n      AND DATE(nl.criado_em) = CURRENT_DATE \n      AND nl.tipo LIKE 'conversa%'\n  )\nGROUP BY n.usuario_id, u.nome_preferencia, u.tom_conversa, u.whatsapp_numero, n.lembretes_canais;",
        "options": {}
      },
      "id": "073dab68-d3a7-4497-b0a8-b059b6e2e1df",
      "name": "usuarios_conversas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -160,
        -208
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        -208
      ],
      "id": "0a8823ff-73c9-4a03-9cb8-49094f430bd0",
      "name": "Loop Conversas"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kMqjjX3TeEGBkR74",
          "mode": "list",
          "cachedResultUrl": "/workflow/kMqjjX3TeEGBkR74",
          "cachedResultName": "sw_mentor_notificacoes_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $('usuarios_conversas').item.json.usuario_id }}",
            "nome_preferencia": "={{ $('usuarios_conversas').item.json.nome_preferencia }}",
            "tom_conversa": "={{ $('usuarios_conversas').item.json.tom_conversa || 'empatico' }}",
            "whats_number": "={{ $('usuarios_conversas').item.json.whatsapp_numero }}",
            "lembretes_canais": "={{ $('usuarios_conversas').item.json.lembretes_canais }}",
            "push_tokens": "={{ $('usuarios_conversas').item.json.push_tokens }}",
            "tipo_notificacao": "={{ $('usuarios_conversas').item.json.is_primeira_conversa ? 'primeira_conversa' : 'conversa' }}",
            "contexto": "={{ { ultimas_conversas: $('usuarios_conversas').item.json.ultimas_conversas, is_primeira_conversa: $('usuarios_conversas').item.json.is_primeira_conversa } }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome_preferencia",
              "displayName": "nome_preferencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tom_conversa",
              "displayName": "tom_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "whats_number",
              "displayName": "whats_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "lembretes_canais",
              "displayName": "lembretes_canais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "push_tokens",
              "displayName": "push_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "tipo_notificacao",
              "displayName": "tipo_notificacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contexto",
              "displayName": "contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        400,
        -192
      ],
      "id": "774acf5e-e5c3-4e32-867d-5598d5e67b91",
      "name": "Call sw_mentor_notificacoes (conversas)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        160
      ],
      "id": "52bc0768-9e43-4191-bb54-5cd14a8ff2d1",
      "name": "Trigger Quests 15h"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- v2.0.0: Buscar usuários elegíveis para notificação de quest\n-- Inclui: humor, energia, quests por categoria, última categoria notificada\n\nWITH ultimo_humor AS (\n  SELECT DISTINCT ON (c.usuario_id)\n    c.usuario_id,\n    uhe.humor_dia as humor_nivel\n  FROM usuarios_humor_energia uhe\n  INNER JOIN usr_chat c ON c.id = uhe.chat_id\n  ORDER BY c.usuario_id, c.data_conversa DESC\n),\nenergia_panas AS (\n  SELECT \n    ue.usuario_id,\n    CASE WHEN COUNT(*) > 0\n      THEN ROUND((COUNT(*) FILTER (WHERE LOWER(ue.emocao_id) IN ('joy','trust','anticipation'))::numeric / COUNT(*)::numeric) * 100, 1)\n      ELSE 60 END AS percentual_positiva\n  FROM usuarios_emocoes ue\n  WHERE ue.intensidade >= 45\n  GROUP BY ue.usuario_id\n),\n-- v2.0.0: Última categoria notificada\nultima_categoria_notificada AS (\n  SELECT DISTINCT ON (nl.usuario_id)\n    nl.usuario_id,\n    CASE \n      WHEN nl.tipo LIKE '%tcc%' THEN 'tcc'\n      WHEN nl.tipo LIKE '%estoicismo%' THEN 'estoicismo'\n      WHEN nl.tipo LIKE '%sabotador%' THEN 'sabotador'\n      WHEN nl.tipo LIKE '%personalizada%' THEN 'personalizada'\n      WHEN nl.tipo LIKE '%objetivo%' THEN 'objetivo'\n      ELSE NULL\n    END AS ultima_categoria\n  FROM notificacoes_log nl\n  WHERE nl.tipo LIKE 'quest%'\n  ORDER BY nl.usuario_id, nl.criado_em DESC\n),\n-- v2.1.0: Resumo de quests do usuário por status (apenas títulos)\nquests_status_resumo AS (\n  SELECT\n    uq.usuario_id,\n    COALESCE(\n      json_agg(DISTINCT COALESCE(uq.config->>'titulo', qc.titulo)) FILTER (WHERE uq.status = 'disponivel'),\n      '[]'::json\n    ) AS quests_a_fazer,\n    COALESCE(\n      json_agg(DISTINCT COALESCE(uq.config->>'titulo', qc.titulo)) FILTER (WHERE uq.status = 'ativa'),\n      '[]'::json\n    ) AS quests_fazendo\n  FROM usuarios_quest uq\n  LEFT JOIN quests_catalogo qc ON qc.id = uq.catalogo_id\n  WHERE uq.status IN ('disponivel', 'ativa')\n  GROUP BY uq.usuario_id\n),\n-- v2.0.0: Quests agrupadas por categoria\nquests_por_categoria AS (\n  SELECT \n    uq.usuario_id,\n    json_build_object(\n      'tcc', COALESCE((SELECT json_agg(json_build_object(\n        'quest_id', uq2.id, 'titulo', uq2.config->>'titulo', 'descricao', uq2.config->>'descricao',\n        'base_cientifica', uq2.config->'base_cientifica', 'categoria', 'tcc'\n      )) FROM usuarios_quest uq2 \n      LEFT JOIN quests_catalogo qc ON qc.id = uq2.catalogo_id\n      WHERE uq2.usuario_id = uq.usuario_id AND uq2.status IN ('disponivel', 'ativa') \n        AND qc.categoria = 'tcc'), '[]'::json),\n      \n      'estoicismo', COALESCE((SELECT json_agg(json_build_object(\n        'quest_id', uq2.id, 'titulo', uq2.config->>'titulo', 'descricao', uq2.config->>'descricao',\n        'base_cientifica', uq2.config->'base_cientifica', 'categoria', 'estoicismo'\n      )) FROM usuarios_quest uq2 \n      LEFT JOIN quests_catalogo qc ON qc.id = uq2.catalogo_id\n      WHERE uq2.usuario_id = uq.usuario_id AND uq2.status IN ('disponivel', 'ativa') \n        AND qc.categoria = 'estoicismo'), '[]'::json),\n      \n      'sabotador', COALESCE((SELECT json_agg(json_build_object(\n        'quest_id', uq2.id, 'titulo', uq2.config->>'titulo', 'descricao', uq2.config->>'descricao',\n        'base_cientifica', uq2.config->'base_cientifica', 'sabotador_id', uq2.sabotador_id, 'categoria', 'sabotador'\n      )) FROM usuarios_quest uq2 \n      WHERE uq2.usuario_id = uq.usuario_id AND uq2.status IN ('disponivel', 'ativa') \n        AND uq2.sabotador_id IS NOT NULL), '[]'::json),\n      \n      'personalizada', COALESCE((SELECT json_agg(json_build_object(\n        'quest_id', uq2.id, 'titulo', uq2.config->>'titulo', 'descricao', uq2.config->>'descricao',\n        'base_cientifica', uq2.config->'base_cientifica', 'categoria', 'personalizada'\n      )) FROM usuarios_quest uq2 \n      WHERE uq2.usuario_id = uq.usuario_id AND uq2.status IN ('disponivel', 'ativa') \n        AND uq2.catalogo_id = '00000000-0000-0000-0000-000000000001'\n        AND uq2.sabotador_id IS NULL), '[]'::json),\n      \n      'objetivo', COALESCE((SELECT json_agg(json_build_object(\n        'quest_id', uq2.id, 'titulo', uq2.config->>'titulo', 'descricao', uq2.config->>'descricao',\n        'base_cientifica', uq2.config->'base_cientifica', 'objetivo_id', uq2.objetivo_id, 'categoria', 'objetivo'\n      )) FROM usuarios_quest uq2 \n      WHERE uq2.usuario_id = uq.usuario_id AND uq2.status IN ('disponivel', 'ativa') \n        AND uq2.objetivo_id IS NOT NULL\n        AND uq2.sabotador_id IS NULL\n        AND uq2.catalogo_id != '00000000-0000-0000-0000-000000000001'), '[]'::json)\n    ) AS quests_por_categoria\n  FROM (SELECT DISTINCT usuario_id FROM usuarios_quest WHERE status IN ('disponivel', 'ativa')) uq\n),\nultimas_conversas AS (\n  SELECT \n    uc.usuario_id,\n    (SELECT json_agg(json_build_object(\n      'data_conversa', c.data_conversa,\n      'resumo', c.resumo_conversa\n    ) ORDER BY c.data_conversa DESC)\n     FROM (\n       SELECT data_conversa, resumo_conversa\n       FROM usr_chat\n       WHERE usuario_id = uc.usuario_id\n         AND resumo_conversa IS NOT NULL\n       ORDER BY data_conversa DESC\n       LIMIT 5\n     ) c\n    ) AS ultimas_conversas\n  FROM (SELECT DISTINCT usuario_id FROM usr_chat) uc\n)\nSELECT \n  n.usuario_id,\n  u.nome_preferencia,\n  u.tom_conversa,\n  u.whatsapp_numero,\n  n.lembretes_canais,\n  (SELECT ARRAY_AGG(DISTINCT dp.token) FROM dispositivos_push dp WHERE dp.usuario_id = n.usuario_id AND dp.token IS NOT NULL) AS push_tokens,\n  COALESCE(uh.humor_nivel, 6) as humor_nivel,\n  COALESCE(ROUND(ep.percentual_positiva / 10, 0), 6) as energia_nivel,\n  COALESCE(ucn.ultima_categoria, NULL) as ultima_categoria_notificada,\n  COALESCE(qsr.quests_a_fazer, '[]'::json) as quests_a_fazer,\n  COALESCE(qsr.quests_fazendo, '[]'::json) as quests_fazendo,\n  COALESCE(qpc.quests_por_categoria, '{}'::json) as quests_por_categoria,\n  COALESCE(ulc.ultimas_conversas, '[]'::json) as ultimas_conversas\nFROM notificacoes n\nINNER JOIN usuarios u ON u.id = n.usuario_id\nLEFT JOIN ultimo_humor uh ON uh.usuario_id = n.usuario_id\nLEFT JOIN energia_panas ep ON ep.usuario_id = n.usuario_id\nLEFT JOIN ultima_categoria_notificada ucn ON ucn.usuario_id = n.usuario_id\nLEFT JOIN quests_status_resumo qsr ON qsr.usuario_id = n.usuario_id\nLEFT JOIN quests_por_categoria qpc ON qpc.usuario_id = n.usuario_id\nLEFT JOIN ultimas_conversas ulc ON ulc.usuario_id = n.usuario_id\nWHERE n.lembretes_ativo = true\n  AND n.lembretes_quests = true\n  AND 'whatsapp' = ANY(n.lembretes_canais)\n  AND NOT EXISTS (\n    SELECT 1 FROM notificacoes_log nl \n    WHERE nl.usuario_id = n.usuario_id \n      AND DATE(nl.criado_em) = CURRENT_DATE \n      AND nl.tipo LIKE 'quest%'\n  );",
        "options": {}
      },
      "id": "016bcda9-543b-498c-adfc-5e98220b6d4d",
      "name": "usuarios_elegiveis_quests",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -304,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// v2.0.0: Selecionar Quest por Rotação de Categorias\n// REGRAS:\n// 1. Rotação: TCC → Estoicismo → Sabotador → Personalizada → Objetivo\n// 2. Se não tem da categoria, pula para próxima\n// 3. Se humor OU energia < 5, manda TCC/Estoicismo e pula a rotação\n\nconst CATEGORIAS_ROTACAO = ['tcc', 'estoicismo', 'sabotador', 'personalizada', 'objetivo'];\nconst CATEGORIAS_BEM_ESTAR = ['tcc', 'estoicismo'];\n\nconst items = $input.all();\nconst resultados = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const humorNivel = data.humor_nivel || 6;\n  const energiaNivel = data.energia_nivel || 6;\n  const ultimaCategoria = data.ultima_categoria_notificada || null;\n  const questsPorCategoria = data.quests_por_categoria || {};\n  \n  let questSelecionada = null;\n  let categoriaSelecionada = null;\n  let motivoSelecao = '';\n  \n  // REGRA 3: Se humor OU energia < 5, priorizar bem-estar\n  const precisaBemEstar = humorNivel < 5 || energiaNivel < 5;\n  \n  if (precisaBemEstar) {\n    // Buscar quest de TCC ou Estoicismo\n    for (const cat of CATEGORIAS_BEM_ESTAR) {\n      const questsDaCategoria = questsPorCategoria[cat] || [];\n      if (Array.isArray(questsDaCategoria) && questsDaCategoria.length > 0) {\n        questSelecionada = questsDaCategoria[0];\n        categoriaSelecionada = cat;\n        motivoSelecao = 'bem_estar_prioritario';\n        break;\n      }\n    }\n  }\n  \n  // Se não precisou de bem-estar OU não encontrou quest de bem-estar\n  if (!questSelecionada) {\n    // REGRA 1 e 2: Rotação de categorias\n    let indiceInicio = 0;\n    \n    if (ultimaCategoria) {\n      const indiceUltima = CATEGORIAS_ROTACAO.indexOf(ultimaCategoria);\n      if (indiceUltima !== -1) {\n        indiceInicio = (indiceUltima + 1) % CATEGORIAS_ROTACAO.length;\n      }\n    }\n    \n    // Tentar cada categoria a partir do índice de início\n    for (let i = 0; i < CATEGORIAS_ROTACAO.length; i++) {\n      const indice = (indiceInicio + i) % CATEGORIAS_ROTACAO.length;\n      const cat = CATEGORIAS_ROTACAO[indice];\n      const questsDaCategoria = questsPorCategoria[cat] || [];\n      \n      if (Array.isArray(questsDaCategoria) && questsDaCategoria.length > 0) {\n        questSelecionada = questsDaCategoria[0];\n        categoriaSelecionada = cat;\n        motivoSelecao = 'rotacao_categoria';\n        break;\n      }\n    }\n  }\n  \n  // Se ainda não encontrou nenhuma quest\n  if (!questSelecionada) {\n    motivoSelecao = 'sem_quest_disponivel';\n  }\n  \n  resultados.push({\n    json: {\n      ...data,\n      quest_selecionada: questSelecionada,\n      categoria_selecionada: categoriaSelecionada,\n      motivo_selecao: motivoSelecao,\n      precisa_bem_estar: precisaBemEstar\n    }\n  });\n}\n\nreturn resultados;"
      },
      "id": "a1d3845e-5bd3-42e8-9068-0ead33efa427",
      "name": "Selecionar Quest (Rotação)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tem_quest",
              "leftValue": "={{ $json.quest_selecionada }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        160
      ],
      "id": "de91ea7d-2a61-4aa9-92ef-4d56b484b84c",
      "name": "Tem Quest?"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "16a65394-200e-49a3-ba3f-edb308f994c5",
      "name": "Loop Quests",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        80
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kMqjjX3TeEGBkR74",
          "mode": "list",
          "cachedResultUrl": "/workflow/kMqjjX3TeEGBkR74",
          "cachedResultName": "sw_mentor_notificacoes_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $('Selecionar Quest (Rotação)').item.json.usuario_id }}",
            "nome_preferencia": "={{ $('Selecionar Quest (Rotação)').item.json.nome_preferencia }}",
            "tom_conversa": "={{ $('Selecionar Quest (Rotação)').item.json.tom_conversa || 'empatico' }}",
            "whats_number": "={{ $('Selecionar Quest (Rotação)').item.json.whatsapp_numero }}",
            "lembretes_canais": "={{ $('Selecionar Quest (Rotação)').item.json.lembretes_canais }}",
            "push_tokens": "={{ $('Selecionar Quest (Rotação)').item.json.push_tokens }}",
            "tipo_notificacao": "quest",
            "contexto": "={{ { quest_selecionada: $('Selecionar Quest (Rotação)').item.json.quest_selecionada, categoria_selecionada: $('Selecionar Quest (Rotação)').item.json.categoria_selecionada, motivo_selecao: $('Selecionar Quest (Rotação)').item.json.motivo_selecao, precisa_bem_estar: $('Selecionar Quest (Rotação)').item.json.precisa_bem_estar, humor_nivel: $('Selecionar Quest (Rotação)').item.json.humor_nivel, energia_nivel: $('Selecionar Quest (Rotação)').item.json.energia_nivel, ultimas_conversas: $('Selecionar Quest (Rotação)').item.json.ultimas_conversas, a_fazer: $('Selecionar Quest (Rotação)').item.json.quests_a_fazer, fazendo: $('Selecionar Quest (Rotação)').item.json.quests_fazendo } }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome_preferencia",
              "displayName": "nome_preferencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tom_conversa",
              "displayName": "tom_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "whats_number",
              "displayName": "whats_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "lembretes_canais",
              "displayName": "lembretes_canais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "push_tokens",
              "displayName": "push_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "tipo_notificacao",
              "displayName": "tipo_notificacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contexto",
              "displayName": "contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "1e44efc4-a0c5-45f7-84b8-9c9eb66dbc0c",
      "name": "Call sw_mentor_notificacoes (quests)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        752,
        80
      ]
    },
    {
      "parameters": {},
      "id": "3e1827fe-41ba-49cb-b284-f6b480dddcfe",
      "name": "Sem Quest (skip)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        432,
        368
      ]
    },
    {
      "parameters": {
        "content": "## Notificação Quests v2.0.0\n\n### Rotação de 5 Categorias\n\n| Ordem | Categoria |\n|-------|----------|\n| 1 | TCC |\n| 2 | Estoicismo |\n| 3 | Sabotador |\n| 4 | Personalizada |\n| 5 | Objetivo |\n\n### Regras\n\n1. **Rotação sequencial** - cada dia próxima categoria\n2. **Sem quest?** - pula para próxima disponível\n3. **Humor OU Energia < 5** - manda TCC/Estoicismo (bem-estar)\n\n### Contexto para o Mentor\n\n```json\n{\n  \"quest_selecionada\": {...},\n  \"categoria_selecionada\": \"tcc\",\n  \"motivo_selecao\": \"rotacao_categoria\",\n  \"precisa_bem_estar\": false\n}\n```\n\n**O LLM NÃO decide a quest, apenas cria a mensagem.**",
        "height": 824,
        "width": 480
      },
      "id": "7250dc06-f19a-4d0d-b713-7c8444b5ef44",
      "name": "Regras Notificação Quests v2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1184,
        -176
      ]
    }
  ],
  "connections": {
    "Trigger Conversas 09h": {
      "main": [
        [
          {
            "node": "usuarios_conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "usuarios_conversas": {
      "main": [
        [
          {
            "node": "Loop Conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Conversas": {
      "main": [
        [],
        [
          {
            "node": "Call sw_mentor_notificacoes (conversas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call sw_mentor_notificacoes (conversas)": {
      "main": [
        [
          {
            "node": "Loop Conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Quests 15h": {
      "main": [
        [
          {
            "node": "usuarios_elegiveis_quests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "usuarios_elegiveis_quests": {
      "main": [
        [
          {
            "node": "Selecionar Quest (Rotação)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selecionar Quest (Rotação)": {
      "main": [
        [
          {
            "node": "Tem Quest?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Quest?": {
      "main": [
        [
          {
            "node": "Loop Quests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Quest (skip)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Quests": {
      "main": [
        [],
        [
          {
            "node": "Call sw_mentor_notificacoes (quests)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call sw_mentor_notificacoes (quests)": {
      "main": [
        [
          {
            "node": "Loop Quests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Trigger Conversas 09h": {
      "recurrenceRules": []
    },
    "node:Trigger Quests 15h": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "activeVersionId": "455b7e9d-4e4c-4ab9-883c-6e64666f7ccd",
  "shared": [
    {
      "createdAt": "2025-12-17T20:18:16.166Z",
      "role": "workflow:owner",
      "workflowId": "vGLluHVYupmxKJWT",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "createdAt": "2025-12-18T11:07:10.060Z",
    "workflowId": "vGLluHVYupmxKJWT",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -368,
          -208
        ],
        "id": "79c3a7a5-ac81-4d64-b1db-d580e71e10a4",
        "name": "Trigger Conversas 09h"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n  n.usuario_id,\n  u.nome_preferencia,\n  u.tom_conversa,\n  u.whatsapp_numero,\n  n.lembretes_canais,\n  ARRAY_AGG(DISTINCT dp.token) FILTER (WHERE dp.token IS NOT NULL) AS push_tokens,\n  CASE \n    WHEN NOT EXISTS (SELECT 1 FROM usr_chat WHERE usuario_id = n.usuario_id) \n    THEN true \n    ELSE false \n  END AS is_primeira_conversa,\n  (SELECT json_agg(json_build_object(\n    'data_conversa', c.data_conversa,\n    'resumo', c.resumo_conversa\n  ) ORDER BY c.data_conversa DESC)\n   FROM (\n     SELECT data_conversa, resumo_conversa\n     FROM usr_chat\n     WHERE usuario_id = n.usuario_id\n       AND resumo_conversa IS NOT NULL\n     ORDER BY data_conversa DESC\n   ) c\n  ) AS ultimas_conversas\nFROM notificacoes n\nINNER JOIN usuarios u ON u.id = n.usuario_id\nLEFT JOIN dispositivos_push dp ON dp.usuario_id = n.usuario_id\nWHERE n.lembretes_ativo = true\n  AND n.lembretes_conversas_diarias = true\n  AND 'whatsapp' = ANY(n.lembretes_canais)\n  AND NOT EXISTS (\n    SELECT 1 \n    FROM usr_chat c \n    WHERE c.usuario_id = n.usuario_id \n      AND DATE(c.data_conversa) = CURRENT_DATE\n  )\n  AND NOT EXISTS (\n    SELECT 1 \n    FROM notificacoes_log nl \n    WHERE nl.usuario_id = n.usuario_id \n      AND DATE(nl.criado_em) = CURRENT_DATE \n      AND nl.tipo LIKE 'conversa%'\n  )\nGROUP BY n.usuario_id, u.nome_preferencia, u.tom_conversa, u.whatsapp_numero, n.lembretes_canais;",
          "options": {}
        },
        "id": "073dab68-d3a7-4497-b0a8-b059b6e2e1df",
        "name": "usuarios_conversas",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -160,
          -208
        ],
        "credentials": {
          "postgres": {
            "id": "8ySWxtSO7gYK5uue",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          112,
          -208
        ],
        "id": "0a8823ff-73c9-4a03-9cb8-49094f430bd0",
        "name": "Loop Conversas"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "kMqjjX3TeEGBkR74",
            "mode": "list",
            "cachedResultUrl": "/workflow/kMqjjX3TeEGBkR74",
            "cachedResultName": "sw_mentor_notificacoes_v2"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "usuario_id": "={{ $('usuarios_conversas').item.json.usuario_id }}",
              "nome_preferencia": "={{ $('usuarios_conversas').item.json.nome_preferencia }}",
              "tom_conversa": "={{ $('usuarios_conversas').item.json.tom_conversa || 'empatico' }}",
              "whats_number": "={{ $('usuarios_conversas').item.json.whatsapp_numero }}",
              "lembretes_canais": "={{ $('usuarios_conversas').item.json.lembretes_canais }}",
              "push_tokens": "={{ $('usuarios_conversas').item.json.push_tokens }}",
              "tipo_notificacao": "={{ $('usuarios_conversas').item.json.is_primeira_conversa ? 'primeira_conversa' : 'conversa' }}",
              "contexto": "={{ { ultimas_conversas: $('usuarios_conversas').item.json.ultimas_conversas, is_primeira_conversa: $('usuarios_conversas').item.json.is_primeira_conversa } }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "usuario_id",
                "displayName": "usuario_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "nome_preferencia",
                "displayName": "nome_preferencia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "tom_conversa",
                "displayName": "tom_conversa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "whats_number",
                "displayName": "whats_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "lembretes_canais",
                "displayName": "lembretes_canais",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array"
              },
              {
                "id": "push_tokens",
                "displayName": "push_tokens",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array"
              },
              {
                "id": "tipo_notificacao",
                "displayName": "tipo_notificacao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "contexto",
                "displayName": "contexto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          400,
          -192
        ],
        "id": "774acf5e-e5c3-4e32-867d-5598d5e67b91",
        "name": "Call sw_mentor_notificacoes (conversas)"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 15
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -528,
          160
        ],
        "id": "52bc0768-9e43-4191-bb54-5cd14a8ff2d1",
        "name": "Trigger Quests 15h"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- v2.0.0: Buscar usuários elegíveis para notificação de quest\n-- Inclui: humor, energia, quests por categoria, última categoria notificada\n\nWITH ultimo_humor AS (\n  SELECT DISTINCT ON (c.usuario_id)\n    c.usuario_id,\n    uhe.humor_dia as humor_nivel\n  FROM usuarios_humor_energia uhe\n  INNER JOIN usr_chat c ON c.id = uhe.chat_id\n  ORDER BY c.usuario_id, c.data_conversa DESC\n),\nenergia_panas AS (\n  SELECT \n    ue.usuario_id,\n    CASE WHEN COUNT(*) > 0\n      THEN ROUND((COUNT(*) FILTER (WHERE LOWER(ue.emocao_id) IN ('joy','trust','anticipation'))::numeric / COUNT(*)::numeric) * 100, 1)\n      ELSE 60 END AS percentual_positiva\n  FROM usuarios_emocoes ue\n  WHERE ue.intensidade >= 45\n  GROUP BY ue.usuario_id\n),\n-- v2.0.0: Última categoria notificada\nultima_categoria_notificada AS (\n  SELECT DISTINCT ON (nl.usuario_id)\n    nl.usuario_id,\n    CASE \n      WHEN nl.tipo LIKE '%tcc%' THEN 'tcc'\n      WHEN nl.tipo LIKE '%estoicismo%' THEN 'estoicismo'\n      WHEN nl.tipo LIKE '%sabotador%' THEN 'sabotador'\n      WHEN nl.tipo LIKE '%personalizada%' THEN 'personalizada'\n      WHEN nl.tipo LIKE '%objetivo%' THEN 'objetivo'\n      ELSE NULL\n    END AS ultima_categoria\n  FROM notificacoes_log nl\n  WHERE nl.tipo LIKE 'quest%'\n  ORDER BY nl.usuario_id, nl.criado_em DESC\n),\n-- v2.1.0: Resumo de quests do usuário por status (apenas títulos)\nquests_status_resumo AS (\n  SELECT\n    uq.usuario_id,\n    COALESCE(\n      json_agg(DISTINCT COALESCE(uq.config->>'titulo', qc.titulo)) FILTER (WHERE uq.status = 'disponivel'),\n      '[]'::json\n    ) AS quests_a_fazer,\n    COALESCE(\n      json_agg(DISTINCT COALESCE(uq.config->>'titulo', qc.titulo)) FILTER (WHERE uq.status = 'ativa'),\n      '[]'::json\n    ) AS quests_fazendo\n  FROM usuarios_quest uq\n  LEFT JOIN quests_catalogo qc ON qc.id = uq.catalogo_id\n  WHERE uq.status IN ('disponivel', 'ativa')\n  GROUP BY uq.usuario_id\n),\n-- v2.0.0: Quests agrupadas por categoria\nquests_por_categoria AS (\n  SELECT \n    uq.usuario_id,\n    json_build_object(\n      'tcc', COALESCE((SELECT json_agg(json_build_object(\n        'quest_id', uq2.id, 'titulo', uq2.config->>'titulo', 'descricao', uq2.config->>'descricao',\n        'base_cientifica', uq2.config->'base_cientifica', 'categoria', 'tcc'\n      )) FROM usuarios_quest uq2 \n      LEFT JOIN quests_catalogo qc ON qc.id = uq2.catalogo_id\n      WHERE uq2.usuario_id = uq.usuario_id AND uq2.status IN ('disponivel', 'ativa') \n        AND qc.categoria = 'tcc'), '[]'::json),\n      \n      'estoicismo', COALESCE((SELECT json_agg(json_build_object(\n        'quest_id', uq2.id, 'titulo', uq2.config->>'titulo', 'descricao', uq2.config->>'descricao',\n        'base_cientifica', uq2.config->'base_cientifica', 'categoria', 'estoicismo'\n      )) FROM usuarios_quest uq2 \n      LEFT JOIN quests_catalogo qc ON qc.id = uq2.catalogo_id\n      WHERE uq2.usuario_id = uq.usuario_id AND uq2.status IN ('disponivel', 'ativa') \n        AND qc.categoria = 'estoicismo'), '[]'::json),\n      \n      'sabotador', COALESCE((SELECT json_agg(json_build_object(\n        'quest_id', uq2.id, 'titulo', uq2.config->>'titulo', 'descricao', uq2.config->>'descricao',\n        'base_cientifica', uq2.config->'base_cientifica', 'sabotador_id', uq2.sabotador_id, 'categoria', 'sabotador'\n      )) FROM usuarios_quest uq2 \n      WHERE uq2.usuario_id = uq.usuario_id AND uq2.status IN ('disponivel', 'ativa') \n        AND uq2.sabotador_id IS NOT NULL), '[]'::json),\n      \n      'personalizada', COALESCE((SELECT json_agg(json_build_object(\n        'quest_id', uq2.id, 'titulo', uq2.config->>'titulo', 'descricao', uq2.config->>'descricao',\n        'base_cientifica', uq2.config->'base_cientifica', 'categoria', 'personalizada'\n      )) FROM usuarios_quest uq2 \n      WHERE uq2.usuario_id = uq.usuario_id AND uq2.status IN ('disponivel', 'ativa') \n        AND uq2.catalogo_id = '00000000-0000-0000-0000-000000000001'\n        AND uq2.sabotador_id IS NULL), '[]'::json),\n      \n      'objetivo', COALESCE((SELECT json_agg(json_build_object(\n        'quest_id', uq2.id, 'titulo', uq2.config->>'titulo', 'descricao', uq2.config->>'descricao',\n        'base_cientifica', uq2.config->'base_cientifica', 'objetivo_id', uq2.objetivo_id, 'categoria', 'objetivo'\n      )) FROM usuarios_quest uq2 \n      WHERE uq2.usuario_id = uq.usuario_id AND uq2.status IN ('disponivel', 'ativa') \n        AND uq2.objetivo_id IS NOT NULL\n        AND uq2.sabotador_id IS NULL\n        AND uq2.catalogo_id != '00000000-0000-0000-0000-000000000001'), '[]'::json)\n    ) AS quests_por_categoria\n  FROM (SELECT DISTINCT usuario_id FROM usuarios_quest WHERE status IN ('disponivel', 'ativa')) uq\n),\nultimas_conversas AS (\n  SELECT \n    uc.usuario_id,\n    (SELECT json_agg(json_build_object(\n      'data_conversa', c.data_conversa,\n      'resumo', c.resumo_conversa\n    ) ORDER BY c.data_conversa DESC)\n     FROM (\n       SELECT data_conversa, resumo_conversa\n       FROM usr_chat\n       WHERE usuario_id = uc.usuario_id\n         AND resumo_conversa IS NOT NULL\n       ORDER BY data_conversa DESC\n       LIMIT 5\n     ) c\n    ) AS ultimas_conversas\n  FROM (SELECT DISTINCT usuario_id FROM usr_chat) uc\n)\nSELECT \n  n.usuario_id,\n  u.nome_preferencia,\n  u.tom_conversa,\n  u.whatsapp_numero,\n  n.lembretes_canais,\n  (SELECT ARRAY_AGG(DISTINCT dp.token) FROM dispositivos_push dp WHERE dp.usuario_id = n.usuario_id AND dp.token IS NOT NULL) AS push_tokens,\n  COALESCE(uh.humor_nivel, 6) as humor_nivel,\n  COALESCE(ROUND(ep.percentual_positiva / 10, 0), 6) as energia_nivel,\n  COALESCE(ucn.ultima_categoria, NULL) as ultima_categoria_notificada,\n  COALESCE(qsr.quests_a_fazer, '[]'::json) as quests_a_fazer,\n  COALESCE(qsr.quests_fazendo, '[]'::json) as quests_fazendo,\n  COALESCE(qpc.quests_por_categoria, '{}'::json) as quests_por_categoria,\n  COALESCE(ulc.ultimas_conversas, '[]'::json) as ultimas_conversas\nFROM notificacoes n\nINNER JOIN usuarios u ON u.id = n.usuario_id\nLEFT JOIN ultimo_humor uh ON uh.usuario_id = n.usuario_id\nLEFT JOIN energia_panas ep ON ep.usuario_id = n.usuario_id\nLEFT JOIN ultima_categoria_notificada ucn ON ucn.usuario_id = n.usuario_id\nLEFT JOIN quests_status_resumo qsr ON qsr.usuario_id = n.usuario_id\nLEFT JOIN quests_por_categoria qpc ON qpc.usuario_id = n.usuario_id\nLEFT JOIN ultimas_conversas ulc ON ulc.usuario_id = n.usuario_id\nWHERE n.lembretes_ativo = true\n  AND n.lembretes_quests = true\n  AND 'whatsapp' = ANY(n.lembretes_canais)\n  AND NOT EXISTS (\n    SELECT 1 FROM notificacoes_log nl \n    WHERE nl.usuario_id = n.usuario_id \n      AND DATE(nl.criado_em) = CURRENT_DATE \n      AND nl.tipo LIKE 'quest%'\n  );",
          "options": {}
        },
        "id": "016bcda9-543b-498c-adfc-5e98220b6d4d",
        "name": "usuarios_elegiveis_quests",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -304,
          160
        ],
        "credentials": {
          "postgres": {
            "id": "8ySWxtSO7gYK5uue",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// v2.0.0: Selecionar Quest por Rotação de Categorias\n// REGRAS:\n// 1. Rotação: TCC → Estoicismo → Sabotador → Personalizada → Objetivo\n// 2. Se não tem da categoria, pula para próxima\n// 3. Se humor OU energia < 5, manda TCC/Estoicismo e pula a rotação\n\nconst CATEGORIAS_ROTACAO = ['tcc', 'estoicismo', 'sabotador', 'personalizada', 'objetivo'];\nconst CATEGORIAS_BEM_ESTAR = ['tcc', 'estoicismo'];\n\nconst items = $input.all();\nconst resultados = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const humorNivel = data.humor_nivel || 6;\n  const energiaNivel = data.energia_nivel || 6;\n  const ultimaCategoria = data.ultima_categoria_notificada || null;\n  const questsPorCategoria = data.quests_por_categoria || {};\n  \n  let questSelecionada = null;\n  let categoriaSelecionada = null;\n  let motivoSelecao = '';\n  \n  // REGRA 3: Se humor OU energia < 5, priorizar bem-estar\n  const precisaBemEstar = humorNivel < 5 || energiaNivel < 5;\n  \n  if (precisaBemEstar) {\n    // Buscar quest de TCC ou Estoicismo\n    for (const cat of CATEGORIAS_BEM_ESTAR) {\n      const questsDaCategoria = questsPorCategoria[cat] || [];\n      if (Array.isArray(questsDaCategoria) && questsDaCategoria.length > 0) {\n        questSelecionada = questsDaCategoria[0];\n        categoriaSelecionada = cat;\n        motivoSelecao = 'bem_estar_prioritario';\n        break;\n      }\n    }\n  }\n  \n  // Se não precisou de bem-estar OU não encontrou quest de bem-estar\n  if (!questSelecionada) {\n    // REGRA 1 e 2: Rotação de categorias\n    let indiceInicio = 0;\n    \n    if (ultimaCategoria) {\n      const indiceUltima = CATEGORIAS_ROTACAO.indexOf(ultimaCategoria);\n      if (indiceUltima !== -1) {\n        indiceInicio = (indiceUltima + 1) % CATEGORIAS_ROTACAO.length;\n      }\n    }\n    \n    // Tentar cada categoria a partir do índice de início\n    for (let i = 0; i < CATEGORIAS_ROTACAO.length; i++) {\n      const indice = (indiceInicio + i) % CATEGORIAS_ROTACAO.length;\n      const cat = CATEGORIAS_ROTACAO[indice];\n      const questsDaCategoria = questsPorCategoria[cat] || [];\n      \n      if (Array.isArray(questsDaCategoria) && questsDaCategoria.length > 0) {\n        questSelecionada = questsDaCategoria[0];\n        categoriaSelecionada = cat;\n        motivoSelecao = 'rotacao_categoria';\n        break;\n      }\n    }\n  }\n  \n  // Se ainda não encontrou nenhuma quest\n  if (!questSelecionada) {\n    motivoSelecao = 'sem_quest_disponivel';\n  }\n  \n  resultados.push({\n    json: {\n      ...data,\n      quest_selecionada: questSelecionada,\n      categoria_selecionada: categoriaSelecionada,\n      motivo_selecao: motivoSelecao,\n      precisa_bem_estar: precisaBemEstar\n    }\n  });\n}\n\nreturn resultados;"
        },
        "id": "a1d3845e-5bd3-42e8-9068-0ead33efa427",
        "name": "Selecionar Quest (Rotação)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -64,
          160
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "tem_quest",
                "leftValue": "={{ $json.quest_selecionada }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          176,
          160
        ],
        "id": "de91ea7d-2a61-4aa9-92ef-4d56b484b84c",
        "name": "Tem Quest?"
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "16a65394-200e-49a3-ba3f-edb308f994c5",
        "name": "Loop Quests",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          448,
          80
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "kMqjjX3TeEGBkR74",
            "mode": "list",
            "cachedResultUrl": "/workflow/kMqjjX3TeEGBkR74",
            "cachedResultName": "sw_mentor_notificacoes_v2"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "usuario_id": "={{ $('Selecionar Quest (Rotação)').item.json.usuario_id }}",
              "nome_preferencia": "={{ $('Selecionar Quest (Rotação)').item.json.nome_preferencia }}",
              "tom_conversa": "={{ $('Selecionar Quest (Rotação)').item.json.tom_conversa || 'empatico' }}",
              "whats_number": "={{ $('Selecionar Quest (Rotação)').item.json.whatsapp_numero }}",
              "lembretes_canais": "={{ $('Selecionar Quest (Rotação)').item.json.lembretes_canais }}",
              "push_tokens": "={{ $('Selecionar Quest (Rotação)').item.json.push_tokens }}",
              "tipo_notificacao": "quest",
              "contexto": "={{ { quest_selecionada: $('Selecionar Quest (Rotação)').item.json.quest_selecionada, categoria_selecionada: $('Selecionar Quest (Rotação)').item.json.categoria_selecionada, motivo_selecao: $('Selecionar Quest (Rotação)').item.json.motivo_selecao, precisa_bem_estar: $('Selecionar Quest (Rotação)').item.json.precisa_bem_estar, humor_nivel: $('Selecionar Quest (Rotação)').item.json.humor_nivel, energia_nivel: $('Selecionar Quest (Rotação)').item.json.energia_nivel, ultimas_conversas: $('Selecionar Quest (Rotação)').item.json.ultimas_conversas, a_fazer: $('Selecionar Quest (Rotação)').item.json.quests_a_fazer, fazendo: $('Selecionar Quest (Rotação)').item.json.quests_fazendo } }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "usuario_id",
                "displayName": "usuario_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "nome_preferencia",
                "displayName": "nome_preferencia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "tom_conversa",
                "displayName": "tom_conversa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "whats_number",
                "displayName": "whats_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "lembretes_canais",
                "displayName": "lembretes_canais",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array"
              },
              {
                "id": "push_tokens",
                "displayName": "push_tokens",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array"
              },
              {
                "id": "tipo_notificacao",
                "displayName": "tipo_notificacao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "contexto",
                "displayName": "contexto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "1e44efc4-a0c5-45f7-84b8-9c9eb66dbc0c",
        "name": "Call sw_mentor_notificacoes (quests)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          752,
          80
        ]
      },
      {
        "parameters": {},
        "id": "3e1827fe-41ba-49cb-b284-f6b480dddcfe",
        "name": "Sem Quest (skip)",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          432,
          368
        ]
      },
      {
        "parameters": {
          "content": "## Notificação Quests v2.0.0\n\n### Rotação de 5 Categorias\n\n| Ordem | Categoria |\n|-------|----------|\n| 1 | TCC |\n| 2 | Estoicismo |\n| 3 | Sabotador |\n| 4 | Personalizada |\n| 5 | Objetivo |\n\n### Regras\n\n1. **Rotação sequencial** - cada dia próxima categoria\n2. **Sem quest?** - pula para próxima disponível\n3. **Humor OU Energia < 5** - manda TCC/Estoicismo (bem-estar)\n\n### Contexto para o Mentor\n\n```json\n{\n  \"quest_selecionada\": {...},\n  \"categoria_selecionada\": \"tcc\",\n  \"motivo_selecao\": \"rotacao_categoria\",\n  \"precisa_bem_estar\": false\n}\n```\n\n**O LLM NÃO decide a quest, apenas cria a mensagem.**",
          "height": 824,
          "width": 480
        },
        "id": "7250dc06-f19a-4d0d-b713-7c8444b5ef44",
        "name": "Regras Notificação Quests v2",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1184,
          -176
        ]
      }
    ],
    "connections": {
      "Trigger Conversas 09h": {
        "main": [
          [
            {
              "node": "usuarios_conversas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "usuarios_conversas": {
        "main": [
          [
            {
              "node": "Loop Conversas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Conversas": {
        "main": [
          [],
          [
            {
              "node": "Call sw_mentor_notificacoes (conversas)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call sw_mentor_notificacoes (conversas)": {
        "main": [
          [
            {
              "node": "Loop Conversas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Quests 15h": {
        "main": [
          [
            {
              "node": "usuarios_elegiveis_quests",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "usuarios_elegiveis_quests": {
        "main": [
          [
            {
              "node": "Selecionar Quest (Rotação)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Selecionar Quest (Rotação)": {
        "main": [
          [
            {
              "node": "Tem Quest?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tem Quest?": {
        "main": [
          [
            {
              "node": "Loop Quests",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sem Quest (skip)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Quests": {
        "main": [
          [],
          [
            {
              "node": "Call sw_mentor_notificacoes (quests)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call sw_mentor_notificacoes (quests)": {
        "main": [
          [
            {
              "node": "Loop Quests",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Aldo Santos",
    "name": null,
    "description": null
  }
}
