backups/n8n/job_batch_atualiza_jornada.json
{
  "createdAt": "2025-11-07T15:22:00.000Z",
  "id": "job_batch_atualiza_jornada",
  "name": "job_batch_atualiza_jornada",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "9b7a7e0d-aaf7-4b9e-9a4d-99855680e0de",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id\nFROM public.usuarios u\nWHERE COALESCE(u.ativo, true) = true;"
      },
      "id": "5126a72e-5b09-4b6b-9c2f-473c1a7eea3c",
      "name": "Listar Usuários",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "8cb8409b-0e7f-4490-b5ee-b770efab2fd8",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "cachedResultName": "sw_calcula_jornada",
          "cachedResultUrl": "/workflow/swCalcJornada01",
          "mode": "list",
          "value": "swCalcJornada01"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "0d7d5224-8a15-4a76-84a2-16b9f8347f8c",
      "name": "Executar Atualiza Jornada",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {},
      "id": "0b0745c0-84ab-4815-8e34-a4f825705ee5",
      "name": "Concluído",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        432,
        0
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Listar Usuários",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Usuários": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Executar Atualiza Jornada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Concluído",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Atualiza Jornada": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "job-batch-atualiza-jornada-v1",
  "triggerCount": 0,
  "shared": []
}
