backups/n8n/job_notificacoes_lembretes.json
{
  "createdAt": "2025-12-03T16:50:49.703Z",
  "id": "VHN99nCeauiBMoMD",
  "name": "job_notificacoes_lembretes",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT \n  n.usuario_id, \n  n.lembretes_ativo, \n  n.lembretes_periodo, \n  n.lembretes_conversas_diarias, \n  n.lembretes_quests, \n  n.lembretes_conquistas, \n  n.lembretes_canais\nFROM notificacoes n\nWHERE n.lembretes_ativo = true\n  AND (\n    (n.lembretes_canais && ARRAY['push']::text[] \n     AND EXISTS (SELECT 1 FROM dispositivos_push dp WHERE dp.usuario_id = n.usuario_id))\n    OR\n    (n.lembretes_canais && ARRAY['whatsapp']::text[] \n     AND EXISTS (SELECT 1 FROM usuarios u WHERE u.id = n.usuario_id AND u.whatsapp_numero IS NOT NULL))\n  );",
        "options": {}
      },
      "id": "buscar-usuarios",
      "name": "Buscar Usuários com Notificações",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Verificar se estamos no período correto\nconst horaAtual = new Date().getHours();\nlet periodoAtual = 'manha';\n\nif (horaAtual >= 6 && horaAtual < 12) {\n  periodoAtual = 'manha';\n} else if (horaAtual >= 12 && horaAtual < 18) {\n  periodoAtual = 'tarde';\n} else if (horaAtual >= 18 || horaAtual < 6) {\n  periodoAtual = 'noite';\n}\n\n// Filtrar apenas usuários com período correspondente\nconst items = $input.all();\nconst filtered = items.filter(item => {\n  const periodoUsuario = item.json.lembretes_periodo || 'manha';\n  return periodoUsuario === periodoAtual;\n});\n\nreturn filtered.map(item => ({\n  json: {\n    ...item.json,\n    periodo_atual: periodoAtual\n  }\n}));"
      },
      "id": "verificar-periodo",
      "name": "Verificar Período",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  dp.usuario_id, \n  dp.token,\n  n.lembretes_conversas_diarias,\n  n.lembretes_quests,\n  n.lembretes_conquistas,\n  n.lembretes_canais\nFROM dispositivos_push dp\nINNER JOIN notificacoes n ON n.usuario_id = dp.usuario_id\nWHERE dp.usuario_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id] }}"
        }
      },
      "id": "buscar-tokens",
      "name": "Buscar Tokens Push",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  u.id AS usuario_id,\n  u.whatsapp_numero,\n  n.lembretes_conversas_diarias,\n  n.lembretes_quests,\n  n.lembretes_conquistas,\n  n.lembretes_canais\nFROM usuarios u\nINNER JOIN notificacoes n ON n.usuario_id = u.id\nWHERE u.id = $1::uuid\n  AND u.whatsapp_numero IS NOT NULL;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id] }}"
        }
      },
      "id": "buscar-whatsapp",
      "name": "Buscar WhatsApp",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        128
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Verificar conversas pendentes\n-- 1. Meta diária: verificar se teve conversa hoje\n-- 2. Conversas não terminadas: verificar status 'incompleta' na tabela usr_chat\nWITH hoje AS (\n  SELECT CURRENT_DATE AS data_hoje\n),\nconversas_hoje AS (\n  SELECT \n    u.id AS usuario_id,\n    COUNT(DISTINCT uc.id) AS total_conversas_hoje\n  FROM usuarios u\n  CROSS JOIN hoje\n  LEFT JOIN usr_chat uc ON uc.usuario_id = u.id \n    AND DATE(uc.criado_em) = hoje.data_hoje\n  WHERE u.id = $1::uuid\n  GROUP BY u.id\n),\nconversas_incompletas AS (\n  SELECT \n    uc.usuario_id,\n    COUNT(*) AS total_incompletas\n  FROM usr_chat uc\n  WHERE uc.usuario_id = $1::uuid\n    AND uc.status = 'incompleta'\n    AND uc.data_conversa = CURRENT_DATE\n  GROUP BY uc.usuario_id\n),\nconversas_pendentes AS (\n  SELECT \n    u.id AS usuario_id,\n    CASE \n      WHEN ch.total_conversas_hoje = 0 OR ch.total_conversas_hoje IS NULL THEN true\n      ELSE false\n    END AS sem_conversa_hoje,\n    CASE\n      WHEN ci.total_incompletas > 0 THEN true\n      ELSE false\n    END AS tem_conversa_incompleta\n  FROM usuarios u\n  LEFT JOIN conversas_hoje ch ON ch.usuario_id = u.id\n  LEFT JOIN conversas_incompletas ci ON ci.usuario_id = u.id\n  WHERE u.id = $1::uuid\n)\nSELECT \n  cp.usuario_id,\n  cp.sem_conversa_hoje,\n  cp.tem_conversa_incompleta,\n  CASE\n    WHEN cp.sem_conversa_hoje THEN 'sem_conversa_hoje'\n    WHEN cp.tem_conversa_incompleta THEN 'conversa_pendente'\n    ELSE NULL\n  END AS tipo_pendencia\nFROM conversas_pendentes cp\nWHERE cp.sem_conversa_hoje = true OR cp.tem_conversa_incompleta = true;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id] }}"
        }
      },
      "id": "verificar-conversas",
      "name": "Verificar Conversas Pendentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        256
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Verificar quests recorrentes de hoje não concluídas\nSELECT \n  qr.usuarios_quest_id,\n  uq.usuario_id,\n  qr.data_planejada,\n  qr.status,\n  COALESCE(uq.config->>'titulo', 'Quest') AS quest_titulo\nFROM quests_recorrencias qr\nINNER JOIN usuarios_quest uq ON uq.id = qr.usuarios_quest_id\nWHERE uq.usuario_id = $1::uuid\n  AND qr.data_planejada = CURRENT_DATE\n  AND qr.status = 'pendente'\nORDER BY qr.data_planejada;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id] }}"
        }
      },
      "id": "verificar-quests",
      "name": "Verificar Quests Pendentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "merge-dados",
      "name": "Merge Dados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar notificações baseadas nas pendências encontradas\n// Suporte a múltiplos canais: push e whatsapp\n\nconst items = $input.all();\nconst notificacoes = [];\n\n// Agrupar por usuario_id\nconst porUsuario = {};\n\nfor (const item of items) {\n  const usuarioId = item.json.usuario_id;\n  if (!usuarioId) continue;\n  \n  if (!porUsuario[usuarioId]) {\n    porUsuario[usuarioId] = {\n      usuario_id: usuarioId,\n      tokens: [],\n      whatsapp_numero: null,\n      lembretes_canais: [],\n      lembretes_conversas_diarias: false,\n      lembretes_quests: false,\n      conversas: { sem_conversa_hoje: false, conversa_pendente: false },\n      quests: []\n    };\n  }\n  \n  // Token push\n  if (item.json.token) {\n    if (!porUsuario[usuarioId].tokens.includes(item.json.token)) {\n      porUsuario[usuarioId].tokens.push(item.json.token);\n    }\n  }\n  \n  // WhatsApp\n  if (item.json.whatsapp_numero) {\n    porUsuario[usuarioId].whatsapp_numero = item.json.whatsapp_numero;\n  }\n  \n  // Canais\n  if (item.json.lembretes_canais) {\n    porUsuario[usuarioId].lembretes_canais = item.json.lembretes_canais;\n  }\n  \n  // Configurações\n  if (item.json.lembretes_conversas_diarias !== undefined) {\n    porUsuario[usuarioId].lembretes_conversas_diarias = item.json.lembretes_conversas_diarias;\n  }\n  if (item.json.lembretes_quests !== undefined) {\n    porUsuario[usuarioId].lembretes_quests = item.json.lembretes_quests;\n  }\n  \n  // Conversas pendentes\n  if (item.json.tipo_pendencia === 'sem_conversa_hoje') {\n    porUsuario[usuarioId].conversas.sem_conversa_hoje = true;\n  } else if (item.json.tipo_pendencia === 'conversa_pendente') {\n    porUsuario[usuarioId].conversas.conversa_pendente = true;\n  }\n  \n  // Quests pendentes\n  if (item.json.quest_titulo) {\n    const questJaExiste = porUsuario[usuarioId].quests.some(\n      q => q.titulo === item.json.quest_titulo\n    );\n    if (!questJaExiste) {\n      porUsuario[usuarioId].quests.push({\n        titulo: item.json.quest_titulo,\n        data_planejada: item.json.data_planejada\n      });\n    }\n  }\n}\n\n// Criar notificações por canal\nfor (const usuarioId in porUsuario) {\n  const dados = porUsuario[usuarioId];\n  const mensagens = [];\n  \n  // Conversas (só se habilitado)\n  if (dados.lembretes_conversas_diarias) {\n    if (dados.conversas.sem_conversa_hoje) {\n      mensagens.push('Você ainda não fez sua conversa diária hoje');\n    }\n    if (dados.conversas.conversa_pendente) {\n      mensagens.push('Você tem uma conversa não terminada');\n    }\n  }\n  \n  // Quests (só se habilitado)\n  if (dados.lembretes_quests && dados.quests.length > 0) {\n    mensagens.push(`Você tem ${dados.quests.length} quest${dados.quests.length > 1 ? 's' : ''} pendente${dados.quests.length > 1 ? 's' : ''} hoje`);\n  }\n  \n  // Só criar notificação se houver pendências\n  if (mensagens.length > 0) {\n    const titulo = 'MindQuest - Lembretes';\n    const corpo = mensagens.join('. ') + '.';\n    \n    // Push: uma notificação por dispositivo\n    if (dados.lembretes_canais.includes('push') && dados.tokens.length > 0) {\n      for (const token of dados.tokens) {\n        notificacoes.push({\n          json: {\n            usuario_id: dados.usuario_id,\n            canal: 'push',\n            token: token,\n            titulo: titulo,\n            corpo: corpo,\n            tipo: 'lembrete'\n          }\n        });\n      }\n    }\n    \n    // WhatsApp: uma notificação por usuário\n    if (dados.lembretes_canais.includes('whatsapp') && dados.whatsapp_numero) {\n      notificacoes.push({\n        json: {\n          usuario_id: dados.usuario_id,\n          canal: 'whatsapp',\n          whatsapp_numero: dados.whatsapp_numero,\n          titulo: titulo,\n          corpo: corpo,\n          tipo: 'lembrete'\n        }\n      });\n    }\n  }\n}\n\nreturn notificacoes;"
      },
      "id": "preparar-notificacoes",
      "name": "Preparar Notificações",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        128
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "push",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            }
          ]
        },
        "options": {}
      },
      "id": "switch-canal",
      "name": "Switch Canal",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1344,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mindquest.pt/api/send-push",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            },
            {
              "name": "titulo",
              "value": "={{ $json.titulo }}"
            },
            {
              "name": "corpo",
              "value": "={{ $json.corpo }}"
            },
            {
              "name": "usuario_id",
              "value": "={{ $json.usuario_id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $json.tipo || \"lembrete\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "enviar-push",
      "name": "Enviar Push",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        32
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ \"DJB5qWudX1Hqap1O\" }}",
        "options": {
          "inputData": "={{ { \"instance\": \"MindQuest\", \"numero\": $json.whatsapp_numero, \"mensagem\": $json.corpo } }}"
        }
      },
      "id": "enviar-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1568,
        224
      ]
    },
    {
      "parameters": {
        "numberInputs": 2
      },
      "id": "merge-resultados",
      "name": "Merge Resultados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1792,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Processar respostas de ambos os canais\nconst items = $input.all();\nconst resultados = [];\n\nfor (const item of items) {\n  const response = item.json;\n  const usuarioId = item.pairedItem?.item?.json?.usuario_id || response.usuario_id;\n  const canal = item.pairedItem?.item?.json?.canal || 'desconhecido';\n  \n  // Push notification\n  if (response.success !== undefined) {\n    resultados.push({\n      json: {\n        usuario_id: usuarioId,\n        canal: canal,\n        sucesso: response.success,\n        enviado_em: response.enviado_em || new Date().toISOString(),\n        erro: response.error || null\n      },\n      pairedItem: item.pairedItem\n    });\n  }\n  // WhatsApp (sw_evolution_send_message_v2)\n  else if (response.status !== undefined) {\n    resultados.push({\n      json: {\n        usuario_id: usuarioId,\n        canal: canal,\n        sucesso: response.status === 'success',\n        enviado_em: new Date().toISOString(),\n        erro: response.error || null\n      },\n      pairedItem: item.pairedItem\n    });\n  }\n  // Resposta genérica\n  else {\n    resultados.push({\n      json: {\n        usuario_id: usuarioId,\n        canal: canal,\n        sucesso: true,\n        enviado_em: new Date().toISOString()\n      },\n      pairedItem: item.pairedItem\n    });\n  }\n}\n\nreturn resultados;"
      },
      "id": "processar-resposta",
      "name": "Processar Respostas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst sucessos = items.filter(i => i.json.sucesso === true).length;\nconst falhas = items.filter(i => i.json.sucesso === false).length;\n\n// Contar por canal\nconst porCanal = {};\nfor (const item of items) {\n  const canal = item.json.canal || 'desconhecido';\n  if (!porCanal[canal]) {\n    porCanal[canal] = { total: 0, sucessos: 0, falhas: 0 };\n  }\n  porCanal[canal].total++;\n  if (item.json.sucesso) {\n    porCanal[canal].sucessos++;\n  } else {\n    porCanal[canal].falhas++;\n  }\n}\n\nreturn [{\n  json: {\n    total: items.length,\n    sucessos,\n    falhas,\n    por_canal: porCanal,\n    timestamp: new Date().toISOString(),\n    status: sucessos > 0 ? 'enviado' : 'erro'\n  }\n}];"
      },
      "id": "log-resultado",
      "name": "Log Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        128
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger (Teste)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        96
      ]
    }
  ],
  "connections": {
    "Buscar Usuários com Notificações": {
      "main": [
        [
          {
            "node": "Verificar Período",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Período": {
      "main": [
        [
          {
            "node": "Buscar Tokens Push",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Tokens Push": {
      "main": [
        [
          {
            "node": "Verificar Conversas Pendentes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verificar Quests Pendentes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar WhatsApp": {
      "main": [
        [
          {
            "node": "Merge Dados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Verificar Conversas Pendentes": {
      "main": [
        [
          {
            "node": "Merge Dados",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Verificar Quests Pendentes": {
      "main": [
        [
          {
            "node": "Merge Dados",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Dados": {
      "main": [
        [
          {
            "node": "Preparar Notificações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Notificações": {
      "main": [
        [
          {
            "node": "Switch Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Canal": {
      "main": [
        [
          {
            "node": "Enviar Push",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Push": {
      "main": [
        [
          {
            "node": "Merge Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Merge Resultados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Resultados": {
      "main": [
        [
          {
            "node": "Processar Respostas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Respostas": {
      "main": [
        [
          {
            "node": "Log Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Teste)": {
      "main": [
        [
          {
            "node": "Buscar Usuários com Notificações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "shared": [
    {
      "createdAt": "2025-12-03T16:50:49.703Z",
      "role": "workflow:owner",
      "workflowId": "VHN99nCeauiBMoMD",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
