backups/n8n/job_experts.json
{
  "createdAt": "2025-12-15T23:11:16.175Z",
  "id": "BdfMcFNxLd0CbwZN",
  "name": "job_experts",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "trigger-v3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        400,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- v7: mantém regras atuais e inclui \"processando\" sempre (com bloqueio por expert >= 5)\nSELECT \n  c.id AS chat_id,\n  c.usuario_id,\n  c.data_conversa,\n  c.status,\n  c.total_interactions,\n  c.atualizado_em,\n  c.processado_em,\n  u.nome_preferencia AS usr_nome_preferencia\nFROM usr_chat c\nJOIN usuarios u ON u.id = c.usuario_id\nWHERE \n  -- Mantém regra atual: exclui chats com limite de falhas atingido\n  COALESCE((c.experts_processados->>'falhas_consecutivas')::int, 0) < 5\n  AND (\n    -- Mantém regra atual: novos chats pendentes\n    (c.atualizado_em > COALESCE(c.processado_em, '1970-01-01'::timestamp) AND c.status != 'processando')\n    -- NOVO: se está processando, sempre tenta, desde que não exista expert bloqueado (erro com tentativas >= 5)\n    OR (\n      c.status = 'processando'\n      AND NOT EXISTS (\n        SELECT 1\n        FROM jsonb_each(COALESCE(c.experts_processados, '{}'::jsonb)) AS e(key, value)\n        WHERE key NOT IN ('inicio', 'tentativas', 'ciclo', 'falhas_consecutivas', 'ultimo_processamento')\n          AND (value->>'status') = 'erro'\n          AND COALESCE((value->>'tentativas')::int, 0) >= 5\n      )\n    )\n  )\nORDER BY c.atualizado_em DESC\nLIMIT 50;",
        "options": {}
      },
      "id": "busca-chats-v3",
      "name": "Buscar Chats Pendentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-v3",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        848,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// v4: Prepara dados + marca status processando\nconst item = $input.first().json;\n\nreturn [{\n  json: {\n    chat_id: item.chat_id,\n    usuario_id: item.usuario_id,\n    data_conversa: item.data_conversa,\n    status_anterior: item.status,\n    tentativas: item.tentativas || 0,\n    usr_nome_preferencia: item.usr_nome_preferencia || 'Usuário'\n  }\n}];"
      },
      "id": "prepara-v3",
      "name": "Preparar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        320
      ]
    },
    {
      "parameters": {
        "content": "## job_experts v4 - Com Retry\n\n### Fluxo\n1. Busca chats pendentes OU em retry (status=processando, tentativas<5)\n2. Marca status='processando' + incrementa tentativas\n3. Chama sw_expert\n4. Se sucesso: status='finalizado'\n5. Se erro: mantém 'processando' para retry\n\n### Regras\n- Máx 5 tentativas por chat\n- Só finaliza se expert retornar sucesso\n- Log em usr_chat.experts_processado\n\n### Frequência\n- A cada 30 minutos",
        "height": 704,
        "width": 300
      },
      "id": "regras-v3",
      "name": "Regras job_experts_v3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        80
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S8RDRKmUOvoynWol",
          "mode": "list",
          "cachedResultUrl": "/workflow/S8RDRKmUOvoynWol",
          "cachedResultName": "sw_expert"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $('Buscar Chats Pendentes').item.json.usuario_id }}",
            "chat_id": "={{ $('Buscar Chats Pendentes').item.json.chat_id }}",
            "data_conversa": "={{ $('Buscar Chats Pendentes').item.json.data_conversa }}",
            "usr_nome_preferencia": "={{ $('Buscar Chats Pendentes').item.json.usr_nome_preferencia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data_conversa",
              "displayName": "data_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "usr_nome_preferencia",
              "displayName": "usr_nome_preferencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "chama-experts-v3",
      "name": "Chamar sw_experts",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1472,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- v4: Marca status como processando e incrementa tentativas\nUPDATE usr_chat \nSET \n  status = 'processando',\n  experts_processados = COALESCE(experts_processados, '{}'::jsonb) || \n    jsonb_build_object('tentativas', COALESCE((experts_processados->>'tentativas')::int, 0) + 1, 'inicio', NOW()::text)\nWHERE id = $1::uuid\nRETURNING id, status, experts_processados;",
        "options": {
          "queryReplacement": "={{ [$json.chat_id] }}"
        }
      },
      "id": "marca-processando-v4",
      "name": "Marcar Processando",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1264,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscar Chats Pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Chats Pendentes": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Preparar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados": {
      "main": [
        [
          {
            "node": "Marcar Processando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Processando": {
      "main": [
        [
          {
            "node": "Chamar sw_experts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar sw_experts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-12-21T10:00:14.049-05:00",
          "Readable date": "December 21st 2025, 10:00:14 am",
          "Readable time": "10:00:14 am",
          "Day of week": "Sunday",
          "Year": "2025",
          "Month": "December",
          "Day of month": "21",
          "Hour": "10",
          "Minute": "00",
          "Second": "14",
          "Timezone": "America/New_York (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "activeVersionId": "73e389d4-599c-4ec0-9767-c4146bb8a52e",
  "shared": [
    {
      "createdAt": "2025-12-15T23:11:16.175Z",
      "role": "workflow:owner",
      "workflowId": "BdfMcFNxLd0CbwZN",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "createdAt": "2025-12-24T16:56:06.709Z",
    "workflowId": "BdfMcFNxLd0CbwZN",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 30
              }
            ]
          }
        },
        "id": "trigger-v3",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          400,
          304
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- v7: mantém regras atuais e inclui \"processando\" sempre (com bloqueio por expert >= 5)\nSELECT \n  c.id AS chat_id,\n  c.usuario_id,\n  c.data_conversa,\n  c.status,\n  c.total_interactions,\n  c.atualizado_em,\n  c.processado_em,\n  u.nome_preferencia AS usr_nome_preferencia\nFROM usr_chat c\nJOIN usuarios u ON u.id = c.usuario_id\nWHERE \n  -- Mantém regra atual: exclui chats com limite de falhas atingido\n  COALESCE((c.experts_processados->>'falhas_consecutivas')::int, 0) < 5\n  AND (\n    -- Mantém regra atual: novos chats pendentes\n    (c.atualizado_em > COALESCE(c.processado_em, '1970-01-01'::timestamp) AND c.status != 'processando')\n    -- NOVO: se está processando, sempre tenta, desde que não exista expert bloqueado (erro com tentativas >= 5)\n    OR (\n      c.status = 'processando'\n      AND NOT EXISTS (\n        SELECT 1\n        FROM jsonb_each(COALESCE(c.experts_processados, '{}'::jsonb)) AS e(key, value)\n        WHERE key NOT IN ('inicio', 'tentativas', 'ciclo', 'falhas_consecutivas', 'ultimo_processamento')\n          AND (value->>'status') = 'erro'\n          AND COALESCE((value->>'tentativas')::int, 0) >= 5\n      )\n    )\n  )\nORDER BY c.atualizado_em DESC\nLIMIT 50;",
          "options": {}
        },
        "id": "busca-chats-v3",
        "name": "Buscar Chats Pendentes",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          624,
          304
        ],
        "credentials": {
          "postgres": {
            "id": "8ySWxtSO7gYK5uue",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "loop-v3",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          848,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "// v4: Prepara dados + marca status processando\nconst item = $input.first().json;\n\nreturn [{\n  json: {\n    chat_id: item.chat_id,\n    usuario_id: item.usuario_id,\n    data_conversa: item.data_conversa,\n    status_anterior: item.status,\n    tentativas: item.tentativas || 0,\n    usr_nome_preferencia: item.usr_nome_preferencia || 'Usuário'\n  }\n}];"
        },
        "id": "prepara-v3",
        "name": "Preparar Dados",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1088,
          320
        ]
      },
      {
        "parameters": {
          "content": "## job_experts v4 - Com Retry\n\n### Fluxo\n1. Busca chats pendentes OU em retry (status=processando, tentativas<5)\n2. Marca status='processando' + incrementa tentativas\n3. Chama sw_expert\n4. Se sucesso: status='finalizado'\n5. Se erro: mantém 'processando' para retry\n\n### Regras\n- Máx 5 tentativas por chat\n- Só finaliza se expert retornar sucesso\n- Log em usr_chat.experts_processado\n\n### Frequência\n- A cada 30 minutos",
          "height": 704,
          "width": 300
        },
        "id": "regras-v3",
        "name": "Regras job_experts_v3",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -48,
          80
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "S8RDRKmUOvoynWol",
            "mode": "list",
            "cachedResultUrl": "/workflow/S8RDRKmUOvoynWol",
            "cachedResultName": "sw_expert"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "usuario_id": "={{ $('Buscar Chats Pendentes').item.json.usuario_id }}",
              "chat_id": "={{ $('Buscar Chats Pendentes').item.json.chat_id }}",
              "data_conversa": "={{ $('Buscar Chats Pendentes').item.json.data_conversa }}",
              "usr_nome_preferencia": "={{ $('Buscar Chats Pendentes').item.json.usr_nome_preferencia }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "usuario_id",
                "displayName": "usuario_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "data_conversa",
                "displayName": "data_conversa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "usr_nome_preferencia",
                "displayName": "usr_nome_preferencia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": true,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "id": "chama-experts-v3",
        "name": "Chamar sw_experts",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1472,
          320
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- v4: Marca status como processando e incrementa tentativas\nUPDATE usr_chat \nSET \n  status = 'processando',\n  experts_processados = COALESCE(experts_processados, '{}'::jsonb) || \n    jsonb_build_object('tentativas', COALESCE((experts_processados->>'tentativas')::int, 0) + 1, 'inicio', NOW()::text)\nWHERE id = $1::uuid\nRETURNING id, status, experts_processados;",
          "options": {
            "queryReplacement": "={{ [$json.chat_id] }}"
          }
        },
        "id": "marca-processando-v4",
        "name": "Marcar Processando",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1264,
          320
        ],
        "credentials": {
          "postgres": {
            "id": "8ySWxtSO7gYK5uue",
            "name": "Postgres account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Buscar Chats Pendentes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Chats Pendentes": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Preparar Dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Dados": {
        "main": [
          [
            {
              "node": "Marcar Processando",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Marcar Processando": {
        "main": [
          [
            {
              "node": "Chamar sw_experts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chamar sw_experts": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Aldo Santos",
    "name": null,
    "description": null
  }
}
