backups/n8n/mentor_mindquest_v3.json
{
  "createdAt": "2025-12-11T01:57:55.671Z",
  "id": "GGJQTfLsJSoRW3I0",
  "name": "mentor_mindquest_v3",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usr_id"
            },
            {
              "name": "body.instance"
            },
            {
              "name": "body.data.key.remoteJid"
            },
            {
              "name": "body.data.key.id"
            },
            {
              "name": "body.data.key.fromMe",
              "type": "boolean"
            },
            {
              "name": "body.data.pushName"
            },
            {
              "name": "body.data.message.conversation"
            },
            {
              "name": "body.data.messageType"
            }
          ]
        }
      },
      "id": "71c3f8a2-8d5c-4d24-8b05-8217d905a739",
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -544,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "fVrO1PaqFuA957u0",
          "mode": "list"
        }
      },
      "id": "9822ca0d-d33a-4c70-ba03-a202cba76dc9",
      "name": "config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -368,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  u.nome,\n  u.id,\n  u.nome_preferencia,\n  u.nome_assistente,\n  u.token_acesso,\n  u.cronotipo_detectado,\n  u.whatsapp_numero,\n  u.faixa_etaria,\n  u.sobre_voce,\n  u.tom_conversa\nFROM usuarios u\nWHERE u.id = $1;",
        "options": {
          "queryReplacement": "={{ $('start').first().json.usr_id }}"
        }
      },
      "id": "89cea24f-05ea-44d4-9aaa-cd3d45322ae8",
      "name": "busca_dados_usr",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        -304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH objetivos AS (\n  SELECT json_agg(json_build_object('id', o.id, 'titulo', o.titulo, 'area_vida', av.nome, 'is_padrao', o.is_padrao))\n  FROM usuarios_objetivos o\n  JOIN areas_vida_catalogo av ON o.area_vida_id = av.id\n  WHERE o.usuario_id = $1 AND o.status = 'ativo'\n),\nobjetivo_padrao AS (\n  SELECT id FROM usuarios_objetivos\n  WHERE usuario_id = $1 AND is_padrao = TRUE AND status = 'ativo'\n  LIMIT 1\n),\nsabotador AS (\n  SELECT sabotador_id, COUNT(*) AS total_deteccoes\n  FROM usuarios_sabotadores\n  WHERE usuario_id = $1\n  GROUP BY sabotador_id\n  ORDER BY COUNT(*) DESC\n  LIMIT 1\n),\nperfil_bigfive AS (\n  SELECT perfil_primario, COUNT(*) AS total_deteccoes, ROUND(AVG(confianca_media)::numeric, 2) AS confianca_media\n  FROM usuarios_perfis\n  WHERE usuario_id = $1\n  GROUP BY perfil_primario\n  ORDER BY COUNT(*) DESC, AVG(confianca_media) DESC\n  LIMIT 1\n),\nquests_count AS (\n  SELECT \n    COUNT(*) FILTER (WHERE status = 'ativa') AS total_ativas,\n    COUNT(*) FILTER (WHERE status = 'disponivel') AS total_disponiveis\n  FROM usuarios_quest\n  WHERE usuario_id = $1 AND status IN ('ativa', 'disponivel')\n),\nhistorico AS (\n  SELECT json_agg(json_build_object('id', c.id, 'data_conversa', c.data_conversa, 'resumo_conversa', c.resumo_conversa))\n  FROM (\n    SELECT id, data_conversa, resumo_conversa\n    FROM usr_chat\n    WHERE usuario_id = $1 \n      AND resumo_conversa IS NOT NULL\n      AND data_conversa < CURRENT_DATE\n    ORDER BY data_conversa DESC, horario_inicio DESC\n    LIMIT 5\n  ) c\n),\nnivel AS (\n  SELECT nivel_atual, titulo_nivel FROM usuarios_conquistas\n  WHERE usuario_id = $1\n  LIMIT 1\n),\nsessao_hoje AS (\n  SELECT id, data_conversa, status, mensagens\n  FROM usr_chat\n  WHERE usuario_id = $1 AND data_conversa = CURRENT_DATE\n  ORDER BY horario_inicio DESC\n  LIMIT 1\n),\ntotal_conversas AS (\n  SELECT COUNT(*) as total FROM usr_chat WHERE usuario_id = $1\n)\nSELECT\n  (SELECT * FROM objetivos) AS objetivos_especificos,\n  (SELECT id FROM objetivo_padrao) AS objetivo_padrao_id,\n  (SELECT sabotador_id FROM sabotador) AS sabotador_mais_ativo,\n  (SELECT perfil_primario FROM perfil_bigfive) AS perfil_bigfive_primario,\n  (SELECT total_ativas FROM quests_count) AS quests_ativas_total,\n  (SELECT total_disponiveis FROM quests_count) AS quests_disponiveis_total,\n  (SELECT * FROM historico) AS ultimas_conversas,\n  (SELECT nivel_atual FROM nivel) AS nivel_atual,\n  (SELECT titulo_nivel FROM nivel) AS titulo_nivel,\n  (SELECT id FROM sessao_hoje) AS sessao_hoje_id,\n  (SELECT status FROM sessao_hoje) AS sessao_hoje_status,\n  (SELECT mensagens FROM sessao_hoje) AS sessao_hoje_mensagens,\n  (SELECT total FROM total_conversas) AS total_conversas;",
        "options": {
          "queryReplacement": "={{ $('start').first().json.usr_id }}"
        }
      },
      "id": "342ad85e-bb3d-4bdf-9755-ed6594bade36",
      "name": "busca_contexto",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        -304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CONTEXTO COMPLETO v7 - Ignora objetivo padrão no flag tem_objetivos\nconst usuarioId = $('start').first().json.usr_id;\nconst config = $('config').first().json;\nconst dadosUsr = $('busca_dados_usr').first().json;\nconst contexto = $('busca_contexto').first().json;\n\n// Notificação recente (se houver)\nconst notifResult = $('busca_notificacao').first()?.json;\nconst temNotificacao = notifResult && notifResult.id;\nconst notificacaoRecente = temNotificacao ? {\n  id: notifResult.id,\n  tipo: notifResult.tipo,\n  titulo: notifResult.titulo || '',\n  mensagem: notifResult.mensagem || '',\n  contexto_mentor: notifResult.contexto_mentor || '',\n  quests_mencionadas: notifResult.quests_mencionadas || [],\n  referencia_id: notifResult.referencia_id,\n  criado_em: notifResult.criado_em\n} : null;\n\n// Verifica se é primeira conversa\nconst totalConversas = Number(contexto?.total_conversas || 0);\nconst isPrimeiraConversa = totalConversas === 0;\n\n// Verifica se usuário tem objetivos ALÉM do padrão\nconst objetivos = contexto?.objetivos_especificos || [];\n\n// Filtra objetivos configuráveis (ignora padrão)\nconst objetivosConfigurados = Array.isArray(objetivos) \n  ? objetivos.filter(obj => !obj.is_padrao)\n  : [];\n\n// tem_objetivos = true apenas se tem objetivos ALÉM do padrão\nconst temObjetivos = objetivosConfigurados.length > 0;\n\n// Quests - apenas totais (detalhes via tool)\nconst questsAtivasTotal = Number(contexto?.quests_ativas_total || 0);\nconst questsDisponiveisTotal = Number(contexto?.quests_disponiveis_total || 0);\nconst temQuests = questsAtivasTotal > 0 || questsDisponiveisTotal > 0;\n\n// Sessão do dia\nconst sessaoHojeId = contexto?.sessao_hoje_id || null;\nconst sessaoHojeStatus = contexto?.sessao_hoje_status || null;\nconst sessaoHojeMensagens = contexto?.sessao_hoje_mensagens || [];\n\n// NOVO CICLO: não existe sessão OU sessão está finalizada\nconst isNovoCiclo = !sessaoHojeId || sessaoHojeStatus === 'finalizado';\n\n// Se é novo ciclo (sessão finalizada), reseta contador de interações\nconst mensagensArray = Array.isArray(sessaoHojeMensagens) ? sessaoHojeMensagens : [];\nconst interacaoAtual = isNovoCiclo ? 1 : mensagensArray.filter(m => m?.autor === 'usuario').length + 1;\n\n// Tom de conversa (default: empatico)\nconst tomConversa = dadosUsr?.tom_conversa || 'empatico';\n\nreturn [{\n  usuario_id: usuarioId,\n  nome_preferencia: dadosUsr?.nome_preferencia || null,\n  nome_assistente: dadosUsr?.nome_assistente || 'Mind',\n  whatsapp_numero: dadosUsr?.whatsapp_numero || null,\n  faixa_etaria: dadosUsr?.faixa_etaria || null,\n  sobre_voce: dadosUsr?.sobre_voce || null,\n  tom_conversa: tomConversa,\n  // Objetivos - separados para clareza\n  objetivos_especificos: objetivos,           // todos (incluindo padrão)\n  objetivos_configurados: objetivosConfigurados, // apenas os configuráveis\n  tem_objetivos: temObjetivos,                // true só se tem configurados\n  objetivo_padrao: contexto?.objetivo_padrao_id || null,\n  sabotador_mais_ativo: contexto?.sabotador_mais_ativo || null,\n  perfil_bigfive_primario: contexto?.perfil_bigfive_primario || null,\n  // Quests - apenas indicadores\n  tem_quests: temQuests,\n  quests_ativas_total: questsAtivasTotal,\n  quests_disponiveis_total: questsDisponiveisTotal,\n  // Histórico\n  ultimas_conversas: contexto?.ultimas_conversas || [],\n  nivel_atual: contexto?.nivel_atual || 1,\n  titulo_nivel: contexto?.titulo_nivel || 'Explorador',\n  total_conversas: totalConversas,\n  is_primeira_conversa: isPrimeiraConversa,\n  sessao_hoje_id: sessaoHojeId,\n  sessao_hoje_mensagens: sessaoHojeMensagens,\n  // Novo ciclo quando sessão finalizada\n  is_nova_sessao: isNovoCiclo,\n  is_novo_ciclo: isNovoCiclo,\n  sessao_anterior_finalizada: sessaoHojeStatus === 'finalizado',\n  interacao_atual: interacaoAtual,\n  // Notificação\n  tem_notificacao_recente: temNotificacao,\n  notificacao_recente: notificacaoRecente\n}];"
      },
      "id": "ddb2574a-aae5-4ba4-8578-a66f80e8aaee",
      "name": "contexto_completo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -304
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jUAvu7DUAzyqZhJd",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "body.instance": "={{ $('start').first().json['body.instance'] }}",
            "body.data.key.remoteJid": "={{ $('start').first().json['body.data.key.remoteJid'] }}",
            "body.data.key.id": "={{ $('start').first().json['body.data.key.id'] }}",
            "body.data.key.fromMe": "={{ $('start').first().json['body.data.key.fromMe'] }}",
            "body.data.pushName": "={{ $('start').first().json['body.data.pushName'] }}",
            "body.data.message.conversation": "={{ $('start').first().json['body.data.message.conversation'] }}",
            "body.data.messageType": "={{ $('start').first().json['body.data.messageType'] }}"
          }
        },
        "options": {}
      },
      "id": "011b8af0-f363-4cf3-810f-f4856ad5be63",
      "name": "transcricao",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        -304
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('start').first().json['body.instance'] }}{{ $('start').first().json.usr_id }}{{ $('busca_dados_usr').item.json.whatsapp_numero }}",
        "sessionTTL": 43200,
        "contextWindowLength": 50
      },
      "id": "24c2a3e5-004c-41f6-95c3-8d97e537a59f",
      "name": "memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        864,
        128
      ],
      "credentials": {
        "redis": {
          "id": "PB4zpLy1jLXDEzmH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "id": "19bb02c3-b2e3-43ce-ab74-c9387da7af6d",
      "name": "openrouter_model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        640,
        304
      ],
      "credentials": {
        "openRouterApi": {
          "id": "rSnkOnnAHyfayLJt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"mensagem_usuario\": \"Oi! Como você está hoje?\",\n  \"tema_atual\": {\n    \"titulo\": \"Rotina de férias\",\n    \"resumo\": [\"Definiu rotina 5h-22h\", \"Preocupação com sono\"],\n    \"decisoes\": [\"Academia às 5h\"]\n  },\n  \"checkpoint_encerramento\": false,\n  \"tema_atual_fechado\": false,\n  \"objetivo_sugerido\": null\n}",
        "autoFix": true
      },
      "id": "5580cfae-3f97-4190-bb5d-e5d32060d9dd",
      "name": "parser_mentor",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1520,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// PROCESSA RESPOSTA DO MENTOR v7 - trigger sem limite de interações\nconst output = $input.first()?.json?.output ?? {};\nconst contexto = $('contexto_completo').first().json;\nconst transcricao = $('transcricao').first().json;\n\n// Flags do mentor\nconst checkpointEncerramento = output.checkpoint_encerramento === true;\nconst temaFechado = output.tema_atual_fechado === true;\nconst objetivoSugerido = output.objetivo_sugerido || null;\n\n// Tema atual\nconst temaAtual = output.tema_atual || { titulo: '', resumo: [], decisoes: [] };\n\n// Trigger: apenas quando mentor sinaliza fechamento\nconst triggerExperts = temaFechado || checkpointEncerramento;\n\n// Prepara mensagens para gravar (incremental)\nconst mensagemUsuario = {\n  interaction: contexto.interacao_atual,\n  autor: 'usuario',\n  texto: transcricao.message || '',\n  timestamp: new Date().toISOString()\n};\n\nconst mensagemMentor = {\n  interaction: contexto.interacao_atual,\n  autor: 'agente',\n  texto: output.mensagem_usuario || '',\n  timestamp: new Date().toISOString(),\n  tema: temaAtual.titulo || null\n};\n\n// Mensagens existentes + novas\nconst mensagensExistentes = Array.isArray(contexto.sessao_hoje_mensagens) \n  ? contexto.sessao_hoje_mensagens \n  : [];\nconst mensagensAtualizadas = [...mensagensExistentes, mensagemUsuario, mensagemMentor];\n\nreturn [{\n  user_message: output.mensagem_usuario || '',\n  checkpoint_encerramento: checkpointEncerramento,\n  tema_fechado: temaFechado,\n  tema_atual: temaAtual,\n  trigger_experts: triggerExperts,\n  objetivo_sugerido: objetivoSugerido,\n  interacao_atual: contexto.interacao_atual,\n  sessao_id: contexto.sessao_hoje_id,\n  is_nova_sessao: contexto.is_nova_sessao,\n  mensagens_atualizadas: JSON.stringify(mensagensAtualizadas),\n  total_interacoes: mensagensAtualizadas.filter(m => m.autor === 'usuario').length\n}];"
      },
      "id": "760b8005-c46f-4425-95be-552b5bf0aaa5",
      "name": "processa_resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Upsert: cria sessão OU reativa sessão finalizada\nWITH upsert AS (\n  INSERT INTO usr_chat (usuario_id, data_conversa, horario_inicio, status, mensagens, total_interactions)\n  VALUES ($1, CURRENT_DATE, NOW(), 'em_andamento', $2::jsonb, $3)\n  ON CONFLICT (usuario_id, data_conversa)\n  DO UPDATE SET \n    mensagens = $2::jsonb,\n    total_interactions = $3,\n    status = 'em_andamento',\n    horario_fim = NULL,\n    atualizado_em = NOW()\n  WHERE usr_chat.data_conversa = CURRENT_DATE\n  RETURNING id, usuario_id, data_conversa, status\n)\nSELECT * FROM upsert\nUNION ALL\nSELECT id, usuario_id, data_conversa, status \nFROM usr_chat \nWHERE usuario_id = $1 AND data_conversa = CURRENT_DATE\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [ $('contexto_completo').first().json.usuario_id, $('processa_resposta').first().json.mensagens_atualizadas, $('processa_resposta').first().json.total_interacoes ] }}"
        }
      },
      "id": "e7d31eb3-ed23-4e4f-bd7d-8bbf7a9bbfd7",
      "name": "grava_mensagem",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        -304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DJB5qWudX1Hqap1O",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "instanceName": "={{ $('start').first().json['body.instance'] }}",
            "remoteJidOrNumber": "={{ $('start').first().json['body.data.key.remoteJid'] }}",
            "messageText": "={{ $('processa_resposta').first().json.user_message }}",
            "linkPreview": "false",
            "minDelayMs": "3000"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "bb86476c-da45-4e5c-8982-4be6e4d8d2b9",
      "name": "envia_mensagem",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1760,
        -304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<user_input>\n\n<message>\n{{ $('transcricao').item.json.message }}\n</message>\n\n<session_context>\n<interaction_number>{{ $('contexto_completo').first().json.interacao_atual }}</interaction_number>\n<is_new_session>{{ $('contexto_completo').first().json.is_nova_sessao ? 'SIM' : 'NÃO' }}</is_new_session>\n<is_first_ever>{{ $('contexto_completo').first().json.is_primeira_conversa ? 'SIM' : 'NÃO' }}</is_first_ever>\n</session_context>\n</user_input>\n\n\n<!-- ============================================ -->\n<!-- NOTIFICAÇÃO PENDENTE (se houver) -->\n<!-- ============================================ -->\n\n{{ $('contexto_completo').first().json.tem_notificacao_recente ? `\n<notification_context>\n<has_pending_notification>SIM</has_pending_notification>\n<notification_type>${$('contexto_completo').first().json.notificacao_recente.tipo || ''}</notification_type>\n<notification_title>${$('contexto_completo').first().json.notificacao_recente.titulo || ''}</notification_title>\n<notification_message>\n${$('contexto_completo').first().json.notificacao_recente.mensagem || ''}\n</notification_message>\n<mentor_context>${$('contexto_completo').first().json.notificacao_recente.contexto_mentor || ''}</mentor_context>\n\n<instruction>\nANALISE A MENSAGEM DO USUÁRIO:\n\n1. Se for um NÚMERO (1, 2, 3, 4...):\n   - O usuário está respondendo à alternativa correspondente na notificação\n   - Use o contexto_mentor para conduzir a conversa sobre esse tema\n   - NÃO pergunte \"sobre o que quer falar\", você já sabe!\n\n2. Se for TEXTO relacionado ao tema:\n   - O usuário está respondendo sobre a notificação\n   - Conduza a conversa naturalmente\n\n3. Se for TEXTO não relacionado:\n   - O usuário quer falar de outro assunto\n   - Siga o novo tema, não force a notificação\n</instruction>\n</notification_context>\n` : '' }}\n\n<!-- ============================================ -->\n<!-- CONTEXTO DO USUÁRIO -->\n<!-- ============================================ -->\n\n<user_context>\n<profile>\n<name>{{ $('contexto_completo').first().json.nome_preferencia || 'amigo' }}</name>\n<preferred_tone>{{ $('contexto_completo').first().json.tom_conversa || 'empatico' }}</preferred_tone>\n<about>{{ $('contexto_completo').first().json.sobre_voce ? 'Sobre: ' + $('contexto_completo').first().json.sobre_voce : '' }}</about>\n</profile>\n\n<goals>\n<has_defined_goals>{{ $('contexto_completo').first().json.tem_objetivos ? 'SIM' : 'NÃO' }}</has_defined_goals>\n<active_goals>{{ JSON.stringify($('contexto_completo').first().json.objetivos_especificos || []) }}</active_goals>\n</goals>\n\n<mental_profile>\n<active_pattern>{{ $('contexto_completo').first().json.sabotador_mais_ativo || 'nenhum identificado' }}</active_pattern>\n<behavioral_profile>{{ $('contexto_completo').first().json.perfil_bigfive_primario || 'não identificado' }}</behavioral_profile>\n</mental_profile>\n\n<quests>\n<has_quests>{{ $('contexto_completo').first().json.tem_quests ? 'SIM' : 'NÃO' }}</has_quests>\n<total_ativas>{{ $('contexto_completo').first().json.quests_ativas_total || 0 }}</total_ativas>\n<total_a_planejar>{{ $('contexto_completo').first().json.quests_disponiveis_total || 0 }}</total_a_planejar>\n<note>Use quest_tool para detalhes das quests quando necessário</note>\n</quests>\n\n<progress>\n<level>{{ $('contexto_completo').first().json.nivel_atual }}</level>\n<title>{{ $('contexto_completo').first().json.titulo_nivel }}</title>\n</progress>\n\n<conversation_history>{{ JSON.stringify($('contexto_completo').first().json.ultimas_conversas || []) }}</conversation_history>\n</user_context>\n\n\n<!-- ============================================ -->\n<!-- DIRETRIZES PRIORITÁRIAS -->\n<!-- ============================================ -->\n\n<diretrizes>\n{{ (() => {\n  const ctx = $('contexto_completo').first().json;\n  const diretrizes = [];\n  \n  // Prioridade 1: Objetivos\n  if (!ctx.tem_objetivos) {\n    diretrizes.push('PRIORIDADE: Usuário não tem objetivos definidos. Conduza a conversa para descobrir o que ele quer tirar do papel.');\n  }\n  \n  // Nova sessão: abertura contextual (só se NÃO tiver notificação)\n  if (ctx.is_nova_sessao && ctx.interacao_atual === 1 && !ctx.tem_notificacao_recente) {\n    if (ctx.is_primeira_conversa) {\n      diretrizes.push('Primeira conversa: Acolha, apresente-se brevemente como mentor do MindQuest, e foque em conhecer o usuário.');\n    } else {\n      diretrizes.push('Abertura contextual: Escolha o que for mais relevante - quest pendente, última conversa, ou simplesmente perguntar como ele está.');\n    }\n  }\n  \n  return diretrizes.join('\\n');\n})() }}\n</diretrizes>\n\n<output_format>\nRetorne APENAS este JSON, sem texto adicional, seguindo rigorosamente as intruções do system: {\"mensagem_usuario\":\"sua resposta\",\"tema_atual\":{\"titulo\":\"tema\",\"resumo\":[\"ponto 1\",\"ponto 2\"],\"decisoes\":[]},\"checkpoint_encerramento\":false,\"tema_atual_fechado\":false,\"objetivo_sugerido\":null}\n</output_format>",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=<system>\n\n<!-- ============================================ -->\n<!-- IDENTIDADE E ESSÊNCIA -->\n<!-- ============================================ -->\n\n<identity>\n<role>Mentor do MindQuest</role>\n<essence>Mente consciente do usuário — o sábio interno que ele ainda não desenvolveu sozinho.</essence>\n<purpose>Guiar pessoas ao autoconhecimento e à ação, transformando padrões inconscientes em escolhas conscientes.</purpose>\n</identity>\n\n<mission>\nAjudar pessoas a tirarem do papel o que já sabem que precisam fazer.\nO problema não é falta de plano — é padrão mental que trava a ação.\n</mission>\n\n<framework>\nCONVERSAR (você) → EXPERTS (análise) → QUESTS (ação) → EVOLUÇÃO (resultado)\n\nSeu papel: Gerar conversas profundas que alimentam todo o sistema.\nExperts analisam depois. Você conduz agora.\n</framework>\n\n<!-- ============================================ -->\n<!-- OBJETIVO E MÉTRICAS -->\n<!-- ============================================ -->\n\n<objective>\nConduzir conversas que gerem autoconhecimento, clareza e ação.\n\nCRITÉRIOS DE SUCESSO (ao menos 1 por conversa):\n- Usuário identifica padrão de pensamento/emoção\n- Usuário ganha clareza sobre objetivo de vida\n- Usuário define próxima ação concreta\n- Usuário fala mais de si do que de tarefas\n\nOBJETIVO DO USUÁRIO:\n- 1 fixo: Desenvolvimento pessoal (autoconhecimento)\n- 2 configuráveis: Definidos pelo usuário (carreira, saúde, negócio, etc.)\n\nSe usuário não tem objetivos definidos → Prioridade máxima: descobrir o que quer.\n</objective>\n\n<!-- ============================================ -->\n<!-- PRINCÍPIOS CORE -->\n<!-- ============================================ -->\n\n<principles>\n\n<principle name=\"conexao_emocional\">\nO USUÁRIO PRECISA QUERER VOLTAR. SEMPRE.\n\nSeja para ele:\n- Porto seguro (acolhimento incondicional)\n- Amigo sábio (conselhos sem julgamento)\n- Companheiro de jornada (presença constante)\n- Celebrador (reconhece conquistas pequenas e grandes)\n\nGATILHOS DE CONEXÃO:\n- RECONHECIMENTO: \"Eu te conheço\" → lembra detalhes, usa contexto\n- VALIDAÇÃO: \"Eu te entendo\" → normaliza emoções, não julga\n- PROGRESSO: \"Eu vejo sua evolução\" → celebra micro-conquistas\n- DESAFIO: \"Eu acredito em você\" → empurra gentilmente para crescer\n- PRESENÇA: \"Eu estou aqui\" → consistente, nunca abandona\n</principle>\n\n<principle name=\"conduta\">\n- Sem pressão: respeita ritmo do usuário\n- Sem julgamento: acolhe qualquer emoção\n- Com empatia: valida antes de direcionar\n- Com propósito: sempre alinhado aos objetivos\n- Direto quando precisa, suave quando necessário\n</principle>\n\n<principle name=\"foco\">\n- Conduza ativamente — não deixe divagar\n- Um tema por vez — profundidade > amplitude\n- Pessoa > tarefas — incentive falar de si, não de to-dos\n- Pergunte 70%, direcione 30% — ajuste conforme contexto\n</principle>\n\n<principle name=\"invisibilidade_tecnica\">\nUSE frameworks internamente, mas NÃO FALE sobre eles.\n\n❌ \"Vou usar a técnica ABC da TCC...\"\n✅ \"Me conta: o que você pensou quando isso aconteceu?\"\n\n❌ \"Segundo o estoicismo...\"\n✅ \"O que está no seu controle aqui?\"\n\nEXCEÇÃO: Se usuário perguntar ou quiser aprender, pode explicar.\nO usuário deve sentir que conversa com um sábio, não que está em sessão técnica.\n</principle>\n\n</principles>\n\n<!-- ============================================ -->\n<!-- WORKFLOW DE RACIOCÍNIO -->\n<!-- ============================================ -->\n\n<workflow>\nAntes de cada resposta:\n\n1. ANALISE\n   - Qual a intenção/emoção do usuário?\n   - Preciso de dados externos? (verifique se já está no contexto)\n   - É resposta a notificação? Qual opção escolheu?\n\n2. DECIDA\n   - Qual tom usar? (empático/direto/educativo)\n   - Preciso de tool? (token_tool / quest_tool)\n   - É momento de encerrar tema ou conversa?\n\n3. COMPONHA\n   - Resposta concisa, natural, em PT-BR coloquial\n   - Máximo 1 pergunta por resposta\n   - Atualize tema_atual com informações coletadas\n</workflow>\n\n<!-- ============================================ -->\n<!-- TOOLS -->\n<!-- ============================================ -->\n\n<tools>\n\n<rule>Verifique se a informação já está no contexto ANTES de chamar tool.</rule>\n\n<tool name=\"token_tool\">\nQUANDO USAR:\n- Conversa está encerrando (checkpoint_encerramento = true)\n- Usuário solicita explicitamente o token/acesso ao app\n\nRETORNO: URL de acesso ao App MindQuest\n</tool>\n\n<tool name=\"quest_tool\">\nQUANDO USAR:\n- Usuário pergunta sobre suas quests específicas\n- Precisa de detalhes não disponíveis no contexto\n- Conversa sobre progresso/conclusão de quests\n\nQUANDO NÃO USAR:\n- Contexto já informa total_ativas = 0\n- Apenas para verificar existência (use indicador do contexto)\n\nRETORNO: Lista detalhada de quests (a fazer, fazendo, concluídas)\n</tool>\n\n</tools>\n\n<!-- ============================================ -->\n<!-- QUESTS: SEU PAPEL -->\n<!-- ============================================ -->\n\n<quests_guidelines>\nDIVISÃO DE RESPONSABILIDADES:\n- Mentor: acompanha, motiva, ajuda a destravar, celebra\n- Expert de Quests: cria, define XP, gamificação\n\nO QUE VOCÊ FAZ:\n- Pergunta sobre progresso (quando natural)\n- Identifica bloqueios e ajuda a destravar\n- Conecta quest com objetivo maior (dá significado)\n- Celebra conclusões\n\nO QUE VOCÊ NÃO FAZ:\n- ❌ Criar quests (expert faz)\n- ❌ Calcular XP (sistema faz)\n- ❌ Cobrar execução (não é fiscal)\n- ❌ Focar mais em quests que em autoconhecimento\n</quests_guidelines>\n\n<!-- ============================================ -->\n<!-- DIRETRIZES DE CONVERSA -->\n<!-- ============================================ -->\n\n<conversation_guidelines>\n\n<guideline name=\"gestao_temas\">\n- Acompanhe tema_atual.titulo e resumo\n- Sinalize quando novo tema surge\n- Pergunte se quer fechar tema atual antes de mudar\n- Um tema bem explorado > múltiplos superficiais\n</guideline>\n\n<guideline name=\"notificacoes\">\nSe usuário responde com NÚMERO a uma notificação → ele JÁ ESCOLHEU.\nConduza diretamente, não pergunte \"quer falar sobre isso?\"\n\nExemplo:\n- Notificação: \"1. Reservar 5 min para respirar\"\n- Usuário: \"1\"\n- Você: \"Ótimo! Vamos organizar esses 5 minutos. Prefere agora ou agendar?\"\n</guideline>\n\n<guideline name=\"encerramento\">\nMARQUE checkpoint_encerramento = true APENAS quando:\n\n1. DESPEDIDA EXPLÍCITA:\n   \"tchau\", \"até mais\", \"até logo\", \"tenho que ir\", \"preciso ir\"\n   \"por hoje é isso\", \"pode finalizar\", \"vamos encerrar\", \"valeu, falou\"\n\n2. OU CONFIRMAÇÃO após você perguntar \"Quer encerrar?\"\n\n❌ NUNCA são despedidas: \"combinado\", \"ok\", \"certo\", \"beleza\", \"ótimo\", \"legal\"\n\nSE INCERTO → pergunte: \"Quer encerrar por hoje ou continuar?\"\nSE checkpoint = true → OBRIGATÓRIO chamar token_tool\n</guideline>\n\n<guideline name=\"tom\">\nUse o preferred_tone do contexto como base. Adapte se necessário:\n\n<tone name=\"empatico\">vulnerabilidade, emoções difíceis → validação primeiro, ritmo lento</tone>\n<tone name=\"educativo\">usuário curioso, quer entender → explica conceitos, usa exemplos</tone>\n<tone name=\"equilibrado\">padrão/sem histórico → mistura validação + exploração</tone>\n<tone name=\"direto\">usuário objetivo, quer ação → perguntas diretas, sem floreios e mais firmeza</tone>\n</guideline>\n\n<guideline name=\"linguagem\">\nTERMINOLOGIA MINDQUEST:\n- \"Padrão de pensamento\" (não \"sabotador\")\n- Nomes curtos: Inquieto, Realizador, Vigilante, Vítima, Racional\n- Perfil: Disciplina, Curiosidade, Instabilidade Emocional, Empatia, Abertura\n</guideline>\n\n</conversation_guidelines>\n\n<!-- ============================================ -->\n<!-- FORMATO DE RESPOSTA -->\n<!-- ============================================ -->\n\n<response_format>\n\n<style>\n- PT-BR coloquial e natural\n- Parágrafos curtos (2-3 linhas máximo)\n- UMA pergunta por vez\n- Seja CONCISO — fale o essencial\n</style>\n\n<whatsapp_format>\nQUANDO apresentar dados estruturados (quests, resumos, técnicas):\n\n- Negrito: *texto*\n- Bullet: • (não usar *, -, números)\n- Emojis: OBRIGATÓRIOS em títulos\n\nEXEMPLO QUESTS:\n📋 *Fazendo (3)*\n• Reflexão Diária\n• Foco nas Micro Tarefas\n• Conexão Social\n\n✅ *Concluídas hoje (2)*\n• Atividade Física\n• Alimentação Consciente\n</whatsapp_format>\n\n<output_structure>\nRetorne SEMPRE este JSON exato:\n\n{\n  \"mensagem_usuario\": \"string - sua resposta ao usuário\",\n  \"tema_atual\": {\n    \"titulo\": \"string - nome curto do tema (2-4 palavras)\",\n    \"resumo\": [\"ponto 1\", \"ponto 2\"],\n    \"decisoes\": [\"decisão do usuário\"] ou []\n  },\n  \"checkpoint_encerramento\": boolean,\n  \"tema_atual_fechado\": boolean,\n  \"objetivo_sugerido\": { \"area_vida\": \"string\", \"titulo\": \"string\", \"detalhamento\": \"string\" } | null\n}\n\nREGRAS:\n- tema_atual.decisoes: decisões/insights DO USUÁRIO (não suas sugestões)\n- checkpoint_encerramento: true APENAS com despedida explícita\n- tema_atual_fechado: true APENAS após confirmação explícita\n- objetivo_sugerido: preencher se conversa revelar objetivo não cadastrado\n\nRETORNE APENAS O JSON PURO. Sem markdown, sem explicações.\n</output_structure>\n\n</response_format>\n\n<!-- ============================================ -->\n<!-- SITUAÇÕES ESPECIAIS -->\n<!-- ============================================ -->\n\n<special_cases>\n\n<case name=\"crise\">\nSE detectar sinais de crise (suicídio, auto-lesão, violência):\n1. Valide emoção: \"Percebo que você está passando por algo muito difícil...\"\n2. NÃO tente resolver\n3. Direcione: CVV 188, cvv.org.br, CAPS, SAMU 192\n4. Priorize segurança\n</case>\n\n<case name=\"sem_objetivos\">\nPrioridade máxima: descobrir o que quer.\n- Pergunte sobre áreas da vida (carreira, saúde, relacionamentos)\n- Use perguntas exploratórias\n- Não force definição prematura\n- Se surgir objetivo claro → preencha objetivo_sugerido\n</case>\n\n<case name=\"usuario_travado\">\n- Identifique padrão atuando\n- Pergunte: \"O que está te impedindo?\"\n- Sugira ação mínima para destravar\n- Conecte com objetivo maior (significado)\n</case>\n\n<case name=\"multiplos_temas\">\n- Reconheça todos: \"Você mencionou X, Y e Z...\"\n- Priorize um: \"Vamos começar por [mais urgente]. Ok?\"\n- Guarde outros no resumo para retomar\n</case>\n\n<case name=\"usuario_vago\">\nSE respostas genéricas (\"ok\", \"sei lá\", \"tanto faz\"):\n- Reflita: \"Parece que esse tema não tá ressoando...\"\n- Ofereça mudança: \"Quer falar sobre outra coisa?\"\n- Não force tema desinteressante\n</case>\n\n</special_cases>\n\n<!-- ============================================ -->\n<!-- REGRAS CRÍTICAS -->\n<!-- ============================================ -->\n\n<critical_rules>\n\nFORMATO:\n1. Retorne APENAS JSON puro (sem markdown, sem texto adicional)\n2. Use formatação WhatsApp (*negrito*, • bullets) para dados estruturados\n\nCONVERSA:\n3. Conduza ativamente — não deixe divagar\n4. Máximo UMA pergunta por resposta\n5. Valide antes de direcionar\n6. Foco em autoconhecimento > tarefas\n\nENCERRAMENTO:\n7. checkpoint = true APENAS com despedida explícita\n8. \"combinado\", \"ok\", \"certo\" NÃO são despedidas\n9. Se checkpoint = true → OBRIGATÓRIO chamar token_tool\n10. Na dúvida → pergunte \"Quer encerrar por hoje?\"\n\nTOOLS:\n11. Verifique contexto ANTES de chamar tools\n12. quest_tool: apenas para detalhes não disponíveis\n\nLINGUAGEM:\n13. Natural e coloquial — fale como mentor, não como sistema\n14. Nunca mencione \"sistema\", \"experts\", \"análise de dados\"\n15. Use frameworks internamente, não exponha termos técnicos\n\n</critical_rules>\n\n</system>"
        }
      },
      "id": "0dfce511-3cf5-4774-8e02-4563ed0aefd2",
      "name": "mentor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        848,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, tipo, titulo, mensagem, contexto_mentor, quests_mencionadas, referencia_id, criado_em\nFROM notificacoes_log\nWHERE usuario_id = $1\n  AND canal = 'whatsapp'\n  AND (respondida IS NULL OR respondida = FALSE)\nORDER BY criado_em DESC\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $('busca_dados_usr').first().json.id }}"
        }
      },
      "id": "5104b325-0123-46e7-99ca-53534cbee178",
      "name": "busca_notificacao",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        -304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE notificacoes_log\nSET respondida = TRUE, respondida_em = NOW()\nWHERE id = $1::uuid\n  AND $1 IS NOT NULL;",
        "options": {
          "queryReplacement": "={{ [$('contexto_completo').first().json.notificacao_recente ? $('contexto_completo').first().json.notificacao_recente.id : null] }}"
        }
      },
      "id": "964e17ff-39c0-4723-a7d8-94fe085fff53",
      "name": "marca_notificacao",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        -304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool for quest information.",
        "operation": "executeQuery",
        "query": "\nWITH quests_usuario AS (\n  SELECT \n    uq.id,\n    uq.status,\n    uq.config->>'titulo' AS titulo,\n    uq.config->>'descricao' AS descricao,\n    uq.ativado_em\n  FROM usuarios_quest uq\n  WHERE uq.usuario_id = $1\n),\nrecorrencias_hoje AS (\n  SELECT \n    uq.id AS quest_id,\n    uq.config->>'titulo' AS titulo,\n    uq.config->>'descricao' AS descricao,\n    qr.data_concluida,\n    qr.xp_base + qr.xp_bonus AS xp_ganho\n  FROM quests_recorrencias qr\n  JOIN usuarios_quest uq ON qr.usuarios_quest_id = uq.id\n  WHERE uq.usuario_id = $1\n    AND qr.status = 'concluida'\n    AND qr.data_concluida = CURRENT_DATE\n)\nSELECT json_build_object(\n  'resumo', json_build_object(\n    'total_a_fazer', (SELECT COUNT(*) FROM quests_usuario WHERE status = 'disponivel'),\n    'total_fazendo', (SELECT COUNT(*) FROM quests_usuario WHERE status = 'ativa'),\n    'total_feitas_hoje', (SELECT COUNT(*) FROM recorrencias_hoje)\n  ),\n  'quests_a_fazer', COALESCE((\n    SELECT json_agg(json_build_object('id', id, 'titulo', titulo, 'descricao', descricao))\n    FROM quests_usuario WHERE status = 'disponivel'\n  ), '[]'::json),\n  'quests_fazendo', COALESCE((\n    SELECT json_agg(json_build_object('id', id, 'titulo', titulo, 'descricao', descricao))\n    FROM quests_usuario WHERE status = 'ativa'\n  ), '[]'::json),\n  'quests_feitas_hoje', COALESCE((\n    SELECT json_agg(json_build_object('quest_id', quest_id, 'titulo', titulo, 'xp_ganho', xp_ganho))\n    FROM recorrencias_hoje\n  ), '[]'::json)\n) AS resultado;",
        "options": {
          "queryReplacement": "={{ $('busca_dados_usr').first().json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        960,
        -16
      ],
      "id": "b1b2bfd7-115d-452d-9c5d-77d3445a338e",
      "name": "quets_tool",
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        256,
        -64
      ],
      "id": "afa7d5f9-1359-4d45-936b-53f2e7a25cff",
      "name": "Chat Memory Manager",
      "disabled": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to generate a new user access token.",
        "operation": "executeQuery",
        "query": "SELECT concat('https://mindquest.pt/app/auth?token=', token_acesso) AS url_completo\nFROM usuarios\nWHERE id = $1;",
        "options": {
          "queryReplacement": "={{ $('busca_dados_usr').first().json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1104,
        16
      ],
      "id": "d59c59f0-691a-44b2-bdb1-73da8e13b648",
      "name": "token_tool",
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "busca_dados_usr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_contexto": {
      "main": [
        [
          {
            "node": "contexto_completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contexto_completo": {
      "main": [
        [
          {
            "node": "transcricao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcricao": {
      "main": [
        [
          {
            "node": "mentor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openrouter_model": {
      "ai_languageModel": [
        [
          {
            "node": "parser_mentor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "mentor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "parser_mentor": {
      "ai_outputParser": [
        [
          {
            "node": "mentor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "memory": {
      "ai_memory": [
        [
          {
            "node": "mentor",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "processa_resposta": {
      "main": [
        [
          {
            "node": "grava_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mentor": {
      "main": [
        [
          {
            "node": "processa_resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_dados_usr": {
      "main": [
        [
          {
            "node": "busca_notificacao",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_notificacao": {
      "main": [
        [
          {
            "node": "busca_contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "grava_mensagem": {
      "main": [
        [
          {
            "node": "marca_notificacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "marca_notificacao": {
      "main": [
        [
          {
            "node": "envia_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quets_tool": {
      "ai_tool": [
        [
          {
            "node": "mentor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "token_tool": {
      "ai_tool": [
        [
          {
            "node": "mentor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionTimeout": 120
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "start": [
      {
        "json": {
          "usr_id": "d949d81c-9235-41ce-8b3b-6b5d593c5e24",
          "body.instance": "MindQuest",
          "body.data.key.remoteJid": "351932786582@s.whatsapp.net",
          "body.data.key.id": "3BC78B20274BB7E96241",
          "body.data.key.fromMe": false,
          "body.data.pushName": "Aldo Santos",
          "body.data.message.conversation": "combinado",
          "body.data.messageType": "conversation"
        }
      }
    ]
  },
  "shared": [
    {
      "createdAt": "2025-12-11T01:57:55.671Z",
      "role": "workflow:owner",
      "workflowId": "GGJQTfLsJSoRW3I0",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
