backups/n8n/mentor_mindquest.json
{
  "createdAt": "2025-12-11T01:57:55.671Z",
  "id": "GGJQTfLsJSoRW3I0",
  "name": "mentor_mindquest",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usr_id"
            },
            {
              "name": "body.instance"
            },
            {
              "name": "body.data.key.remoteJid"
            },
            {
              "name": "body.data.key.id"
            },
            {
              "name": "body.data.key.fromMe",
              "type": "boolean"
            },
            {
              "name": "body.data.pushName"
            },
            {
              "name": "body.data.message.conversation"
            },
            {
              "name": "body.data.messageType"
            }
          ]
        }
      },
      "id": "71c3f8a2-8d5c-4d24-8b05-8217d905a739",
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -544,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "fVrO1PaqFuA957u0",
          "mode": "list"
        }
      },
      "id": "9822ca0d-d33a-4c70-ba03-a202cba76dc9",
      "name": "config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -368,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  u.nome,\n  u.id,\n  u.nome_preferencia,\n  u.nome_assistente,\n  u.token_acesso,\n  u.cronotipo_detectado,\n  u.whatsapp_numero,\n  u.faixa_etaria,\n  u.sobre_voce,\n  u.tom_conversa\nFROM usuarios u\nWHERE u.id = $1;",
        "options": {
          "queryReplacement": "={{ $('start').first().json.usr_id }}"
        }
      },
      "id": "89cea24f-05ea-44d4-9aaa-cd3d45322ae8",
      "name": "busca_dados_usr",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        -304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH objetivos AS (\n  SELECT json_agg(json_build_object('id', o.id, 'titulo', o.titulo, 'area_vida', av.nome, 'is_padrao', o.is_padrao))\n  FROM usuarios_objetivos o\n  JOIN areas_vida_catalogo av ON o.area_vida_id = av.id\n  WHERE o.usuario_id = $1 AND o.status = 'ativo'\n),\nobjetivo_padrao AS (\n  SELECT id FROM usuarios_objetivos\n  WHERE usuario_id = $1 AND is_padrao = TRUE AND status = 'ativo'\n  LIMIT 1\n),\nsabotador AS (\n  SELECT sabotador_id, COUNT(*) AS total_deteccoes\n  FROM usuarios_sabotadores\n  WHERE usuario_id = $1\n  GROUP BY sabotador_id\n  ORDER BY COUNT(*) DESC\n  LIMIT 1\n),\nperfil_bigfive AS (\n  SELECT perfil_primario, COUNT(*) AS total_deteccoes, ROUND(AVG(confianca_media)::numeric, 2) AS confianca_media\n  FROM usuarios_perfis\n  WHERE usuario_id = $1\n  GROUP BY perfil_primario\n  ORDER BY COUNT(*) DESC, AVG(confianca_media) DESC\n  LIMIT 1\n),\nquests_count AS (\n  SELECT \n    COUNT(*) FILTER (WHERE status = 'ativa') AS total_ativas,\n    COUNT(*) FILTER (WHERE status = 'disponivel') AS total_disponiveis\n  FROM usuarios_quest\n  WHERE usuario_id = $1 AND status IN ('ativa', 'disponivel')\n),\nhistorico AS (\n  SELECT json_agg(json_build_object('id', c.id, 'data_conversa', c.data_conversa, 'resumo_conversa', c.resumo_conversa))\n  FROM (\n    SELECT id, data_conversa, resumo_conversa\n    FROM usr_chat\n    WHERE usuario_id = $1 \n      AND resumo_conversa IS NOT NULL\n      AND data_conversa < CURRENT_DATE\n    ORDER BY data_conversa DESC, horario_inicio DESC\n    LIMIT 5\n  ) c\n),\nnivel AS (\n  SELECT nivel_atual, titulo_nivel FROM usuarios_conquistas\n  WHERE usuario_id = $1\n  LIMIT 1\n),\nsessao_hoje AS (\n  SELECT id, data_conversa, status, mensagens\n  FROM usr_chat\n  WHERE usuario_id = $1 AND data_conversa = CURRENT_DATE\n  ORDER BY horario_inicio DESC\n  LIMIT 1\n),\ntotal_conversas AS (\n  SELECT COUNT(*) as total FROM usr_chat WHERE usuario_id = $1\n)\nSELECT\n  (SELECT * FROM objetivos) AS objetivos_especificos,\n  (SELECT id FROM objetivo_padrao) AS objetivo_padrao_id,\n  (SELECT sabotador_id FROM sabotador) AS sabotador_mais_ativo,\n  (SELECT perfil_primario FROM perfil_bigfive) AS perfil_bigfive_primario,\n  (SELECT total_ativas FROM quests_count) AS quests_ativas_total,\n  (SELECT total_disponiveis FROM quests_count) AS quests_disponiveis_total,\n  (SELECT * FROM historico) AS ultimas_conversas,\n  (SELECT nivel_atual FROM nivel) AS nivel_atual,\n  (SELECT titulo_nivel FROM nivel) AS titulo_nivel,\n  (SELECT id FROM sessao_hoje) AS sessao_hoje_id,\n  (SELECT status FROM sessao_hoje) AS sessao_hoje_status,\n  (SELECT mensagens FROM sessao_hoje) AS sessao_hoje_mensagens,\n  (SELECT total FROM total_conversas) AS total_conversas;",
        "options": {
          "queryReplacement": "={{ $('start').first().json.usr_id }}"
        }
      },
      "id": "342ad85e-bb3d-4bdf-9755-ed6594bade36",
      "name": "busca_contexto",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        -304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CONTEXTO COMPLETO v7 - Ignora objetivo padrão no flag tem_objetivos\nconst usuarioId = $('start').first().json.usr_id;\nconst config = $('config').first().json;\nconst dadosUsr = $('busca_dados_usr').first().json;\nconst contexto = $('busca_contexto').first().json;\n\n// Notificação recente (se houver)\nconst notifResult = $('busca_notificacao').first()?.json;\nconst temNotificacao = notifResult && notifResult.id;\nconst notificacaoRecente = temNotificacao ? {\n  id: notifResult.id,\n  tipo: notifResult.tipo,\n  titulo: notifResult.titulo || '',\n  mensagem: notifResult.mensagem || '',\n  contexto_mentor: notifResult.contexto_mentor || '',\n  quests_mencionadas: notifResult.quests_mencionadas || [],\n  referencia_id: notifResult.referencia_id,\n  criado_em: notifResult.criado_em\n} : null;\n\n// Verifica se é primeira conversa\nconst totalConversas = Number(contexto?.total_conversas || 0);\nconst isPrimeiraConversa = totalConversas === 0;\n\n// Verifica se usuário tem objetivos ALÉM do padrão\nconst objetivos = contexto?.objetivos_especificos || [];\n\n// Filtra objetivos configuráveis (ignora padrão)\nconst objetivosConfigurados = Array.isArray(objetivos) \n  ? objetivos.filter(obj => !obj.is_padrao)\n  : [];\n\n// tem_objetivos = true apenas se tem objetivos ALÉM do padrão\nconst temObjetivos = objetivosConfigurados.length > 0;\n\n// Quests - apenas totais (detalhes via tool)\nconst questsAtivasTotal = Number(contexto?.quests_ativas_total || 0);\nconst questsDisponiveisTotal = Number(contexto?.quests_disponiveis_total || 0);\nconst temQuests = questsAtivasTotal > 0 || questsDisponiveisTotal > 0;\n\n// Sessão do dia\nconst sessaoHojeId = contexto?.sessao_hoje_id || null;\nconst sessaoHojeStatus = contexto?.sessao_hoje_status || null;\nconst sessaoHojeMensagens = contexto?.sessao_hoje_mensagens || [];\n\n// NOVO CICLO: não existe sessão OU sessão está finalizada\nconst isNovoCiclo = !sessaoHojeId || sessaoHojeStatus === 'finalizado';\n\n// Se é novo ciclo (sessão finalizada), reseta contador de interações\nconst mensagensArray = Array.isArray(sessaoHojeMensagens) ? sessaoHojeMensagens : [];\nconst interacaoAtual = isNovoCiclo ? 1 : mensagensArray.filter(m => m?.autor === 'usuario').length + 1;\n\n// Tom de conversa (default: empatico)\nconst tomConversa = dadosUsr?.tom_conversa || 'empatico';\n\nreturn [{\n  usuario_id: usuarioId,\n  nome_preferencia: dadosUsr?.nome_preferencia || null,\n  nome_assistente: dadosUsr?.nome_assistente || 'Mind',\n  whatsapp_numero: dadosUsr?.whatsapp_numero || null,\n  faixa_etaria: dadosUsr?.faixa_etaria || null,\n  sobre_voce: dadosUsr?.sobre_voce || null,\n  tom_conversa: tomConversa,\n  // Objetivos - separados para clareza\n  objetivos_especificos: objetivos,           // todos (incluindo padrão)\n  objetivos_configurados: objetivosConfigurados, // apenas os configuráveis\n  tem_objetivos: temObjetivos,                // true só se tem configurados\n  objetivo_padrao: contexto?.objetivo_padrao_id || null,\n  sabotador_mais_ativo: contexto?.sabotador_mais_ativo || null,\n  perfil_bigfive_primario: contexto?.perfil_bigfive_primario || null,\n  // Quests - apenas indicadores\n  tem_quests: temQuests,\n  quests_ativas_total: questsAtivasTotal,\n  quests_disponiveis_total: questsDisponiveisTotal,\n  // Histórico\n  ultimas_conversas: contexto?.ultimas_conversas || [],\n  nivel_atual: contexto?.nivel_atual || 1,\n  titulo_nivel: contexto?.titulo_nivel || 'Explorador',\n  total_conversas: totalConversas,\n  is_primeira_conversa: isPrimeiraConversa,\n  sessao_hoje_id: sessaoHojeId,\n  sessao_hoje_mensagens: sessaoHojeMensagens,\n  // Novo ciclo quando sessão finalizada\n  is_nova_sessao: isNovoCiclo,\n  is_novo_ciclo: isNovoCiclo,\n  sessao_anterior_finalizada: sessaoHojeStatus === 'finalizado',\n  interacao_atual: interacaoAtual,\n  // Notificação\n  tem_notificacao_recente: temNotificacao,\n  notificacao_recente: notificacaoRecente\n}];"
      },
      "id": "ddb2574a-aae5-4ba4-8578-a66f80e8aaee",
      "name": "contexto_completo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -304
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jUAvu7DUAzyqZhJd",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "body.instance": "={{ $('start').first().json['body.instance'] }}",
            "body.data.key.remoteJid": "={{ $('start').first().json['body.data.key.remoteJid'] }}",
            "body.data.key.id": "={{ $('start').first().json['body.data.key.id'] }}",
            "body.data.key.fromMe": "={{ $('start').first().json['body.data.key.fromMe'] }}",
            "body.data.pushName": "={{ $('start').first().json['body.data.pushName'] }}",
            "body.data.message.conversation": "={{ $('start').first().json['body.data.message.conversation'] }}",
            "body.data.messageType": "={{ $('start').first().json['body.data.messageType'] }}"
          }
        },
        "options": {}
      },
      "id": "011b8af0-f363-4cf3-810f-f4856ad5be63",
      "name": "transcricao",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        -304
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('start').first().json['body.instance'] }}{{ $('start').first().json.usr_id }}{{ $('busca_dados_usr').item.json.whatsapp_numero }}",
        "sessionTTL": 43200,
        "contextWindowLength": 50
      },
      "id": "24c2a3e5-004c-41f6-95c3-8d97e537a59f",
      "name": "memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        864,
        128
      ],
      "credentials": {
        "redis": {
          "id": "PB4zpLy1jLXDEzmH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "id": "19bb02c3-b2e3-43ce-ab74-c9387da7af6d",
      "name": "openrouter_model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        640,
        304
      ],
      "credentials": {
        "openRouterApi": {
          "id": "rSnkOnnAHyfayLJt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"mensagem_usuario\": \"Oi! Como você está hoje?\"\n}",
        "autoFix": true
      },
      "id": "5580cfae-3f97-4190-bb5d-e5d32060d9dd",
      "name": "parser_mentor",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1520,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// PROCESSA RESPOSTA DO MENTOR v7 - trigger sem limite de interações\nconst output = $input.first()?.json?.output ?? {};\nconst contexto = $('contexto_completo').first().json;\nconst transcricao = $('transcricao').first().json;\n\n// Flags do mentor\nconst checkpointEncerramento = output.checkpoint_encerramento === true;\nconst temaFechado = output.tema_atual_fechado === true;\nconst objetivoSugerido = output.objetivo_sugerido || null;\n\n// Tema atual\nconst temaAtual = output.tema_atual || { titulo: '', resumo: [], decisoes: [] };\n\n// Trigger: apenas quando mentor sinaliza fechamento\nconst triggerExperts = temaFechado || checkpointEncerramento;\n\n// Prepara mensagens para gravar (incremental)\nconst mensagemUsuario = {\n  interaction: contexto.interacao_atual,\n  autor: 'usuario',\n  texto: transcricao.message || '',\n  timestamp: new Date().toISOString()\n};\n\nconst mensagemMentor = {\n  interaction: contexto.interacao_atual,\n  autor: 'agente',\n  texto: output.mensagem_usuario || '',\n  timestamp: new Date().toISOString(),\n  tema: temaAtual.titulo || null\n};\n\n// Mensagens existentes + novas\nconst mensagensExistentes = Array.isArray(contexto.sessao_hoje_mensagens) \n  ? contexto.sessao_hoje_mensagens \n  : [];\nconst mensagensAtualizadas = [...mensagensExistentes, mensagemUsuario, mensagemMentor];\n\nreturn [{\n  user_message: output.mensagem_usuario || '',\n  checkpoint_encerramento: checkpointEncerramento,\n  tema_fechado: temaFechado,\n  tema_atual: temaAtual,\n  trigger_experts: triggerExperts,\n  objetivo_sugerido: objetivoSugerido,\n  interacao_atual: contexto.interacao_atual,\n  sessao_id: contexto.sessao_hoje_id,\n  is_nova_sessao: contexto.is_nova_sessao,\n  mensagens_atualizadas: JSON.stringify(mensagensAtualizadas),\n  total_interacoes: mensagensAtualizadas.filter(m => m.autor === 'usuario').length\n}];"
      },
      "id": "760b8005-c46f-4425-95be-552b5bf0aaa5",
      "name": "processa_resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Upsert: cria sessão OU reativa sessão finalizada\nWITH upsert AS (\n  INSERT INTO usr_chat (usuario_id, data_conversa, horario_inicio, status, mensagens, total_interactions)\n  VALUES ($1, CURRENT_DATE, NOW(), 'em_andamento', $2::jsonb, $3)\n  ON CONFLICT (usuario_id, data_conversa)\n  DO UPDATE SET \n    mensagens = $2::jsonb,\n    total_interactions = $3,\n    status = 'em_andamento',\n    horario_fim = NULL,\n    atualizado_em = NOW()\n  WHERE usr_chat.data_conversa = CURRENT_DATE\n  RETURNING id, usuario_id, data_conversa, status\n)\nSELECT * FROM upsert\nUNION ALL\nSELECT id, usuario_id, data_conversa, status \nFROM usr_chat \nWHERE usuario_id = $1 AND data_conversa = CURRENT_DATE\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [ $('contexto_completo').first().json.usuario_id, $('processa_resposta').first().json.mensagens_atualizadas, $('processa_resposta').first().json.total_interacoes ] }}"
        }
      },
      "id": "e7d31eb3-ed23-4e4f-bd7d-8bbf7a9bbfd7",
      "name": "grava_mensagem",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        -304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DJB5qWudX1Hqap1O",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "instanceName": "={{ $('start').first().json['body.instance'] }}",
            "remoteJidOrNumber": "={{ $('start').first().json['body.data.key.remoteJid'] }}",
            "messageText": "={{ $('processa_resposta').first().json.user_message }}",
            "linkPreview": "false",
            "minDelayMs": "3000"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "bb86476c-da45-4e5c-8982-4be6e4d8d2b9",
      "name": "envia_mensagem",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1760,
        -304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<user_input>\n\n<message>\n{{ $('transcricao').item.json.message }}\n</message>\n\n<session_context>\n<interaction_number>{{ $('contexto_completo').first().json.interacao_atual }}</interaction_number>\n<is_new_session>{{ $('contexto_completo').first().json.is_nova_sessao ? 'SIM' : 'NÃO' }}</is_new_session>\n<is_first_ever>{{ $('contexto_completo').first().json.is_primeira_conversa ? 'SIM' : 'NÃO' }}</is_first_ever>\n</session_context>\n</user_input>\n\n\n<!-- ============================================ -->\n<!-- NOTIFICAÇÃO PENDENTE (se houver) -->\n<!-- ============================================ -->\n\n{{ $('contexto_completo').first().json.tem_notificacao_recente ? `\n<notification_context>\n<has_pending_notification>SIM</has_pending_notification>\n<notification_type>${$('contexto_completo').first().json.notificacao_recente.tipo || ''}</notification_type>\n<notification_title>${$('contexto_completo').first().json.notificacao_recente.titulo || ''}</notification_title>\n<notification_message>\n${$('contexto_completo').first().json.notificacao_recente.mensagem || ''}\n</notification_message>\n<mentor_context>${$('contexto_completo').first().json.notificacao_recente.contexto_mentor || ''}</mentor_context>\n\n<instruction>\nANALISE A MENSAGEM DO USUÁRIO:\n\n1. Se for um NÚMERO (1, 2, 3, 4...):\n   - O usuário está respondendo à alternativa correspondente na notificação\n   - Use o contexto_mentor para conduzir a conversa sobre esse tema\n   - NÃO pergunte \"sobre o que quer falar\", você já sabe!\n\n2. Se for TEXTO relacionado ao tema:\n   - O usuário está respondendo sobre a notificação\n   - Conduza a conversa naturalmente\n\n3. Se for TEXTO não relacionado:\n   - O usuário quer falar de outro assunto\n   - Siga o novo tema, não force a notificação\n</instruction>\n</notification_context>\n` : '' }}\n\n<!-- ============================================ -->\n<!-- CONTEXTO DO USUÁRIO -->\n<!-- ============================================ -->\n\n<user_context>\n<profile>\n<name>{{ $('contexto_completo').first().json.nome_preferencia || 'amigo' }}</name>\n<preferred_tone>{{ $('contexto_completo').first().json.tom_conversa || 'empatico' }}</preferred_tone>\n<about>{{ $('contexto_completo').first().json.sobre_voce ? 'Sobre: ' + $('contexto_completo').first().json.sobre_voce : '' }}</about>\n<mentor_name>{{ $('busca_dados_usr').item.json.nome_assistente }}</mentor_name>\n</profile>\n\n<goals>\n<has_defined_goals>{{ $('contexto_completo').first().json.tem_objetivos ? 'SIM' : 'NÃO' }}</has_defined_goals>\n<active_goals>{{ JSON.stringify($('contexto_completo').first().json.objetivos_especificos || []) }}</active_goals>\n</goals>\n\n<mental_profile>\n<active_pattern>{{ $('contexto_completo').first().json.sabotador_mais_ativo || 'nenhum identificado' }}</active_pattern>\n<behavioral_profile>{{ $('contexto_completo').first().json.perfil_bigfive_primario || 'não identificado' }}</behavioral_profile>\n</mental_profile>\n\n<quests>\n<has_quests>{{ $('contexto_completo').first().json.tem_quests ? 'SIM' : 'NÃO' }}</has_quests>\n<total_ativas>{{ $('contexto_completo').first().json.quests_ativas_total || 0 }}</total_ativas>\n<total_a_planejar>{{ $('contexto_completo').first().json.quests_disponiveis_total || 0 }}</total_a_planejar>\n<note>Use quest_tool para detalhes das quests quando necessário</note>\n</quests>\n\n<progress>\n<level>{{ $('contexto_completo').first().json.nivel_atual }}</level>\n<title>{{ $('contexto_completo').first().json.titulo_nivel }}</title>\n</progress>\n\n<conversation_history>{{ JSON.stringify($('contexto_completo').first().json.ultimas_conversas || []) }}</conversation_history>\n</user_context>\n\n\n<!-- ============================================ -->\n<!-- DIRETRIZES PRIORITÁRIAS -->\n<!-- ============================================ -->\n\n<diretrizes>\n{{ (() => {\n  const ctx = $('contexto_completo').first().json;\n  const diretrizes = [];\n  \n  // Prioridade 1: Objetivos\n  if (!ctx.tem_objetivos) {\n    diretrizes.push('PRIORIDADE: Usuário não tem objetivos definidos. Conduza a conversa para descobrir o que ele quer tirar do papel.');\n  }\n  \n  // Nova sessão: abertura contextual (só se NÃO tiver notificação)\n  if (ctx.is_nova_sessao && ctx.interacao_atual === 1 && !ctx.tem_notificacao_recente) {\n    if (ctx.is_primeira_conversa) {\n      diretrizes.push('Primeira conversa: Acolha, apresente-se brevemente como mentor do MindQuest, e foque em conhecer o usuário.');\n    } else {\n      diretrizes.push('Abertura contextual: Escolha o que for mais relevante - quest pendente, última conversa, ou simplesmente perguntar como ele está.');\n    }\n  }\n  \n  return diretrizes.join('\\n');\n})() }}\n</diretrizes>\n\n<output_format>\nRetorne APENAS este JSON, sem texto adicional, seguindo rigorosamente as intruções do system: {\"mensagem_usuario\":\"sua resposta\"}\n</output_format>",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# System Prompt - Mentor MindQuest v3.1\n\n<role>\nVocê é o Mentor MindQuest - a mente consciente do usuário que ele ainda não desenvolveu sozinho.\n\nVocê é um guia de jornada pessoal que traduz padrões inconscientes em ações conscientes, conectando quem o usuário é com quem ele quer ser.\n</role>\n\n<objective>\nFacilitar autoconhecimento profundo através de conversas que geram:\n- Clareza sobre si mesmo e seus objetivos\n- Consciência de padrões de pensamento e comportamento\n- Ações concretas alinhadas aos objetivos\n- Conexão emocional que faz o usuário querer voltar\n\nSucesso = usuário identifica padrão + define próxima ação + demonstra querer continuar.\n</objective>\n\n---\n\n## Framework MindQuest\n\n<framework>\nCONVERSAR → ENTENDER → AGIR → EVOLUIR\n\nVocê é o ponto central deste ciclo:\n- **Conversar**: Conduz diálogos que geram contexto rico\n- **Entender**: Ajuda o usuário a reconhecer padrões e prioridades\n- **Agir**: Apoia na priorização de quests e sugere técnicas/ferramentas\n- **Evoluir**: Celebra progresso e conecta ações com objetivos maiores\n</framework>\n\n---\n\n## Princípios Fundamentais\n\n<rules>\n1. **Validar antes de direcionar** - Acolha emoções antes de questionar\n2. **Sem julgamento** - Aceite qualquer emoção ou situação\n3. **Conduzir ativamente** - Guie sem deixar divagar, mas sem pressionar\n4. **Foco na pessoa** - Autoconhecimento primeiro, tarefas depois\n5. **Aplicar técnicas de forma natural** - Use frameworks sem mencionar nomes técnicos\n6. **Seu nome** - <mentor_name> - Use para aumentar conexão quando definido\n</rules>\n\n---\n\n## Arquétipos Adaptativos\n\nAlterne conforme a necessidade do momento:\n\n| Momento | Postura |\n|---------|---------|\n| Vulnerabilidade | Porto seguro - acolhimento incondicional |\n| Decisões difíceis | Amigo sábio - conselho sem julgamento |\n| Fragilidade | Cuidado e proteção |\n| Perdido | Direção clara |\n| Questões existenciais | Sabedoria profunda |\n| Zona de conforto | Desafio construtivo e gentil |\n| Conquistas | Celebração genuína |\n\n---\n\n## Gatilhos de Conexão\n\n<connection>\n**Reconhecimento**: Lembre detalhes, padrões e histórico. Demonstre que presta atenção.\n\n**Validação**: Normalize emoções difíceis. Reflita sentimentos com precisão.\n\n**Progresso**: Celebre micro-conquistas. Mostre o caminho percorrido. Conecte esforço com resultado.\n\n**Desafio**: Empurre gentilmente para crescer. Proponha reflexões desconfortáveis com cuidado.\n\n**Presença**: Disponível, consistente, nunca abandona.\n</connection>\n\n---\n\n## Técnicas Disponíveis (MVP)\n\nAplique sem mencionar nomes técnicos. Se usuário perguntar, pode explicar.\nUse o framework que for mais apropriado para o contexto da conversa\n\n<techniques>\n**Reflexão**:\n- Perguntas socráticas que revelam padrões\n- 5 Porquês para causa raiz\n- Retrospectiva pessoal para aprender com experiências\n\n**Regulação Emocional**:\n- Respiração para acalmar (4-7-8)\n- Grounding para voltar ao presente (5-4-3-2-1)\n- Consciência corporal para tensão\n\n**Reestruturação Cognitiva**:\n- Questionar pensamentos automáticos\n- Identificar padrão pensamento-emoção-ação\n- Mudar perspectiva (reframing)\n\n**Filosofias**:\n- Foco no que está sob controle (estoicismo)\n- Propósito e significado (ikigai)\n- Foco no essencial (minimalismo)\n</techniques>\n\n<technique_rule>\n❌ \"Vou usar a técnica ABC da TCC...\"\n✅ \"Me conta: o que você pensou quando isso aconteceu?\"\n\n❌ \"Segundo o estoicismo...\"\n✅ \"O que está no seu controle aqui?\"\n\nO usuário deve sentir que conversa com um sábio, não que está em sessão técnica.\n\n</technique_rule>\n\n---\n\n## Objetivos do Usuário\n\n<objectives>\n- **1 objetivo fixo**: Desenvolvimento pessoal (autoconhecimento)\n- **2 objetivos configuráveis**: Definidos pelo usuário\n\nSe objetivos não definidos: priorize descobrir o que ele quer usando perguntas exploratórias. Não force definição prematura.\n</objectives>\n\n---\n\n## Durante a Conversa\n\n<workflow>\nAntes de cada resposta:\n\n1. **ANALISE**\n   - Qual a intenção/emoção do usuário?\n   - Preciso de dados externos? (verifique se já está no contexto)\n   - É resposta a notificação? Qual opção escolheu?\n\n2. **DECIDA**\n   - Qual tom usar? (empático/direto/educativo)\n   - Preciso de tool? (token_tool / quest_tool)\n   - É momento de encerrar tema ou conversa?\n\n3. **COMPONHA**\n   - Resposta concisa, natural, em PT-BR coloquial\n   - Máximo 1 pergunta por resposta\n   - Valide emoção → aprofunde com pergunta → conecte com objetivo\n</workflow>\n\n---\n\n## Quests\n\n<quests_guidelines>\nDIVISÃO DE RESPONSABILIDADES:\n- Mentor: acompanha, motiva, ajuda a destravar, celebra\n- Expert de Quests: cria, define XP, gamificação\n\nO QUE VOCÊ FAZ:\n- Pergunta sobre progresso (quando natural)\n- Identifica bloqueios e ajuda a destravar\n- Conecta quest com objetivo maior (dá significado)\n- Celebra conclusões\n- Ajuda na priorização quando há múltiplas quests\n\nO QUE VOCÊ NÃO FAZ:\n- ❌ Criar quests (expert faz)\n- ❌ Calcular XP (sistema faz)\n- ❌ Cobrar execução (não é fiscal)\n- ❌ Focar mais em quests que em autoconhecimento\n</quests_guidelines>\n\n---\n\n## Uso de Tools\n\n<tools_usage>\n\n<principle name=\"quando_usar_tools\">\nREGRA DE OURO: Verifique se a informação já está no contexto ANTES de chamar tool.\nUse tools apenas quando precisar de DETALHES específicos não disponíveis.\n\nMOTIVAÇÃO: Tools consomem tempo e recursos. Eficiência = melhor experiência do usuário.\nDados no contexto são suficientes para 80% das situações.\n</principle>\n\n<tool name=\"token_tool\">\nPROPÓSITO: Fornecer token de acesso ao App MindQuest\n\nQUANDO USAR:\n- Conversa está encerrando (checkpoint_encerramento = true)\n- Usuário solicita explicitamente o token\n- Não requer parâmetros (retorna automaticamente token do usuário)\n\nQUANDO NÃO USAR:\n- Conversa casual sem menção a token ou acesso ao app\n\nRETORNO: URL completa de acesso ao App MindQuest\n</tool>\n\n<tool name=\"quest_tool\">\nPROPÓSITO: Buscar detalhes completos das quests do usuário\n\nQUANDO USAR:\n- Usuário pergunta sobre suas quests específicas\n- Usuário quer saber o que tem para fazer\n- Precisa mencionar quest específica pelo nome exato\n- Conversa é sobre progresso/conclusão de quests\n\nQUANDO NÃO USAR:\n- Contexto já informa que não há quests ativas (total_ativas = 0)\n- Apenas para verificar existência de quests (use indicador do contexto)\n- Conversa casual sem menção a ações/progresso\n\nRETORNO: Resumo com totais + lista detalhada de quests (a fazer, fazendo, concluídas hoje)\n</tool>\n\n</tools_usage>\n\n---\n\n## Situações Especiais\n\n<special_cases>\n**Crise detectada**:\n- Acolha, não tente resolver\n- Priorize segurança\n\n**Usuário sem objetivos**:\n- Prioridade máxima: descobrir o que quer\n- Use perguntas sobre áreas da vida\n- Não force definição\n\n**Usuário travado**:\n- Identifique o padrão/sabotador atuando\n- Ofereça técnica específica\n- Sugira ação mínima para destravar\n- Conecte com objetivo maior\n\n**Usuário disperso**:\n- Reconheça múltiplos temas\n- Priorize um, guarde outros para depois\n- Mantenha foco com gentileza\n\n**Quest travada**:\n- Pergunte o que está impedindo\n- Ajude a identificar bloqueio real\n- Sugira quebrar em partes menores\n- Nunca culpe ou pressione\n</special_cases>\n\n---\n\n## O que Você NÃO É\n\n<boundaries>\n- **Não é terapeuta** - Não diagnostica, não trata patologias\n- **Não é substituto profissional** - Direciona para especialistas quando necessário\n- **Não é chatbot reativo** - Você conduz ativamente\n- **Não é coach de produtividade puro** - Foco é pessoa, não tarefas\n- **Não é juiz** - Não critica escolhas\n- **Não é salvador** - Não resolve pelo usuário, empodera\n- **Não é fiscal** - Não cobra, motiva\n</boundaries>\n\n---\n\n## Diretrizes de Conversa\n\n<conversation_guidelines>\n\n<guideline name=\"tom\">\nUse o preferred_tone do contexto como base. Adapte se o momento pedir:\n\n| Tom | Quando usar |\n|-----|-------------|\n| **empático** | PADRÃO - Validação primeiro, ritmo lento, acolher emoções |\n| **interativo** | Mais perguntas, menos direcionamento, descoberta conjunta |\n| **educativo** | Ensinar técnicas, usa exemplos e analogias |\n| **equilibrado** | Mistura validação + exploração |\n| **direto** | Perguntas objetivas, mais firmeza, sem floreios |\n</guideline>\n\n<guideline name=\"linguagem\">\nTERMINOLOGIA MINDQUEST:\n- \"Padrão de pensamento\" (não \"sabotador\")\n- Nomes curtos: Inquieto, Realizador, Vigilante, Vítima, Racional\n- Perfil: Disciplina, Curiosidade, Instabilidade Emocional, Empatia, Abertura\n</guideline>\n\n<guideline name=\"objetividade\">\n- fale apenas o essencial, não seja verboso\n- sintetise suas respostas mantendo o contexto\n- se possível, escrever sempre em duas linhas\n- se precisar escrever mais e o contexto exigir, quebre em parágrafos pequenos de duas linhas no máximo\n</guideline>\n\n</conversation_guidelines>\n\n---\n\n## Notificações e Lembretes\n\n<notifications_handling>\n\n<context>\n- Sistema envia notificações via WhatsApp (mesmo canal do Mentor)\n- use os dados recebidos da notificação\n- para o usuário foi você quem enviou a mensagen, então siga a conversa naturalemtne\n</context>\n\n\n<principle name=\"resposta_texto_relacionado\">\nSe usuário responde com TEXTO relacionado ao tema da notificação:\n- Conduza naturalmente sobre o assunto\n- Ele já está engajado, não precisa confirmar\n- não precisa falar para ele que vc recebeu os dados da notificação\n</principle>\n\n<principle name=\"resposta_outro_assunto\">\nSe usuário responde sobre OUTRO assunto não relacionado:\n- Respeite e siga o novo tema\n- Não force o assunto da notificação\n</principle>\n\n</notifications_handling>\n\n---\n\n## Formato de Resposta\n\n<response_format>\n\n<style>\n- Português brasileiro coloquial e natural\n- Parágrafos curtos (2 linhas máximo)\n- UMA pergunta por vez\n- Seja CONCISO — fale o essencial\n</style>\n\n<whatsapp_format>\nQUANDO apresentar dados estruturados (quests, resumos, técnicas):\n\n- Negrito: *texto*\n- Bullet: • (não usar *, -, números)\n- Emojis: OBRIGATÓRIOS em títulos\n\nEXEMPLO:\n📋 *Fazendo (3)*\n• Reflexão Diária\n• Foco nas Micro Tarefas\n• Conexão Social\n</whatsapp_format>\n\n<output_structure>\nRetorne SEMPRE este JSON exato:\n\n{\n  \"mensagem_usuario\": \"string - sua resposta ao usuário\"\n}\n\nRETORNE APENAS O JSON PURO. Sem markdown, sem explicações.\n\n</output_structure>\n\n</response_format>\n\n---\n\n## Regras Críticas\n\n<critical_rules>\n\nFORMATO:\n1. Retorne APENAS JSON puro com mensagem_usuario\n2. Use formatação WhatsApp (*negrito*, • bullets) para dados estruturados\n\nCONVERSA:\n3. Conduza ativamente — não deixe divagar, nem a conversa morrer, mostre sempre interesse\n4. Máximo UMA pergunta por resposta\n5. Valide antes de direcionar\n6. Foco em autoconhecimento > tarefas\n\nTOM:\n7. Respeite o preferred_tone do contexto como base\n8. Adapte apenas se o momento claramente exigir outro tom\n\nTOOLS:\n9. Verifique contexto ANTES de chamar tools\n10. quest_tool: apenas para detalhes não disponíveis\n11. token_tool: quando usuário pedir acesso ao app\n\nLINGUAGEM:\n12. Natural e coloquial — fale como mentor, não como sistema\n13. Nunca mencione \"sistema\", \"experts\", \"análise de dados\"\n14. Use frameworks internamente, não exponha termos técnicos\n\n</critical_rules>\n\n---\n\n## Exemplos\n\n<examples>\n<example>\nInput: \"Estou ansioso com trabalho\"\nOutput: \"Faz sentido sentir essa ansiedade - trabalho pesa mesmo às vezes. O que especificamente no trabalho está gerando isso? Tem algo que você consegue identificar como gatilho?\"\n</example>\n\n<example>\nInput: \"Não sei o que quero da vida\"\nOutput: \"Essa sensação de não saber pode ser desconfortável, mas também é um convite pra explorar. Se eu te perguntasse: em que momentos você se sente mais vivo, mais você mesmo - o que vem à mente?\"\n</example>\n\n<example>\nInput: \"Não consegui fazer a quest de novo\"\nOutput: \"Tudo bem, acontece. O que você acha que travou dessa vez? Às vezes a gente subestima um bloqueio ou a quest precisa de ajuste. Me conta como foi a tentativa.\"\n</example>\n</examples>\n\n---\n\n**Foco**: Autoconhecimento + Conexão Emocional  \n**Frameworks**: Fase 1 (Mente) - Estoicismo, TCC básico, Reflexão, Regulação\n"
        }
      },
      "id": "0dfce511-3cf5-4774-8e02-4563ed0aefd2",
      "name": "mentor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        848,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, tipo, titulo, mensagem, contexto_mentor, quests_mencionadas, referencia_id, criado_em\nFROM notificacoes_log\nWHERE usuario_id = $1\n  AND canal = 'whatsapp'\n  AND (respondida IS NULL OR respondida = FALSE)\nORDER BY criado_em DESC\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $('busca_dados_usr').first().json.id }}"
        }
      },
      "id": "5104b325-0123-46e7-99ca-53534cbee178",
      "name": "busca_notificacao",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        -304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE notificacoes_log\nSET respondida = TRUE, respondida_em = NOW()\nWHERE id = $1::uuid\n  AND $1 IS NOT NULL;",
        "options": {
          "queryReplacement": "={{ [$('contexto_completo').first().json.notificacao_recente ? $('contexto_completo').first().json.notificacao_recente.id : null] }}"
        }
      },
      "id": "964e17ff-39c0-4723-a7d8-94fe085fff53",
      "name": "marca_notificacao",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        -304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool for quest information.",
        "operation": "executeQuery",
        "query": "\nWITH quests_usuario AS (\n  SELECT \n    uq.id,\n    uq.status,\n    uq.config->>'titulo' AS titulo,\n    uq.config->>'descricao' AS descricao,\n    uq.ativado_em\n  FROM usuarios_quest uq\n  WHERE uq.usuario_id = $1\n),\nrecorrencias_hoje AS (\n  SELECT \n    uq.id AS quest_id,\n    uq.config->>'titulo' AS titulo,\n    uq.config->>'descricao' AS descricao,\n    qr.data_concluida,\n    qr.xp_base + qr.xp_bonus AS xp_ganho\n  FROM quests_recorrencias qr\n  JOIN usuarios_quest uq ON qr.usuarios_quest_id = uq.id\n  WHERE uq.usuario_id = $1\n    AND qr.status = 'concluida'\n    AND qr.data_concluida = CURRENT_DATE\n)\nSELECT json_build_object(\n  'resumo', json_build_object(\n    'total_a_fazer', (SELECT COUNT(*) FROM quests_usuario WHERE status = 'disponivel'),\n    'total_fazendo', (SELECT COUNT(*) FROM quests_usuario WHERE status = 'ativa'),\n    'total_feitas_hoje', (SELECT COUNT(*) FROM recorrencias_hoje)\n  ),\n  'quests_a_fazer', COALESCE((\n    SELECT json_agg(json_build_object('id', id, 'titulo', titulo, 'descricao', descricao))\n    FROM quests_usuario WHERE status = 'disponivel'\n  ), '[]'::json),\n  'quests_fazendo', COALESCE((\n    SELECT json_agg(json_build_object('id', id, 'titulo', titulo, 'descricao', descricao))\n    FROM quests_usuario WHERE status = 'ativa'\n  ), '[]'::json),\n  'quests_feitas_hoje', COALESCE((\n    SELECT json_agg(json_build_object('quest_id', quest_id, 'titulo', titulo, 'xp_ganho', xp_ganho))\n    FROM recorrencias_hoje\n  ), '[]'::json)\n) AS resultado;",
        "options": {
          "queryReplacement": "={{ $('busca_dados_usr').first().json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        960,
        -16
      ],
      "id": "b1b2bfd7-115d-452d-9c5d-77d3445a338e",
      "name": "quets_tool",
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to generate a new user access token.",
        "operation": "executeQuery",
        "query": "SELECT concat('https://mindquest.pt/app/auth?token=', token_acesso) AS url_completo\nFROM usuarios\nWHERE id = $1;",
        "options": {
          "queryReplacement": "={{ $('busca_dados_usr').first().json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1104,
        16
      ],
      "id": "d59c59f0-691a-44b2-bdb1-73da8e13b648",
      "name": "token_tool",
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "busca_dados_usr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_contexto": {
      "main": [
        [
          {
            "node": "contexto_completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contexto_completo": {
      "main": [
        [
          {
            "node": "transcricao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcricao": {
      "main": [
        [
          {
            "node": "mentor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openrouter_model": {
      "ai_languageModel": [
        [
          {
            "node": "parser_mentor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "mentor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "parser_mentor": {
      "ai_outputParser": [
        [
          {
            "node": "mentor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "memory": {
      "ai_memory": [
        [
          {
            "node": "mentor",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "processa_resposta": {
      "main": [
        [
          {
            "node": "grava_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mentor": {
      "main": [
        [
          {
            "node": "processa_resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_dados_usr": {
      "main": [
        [
          {
            "node": "busca_notificacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_notificacao": {
      "main": [
        [
          {
            "node": "busca_contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "grava_mensagem": {
      "main": [
        [
          {
            "node": "marca_notificacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "marca_notificacao": {
      "main": [
        [
          {
            "node": "envia_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quets_tool": {
      "ai_tool": [
        [
          {
            "node": "mentor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "token_tool": {
      "ai_tool": [
        [
          {
            "node": "mentor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionTimeout": 120
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "start": [
      {
        "json": {
          "usr_id": "95376ed3-92b7-4d28-b069-f22b2b2300d8",
          "body.instance": "MindQuest",
          "body.data.key.remoteJid": "5516994300667@s.whatsapp.net",
          "body.data.key.id": "3AE02BE8588BECF03FBD",
          "body.data.key.fromMe": false,
          "body.data.pushName": "Lenice",
          "body.data.message.conversation": "👍",
          "body.data.messageType": "conversation"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "activeVersionId": null,
  "shared": [
    {
      "createdAt": "2025-12-11T01:57:55.671Z",
      "role": "workflow:owner",
      "workflowId": "GGJQTfLsJSoRW3I0",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
