backups/n8n/mentor_mindquest_v2.json
{
  "createdAt": "2025-12-07T20:11:13.721Z",
  "id": "zpNw60BXhEJCYTYH",
  "name": "mentor_mindquest_v2",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usr_id"
            },
            {
              "name": "body.instance"
            },
            {
              "name": "body.data.key.remoteJid"
            },
            {
              "name": "body.data.key.id"
            },
            {
              "name": "body.data.key.fromMe",
              "type": "boolean"
            },
            {
              "name": "body.data.pushName"
            },
            {
              "name": "body.data.message.conversation"
            },
            {
              "name": "body.data.messageType"
            }
          ]
        }
      },
      "id": "start",
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -768,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "fVrO1PaqFuA957u0",
          "mode": "list"
        }
      },
      "id": "config",
      "name": "config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -592,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  u.nome,\n  u.id,\n  u.nome_preferencia,\n  u.nome_assistente,\n  u.token_acesso,\n  u.cronotipo_detectado,\n  u.whatsapp_numero,\n  u.faixa_etaria,\n  u.sobre_voce,\n  u.tom_conversa\nFROM usuarios u\nWHERE u.id = $1;",
        "options": {
          "queryReplacement": "={{ $('start').first().json.usr_id }}"
        }
      },
      "id": "busca_dados_usr",
      "name": "busca_dados_usr",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -416,
        -304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH objetivos AS (\n  SELECT json_agg(json_build_object('id', o.id, 'titulo', o.titulo, 'area_vida', av.nome, 'is_padrao', o.is_padrao))\n  FROM usuarios_objetivos o\n  JOIN areas_vida_catalogo av ON o.area_vida_id = av.id\n  WHERE o.usuario_id = $1 AND o.status = 'ativo'\n),\nobjetivo_padrao AS (\n  SELECT id FROM usuarios_objetivos\n  WHERE usuario_id = $1 AND is_padrao = TRUE AND status = 'ativo'\n  LIMIT 1\n),\nsabotador AS (\n  SELECT sabotador_id, COUNT(*) AS total_deteccoes\n  FROM usuarios_sabotadores\n  WHERE usuario_id = $1\n  GROUP BY sabotador_id\n  ORDER BY COUNT(*) DESC\n  LIMIT 1\n),\nperfil_bigfive AS (\n  SELECT perfil_primario, COUNT(*) AS total_deteccoes, ROUND(AVG(confianca_media)::numeric, 2) AS confianca_media\n  FROM usuarios_perfis\n  WHERE usuario_id = $1\n  GROUP BY perfil_primario\n  ORDER BY COUNT(*) DESC, AVG(confianca_media) DESC\n  LIMIT 1\n),\nquests_count AS (\n  SELECT \n    COUNT(*) FILTER (WHERE status = 'ativa') AS total_ativas,\n    COUNT(*) FILTER (WHERE status = 'disponivel') AS total_disponiveis\n  FROM usuarios_quest\n  WHERE usuario_id = $1 AND status IN ('ativa', 'disponivel')\n),\nhistorico AS (\n  SELECT json_agg(json_build_object('id', c.id, 'data_conversa', c.data_conversa, 'resumo_conversa', c.resumo_conversa))\n  FROM (\n    SELECT id, data_conversa, resumo_conversa\n    FROM usr_chat\n    WHERE usuario_id = $1 \n      AND resumo_conversa IS NOT NULL\n      AND data_conversa < CURRENT_DATE\n    ORDER BY data_conversa DESC, horario_inicio DESC\n    LIMIT 5\n  ) c\n),\nnivel AS (\n  SELECT nivel_atual, titulo_nivel FROM usuarios_conquistas\n  WHERE usuario_id = $1\n  LIMIT 1\n),\nsessao_hoje AS (\n  SELECT id, data_conversa, status, mensagens\n  FROM usr_chat\n  WHERE usuario_id = $1 AND data_conversa = CURRENT_DATE\n  ORDER BY horario_inicio DESC\n  LIMIT 1\n),\ntotal_conversas AS (\n  SELECT COUNT(*) as total FROM usr_chat WHERE usuario_id = $1\n)\nSELECT\n  (SELECT * FROM objetivos) AS objetivos_especificos,\n  (SELECT id FROM objetivo_padrao) AS objetivo_padrao_id,\n  (SELECT sabotador_id FROM sabotador) AS sabotador_mais_ativo,\n  (SELECT perfil_primario FROM perfil_bigfive) AS perfil_bigfive_primario,\n  (SELECT total_ativas FROM quests_count) AS quests_ativas_total,\n  (SELECT total_disponiveis FROM quests_count) AS quests_disponiveis_total,\n  (SELECT * FROM historico) AS ultimas_conversas,\n  (SELECT nivel_atual FROM nivel) AS nivel_atual,\n  (SELECT titulo_nivel FROM nivel) AS titulo_nivel,\n  (SELECT id FROM sessao_hoje) AS sessao_hoje_id,\n  (SELECT status FROM sessao_hoje) AS sessao_hoje_status,\n  (SELECT mensagens FROM sessao_hoje) AS sessao_hoje_mensagens,\n  (SELECT total FROM total_conversas) AS total_conversas;",
        "options": {
          "queryReplacement": "={{ $('start').first().json.usr_id }}"
        }
      },
      "id": "busca_contexto",
      "name": "busca_contexto",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        -304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CONTEXTO COMPLETO v6 - Novo ciclo quando sessão finalizada\nconst usuarioId = $('start').first().json.usr_id;\nconst config = $('config').first().json;\nconst dadosUsr = $('busca_dados_usr').first().json;\nconst contexto = $('busca_contexto').first().json;\n\n// Notificação recente (se houver)\nconst notifResult = $('busca_notificacao').first()?.json;\nconst temNotificacao = notifResult && notifResult.id;\nconst notificacaoRecente = temNotificacao ? {\n  id: notifResult.id,\n  tipo: notifResult.tipo,\n  titulo: notifResult.titulo || '',\n  mensagem: notifResult.mensagem || '',\n  contexto_mentor: notifResult.contexto_mentor || '',\n  quests_mencionadas: notifResult.quests_mencionadas || [],\n  referencia_id: notifResult.referencia_id,\n  criado_em: notifResult.criado_em\n} : null;\n\n// Verifica se é primeira conversa\nconst totalConversas = Number(contexto?.total_conversas || 0);\nconst isPrimeiraConversa = totalConversas === 0;\n\n// Verifica se usuário tem objetivos\nconst objetivos = contexto?.objetivos_especificos || [];\nconst temObjetivos = Array.isArray(objetivos) && objetivos.length > 0;\n\n// Quests - apenas totais (detalhes via tool)\nconst questsAtivasTotal = Number(contexto?.quests_ativas_total || 0);\nconst questsDisponiveisTotal = Number(contexto?.quests_disponiveis_total || 0);\nconst temQuests = questsAtivasTotal > 0 || questsDisponiveisTotal > 0;\n\n// Sessão do dia\nconst sessaoHojeId = contexto?.sessao_hoje_id || null;\nconst sessaoHojeStatus = contexto?.sessao_hoje_status || null;\nconst sessaoHojeMensagens = contexto?.sessao_hoje_mensagens || [];\n\n// NOVO CICLO: não existe sessão OU sessão está finalizada\nconst isNovoCiclo = !sessaoHojeId || sessaoHojeStatus === 'finalizado';\n\n// Se é novo ciclo (sessão finalizada), reseta contador de interações\nconst mensagensArray = Array.isArray(sessaoHojeMensagens) ? sessaoHojeMensagens : [];\nconst interacaoAtual = isNovoCiclo ? 1 : mensagensArray.filter(m => m?.autor === 'usuario').length + 1;\n\n// Tom de conversa (default: empatico)\nconst tomConversa = dadosUsr?.tom_conversa || 'empatico';\n\nreturn [{\n  usuario_id: usuarioId,\n  nome_preferencia: dadosUsr?.nome_preferencia || null,\n  nome_assistente: dadosUsr?.nome_assistente || 'Mind',\n  whatsapp_numero: dadosUsr?.whatsapp_numero || null,\n  faixa_etaria: dadosUsr?.faixa_etaria || null,\n  sobre_voce: dadosUsr?.sobre_voce || null,\n  tom_conversa: tomConversa,\n  objetivos_especificos: objetivos,\n  tem_objetivos: temObjetivos,\n  objetivo_padrao: contexto?.objetivo_padrao_id || null,\n  sabotador_mais_ativo: contexto?.sabotador_mais_ativo || null,\n  perfil_bigfive_primario: contexto?.perfil_bigfive_primario || null,\n  // Quests - apenas indicadores\n  tem_quests: temQuests,\n  quests_ativas_total: questsAtivasTotal,\n  quests_disponiveis_total: questsDisponiveisTotal,\n  // Histórico\n  ultimas_conversas: contexto?.ultimas_conversas || [],\n  nivel_atual: contexto?.nivel_atual || 1,\n  titulo_nivel: contexto?.titulo_nivel || 'Explorador',\n  total_conversas: totalConversas,\n  is_primeira_conversa: isPrimeiraConversa,\n  sessao_hoje_id: sessaoHojeId,\n  sessao_hoje_mensagens: sessaoHojeMensagens,\n  // Novo ciclo quando sessão finalizada\n  is_nova_sessao: isNovoCiclo,\n  is_novo_ciclo: isNovoCiclo,\n  sessao_anterior_finalizada: sessaoHojeStatus === 'finalizado',\n  interacao_atual: interacaoAtual,\n  // Notificação\n  tem_notificacao_recente: temNotificacao,\n  notificacao_recente: notificacaoRecente\n}];"
      },
      "id": "contexto_completo",
      "name": "contexto_completo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -304
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jUAvu7DUAzyqZhJd",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "body.instance": "={{ $('start').first().json['body.instance'] }}",
            "body.data.key.remoteJid": "={{ $('start').first().json['body.data.key.remoteJid'] }}",
            "body.data.key.id": "={{ $('start').first().json['body.data.key.id'] }}",
            "body.data.key.fromMe": "={{ $('start').first().json['body.data.key.fromMe'] }}",
            "body.data.pushName": "={{ $('start').first().json['body.data.pushName'] }}",
            "body.data.message.conversation": "={{ $('start').first().json['body.data.message.conversation'] }}",
            "body.data.messageType": "={{ $('start').first().json['body.data.messageType'] }}"
          }
        },
        "options": {}
      },
      "id": "transcricao",
      "name": "transcricao",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        400,
        -304
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('start').first().json['body.instance'] }}{{ $('start').first().json.usr_id }}{{ $('busca_dados_usr').item.json.whatsapp_numero }}",
        "sessionTTL": 43200,
        "contextWindowLength": 50
      },
      "id": "memory",
      "name": "memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        640,
        128
      ],
      "credentials": {
        "redis": {
          "id": "PB4zpLy1jLXDEzmH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "id": "openrouter_model",
      "name": "openrouter_model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        416,
        304
      ],
      "credentials": {
        "openRouterApi": {
          "id": "rSnkOnnAHyfayLJt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"mensagem_usuario\": \"Oi! Como você está hoje?\",\n  \"tema_atual\": {\n    \"titulo\": \"Rotina de férias\",\n    \"resumo\": [\"Definiu rotina 5h-22h\", \"Preocupação com sono\"],\n    \"decisoes\": [\"Academia às 5h\"]\n  },\n  \"checkpoint_encerramento\": false,\n  \"tema_atual_fechado\": false,\n  \"objetivo_sugerido\": null\n}",
        "autoFix": true
      },
      "id": "parser_mentor",
      "name": "parser_mentor",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1008,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// PROCESSA RESPOSTA DO MENTOR v7 - trigger sem limite de interações\nconst output = $input.first()?.json?.output ?? {};\nconst contexto = $('contexto_completo').first().json;\nconst transcricao = $('transcricao').first().json;\n\n// Flags do mentor\nconst checkpointEncerramento = output.checkpoint_encerramento === true;\nconst temaFechado = output.tema_atual_fechado === true;\nconst objetivoSugerido = output.objetivo_sugerido || null;\n\n// Tema atual\nconst temaAtual = output.tema_atual || { titulo: '', resumo: [], decisoes: [] };\n\n// Trigger: apenas quando mentor sinaliza fechamento\nconst triggerExperts = temaFechado || checkpointEncerramento;\n\n// Prepara mensagens para gravar (incremental)\nconst mensagemUsuario = {\n  interaction: contexto.interacao_atual,\n  autor: 'usuario',\n  texto: transcricao.message || '',\n  timestamp: new Date().toISOString()\n};\n\nconst mensagemMentor = {\n  interaction: contexto.interacao_atual,\n  autor: 'agente',\n  texto: output.mensagem_usuario || '',\n  timestamp: new Date().toISOString(),\n  tema: temaAtual.titulo || null\n};\n\n// Mensagens existentes + novas\nconst mensagensExistentes = Array.isArray(contexto.sessao_hoje_mensagens) \n  ? contexto.sessao_hoje_mensagens \n  : [];\nconst mensagensAtualizadas = [...mensagensExistentes, mensagemUsuario, mensagemMentor];\n\nreturn [{\n  user_message: output.mensagem_usuario || '',\n  checkpoint_encerramento: checkpointEncerramento,\n  tema_fechado: temaFechado,\n  tema_atual: temaAtual,\n  trigger_experts: triggerExperts,\n  objetivo_sugerido: objetivoSugerido,\n  interacao_atual: contexto.interacao_atual,\n  sessao_id: contexto.sessao_hoje_id,\n  is_nova_sessao: contexto.is_nova_sessao,\n  mensagens_atualizadas: JSON.stringify(mensagensAtualizadas),\n  total_interacoes: mensagensAtualizadas.filter(m => m.autor === 'usuario').length\n}];"
      },
      "id": "processa_resposta",
      "name": "processa_resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Upsert: cria sessão OU reativa sessão finalizada\nWITH upsert AS (\n  INSERT INTO usr_chat (usuario_id, data_conversa, horario_inicio, status, mensagens, total_interactions)\n  VALUES ($1, CURRENT_DATE, NOW(), 'em_andamento', $2::jsonb, $3)\n  ON CONFLICT (usuario_id, data_conversa)\n  DO UPDATE SET \n    mensagens = $2::jsonb,\n    total_interactions = $3,\n    status = 'em_andamento',\n    horario_fim = NULL,\n    atualizado_em = NOW()\n  WHERE usr_chat.data_conversa = CURRENT_DATE\n  RETURNING id, usuario_id, data_conversa, status\n)\nSELECT * FROM upsert\nUNION ALL\nSELECT id, usuario_id, data_conversa, status \nFROM usr_chat \nWHERE usuario_id = $1 AND data_conversa = CURRENT_DATE\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [ $('contexto_completo').first().json.usuario_id, $('processa_resposta').first().json.mensagens_atualizadas, $('processa_resposta').first().json.total_interacoes ] }}"
        }
      },
      "id": "grava_mensagem",
      "name": "grava_mensagem",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1136,
        -304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DJB5qWudX1Hqap1O",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "instanceName": "={{ $('start').first().json['body.instance'] }}",
            "remoteJidOrNumber": "={{ $('start').first().json['body.data.key.remoteJid'] }}",
            "messageText": "={{ $('processa_resposta').first().json.user_message }}",
            "linkPreview": "false",
            "minDelayMs": "3000"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "envia_mensagem",
      "name": "envia_mensagem",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1984,
        -128
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "exp1",
                    "leftValue": "={{ $('processa_resposta').first().json.trigger_experts }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chamar_experts"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12510685-dd79-4699-b0f7-ab2484c3f37f",
                    "leftValue": "={{ $('processa_resposta').first().json.trigger_experts }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "apenas_msg"
            }
          ]
        },
        "options": {}
      },
      "id": "verifica_encerramento",
      "name": "verifica_encerramento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1568,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE usr_chat\nSET status = 'finalizado', horario_fim = NOW(), atualizado_em = NOW()\nWHERE usuario_id = $1 AND data_conversa = CURRENT_DATE\nRETURNING id, usuario_id, data_conversa, status, mensagens;",
        "options": {
          "queryReplacement": "={{ $('contexto_completo').first().json.usuario_id }}"
        }
      },
      "id": "finaliza_sessao",
      "name": "finaliza_sessao",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2224,
        -464
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// PREPARA DADOS PARA OS EXPERTS (compatível com ambos os caminhos)\nconst contexto = $('contexto_completo').first().json;\nconst processa = $('processa_resposta').first().json;\nconst inputData = $input.first().json;\n\n// Mensagens: tenta do input (finaliza_sessao) ou do processa_resposta\nconst mensagens = inputData.mensagens || JSON.parse(processa.mensagens_atualizadas || '[]');\nconst mensagensTexto = mensagens.map(m => `${m.autor}: ${m.texto}`).join('\\n');\n\n// Objetivo sugerido pelo mentor (se houver)\nconst objetivoSugerido = processa.objetivo_sugerido || null;\n\nreturn [{\n  usuario_id: contexto.usuario_id,\n  chat_id: inputData.id || processa.sessao_id,\n  data_conversa: inputData.data_conversa || new Date().toISOString().split('T')[0],\n  mensagens_json: JSON.stringify(mensagens),\n  mensagens_texto: mensagensTexto,\n  total_interacoes: mensagens.filter(m => m.autor === 'usuario').length,\n  objetivo_sugerido: objetivoSugerido,\n  tem_objetivo_sugerido: objetivoSugerido !== null\n}];"
      },
      "id": "call_experts",
      "name": "call_experts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        -272
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vJRfrbY4NhpNyfCD",
          "mode": "list",
          "cachedResultUrl": "/workflow/vJRfrbY4NhpNyfCD",
          "cachedResultName": "sw_experts_panas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $input.first().json.usuario_id }}",
            "chat_id": "={{ $input.first().json.chat_id }}",
            "mensagens": "={{ $input.first().json.mensagens_texto }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mensagens",
              "displayName": "mensagens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data_conversa",
              "displayName": "data_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "expert_panas",
      "name": "expert_panas",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2800,
        -896
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Vbc4JHAR3388mLcv",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $input.first().json.usuario_id }}",
            "chat_id": "={{ $input.first().json.chat_id }}",
            "mensagens": "={{ $input.first().json.mensagens_texto }}"
          }
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "expert_sabotadores",
      "name": "expert_sabotadores",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2800,
        -704
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nEstxgiVE8GLXgUQ",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $input.first().json.usuario_id }}",
            "chat_id": "={{ $input.first().json.chat_id }}",
            "mensagens": "={{ $input.first().json.mensagens_texto }}"
          }
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "expert_insights",
      "name": "expert_insights",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2800,
        -512
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GykxpS5vsg8NeoOh",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $input.first().json.usuario_id }}",
            "chat_id": "={{ $input.first().json.chat_id }}",
            "mensagens": "={{ $input.first().json.mensagens_texto }}"
          }
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "expert_humor_energia",
      "name": "expert_humor_energia",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2800,
        -320
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nOl6lnaGMpyg9S9J",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $input.first().json.usuario_id }}",
            "chat_id": "={{ $input.first().json.chat_id }}",
            "mensagens": "={{ $input.first().json.mensagens_texto }}"
          }
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "expert_bigfive",
      "name": "expert_bigfive",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2800,
        -128
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ItBastfCTkWxm41M",
          "mode": "list",
          "cachedResultUrl": "/workflow/ItBastfCTkWxm41M",
          "cachedResultName": "sw_xp_conversas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $input.first().json.usuario_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "calcular_apenas_novos",
              "displayName": "calcular_apenas_novos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "sw_xp_conversas",
      "name": "sw_xp_conversas",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2800,
        64
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LKjU8NE9aNHw7kEh",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $input.first().json.usuario_id }}",
            "chat_id": "={{ $input.first().json.chat_id }}"
          }
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "sw_criar_quest",
      "name": "sw_criar_quest",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3088,
        -704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "obj1",
              "leftValue": "={{ $input.first().json.tem_objetivo_sugerido }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "expert_objetivos",
      "name": "expert_objetivos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2800,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Grava objetivo sugerido pelo mentor\nINSERT INTO usuarios_objetivos (usuario_id, titulo, area_vida_id, descricao, is_padrao, status)\nSELECT \n  $1,\n  $2,\n  av.id,\n  $4,\n  FALSE,\n  'ativo'\nFROM areas_vida_catalogo av\nWHERE av.nome ILIKE '%' || $3 || '%'\nLIMIT 1\nRETURNING id, titulo, area_vida_id;",
        "options": {
          "queryReplacement": "={{ [ $input.first().json.usuario_id, $input.first().json.objetivo_sugerido?.titulo || 'Objetivo', $input.first().json.objetivo_sugerido?.area_vida || 'Desenvolvimento Pessoal', $input.first().json.objetivo_sugerido?.detalhamento || '' ] }}"
        }
      },
      "id": "grava_objetivo",
      "name": "grava_objetivo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3088,
        288
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<user_input>\n\n<message>\n{{ $('transcricao').item.json.message }}\n</message>\n\n<session_context>\n<interaction_number>{{ $('contexto_completo').first().json.interacao_atual }}</interaction_number>\n<is_new_session>{{ $('contexto_completo').first().json.is_nova_sessao ? 'SIM' : 'NÃO' }}</is_new_session>\n<is_first_ever>{{ $('contexto_completo').first().json.is_primeira_conversa ? 'SIM' : 'NÃO' }}</is_first_ever>\n</session_context>\n</user_input>\n\n\n<!-- ============================================ -->\n<!-- NOTIFICAÇÃO PENDENTE (se houver) -->\n<!-- ============================================ -->\n\n{{ $('contexto_completo').first().json.tem_notificacao_recente ? `\n<notification_context>\n<has_pending_notification>SIM</has_pending_notification>\n<notification_type>${$('contexto_completo').first().json.notificacao_recente.tipo || ''}</notification_type>\n<notification_title>${$('contexto_completo').first().json.notificacao_recente.titulo || ''}</notification_title>\n<notification_message>\n${$('contexto_completo').first().json.notificacao_recente.mensagem || ''}\n</notification_message>\n<mentor_context>${$('contexto_completo').first().json.notificacao_recente.contexto_mentor || ''}</mentor_context>\n\n<instruction>\nANALISE A MENSAGEM DO USUÁRIO:\n\n1. Se for um NÚMERO (1, 2, 3, 4...):\n   - O usuário está respondendo à alternativa correspondente na notificação\n   - Use o contexto_mentor para conduzir a conversa sobre esse tema\n   - NÃO pergunte \"sobre o que quer falar\", você já sabe!\n\n2. Se for TEXTO relacionado ao tema:\n   - O usuário está respondendo sobre a notificação\n   - Conduza a conversa naturalmente\n\n3. Se for TEXTO não relacionado:\n   - O usuário quer falar de outro assunto\n   - Siga o novo tema, não force a notificação\n</instruction>\n</notification_context>\n` : '' }}\n\n<!-- ============================================ -->\n<!-- CONTEXTO DO USUÁRIO -->\n<!-- ============================================ -->\n\n<user_context>\n<profile>\n<name>{{ $('contexto_completo').first().json.nome_preferencia || 'amigo' }}</name>\n<preferred_tone>{{ $('contexto_completo').first().json.tom_conversa || 'empatico' }}</preferred_tone>\n<about>{{ $('contexto_completo').first().json.sobre_voce ? 'Sobre: ' + $('contexto_completo').first().json.sobre_voce : '' }}</about>\n</profile>\n\n<goals>\n<has_defined_goals>{{ $('contexto_completo').first().json.tem_objetivos ? 'SIM' : 'NÃO' }}</has_defined_goals>\n<active_goals>{{ JSON.stringify($('contexto_completo').first().json.objetivos_especificos || []) }}</active_goals>\n</goals>\n\n<mental_profile>\n<active_pattern>{{ $('contexto_completo').first().json.sabotador_mais_ativo || 'nenhum identificado' }}</active_pattern>\n<behavioral_profile>{{ $('contexto_completo').first().json.perfil_bigfive_primario || 'não identificado' }}</behavioral_profile>\n</mental_profile>\n\n<quests>\n<has_quests>{{ $('contexto_completo').first().json.tem_quests ? 'SIM' : 'NÃO' }}</has_quests>\n<total_ativas>{{ $('contexto_completo').first().json.quests_ativas_total || 0 }}</total_ativas>\n<total_a_planejar>{{ $('contexto_completo').first().json.quests_disponiveis_total || 0 }}</total_a_planejar>\n<note>Use quest_tool para detalhes das quests quando necessário</note>\n</quests>\n\n<progress>\n<level>{{ $('contexto_completo').first().json.nivel_atual }}</level>\n<title>{{ $('contexto_completo').first().json.titulo_nivel }}</title>\n</progress>\n\n<conversation_history>{{ JSON.stringify($('contexto_completo').first().json.ultimas_conversas || []) }}</conversation_history>\n</user_context>\n\n\n<!-- ============================================ -->\n<!-- DIRETRIZES PRIORITÁRIAS -->\n<!-- ============================================ -->\n\n<diretrizes>\n{{ (() => {\n  const ctx = $('contexto_completo').first().json;\n  const diretrizes = [];\n  \n  // Prioridade 1: Objetivos\n  if (!ctx.tem_objetivos) {\n    diretrizes.push('PRIORIDADE: Usuário não tem objetivos definidos. Conduza a conversa para descobrir o que ele quer tirar do papel.');\n  }\n  \n  // Nova sessão: abertura contextual (só se NÃO tiver notificação)\n  if (ctx.is_nova_sessao && ctx.interacao_atual === 1 && !ctx.tem_notificacao_recente) {\n    if (ctx.is_primeira_conversa) {\n      diretrizes.push('Primeira conversa: Acolha, apresente-se brevemente como mentor do MindQuest, e foque em conhecer o usuário.');\n    } else {\n      diretrizes.push('Abertura contextual: Escolha o que for mais relevante - quest pendente, última conversa, ou simplesmente perguntar como ele está.');\n    }\n  }\n  \n  return diretrizes.join('\\n');\n})() }}\n</diretrizes>\n\n<output_format>\nRetorne APENAS este JSON, sem texto adicional, seguindo rigorosamente as intruções do system: {\"mensagem_usuario\":\"sua resposta\",\"tema_atual\":{\"titulo\":\"tema\",\"resumo\":[\"ponto 1\",\"ponto 2\"],\"decisoes\":[]},\"checkpoint_encerramento\":false,\"tema_atual_fechado\":false,\"objetivo_sugerido\":null}\n</output_format>",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=<system>\n\n<identity>\n<role>Mentor do MindQuest</role>\n<purpose>Guia de desenvolvimento pessoal que transforma conversas em ações práticas</purpose>\n</identity>\n\n<framework>\nCONVERSAR (você) → ENTENDER (experts) → AGIR (quests) → EVOLUIR (progresso)\n\nSeu papel: CONVERSAR para coletar informações ricas que alimentam todo o sistema.\n</framework>\n\n<mission>\nAjudar pessoas a tirarem do papel o que já sabem que precisam fazer.\nO problema não é falta de plano, é padrão mental que trava a ação.\n</mission>\n\n<!-- ============================================ -->\n<!-- USO DE TOOLS -->\n<!-- ============================================ -->\n\n<tools_usage>\n\n<principle name=\"quando_usar_tools\">\nVocê tem acesso a ferramentas (tools) para buscar informações detalhadas.\nUSE TOOLS quando precisar de dados específicos que NÃO estão no contexto.\n\nREGRA DE OURO: Primeiro verifique se a informação já está no contexto.\nSó chame a tool se realmente precisar de mais detalhes.\n</principle>\n\n<tool name=\"quest_tool\">\nPROPÓSITO: Buscar detalhes das quests do usuário\n\nQUANDO USAR:\n- Usuário pergunta sobre suas quests\n- Usuário quer saber o que tem pra fazer\n- Você precisa mencionar uma quest específica pelo nome\n- Usuário quer marcar quest como feita\n- Conversa é sobre progresso/ações\n\nQUANDO NÃO USAR:\n- Conversa casual sem menção a quests/ações\n- Já sabe que usuário não tem quests (total_ativas = 0)\n- Apenas para verificar se existem quests (use o indicador do contexto)\n\nRETORNO: Resumo com totais + lista de quests a fazer, fazendo e feitas hoje\n</tool>\n\n<principle name=\"eficiencia\">\n- NÃO chame tools desnecessariamente (gasta tempo e recursos)\n- USE o contexto fornecido sempre que possível\n- CHAME tools apenas quando precisar de DETALHES não disponíveis\n</principle>\n\n</tools_usage>\n\n<!-- ============================================ -->\n<!-- DIRETRIZES DE CONVERSA -->\n<!-- ============================================ -->\n\n<conversation_guidelines>\n\n<principle name=\"gestao_ativa\">\n- Conduza a conversa com clareza\n- Um tema de cada vez\n- Acompanhe o tema atual e seus pontos principais\n</principle>\n\n<principle name=\"fechamento_tema\">\nREGRA CRÍTICA: tema_atual_fechado = true SOMENTE após confirmação EXPLÍCITA do usuário.\n\nPROCESSO OBRIGATÓRIO:\n1. Apresente o conteúdo solicitado (quests, resumo, etc)\n2. Pergunte: \"Quer explorar mais ou seguimos para outro tema?\"\n3. AGUARDE resposta do usuário\n4. SOMENTE SE usuário confirmar fechamento → tema_atual_fechado = true\n\nPROIBIDO:\n- NUNCA marque tema_atual_fechado = true na mesma interação que apresenta dados\n- NUNCA feche tema sem pergunta explícita ao usuário\n- Apresentar quests/resumo NÃO É fechamento de tema\n\nEXEMPLOS:\n- Usuário pede panorama de quests → apresenta → tema_atual_fechado = FALSE\n- Usuário confirma \"pode fechar\" → tema_atual_fechado = TRUE\n</principle>\n\n<principle name=\"checkpoints\">\n`checkpoint_encerramento` = true SOMENTE quando:\n- Usuário CONFIRMA encerramento (\"ok, por hoje é isso\", \"pode finalizar\")\n- Despedida explícita (\"tchau\", \"até mais\", \"tenho que ir\")\n\nNÃO marque checkpoint quando:\n- Usuário pede resumo (pode querer continuar)\n- Você faz resumo espontâneo\n- Tema fechado mas usuário não confirmou que vai parar\n\nAo DETECTAR possível encerramento → PERGUNTE primeiro, não marque.\n</principle>\n\n<principle name=\"prioridades_contextuais\">\nPRIORIDADE MÁXIMA se usuário NÃO tem objetivos:\n- Descobrir o que ele quer alcançar\n- Perguntar sobre projetos, metas, mudanças desejadas\n- Objetivo claro = sistema funciona\n\nSe PRIMEIRAS CONVERSAS - 10 primeiras:\n- Acolha brevemente\n- Foque em conhecer o usuário\n\nSe NOVA SESSÃO (mas não primeira conversa):\n- Escolha o mais relevante: quest pendente, última conversa, ou \"como está?\"\n- Se tem quests (total_ativas > 0), considere usar quest_tool para detalhes\n\nSe tem QUESTS ATIVAS:\n- Pergunte sobre progresso quando natural\n- USE quest_tool para saber quais quests e seu status\n- Motive nas concluídas, ajude a destravar nas paradas\n</principle>\n\n<principle name=\"linguagem\">\n- Use \"padrão de pensamento\" em vez de \"sabotador\"\n- Termos curtos: Inquieto, Realizador, Vigilante, Vítima, Racional\n- Perfil comportamental: Disciplina, Curiosidade, Instabilidade, Empatia, Abertura\n</principle>\n\n</conversation_guidelines>\n\n<!-- ============================================ -->\n<!-- NOTIFICAÇÕES E LEMBRETES -->\n<!-- ============================================ -->\n\n<notifications_handling>\n\n<context>\nO sistema envia notificações pelo WhatsApp com alternativas de resposta numeradas:\n1. Opção 1\n2. Opção 2\n3. Opção 3\n4. Opção 4\n\nQuando o usuário responde, você recebe a mensagem completa da notificação + contexto.\n</context>\n\n<principle name=\"resposta_numerica\">\nSe usuário responder com NÚMERO (1, 2, 3, 4...):\n- Ele ESCOLHEU a alternativa correspondente\n- VOCÊ JÁ SABE sobre o que ele quer falar\n- NÃO pergunte \"quer falar sobre isso?\" - CONDUZA diretamente\n- Use o contexto_mentor para guiar a conversa\n\nExemplo:\n- Notificação: \"1. Reservar 5 min para respirar\"\n- Usuário responde: \"1\"\n- Você: \"Legal! Vamos organizar esses 5 minutos de respiração. Prefere fazer agora ou agendar pra depois?\"\n</principle>\n\n<principle name=\"resposta_texto_relacionado\">\nSe usuário responder com TEXTO relacionado ao tema:\n- Conduza naturalmente sobre o assunto\n- Não precisa confirmar, ele já está engajado\n</principle>\n\n<principle name=\"resposta_outro_assunto\">\nSe usuário responder sobre OUTRO assunto:\n- Respeite e siga o novo tema\n- Não force a notificação\n</principle>\n\n</notifications_handling>\n\n<!-- ============================================ -->\n<!-- TOM DE CONVERSA -->\n<!-- ============================================ -->\n\n<tone_adaptation>\nAdapte conforme preferência do usuário:\n\n<tone name=\"empatico\">Reflexões, compassivo, acolhedor, foco em emoções</tone>\n<tone name=\"interativo\">Colaborativo, perguntas reflexivas</tone>\n<tone name=\"educativo\">Reflexões, explicativo, ensina técnicas</tone>\n<tone name=\"equilibrado\">Mistura acolhimento + reflexão</tone>\n<tone name=\"direto\">Reflexões, tom firme, desafiador, sem rodeios</tone>\n</tone_adaptation>\n\n<!-- ============================================ -->\n<!-- FORMATO DE RESPOSTA -->\n<!-- ============================================ -->\n\n<response_format>\n\n<style>\n- Conversas em PT BR\n- Parágrafos curtos (2-3 linhas máximo)\n- Linguagem coloquial e natural\n- UMA pergunta por vez (máximo)\n- Evite listas em conversas casuais\n- Use listas APENAS para: micro resumo de tema, explicações técnicas, quests, objetivos\n- Seja CONCISO - fale apenas o essencial\n</style>\n\n<style_dados_estruturados>\nQUANDO apresentar dados estruturados (quests, resumos, técnicas, planos, estatísticas):\n\nFORMATO OBRIGATÓRIO WhatsApp:\n- Negrito: *texto* (um asterisco cada lado)\n- Bullet: • (caractere especial)\n- Emojis: OBRIGATÓRIOS em títulos de seção\n\n---\nEXEMPLO QUESTS:\n\n📋 *Fazendo (12)*\n• Reflexão Diária\n• Foco nas Micro Tarefas\n• Conexão Social\n\n✅ *Concluídas hoje (4)*\n• Atividade Física\n• Alimentação Consciente\n\n📝 *A Fazer (22)*\n• Gratidão Específica\n• Limpeza e Organização\n\n---\nEXEMPLO RESUMO DE CONVERSA:\n\n📝 *Resumo da Nossa Conversa*\n• Ponto principal discutido\n• Decisão ou insight importante\n• Próximo passo definido\n\n---\nEXEMPLO PLANO/TÉCNICA:\n\n🎯 *Plano de Ação*\n• Passo 1: descrição breve\n• Passo 2: descrição breve\n• Passo 3: descrição breve\n\n💡 *Dica Importante*\nTexto explicativo curto e direto.\n\n---\n\nREGRAS OBRIGATÓRIAS:\n- SEMPRE use emojis nos títulos (📋 📝 ✅ 🎯 💡 ⚡ 🔥)\n- SEMPRE use *negrito* para títulos de seção\n- SEMPRE use • para bullets (não use *, -, ou números)\n- Mostre contagem entre parênteses quando aplicável\n- Máximo 4-5 itens por categoria (+ \"e mais X\" se houver)\n- Quebre linha entre seções para legibilidade\n</style_dados_estruturados>\n\n<output_structure>\nRetorne SEMPRE este JSON exato (sem texto adicional):\n\n{\n  \"mensagem_usuario\": \"string - sua resposta ao usuário\",\n  \"tema_atual\": {\n    \"titulo\": \"string - nome curto do tema sendo discutido\",\n    \"resumo\": [\"ponto 1\", \"ponto 2\"],\n    \"decisoes\": [\"decisão 1\"] ou []\n  },\n  \"checkpoint_encerramento\": boolean,\n  \"tema_atual_fechado\": boolean,\n  \"objetivo_sugerido\": { \"area_vida\": \"string\", \"titulo\": \"string\", \"detalhamento\": \"string\" } | null\n}\n\nREGRAS DOS CAMPOS:\n- tema_atual: SEMPRE preencha com o tema da conversa atual\n- tema_atual.resumo: pontos principais discutidos (atualizar a cada interação)\n- tema_atual.decisoes: decisões/insights importantes do usuário\n- checkpoint_encerramento: SOMENTE true se usuário sinalizou despedida explícita\n- tema_atual_fechado: SEMPRE false quando apresenta dados; true SOMENTE após usuário confirmar fechamento\n\nCRÍTICO: Retorne APENAS o JSON, sem preamble, sem explicações, sem markdown.\n</output_structure>\n\n</response_format>\n\n<!-- ============================================ -->\n<!-- REGRAS CRÍTICAS -->\n<!-- ============================================ -->\n\n<critical_rules>\n1. NUNCA use listas em conversas casuais (use para dados estruturados)\n2. NUNCA seja verbose, resista a isso\n3. SEMPRE retorne apenas JSON no output (sem texto extra)\n4. SEMPRE uma pergunta por vez no máximo\n5. SEMPRE mantenha tom natural e coloquial\n6. NUNCA mencione \"sistema\", \"experts\", \"análise\" ao usuário\n7. NUNCA marque tema_atual_fechado=true sem confirmação EXPLÍCITA do usuário (apresentar dados ≠ fechar tema)\n8. LIDERE a conversa - ajude o usuário a não dispersar\n9. Se usuário responder com NÚMERO, conduza diretamente (não pergunte \"quer falar sobre...?\")\n10. USE quest_tool apenas quando precisar de DETALHES de quests\n11. SEMPRE use formatação WhatsApp (*negrito*, • bullets, emojis) ao apresentar quests, resumos, planos ou técnicas - NUNCA texto corrido\n</critical_rules>\n\n</system>"
        }
      },
      "id": "mentor_agent",
      "name": "mentor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        -304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2752,
        720
      ],
      "id": "c909e359-2a1d-4a2f-9d54-159f72abc2c9",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "rSnkOnnAHyfayLJt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise a conversa completa abaixo entre o usuário e o agente.\n\n**CONVERSA COMPLETA:**\n```json\n{{ $('processa_resposta').item.json.mensagens_atualizadas }}\n\n\nSUA TAREFA:\n1. GERAR RESUMO CONCISO\nCrie um resumo mantendo APENAS:\n\nSituação emocional do dia (estado atual)\nEventos importantes mencionados\nSentimentos expressos (não repita, liste únicos)\nContextos relevantes (trabalho, família, relacionamentos, etc)\nInsights ou reflexões importantes\nDecisões ou planos mencionados\n\nRemova:\n\nPerguntas do agente (mantenha só respostas do usuário)\nValidações e confirmações\nRepetições de informações\nSaudações e despedidas\n\n2. ANALISAR REFLEXÃO DO USUÁRIO\nDetermine se o usuário demonstrou reflexão profunda:\nTEM REFLEXÃO = true se:\n\nUsuário analisou seus sentimentos com profundidade\nFez conexões entre eventos e emoções\nDemonstrou autoconhecimento\nQuestionou padrões próprios\nFalou sobre aprendizados ou insights pessoais\n\nTEM REFLEXÃO = false se:\n\nApenas relatou fatos superficialmente\nRespostas curtas e diretas sem elaboração\nNão explorou emoções ou causas\n\n3. CONTAR PALAVRAS DO USUÁRIO\nConte APENAS palavras das falas do usuário (autor: \"usuario\"), excluindo falas do agente.\n\n\nRETORNE APENAS ESTE JSON:\n\n{\n  \"resumo_conversa\": \"string\",\n  \"tem_reflexao\": true,  // ← SEM aspas, SEM dois pontos\n  \"justificativa_reflexao\": \"string\",\n  \"total_palavras_usuario\": 204,  // ← número, não string\n  \"confianca_analise\": 95  // ← número, não string\n}\n\nIMPORTANTE:\n\nO resumo deve ser em 3ª pessoa\nUse o nome do usuário se disponível, senão use \"Usuário\"\nSeja preciso e objetivo\nFoque no que é ÚNICO desta conversa (não generalidades)",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é um especialista em análise e síntese de conversas terapêuticas.\n\nSeu trabalho é:\n1. Analisar a conversa completa entre usuário e agente (5 interações)\n2. Gerar um resumo conciso mantendo APENAS o essencial\n3. Identificar se o usuário fez reflexões profundas\n4. Contar palavras totais do usuário\n5. Preservar contexto emocional e insights importantes\n\nREGRAS CRÍTICAS:\n- Remova redundâncias e repetições\n- Mantenha apenas informações únicas e relevantes\n- Preserve sentimentos, eventos e contextos mencionados\n- Seja objetivo e direto\n- Máximo de 300 palavras no resumo\n- Retorne APENAS JSON estruturado\n\nVocê está ajudando a construir o perfil psicológico do usuário ao longo do tempo, então cada palavra conta."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2784,
        512
      ],
      "id": "70e48f10-616f-47c5-a048-61e42ef42a93",
      "name": "Resumo das conversas"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"resumo_conversa\": \"string\",\n  \"tem_reflexao\": true, \n  \"justificativa_reflexao\": \"string\",\n  \"total_palavras_usuario\": 204,  \n  \"confianca_analise\": 95 \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2944,
        720
      ],
      "id": "8430e601-7cd7-491c-b5de-bb94dd83b95c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "usr_chat",
          "mode": "list",
          "cachedResultName": "usr_chat"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('grava_mensagem').item.json.id }}",
            "total_palavras_usuario": "={{ $json.output.total_palavras_usuario }}",
            "resumo_conversa": "={{ $json.output.resumo_conversa }}",
            "tem_reflexao": "={{ $json.output.tem_reflexao }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_conversa",
              "displayName": "data_conversa",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "horario_inicio",
              "displayName": "horario_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "horario_fim",
              "displayName": "horario_fim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_interactions",
              "displayName": "total_interactions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mensagens",
              "displayName": "mensagens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "processada_em",
              "displayName": "processada_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "atualizado_em",
              "displayName": "atualizado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resumo_conversa",
              "displayName": "resumo_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tem_reflexao",
              "displayName": "tem_reflexao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_palavras_usuario",
              "displayName": "total_palavras_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3104,
        512
      ],
      "id": "d9ec36df-24e8-4bd4-b251-b988dbcc153a",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DJB5qWudX1Hqap1O",
          "mode": "list",
          "cachedResultUrl": "/workflow/DJB5qWudX1Hqap1O",
          "cachedResultName": "sw_evolution_send_message_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "instanceName": "={{ $('start').first().json['body.instance'] }}",
            "remoteJidOrNumber": "={{ $('start').first().json['body.data.key.remoteJid'] }}",
            "messageText": "={{ $('processa_resposta').first().json.user_message }} - Seus dados foram atualizados acesse o App MindQuest: https://mindquest.pt/app/auth?token={{ $('busca_dados_usr').item.json.token_acesso }}",
            "linkPreview": "false",
            "minDelayMs": "3000"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "instanceName",
              "displayName": "instanceName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "remoteJidOrNumber",
              "displayName": "remoteJidOrNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "messageText",
              "displayName": "messageText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "linkPreview",
              "displayName": "linkPreview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "minDelayMs",
              "displayName": "minDelayMs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "69729790-3af6-40f7-bbfe-cba249bff773",
      "name": "envia_mensagem_encerrar",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1984,
        -464
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, tipo, titulo, mensagem, contexto_mentor, quests_mencionadas, referencia_id, criado_em\nFROM notificacoes_log\nWHERE usuario_id = $1\n  AND canal = 'whatsapp'\n  AND (respondida IS NULL OR respondida = FALSE)\nORDER BY criado_em DESC\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $('busca_dados_usr').first().json.id }}"
        }
      },
      "id": "busca_notificacao",
      "name": "busca_notificacao",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -208,
        -304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE notificacoes_log\nSET respondida = TRUE, respondida_em = NOW()\nWHERE id = $1::uuid\n  AND $1 IS NOT NULL;",
        "options": {
          "queryReplacement": "={{ [$('contexto_completo').first().json.notificacao_recente ? $('contexto_completo').first().json.notificacao_recente.id : null] }}"
        }
      },
      "id": "marca_notificacao",
      "name": "marca_notificacao",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1328,
        -304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool for quest information.",
        "operation": "executeQuery",
        "query": "\nWITH quests_usuario AS (\n  SELECT \n    uq.id,\n    uq.status,\n    uq.config->>'titulo' AS titulo,\n    uq.config->>'descricao' AS descricao,\n    uq.ativado_em\n  FROM usuarios_quest uq\n  WHERE uq.usuario_id = $1\n),\nrecorrencias_hoje AS (\n  SELECT \n    uq.id AS quest_id,\n    uq.config->>'titulo' AS titulo,\n    uq.config->>'descricao' AS descricao,\n    qr.data_concluida,\n    qr.xp_base + qr.xp_bonus AS xp_ganho\n  FROM quests_recorrencias qr\n  JOIN usuarios_quest uq ON qr.usuarios_quest_id = uq.id\n  WHERE uq.usuario_id = $1\n    AND qr.status = 'concluida'\n    AND qr.data_concluida = CURRENT_DATE\n)\nSELECT json_build_object(\n  'resumo', json_build_object(\n    'total_a_fazer', (SELECT COUNT(*) FROM quests_usuario WHERE status = 'disponivel'),\n    'total_fazendo', (SELECT COUNT(*) FROM quests_usuario WHERE status = 'ativa'),\n    'total_feitas_hoje', (SELECT COUNT(*) FROM recorrencias_hoje)\n  ),\n  'quests_a_fazer', COALESCE((\n    SELECT json_agg(json_build_object('id', id, 'titulo', titulo, 'descricao', descricao))\n    FROM quests_usuario WHERE status = 'disponivel'\n  ), '[]'::json),\n  'quests_fazendo', COALESCE((\n    SELECT json_agg(json_build_object('id', id, 'titulo', titulo, 'descricao', descricao))\n    FROM quests_usuario WHERE status = 'ativa'\n  ), '[]'::json),\n  'quests_feitas_hoje', COALESCE((\n    SELECT json_agg(json_build_object('quest_id', quest_id, 'titulo', titulo, 'xp_ganho', xp_ganho))\n    FROM recorrencias_hoje\n  ), '[]'::json)\n) AS resultado;",
        "options": {
          "queryReplacement": "={{ $('busca_dados_usr').first().json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        784,
        0
      ],
      "id": "df5561c0-331f-4f10-893f-2d0c19c5e747",
      "name": "quets_tool",
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        32,
        -64
      ],
      "id": "ea7cf850-2e53-4c58-a90e-fef5be0cffc0",
      "name": "Chat Memory Manager",
      "disabled": true
    }
  ],
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "busca_dados_usr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_contexto": {
      "main": [
        [
          {
            "node": "contexto_completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contexto_completo": {
      "main": [
        [
          {
            "node": "transcricao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcricao": {
      "main": [
        [
          {
            "node": "mentor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openrouter_model": {
      "ai_languageModel": [
        [
          {
            "node": "parser_mentor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "mentor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "parser_mentor": {
      "ai_outputParser": [
        [
          {
            "node": "mentor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "memory": {
      "ai_memory": [
        [
          {
            "node": "mentor",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "processa_resposta": {
      "main": [
        [
          {
            "node": "grava_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_encerramento": {
      "main": [
        [
          {
            "node": "envia_mensagem_encerrar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "finaliza_sessao": {
      "main": [
        [
          {
            "node": "call_experts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "call_experts": {
      "main": [
        [
          {
            "node": "expert_panas",
            "type": "main",
            "index": 0
          },
          {
            "node": "expert_sabotadores",
            "type": "main",
            "index": 0
          },
          {
            "node": "expert_insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "expert_humor_energia",
            "type": "main",
            "index": 0
          },
          {
            "node": "expert_bigfive",
            "type": "main",
            "index": 0
          },
          {
            "node": "sw_xp_conversas",
            "type": "main",
            "index": 0
          },
          {
            "node": "expert_objetivos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resumo das conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "expert_sabotadores": {
      "main": [
        [
          {
            "node": "sw_criar_quest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "expert_objetivos": {
      "main": [
        [
          {
            "node": "grava_objetivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mentor": {
      "main": [
        [
          {
            "node": "processa_resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Resumo das conversas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Resumo das conversas": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Resumo das conversas",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "envia_mensagem_encerrar": {
      "main": [
        [
          {
            "node": "finaliza_sessao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_dados_usr": {
      "main": [
        [
          {
            "node": "busca_notificacao",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_notificacao": {
      "main": [
        [
          {
            "node": "busca_contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "grava_mensagem": {
      "main": [
        [
          {
            "node": "marca_notificacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "marca_notificacao": {
      "main": [
        [
          {
            "node": "verifica_encerramento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quets_tool": {
      "ai_tool": [
        [
          {
            "node": "mentor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionTimeout": 120
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "start": [
      {
        "json": {
          "usr_id": "d949d81c-9235-41ce-8b3b-6b5d593c5e24",
          "body.instance": "MindQuest",
          "body.data.key.remoteJid": "351932786582@s.whatsapp.net",
          "body.data.key.id": "3B2015A8C17171187BA2",
          "body.data.key.fromMe": false,
          "body.data.pushName": "Aldo Santos",
          "body.data.message.conversation": "e qunto as quests como está o andamento?",
          "body.data.messageType": "conversation"
        }
      }
    ]
  },
  "shared": [
    {
      "createdAt": "2025-12-07T20:11:13.721Z",
      "role": "workflow:owner",
      "workflowId": "zpNw60BXhEJCYTYH",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
