backups/n8n/sw_criar_quest.json
{
  "createdAt": "2025-11-05T13:38:03.212Z",
  "id": "LKjU8NE9aNHw7kEh",
  "name": "sw_criar_quest",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usuario_id"
            },
            {
              "name": "chat_id"
            }
          ]
        }
      },
      "id": "4fbc854b-3262-45f2-8032-abdf3dceac56",
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3200,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\n\nconst usuarioId = input.usuario_id;\nif (!usuarioId) {\n  throw new Error('usuario_id obrigatório');\n}\n\nreturn [{\n  json: {\n    usuario_id: usuarioId,\n    chat_id: input.chat_id || null\n  }\n}];"
      },
      "id": "5d2c0f2b-f434-4a79-8dd9-3c759a28b6b6",
      "name": "Normalizar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3024,
        144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH quests AS (\n  SELECT\n    uq.id,\n    uq.status,\n    uq.catalogo_id,\n    COALESCE(uq.config->>'contexto_origem', '') AS contexto_origem,\n    COALESCE(uq.config->>'titulo', '') AS titulo,\n    uq.ativado_em,\n    uq.config\n  FROM public.usuarios_quest uq\n  WHERE uq.usuario_id = $1::uuid\n    AND uq.status IN ('disponivel', 'ativa')\n)\nSELECT json_build_object(\n  'quests_ativas',\n  COALESCE(json_agg(\n    json_build_object(\n      'id', quests.id,\n      'status', quests.status,\n      'catalogo_id', quests.catalogo_id,\n      'contexto_origem', quests.contexto_origem,\n      'titulo', quests.titulo,\n      'criado_em', quests.ativado_em,\n      'config', quests.config\n    )\n    ORDER BY quests.ativado_em DESC\n  ), '[]'::json)\n) AS contexto\nFROM quests;",
        "options": {
          "queryReplacement": "={{ [ $('Normalizar Entrada').item.json.usuario_id ] }}"
        }
      },
      "id": "04e00a0e-d1a6-44c7-9bf9-bc257d44ca27",
      "name": "Buscar Quests Ativas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2832,
        144
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ultimas AS (\n  SELECT\n    uc.id,\n    uc.session_id,\n    uc.data_conversa,\n    uc.resumo_conversa,\n    uc.tem_reflexao,\n    uc.total_palavras_usuario,\n    uc.criado_em\n  FROM public.usr_chat uc\n  WHERE uc.usuario_id = $1::uuid\n  ORDER BY uc.data_conversa DESC, uc.criado_em DESC\n  LIMIT 10\n)\nSELECT json_build_object(\n  'conversas_recentes',\n  COALESCE(json_agg(\n    json_build_object(\n      'chat_id', ultimas.id,\n      'session_id', ultimas.session_id,\n      'data_conversa', ultimas.data_conversa,\n      'resumo', ultimas.resumo_conversa,\n      'tem_reflexao', ultimas.tem_reflexao,\n      'total_palavras', ultimas.total_palavras_usuario\n    )\n    ORDER BY ultimas.data_conversa DESC, ultimas.criado_em DESC\n  ), '[]'::json)\n) AS conversas\nFROM ultimas;",
        "options": {
          "queryReplacement": "={{ $('Normalizar Entrada').first().json.usuario_id }}"
        }
      },
      "id": "c072f38b-8c43-4653-84ea-ec3195354793",
      "name": "Buscar Conversas Recentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2656,
        144
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ultimos AS (\n  SELECT\n    i.id,\n    i.titulo,\n    i.categoria,\n    i.tipo,\n    i.prioridade,\n    i.resumo_situacao,\n    i.criado_em\n  FROM public.insights i\n  WHERE i.usuario_id = $1::uuid\n  ORDER BY i.criado_em DESC\n  LIMIT 10\n)\nSELECT json_build_object(\n  'insights_recentes',\n  COALESCE(json_agg(\n    json_build_object(\n      'id', ultimos.id,\n      'titulo', ultimos.titulo,\n      'categoria', ultimos.categoria,\n      'tipo', ultimos.tipo,\n      'prioridade', ultimos.prioridade,\n      'resumo', ultimos.resumo_situacao,\n      'criado_em', ultimos.criado_em\n    )\n    ORDER BY ultimos.criado_em DESC\n  ), '[]'::json)\n) AS insights\nFROM ultimos;",
        "options": {
          "queryReplacement": "={{ [ $('Normalizar Entrada').item.json.usuario_id ] }}"
        }
      },
      "id": "d464d649-a861-4956-a576-f2e1d5003609",
      "name": "Buscar Insights Recentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2144,
        80
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object(\n  'areas_vida',\n  COALESCE(json_agg(\n    json_build_object(\n      'id', avc.id,\n      'codigo', avc.codigo,\n      'nome', avc.nome,\n      'descricao', avc.descricao\n    )\n    ORDER BY avc.nome ASC\n  ), '[]'::json)\n) AS areas\nFROM public.areas_vida_catalogo avc\nWHERE avc.ativo IS TRUE;",
        "options": {}
      },
      "id": "52f01d32-3ba0-4620-83be-d8b3ea99a02e",
      "name": "Listar Áreas da Vida",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1712,
        64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id, u.estagio_jornada FROM public.usuarios u WHERE u.id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [ $('Normalizar Entrada').item.json.usuario_id ] }}"
        }
      },
      "id": "ccf1b0c3-10ef-407e-aa40-bff9a734778c",
      "name": "Buscar Estágio Usuário",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1504,
        64
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Query corrigida para o nó \"Buscar Quests Catálogo\"\n-- Permite quests de sabotador independentemente do nivel_prioridade\n\nWITH estagio_user AS (\n  SELECT estagio_jornada FROM public.usuarios WHERE id = $1::uuid\n)\nSELECT json_build_object(\n  'quests_catalogo',\n  COALESCE(json_agg(\n    json_build_object(\n      'id', qc.id,\n      'codigo', qc.codigo,\n      'titulo', qc.titulo,\n      'descricao', qc.descricao,\n      'categoria', qc.categoria,\n      'sabotador_id', qc.sabotador_id,\n      'base_cientifica', qc.base_cientifica,\n      'instrucoes', qc.instrucoes,\n      'tempo_estimado_min', qc.tempo_estimado_min,\n      'dificuldade', qc.dificuldade,\n      'nivel_prioridade', qc.nivel_prioridade,\n      'xp', qc.xp\n    )\n    ORDER BY \n      qc.dificuldade ASC,\n      qc.nivel_prioridade DESC\n  ), '[]'::json)\n) AS catalogo\nFROM public.quests_catalogo qc\nCROSS JOIN estagio_user eu\nWHERE qc.ativo IS TRUE\n  AND (\n    -- Excluir apenas reflexão (criada automaticamente) e categoria personalizada\n    qc.codigo != 'reflexao_diaria'\n    AND qc.categoria != 'personalizada'\n    AND (\n      -- Incluir quests de sabotador OU\n      qc.sabotador_id IS NOT NULL\n      OR\n      -- Incluir todas as outras categorias (TCC, Estoicismo, Essencial, Neurociência, Boa Prática, etc.)\n      (qc.categoria IS NOT NULL AND qc.sabotador_id IS NULL)\n    )\n  )\n  AND (\n    -- Quests de sabotador: ignorar nivel_prioridade (sempre disponíveis se dificuldade adequada)\n    (qc.sabotador_id IS NOT NULL AND (\n      (eu.estagio_jornada = 1 AND qc.dificuldade <= 2)\n      OR (eu.estagio_jornada = 2 AND qc.dificuldade >= 2 AND qc.dificuldade <= 3)\n      OR (eu.estagio_jornada = 3 AND qc.dificuldade >= 2)\n      OR (eu.estagio_jornada = 4)\n    ))\n    OR\n    -- Outras quests: aplicar filtro completo (incluindo nivel_prioridade)\n    (qc.sabotador_id IS NULL AND (\n      (eu.estagio_jornada = 1 AND qc.dificuldade <= 2 AND qc.nivel_prioridade >= 2)\n      OR (eu.estagio_jornada = 2 AND qc.dificuldade >= 2 AND qc.dificuldade <= 3)\n      OR (eu.estagio_jornada = 3 AND qc.dificuldade >= 2)\n      OR (eu.estagio_jornada = 4)\n    ))\n  );\n\n",
        "options": {
          "queryReplacement": "={{ [ $('Normalizar Entrada').item.json.usuario_id ] }}"
        }
      },
      "id": "52cfae8b-a10a-4b4f-9f7f-a08c78fbe142",
      "name": "Buscar Quests Catálogo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1328,
        64
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const getJson = (nodeName) => {\n  const data = $items(nodeName, 0, 0) || [];\n  const item = data[0] || {};\n  return item.json || {};\n};\n\nconst getNested = (source, path, fallback = undefined) => {\n  return path.reduce((acc, key) => (acc && acc[key] !== undefined ? acc[key] : undefined), source) ?? fallback;\n};\n\nconst entrada = getJson(\"Normalizar Entrada\");\nconst questsRaw = getJson(\"Buscar Quests Ativas\");\nconst conversasRaw = getJson(\"Buscar Conversas Recentes\");\nconst insightsRaw = getJson(\"Buscar Insights Recentes\");\nconst sabotadoresRaw = getJson(\"Buscar Sabotadores Ativo\");\nconst areasRaw = getJson(\"Listar Áreas da Vida\");\nconst estagioRaw = getJson(\"Buscar Estágio Usuário\");\nconst catalogoRaw = getJson(\"Buscar Quests Catálogo\");\n\nconst quests = questsRaw.contexto || {};\nconst questsAtivas = Array.isArray(quests.quests_ativas) ? quests.quests_ativas : [];\n\n// Lista de quests já criadas (para evitar duplicatas)\nconst questsJaCriadas = questsAtivas.map(q => ({\n  id: q.id,\n  titulo: q.titulo || q.config?.titulo || '',\n  catalogo_id: q.catalogo_id,\n  contexto_origem: q.contexto_origem || '',\n  status: q.status,\n  concluido_em: q.concluido_em\n}));\n\n// IDs de catálogo já usados (para priorizar quests novas)\nconst catalogoIdsJaUsados = new Set(\n  questsAtivas\n    .filter(q => q.catalogo_id)\n    .map(q => q.catalogo_id)\n);\n\nconst estagioJornada = estagioRaw.estagio_jornada || 1;\n\nconst catalogoData = catalogoRaw.catalogo || {};\nconst questsCatalogo = Array.isArray(catalogoData.quests_catalogo) ? catalogoData.quests_catalogo : [];\n\n// Filtrar quests do catálogo: priorizar as que ainda não foram usadas\nconst questsCatalogoNovas = questsCatalogo.filter(q => !catalogoIdsJaUsados.has(q.id));\nconst questsCatalogoUsadas = questsCatalogo.filter(q => catalogoIdsJaUsados.has(q.id));\n\n// Identificar sabotador mais ativo (já vem da query com a regra correta)\nconst sabotadores = sabotadoresRaw.sabotadores || {};\nconst sabotadorMaisAtivo = sabotadores.sabotador_mais_ativo || null;\nconst sabotadoresRecentes = Array.isArray(sabotadores.sabotadores_recentes) ? sabotadores.sabotadores_recentes : [];\n\n// Buscar quests do catálogo por categoria (priorizando novas)\nconst questReflexao = questsCatalogoNovas.find(q => q.codigo === 'reflexao_diaria') \n  || questsCatalogoUsadas.find(q => q.codigo === 'reflexao_diaria') \n  || null;\n  \nconst questsSabotador = sabotadorMaisAtivo && sabotadorMaisAtivo.sabotador_id ? [\n  ...questsCatalogoNovas.filter(q => q.sabotador_id && q.sabotador_id === sabotadorMaisAtivo.sabotador_id),\n  ...questsCatalogoUsadas.filter(q => q.sabotador_id && q.sabotador_id === sabotadorMaisAtivo.sabotador_id)\n] : [];\n\nconst questsTCC = [\n  ...questsCatalogoNovas.filter(q => q.categoria === 'tcc'),\n  ...questsCatalogoUsadas.filter(q => q.categoria === 'tcc')\n];\n\nconst questsEstoicismo = [\n  ...questsCatalogoNovas.filter(q => q.categoria === 'estoicismo'),\n  ...questsCatalogoUsadas.filter(q => q.categoria === 'estoicismo')\n];\n\nconst conversas = conversasRaw.conversas || {};\nconst conversasRecentes = Array.isArray(conversas.conversas_recentes) ? conversas.conversas_recentes : [];\n\nconst insights = insightsRaw.insights || {};\nconst areasVida = getNested(areasRaw, ['areas', 'areas_vida'], []);\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    chat_id: entrada.chat_id,\n    estagio_jornada: estagioJornada,\n    quests_ativas: questsAtivas.filter(q => q.status === 'pendente' || q.status === 'ativa'),\n    quests_ja_criadas: questsJaCriadas,\n    conversas_recentes: conversasRecentes,\n    insights_recentes: insights.insights_recentes || [],\n    sabotadores_recentes: sabotadoresRecentes,\n    sabotador_mais_ativo: sabotadorMaisAtivo,\n    areas_vida_disponiveis: areasVida,\n    quests_catalogo: {\n      reflexao: questReflexao,\n      sabotador: questsSabotador,\n      tcc: questsTCC,\n      estoicismo: questsEstoicismo,\n      todas: questsCatalogo,\n      novas: questsCatalogoNovas,\n      usadas: questsCatalogoUsadas\n    }\n  }\n}];"
      },
      "id": "50c7b859-96f7-4247-b68b-942464ee700e",
      "name": "Montar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const entrada = $input.item.json || {};\n\nconst sabotadorMaisAtivo = entrada.sabotador_mais_ativo;\nconst questsCatalogo = entrada.quests_catalogo || {};\nconst questsJaCriadas = entrada.quests_ja_criadas || [];\n\n// IDs de catálogo já usados\nconst catalogoIdsUsados = new Set(\n  questsJaCriadas\n    .filter(q => q.catalogo_id)\n    .map(q => q.catalogo_id)\n);\n\n// Função para escolher melhor quest do catálogo\nconst escolherQuestCatalogo = (lista, priorizarNovas = true) => {\n  if (!Array.isArray(lista) || lista.length === 0) return null;\n  \n  const novas = lista.filter(q => !catalogoIdsUsados.has(q.id));\n  const usadas = lista.filter(q => catalogoIdsUsados.has(q.id));\n  \n  const candidatas = priorizarNovas && novas.length > 0 ? novas : (usadas.length > 0 ? usadas : lista);\n  \n  return candidatas.length > 0 ? candidatas[0] : null;\n};\n\n// Escolher quest do sabotador (SEMPRE necessário se houver sabotador ativo)\nconst questSabotador = sabotadorMaisAtivo && sabotadorMaisAtivo.sabotador_id\n  ? escolherQuestCatalogo(questsCatalogo.sabotador || [], true)\n  : null;\n\n// Escolher quest TCC, Estoicismo ou outras categorias (SEMPRE necessário)\nconst todasQuests = questsCatalogo.todas || [];\nconst questsTCCEstoicismoOutras = todasQuests.filter(q => {\n  if (q.sabotador_id) return false;\n  if (q.codigo === 'reflexao_diaria') return false;\n  return q.categoria && q.categoria !== 'personalizada';\n});\n\nconst questTCCEstoicismoOutras = escolherQuestCatalogo(questsTCCEstoicismoOutras, true);\n\n// Garantir que conversas_recentes seja array\nconst conversasRecentes = Array.isArray(entrada.conversas_recentes) \n  ? entrada.conversas_recentes \n  : [];\n\n// Preparar contexto limpo para o agente\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    chat_id: entrada.chat_id,\n    \n    // Últimas 3 conversas: SEMPRE array, apenas data e resumo\n    conversa_atual: conversasRecentes\n      .slice(0, 3)\n      .map(c => ({\n        data: c.data_conversa || c.data || null,\n        resumo: c.resumo || c.resumo_conversa || ''\n      }))\n      .filter(c => c.data && c.resumo), // Remover inválidos\n    \n    // Insights: apenas id e titulo\n    insights_disponiveis: (Array.isArray(entrada.insights_recentes) ? entrada.insights_recentes : [])\n      .map(i => ({\n        id: i.id || null,\n        titulo: i.titulo || ''\n      }))\n      .filter(i => i.id && i.titulo), // Remover inválidos\n    \n    // Áreas: apenas id e nome\n    areas_disponiveis: (Array.isArray(entrada.areas_vida_disponiveis) ? entrada.areas_vida_disponiveis : [])\n      .map(a => ({\n        id: a.id || null,\n        nome: a.nome || ''\n      }))\n      .filter(a => a.id && a.nome), // Remover inválidos\n    \n    // Sabotador: objeto completo com todas as informações para adaptação\n    sabotador_mais_ativo: sabotadorMaisAtivo || null,\n    \n    // Quests do catálogo (completas - necessárias para adaptação)\n    quests_catalogo_escolhidas: {\n      sabotador: questSabotador,\n      tcc_estoicismo_outras: questTCCEstoicismoOutras\n    }\n  }\n}];"
      },
      "id": "0e8d7d37-56b6-4649-8cc7-5083757aa6c6",
      "name": "Preparar Quest do Catálogo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        64
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "879b8c2a-cc9a-4317-b78e-a5c39a8558c5",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -784,
        448
      ],
      "credentials": {
        "openRouterApi": {
          "id": "rSnkOnnAHyfayLJt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é o agente de geração de quests do MindQuest.\n\n**OBJETIVO:** Gerar EXATAMENTE 3 quests nesta ordem:\n1. Quest PERSONALIZADA (custom) - criar do zero\n2. Quest SABOTADOR - adaptar do catálogo (já escolhida)\n3. Quest TCC/ESTOICISMO/OUTRAS - adaptar do catálogo (já escolhida)\n\n=== Contexto ===\nConversas recentes (últimas 3):\n{{ JSON.stringify($json.conversa_atual || []) }}\n\nInsights disponíveis:\n{{ JSON.stringify($json.insights_disponiveis || []) }}\n\nÁreas disponíveis:\n{{ JSON.stringify($json.areas_disponiveis || []) }}\n\n=== Sabotador Mais Ativo ===\n{{ JSON.stringify($json.sabotador_mais_ativo || null) }}\n\n=== Quests do Catálogo (JÁ ESCOLHIDAS) ===\nQuest Sabotador: {{ JSON.stringify($json.quests_catalogo_escolhidas?.sabotador || null) }}\nQuest TCC/Outras: {{ JSON.stringify($json.quests_catalogo_escolhidas?.tcc_estoicismo_outras || null) }}\n\n=== REGRAS ===\n\n1. **Quest Personalizada (1ª):**\n   - Criar do zero baseada nas conversas recentes e insights disponíveis\n   - **FOCO:** Questões PRÁTICAS relacionadas à situação atual\n   - **NÃO incluir:** Questões mentais, comportamentais ou emocionais (essas são cobertas pelas quests do catálogo)\n   - **SIM incluir:** Ações relacionadas diretamente a algum objetivo de vida (ex: trabalho, saúde, relacionamentos, projetos pessoais, finanças, aprendizado)\n   - Quest deve ser uma ação concreta e mensurável que avance um objetivo específico\n   - Gerar `base_cientifica` completo: `{tipo, objetivo, fundamentos, como_aplicar, links_referencias}`\n   - `catalogo_id`: null\n   - Usar apenas `insight_id` e `area_vida_id` da lista disponível\n\n2. **Quest Sabotador (2ª):**\n   - Adaptar título/descrição do catálogo ao contexto do usuário\n   - **USAR informações do `sabotador_mais_ativo` para personalizar:**\n     - Referenciar o `apelido` (ex: \"Sr. Perfeccionista\")\n     - Usar o `contexto` (ex: \"vida_pessoal\") para contextualizar\n     - Incorporar o `insight` e `contramedida` na descrição\n     - Adaptar ao nível de `intensidade` (alta intensidade = abordagem mais direta)\n   - Manter `catalogo_id` da quest escolhida\n   - **Usar `sabotador_id` do `sabotador_mais_ativo`** (ex: \"hiper_realizador\") no campo `sabotador_id` da quest gerada\n   - Referenciar conversas recentes para personalizar ainda mais\n\n3. **Quest TCC/Outras (3ª):**\n   - Adaptar título/descrição do catálogo ao contexto\n   - Manter `catalogo_id` da quest escolhida\n   - `base_cientifica`: null (vem do catálogo)\n\n4. **Validação:**\n   - Usar apenas `insight_id` e `area_vida_id` da lista disponível\n   - Títulos engajadores e específicos ao contexto das conversas\n\n=== Formato de Resposta ===\nJSON válido minificado:\n{\"quests\":[\n  {\"tipo\":\"personalizada\",\"catalogo_id\":null,\"titulo\":\"...\",\"descricao\":\"...\",\"base_cientifica\":{...},\"contexto_origem\":\"conversa_especifica\",\"prioridade\":\"alta|media|baixa\",\"recorrencia\":\"diaria|semanal|unica\",\"prazo_inicio\":\"YYYY-MM-DD\",\"prazo_fim\":\"YYYY-MM-DD\",\"progresso_meta\":5,\"insight_id\":\"uuid\",\"area_vida_id\":\"uuid\",\"sabotador_id\":null,\"complexidade\":2,\"xp_recompensa\":40},\n  {\"tipo\":\"catalogo\",\"catalogo_id\":\"uuid\",\"titulo\":\"...\",\"descricao\":\"...\",\"base_cientifica\":null,\"contexto_origem\":\"sabotador_ativo\",\"prioridade\":\"alta\",\"recorrencia\":\"diaria\",\"prazo_inicio\":\"YYYY-MM-DD\",\"prazo_fim\":\"YYYY-MM-DD\",\"progresso_meta\":7,\"insight_id\":\"uuid\",\"area_vida_id\":\"uuid\",\"sabotador_id\":\"id\",\"complexidade\":2,\"xp_recompensa\":40},\n  {\"tipo\":\"catalogo\",\"catalogo_id\":\"uuid\",\"titulo\":\"...\",\"descricao\":\"...\",\"base_cientifica\":null,\"contexto_origem\":\"desenvolvimento_pessoal\",\"prioridade\":\"media\",\"recorrencia\":\"diaria|semanal\",\"prazo_inicio\":\"YYYY-MM-DD\",\"prazo_fim\":\"YYYY-MM-DD\",\"progresso_meta\":5,\"insight_id\":\"uuid\",\"area_vida_id\":\"uuid\",\"sabotador_id\":null,\"complexidade\":2,\"xp_recompensa\":30}\n]}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "0d454a5d-93d3-48c0-97fb-996a15e929af",
      "name": "Agente Quests",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -672,
        64
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const getJson = (nodeName) => {\n  const data = $items(nodeName, 0, 0) || [];\n  const item = data[0] || {};\n  return item.json || {};\n};\n\n// Buscar contexto do nó \"Montar Contexto\" para ter insights_recentes completo\nconst contextoMontar = getJson(\"Montar Contexto\");\nconst contextoPreparar = getJson(\"Preparar Quest do Catálogo\");\n\nconst rawOutput = $json.output ?? { quests: [] };\nlet resultado;\nif (typeof rawOutput === 'string') {\n  try {\n    resultado = JSON.parse(rawOutput);\n  } catch (error) {\n    resultado = { quests: [] };\n  }\n} else if (rawOutput && typeof rawOutput === 'object') {\n  resultado = rawOutput;\n} else {\n  resultado = { quests: [] };\n}\n\nconst novasQuests = Array.isArray(resultado.quests) ? resultado.quests : [];\n\nreturn [{\n  json: {\n    usuario_id: contextoPreparar.usuario_id,\n    chat_id: contextoPreparar.chat_id,\n    novas_quests_sugeridas: novasQuests,\n    atualizacoes_sugeridas: [],\n    sabotadores_recentes: contextoMontar.sabotadores_recentes || [],\n    insights_recentes: contextoMontar.insights_recentes || [] // Buscar do Montar Contexto\n  }\n}];"
      },
      "id": "0cf28568-1a6f-479f-85d4-01e5c169ad19",
      "name": "Interpretar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const entrada = ($input.item && $input.item.json) ? $input.item.json : {};\nconst questsAtivas = Array.isArray(entrada.quests_ativas) ? entrada.quests_ativas : [];\nconst questsJaCriadas = Array.isArray(entrada.quests_ja_criadas) ? entrada.quests_ja_criadas : [];\nconst QUESTS_OBRIGATORIAS = 3;\nconst dedupe = new Set();\nconst catalogoIdsUsados = new Set();\nconst titulosUsados = new Set();\nconst uuidRegex = /^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$/;\nconst insightsValidos = new Set(\n  (Array.isArray(entrada.insights_recentes) ? entrada.insights_recentes : [])\n    .map((item) => (typeof item?.id === 'string' ? item.id.trim().toLowerCase() : null))\n    .filter(Boolean)\n);\n\n// Preencher sets de duplicatas com quests já criadas\nfor (const questJaCriada of questsJaCriadas) {\n  const titulo = String(questJaCriada?.titulo || '').toLowerCase().trim();\n  const catalogoId = questJaCriada?.catalogo_id;\n  \n  if (titulo) {\n    titulosUsados.add(titulo);\n  }\n  \n  if (catalogoId && uuidRegex.test(catalogoId)) {\n    catalogoIdsUsados.add(catalogoId);\n  }\n  \n  const contexto = String(questJaCriada?.contexto_origem || '').toLowerCase().trim();\n  if (contexto || titulo) {\n    dedupe.add(`${contexto}|${titulo}`);\n  }\n}\n\n// Verificar duplicatas das quests ativas\nfor (const ativo of questsAtivas) {\n  const contexto = String(ativo?.contexto_origem || '').toLowerCase().trim();\n  const titulo = String((ativo?.config?.titulo ?? ativo?.titulo ?? '')).toLowerCase().trim();\n  const catalogoId = ativo?.catalogo_id;\n  \n  if (titulo) {\n    titulosUsados.add(titulo);\n  }\n  \n  if (catalogoId && uuidRegex.test(catalogoId)) {\n    catalogoIdsUsados.add(catalogoId);\n  }\n  \n  if (contexto || titulo) {\n    dedupe.add(`${contexto}|${titulo}`);\n  }\n}\n\nconst novas = [];\nconst atualizacoes = Array.isArray(entrada.atualizacoes_sugeridas) ? entrada.atualizacoes_sugeridas : [];\nconst candidatas = Array.isArray(entrada.novas_quests_sugeridas) ? entrada.novas_quests_sugeridas : [];\n\n// Função para verificar similaridade de títulos (evitar duplicatas)\nconst tituloSimilar = (titulo1, titulo2) => {\n  const t1 = String(titulo1 || '').toLowerCase().trim();\n  const t2 = String(titulo2 || '').toLowerCase().trim();\n  \n  if (!t1 || !t2) return false;\n  \n  // Verificar se são muito similares (80% de similaridade)\n  const palavras1 = t1.split(/\\s+/);\n  const palavras2 = t2.split(/\\s+/);\n  const palavrasComuns = palavras1.filter(p => palavras2.includes(p));\n  const similaridade = palavrasComuns.length / Math.max(palavras1.length, palavras2.length);\n  \n  return similaridade >= 0.8 || t1.includes(t2) || t2.includes(t1);\n};\n\n// Processar todas as candidatas e garantir 3 quests específicas\n// Ordem esperada: personalizada, sabotador, tcc_estoicismo\nconst questsPorTipo = { \n  personalizada: null, \n  sabotador: null, \n  tcc_estoicismo: null \n};\n\nfor (const quest of candidatas) {\n  if (!quest || typeof quest !== 'object') continue;\n  \n  const contexto = String(quest.contexto_origem || '').toLowerCase().trim();\n  const titulo = String(quest.titulo || '').toLowerCase().trim();\n  const chave = `${contexto}|${titulo}`;\n  \n  if (!contexto && !titulo) continue;\n  if (dedupe.has(chave)) continue;\n  \n  // Verificar se título é muito similar a algum já usado\n  let tituloMuitoSimilar = false;\n  for (const tituloUsado of titulosUsados) {\n    if (tituloSimilar(titulo, tituloUsado)) {\n      tituloMuitoSimilar = true;\n      break;\n    }\n  }\n  if (tituloMuitoSimilar) continue;\n  \n  // Verificar se catalogo_id já foi usado recentemente\n  let catalogoId = null;\n  if (typeof quest.catalogo_id === 'string') {\n    const trimmed = quest.catalogo_id.trim();\n    if (trimmed && uuidRegex.test(trimmed)) {\n      // Se já foi usado, pular (priorizar novas)\n      if (catalogoIdsUsados.has(trimmed)) {\n        continue; // Pular quests do catálogo já usadas\n      }\n      catalogoId = trimmed;\n    }\n  }\n  \n  let areaVidaId = null;\n  if (typeof quest.area_vida_id === 'string') {\n    const trimmed = quest.area_vida_id.trim();\n    if (trimmed && uuidRegex.test(trimmed)) {\n      areaVidaId = trimmed;\n    }\n  }\n  \n  let insightId = null;\n  if (typeof quest.insight_id === 'string') {\n    const trimmed = quest.insight_id.trim();\n    if (trimmed && uuidRegex.test(trimmed) && insightsValidos.has(trimmed.toLowerCase())) {\n      insightId = trimmed;\n    }\n  }\n  \n  let sabotadorId = null;\n  if (typeof quest.sabotador_id === 'string') {\n    const trimmed = quest.sabotador_id.trim();\n    if (trimmed && uuidRegex.test(trimmed)) {\n      sabotadorId = trimmed;\n    }\n  }\n  \n  // REMOVIDO: validação obrigatória de insight_id\n  // if (!insightId) continue;\n  \n  // Classificar quest por tipo baseado no contexto e catalogo_id\n  let tipoCategoria = 'personalizada';\n  \n  if (catalogoId) {\n    // Quest do catálogo\n    if (contexto.includes('sabotador') || contexto.includes('sabot') || sabotadorId) {\n      tipoCategoria = 'sabotador';\n    } else if (contexto.includes('reflexao') || contexto.includes('reflex')) {\n      // Reflexão não deve ser gerada pelo agente - pular\n      continue;\n    } else {\n      tipoCategoria = 'tcc_estoicismo';\n    }\n  } else {\n    // Quest personalizada (sem catalogo_id)\n    tipoCategoria = 'personalizada';\n  }\n  \n  const questProcessada = {\n    tipo: quest.tipo || (catalogoId ? 'catalogo' : 'personalizada'),\n    catalogo_id: catalogoId,\n    titulo: quest.titulo,\n    descricao: quest.descricao,\n    base_cientifica: quest.base_cientifica || null,\n    contexto_origem: quest.contexto_origem,\n    prioridade: quest.prioridade || 'media',\n    recorrencia: quest.recorrencia || 'unica',\n    prazo_inicio: quest.prazo_inicio || null,\n    prazo_fim: quest.prazo_fim || null,\n    progresso_meta: quest.progresso_meta ?? 1,\n    status_inicial: quest.status_inicial || 'disponivel',\n    area_vida_id: areaVidaId,\n    sabotador_id: sabotadorId,\n    insight_id: insightId,\n    complexidade: quest.complexidade ?? 0,\n    payload_extra: quest.payload_extra || {},\n    xp_recompensa: quest.xp_recompensa || 40\n  };\n  \n  // Armazenar por categoria (substituir se já existe)\n  if (tipoCategoria === 'personalizada' && !questsPorTipo.personalizada) {\n    questsPorTipo.personalizada = questProcessada;\n  } else if (tipoCategoria === 'sabotador' && !questsPorTipo.sabotador) {\n    questsPorTipo.sabotador = questProcessada;\n  } else if (tipoCategoria === 'tcc_estoicismo' && !questsPorTipo.tcc_estoicismo) {\n    questsPorTipo.tcc_estoicismo = questProcessada;\n  }\n  \n  dedupe.add(chave);\n  if (titulo) titulosUsados.add(titulo);\n  if (catalogoId) catalogoIdsUsados.add(catalogoId);\n}\n\n// Garantir que temos as 3 quests necessárias na ordem correta\nconst questsFinais = [];\nif (questsPorTipo.personalizada) questsFinais.push(questsPorTipo.personalizada);\nif (questsPorTipo.sabotador) questsFinais.push(questsPorTipo.sabotador);\nif (questsPorTipo.tcc_estoicismo) questsFinais.push(questsPorTipo.tcc_estoicismo);\n\n// Se não temos 3, usar outras candidatas que não foram classificadas (mas ainda validar duplicatas)\nfor (const quest of candidatas) {\n  if (questsFinais.length >= QUESTS_OBRIGATORIAS) break;\n  if (!quest || typeof quest !== 'object') continue;\n  \n  const contexto = String(quest.contexto_origem || '').toLowerCase().trim();\n  const titulo = String(quest.titulo || '').toLowerCase().trim();\n  const chave = `${contexto}|${titulo}`;\n  \n  // Pular reflexão\n  if (contexto.includes('reflexao') || contexto.includes('reflex')) {\n    continue;\n  }\n  \n  if (dedupe.has(chave)) continue;\n  \n  // Verificar similaridade de título\n  let tituloMuitoSimilar = false;\n  for (const tituloUsado of titulosUsados) {\n    if (tituloSimilar(titulo, tituloUsado)) {\n      tituloMuitoSimilar = true;\n      break;\n    }\n  }\n  if (tituloMuitoSimilar) continue;\n  \n  // Verificar catalogo_id já usado\n  let catalogoId = null;\n  if (typeof quest.catalogo_id === 'string') {\n    const trimmed = quest.catalogo_id.trim();\n    if (trimmed && uuidRegex.test(trimmed)) {\n      if (catalogoIdsUsados.has(trimmed)) {\n        continue; // Pular se já foi usado\n      }\n      catalogoId = trimmed;\n    }\n  }\n  \n  // Validar campos básicos (insight_id agora é opcional)\n  let insightId = null;\n  if (typeof quest.insight_id === 'string') {\n    const trimmed = quest.insight_id.trim();\n    if (trimmed && uuidRegex.test(trimmed) && insightsValidos.has(trimmed.toLowerCase())) {\n      insightId = trimmed;\n    }\n  }\n  \n  // REMOVIDO: validação obrigatória de insight_id\n  // if (!insightId) continue;\n  \n  // Adicionar como quest adicional\n  let areaVidaId = null;\n  if (typeof quest.area_vida_id === 'string') {\n    const trimmed = quest.area_vida_id.trim();\n    if (trimmed && uuidRegex.test(trimmed)) {\n      areaVidaId = trimmed;\n    }\n  }\n  \n  questsFinais.push({\n    tipo: quest.tipo || 'catalogo',\n    catalogo_id: catalogoId,\n    titulo: quest.titulo,\n    descricao: quest.descricao,\n    base_cientifica: quest.base_cientifica || null,\n    contexto_origem: quest.contexto_origem,\n    prioridade: quest.prioridade || 'media',\n    recorrencia: quest.recorrencia || 'unica',\n    prazo_inicio: quest.prazo_inicio || null,\n    prazo_fim: quest.prazo_fim || null,\n    progresso_meta: quest.progresso_meta ?? 1,\n    status_inicial: quest.status_inicial || 'disponivel',\n    area_vida_id: areaVidaId,\n    sabotador_id: quest.sabotador_id || null,\n    insight_id: insightId,\n    complexidade: quest.complexidade ?? 0,\n    payload_extra: quest.payload_extra || {},\n    xp_recompensa: quest.xp_recompensa || 40\n  });\n  \n  dedupe.add(chave);\n  if (titulo) titulosUsados.add(titulo);\n  if (catalogoId) catalogoIdsUsados.add(catalogoId);\n}\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id || null,\n    novas_quests: questsFinais.slice(0, QUESTS_OBRIGATORIAS),\n    atualizacoes,\n    estado_inicial: entrada\n  }\n}];"
      },
      "id": "2aef8150-f7e0-4435-9671-d0cee2eea227",
      "name": "Aplicar Limites & Dedupe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $items(\"Aplicar Limites & Dedupe\", 0, 0) || [];\nconst entrada = (data[0] || {}).json || {};\nconst retorno = $input.item.json || {};\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    quests_registradas: entrada.novas_quests,\n    atualizacoes_enviadas: entrada.atualizacoes,\n    gamificacao_retorno: retorno\n  }\n}];"
      },
      "id": "d119717a-ec7e-4b59-8496-75e01c07308e",
      "name": "Montar Saída",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        64
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bTeLj5qOKQo9PDMO",
          "mode": "list",
          "cachedResultUrl": "/workflow/bTeLj5qOKQo9PDMO",
          "cachedResultName": "sw_xp_quest"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $('start').item.json.usuario_id }}",
            "quests_personalizadas": "={{ JSON.stringify($json.novas_quests) }}",
            "atualizacoes_status": "={{ JSON.stringify($json.atualizacoes) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "quests_personalizadas",
              "displayName": "quests_personalizadas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "atualizacoes_status",
              "displayName": "atualizacoes_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "3dcabdef-9b9f-4ecf-a034-7d4765759d9b",
      "name": "Calcula Xps quest",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        112,
        64
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"quests\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"tipo\": {\"type\": \"string\"},\n          \"catalogo_id\": {\"type\": [\"string\", \"null\"]},\n          \"titulo\": {\"type\": \"string\"},\n          \"descricao\": {\"type\": \"string\"},\n          \"base_cientifica\": {\n            \"type\": [\"object\", \"null\"],\n            \"properties\": {\n              \"tipo\": {\"type\": \"string\"},\n              \"objetivo\": {\"type\": \"string\"},\n              \"fundamentos\": {\"type\": \"string\"},\n              \"como_aplicar\": {\"type\": \"string\"},\n              \"links_referencias\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}\n            }\n          },\n          \"contexto_origem\": {\"type\": \"string\"},\n          \"prioridade\": {\"type\": \"string\"},\n          \"recorrencia\": {\"type\": \"string\"},\n          \"prazo_inicio\": {\"type\": \"string\"},\n          \"prazo_fim\": {\"type\": \"string\"},\n          \"progresso_meta\": {\"type\": \"number\"},\n          \"insight_id\": {\"type\": \"string\"},\n          \"area_vida_id\": {\"type\": \"string\"},\n          \"sabotador_id\": {\"type\": [\"string\", \"null\"]},\n          \"complexidade\": {\"type\": \"number\"},\n          \"xp_recompensa\": {\"type\": \"number\"}\n        },\n        \"required\": [\"tipo\", \"titulo\", \"descricao\", \"contexto_origem\", \"prioridade\", \"recorrencia\", \"insight_id\", \"area_vida_id\"]\n      }\n    }\n  },\n  \"required\": [\"quests\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -512,
        352
      ],
      "id": "11418db2-072c-4831-a4b9-3344d1716c8b",
      "name": "Parser Quests"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Query para buscar APENAS o sabotador mais ativo\n-- Baseado em quantidade de registros e intensidade média\n-- Sem filtro de período - considera todos os registros do usuário\n-- Ordena por: total_deteccoes DESC, conversas_afetadas DESC, intensidade_media DESC\n\nWITH sabotadores_agregados AS (\n  SELECT\n    us.sabotador_id,\n    COUNT(*) AS total_deteccoes,\n    COUNT(DISTINCT us.chat_id) AS conversas_afetadas,\n    AVG(us.intensidade_media) AS intensidade_media,\n    MAX(us.apelido_personalizado) AS apelido_personalizado,\n    MAX(us.contexto_principal) AS contexto_principal,\n    MAX(us.insight_atual) AS insight_atual,\n    MAX(us.contramedida_ativa) AS contramedida_ativa,\n    MAX(COALESCE(us.data_ultima_atividade, us.atualizado_em)) AS ultima_atualizacao\n  FROM public.usuarios_sabotadores us\n  WHERE us.usuario_id = $1::uuid\n  GROUP BY us.sabotador_id\n),\nsabotador_mais_ativo AS (\n  SELECT *\n  FROM sabotadores_agregados\n  ORDER BY \n    total_deteccoes DESC,\n    conversas_afetadas DESC,\n    intensidade_media DESC\n  LIMIT 1\n)\nSELECT json_build_object(\n  'sabotador_mais_ativo',\n  CASE \n    WHEN sma.sabotador_id IS NOT NULL THEN\n      json_build_object(\n        'sabotador_id', sma.sabotador_id\n      )\n    ELSE '[]'::json\n  END\n) AS sabotadores\nFROM sabotador_mais_ativo sma;\n",
        "options": {
          "queryReplacement": "={{ $('start').item.json.usuario_id }}"
        }
      },
      "id": "80541490-e904-4315-9977-5bbf002af6ce",
      "name": "Buscar Sabotadores Ativo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1936,
        80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "864d9ebe-fb91-4498-91fd-bb5855f5c087",
              "leftValue": "={{ $json.conversas.conversas_recentes[0].chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2448,
        144
      ],
      "id": "cfa96db2-56c3-4c92-b7ca-e30853dde7eb",
      "name": "Não achou conversa?"
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{\n  json: {\n    usuario_id: $('start').first().json.usuario_id,\n    quests_registradas: 0\n  }\n}];"
      },
      "id": "1aa6bbd2-adb0-4922-a05e-5e86e644c35e",
      "name": "Montar Saída1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        368
      ]
    }
  ],
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "Normalizar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Entrada": {
      "main": [
        [
          {
            "node": "Buscar Quests Ativas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Quests Ativas": {
      "main": [
        [
          {
            "node": "Buscar Conversas Recentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas Recentes": {
      "main": [
        [
          {
            "node": "Não achou conversa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Insights Recentes": {
      "main": [
        [
          {
            "node": "Buscar Sabotadores Ativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Quests",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Parser Quests",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Interpretar Resultado": {
      "main": [
        [
          {
            "node": "Aplicar Limites & Dedupe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar Limites & Dedupe": {
      "main": [
        [
          {
            "node": "Calcula Xps quest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Quests": {
      "main": [
        [
          {
            "node": "Interpretar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula Xps quest": {
      "main": [
        [
          {
            "node": "Montar Saída",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Contexto": {
      "main": [
        [
          {
            "node": "Preparar Quest do Catálogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Estágio Usuário": {
      "main": [
        [
          {
            "node": "Buscar Quests Catálogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Quests Catálogo": {
      "main": [
        [
          {
            "node": "Montar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Quest do Catálogo": {
      "main": [
        [
          {
            "node": "Agente Quests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser Quests": {
      "ai_outputParser": [
        [
          {
            "node": "Agente Quests",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Listar Áreas da Vida": {
      "main": [
        [
          {
            "node": "Buscar Estágio Usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sabotadores Ativo": {
      "main": [
        [
          {
            "node": "Listar Áreas da Vida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não achou conversa?": {
      "main": [
        [
          {
            "node": "Buscar Insights Recentes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar Saída1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "start": [
      {
        "json": {
          "usuario_id": "4bb8706a-7886-4ccb-8263-ff51aaafaafa"
        }
      }
    ]
  },
  "versionId": "d9a4b11e-3599-4d9c-8783-9382ae877712",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-05T13:38:03.212Z",
      "role": "workflow:owner",
      "workflowId": "LKjU8NE9aNHw7kEh",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
