backups/n8n/sw_criar_quest.json
{
  "createdAt": "2025-11-05T13:38:03.212Z",
  "id": "LKjU8NE9aNHw7kEh",
  "name": "sw_criar_quest",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usuario_id"
            },
            {
              "name": "chat_id"
            }
          ]
        }
      },
      "id": "0d32a885-f6f7-4019-a413-e07de2331379",
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3248,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\n\nconst usuarioId = input.usuario_id;\nif (!usuarioId) {\n  throw new Error('usuario_id obrigatório');\n}\n\nreturn [{\n  json: {\n    usuario_id: usuarioId,\n    chat_id: input.chat_id || null\n  }\n}];"
      },
      "id": "28083a60-0e25-4949-88da-718edce8d384",
      "name": "Normalizar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH quests AS (\n  SELECT\n    uq.id,\n    uq.status,\n    uq.quest_estagio,\n    uq.catalogo_id,\n    COALESCE(uq.config->>'contexto_origem', '') AS contexto_origem,\n    COALESCE(uq.config->>'titulo', '') AS titulo,\n    uq.concluido_em,\n    uq.ativado_em,\n    uq.config,\n    uq.recorrencias\n  FROM public.usuarios_quest uq\n  WHERE uq.usuario_id = $1::uuid\n    AND (\n      uq.status IN ('pendente','ativa')\n      OR (uq.status = 'concluida' AND uq.concluido_em >= NOW() - INTERVAL '30 days')\n    )\n)\nSELECT json_build_object(\n  'quests_ativas',\n  COALESCE(json_agg(\n    json_build_object(\n      'id', quests.id,\n      'status', quests.status,\n      'quest_estagio', quests.quest_estagio,\n      'catalogo_id', quests.catalogo_id,\n      'contexto_origem', quests.contexto_origem,\n      'titulo', quests.titulo,\n      'concluido_em', quests.concluido_em,\n      'criado_em', quests.ativado_em,\n      'config', quests.config,\n      'recorrencias', quests.recorrencias\n    )\n    ORDER BY quests.concluido_em NULLS FIRST, quests.ativado_em DESC\n  ), '[]'::json)\n) AS contexto\nFROM quests;",
        "options": {
          "queryReplacement": "={{ [ $('Normalizar Entrada').item.json.usuario_id ] }}"
        }
      },
      "id": "66a7e74d-7264-4266-88f9-16f0a354cf15",
      "name": "Buscar Quests Ativas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2880,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ultimas AS (\n  SELECT\n    uc.id,\n    uc.session_id,\n    uc.data_conversa,\n    uc.resumo_conversa,\n    uc.tem_reflexao,\n    uc.total_palavras_usuario,\n    uc.criado_em\n  FROM public.usr_chat uc\n  WHERE uc.usuario_id = $1::uuid\n  ORDER BY uc.data_conversa DESC, uc.criado_em DESC\n  LIMIT 10\n)\nSELECT json_build_object(\n  'conversas_recentes',\n  COALESCE(json_agg(\n    json_build_object(\n      'chat_id', ultimas.id,\n      'session_id', ultimas.session_id,\n      'data_conversa', ultimas.data_conversa,\n      'resumo', ultimas.resumo_conversa,\n      'tem_reflexao', ultimas.tem_reflexao,\n      'total_palavras', ultimas.total_palavras_usuario\n    )\n    ORDER BY ultimas.data_conversa DESC, ultimas.criado_em DESC\n  ), '[]'::json)\n) AS conversas\nFROM ultimas;",
        "options": {
          "queryReplacement": "={{ [ $('Normalizar Entrada').item.json.usuario_id ] }}"
        }
      },
      "id": "cae56c50-c2f0-4e1e-b5cb-a9f9f46cc910",
      "name": "Buscar Conversas Recentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2704,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ultimos AS (\n  SELECT\n    i.id,\n    i.titulo,\n    i.categoria,\n    i.tipo,\n    i.prioridade,\n    i.resumo_situacao,\n    i.criado_em\n  FROM public.insights i\n  WHERE i.usuario_id = $1::uuid\n  ORDER BY i.criado_em DESC\n  LIMIT 10\n)\nSELECT json_build_object(\n  'insights_recentes',\n  COALESCE(json_agg(\n    json_build_object(\n      'id', ultimos.id,\n      'titulo', ultimos.titulo,\n      'categoria', ultimos.categoria,\n      'tipo', ultimos.tipo,\n      'prioridade', ultimos.prioridade,\n      'resumo', ultimos.resumo_situacao,\n      'criado_em', ultimos.criado_em\n    )\n    ORDER BY ultimos.criado_em DESC\n  ), '[]'::json)\n) AS insights\nFROM ultimos;",
        "options": {
          "queryReplacement": "={{ [ $('Normalizar Entrada').item.json.usuario_id ] }}"
        }
      },
      "id": "77182940-59cd-47ac-aa51-9a80d890662d",
      "name": "Buscar Insights Recentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2512,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ultimos AS (\n  SELECT\n    us.id,\n    us.sabotador_id,\n    us.apelido_personalizado,\n    us.contexto_principal,\n    us.insight_atual,\n    us.contramedida_ativa,\n    us.intensidade_media,\n    us.total_deteccoes,\n    us.data_ultima_atividade,\n    us.atualizado_em,\n    us.chat_id\n  FROM public.usuarios_sabotadores us\n  WHERE us.usuario_id = $1::uuid\n  ORDER BY COALESCE(us.data_ultima_atividade, us.atualizado_em) DESC\n  LIMIT 10\n)\nSELECT json_build_object(\n  'sabotadores_recentes',\n  COALESCE(json_agg(\n    json_build_object(\n      'id', ultimos.id,\n      'sabotador_id', ultimos.sabotador_id,\n      'apelido', ultimos.apelido_personalizado,\n      'contexto', ultimos.contexto_principal,\n      'insight', ultimos.insight_atual,\n      'contramedida', ultimos.contramedida_ativa,\n      'intensidade', ultimos.intensidade_media,\n      'total_deteccoes', ultimos.total_deteccoes,\n      'data_ultima_atividade', COALESCE(ultimos.data_ultima_atividade, ultimos.atualizado_em),\n      'chat_id', ultimos.chat_id\n    )\n    ORDER BY COALESCE(ultimos.data_ultima_atividade, ultimos.atualizado_em) DESC\n  ), '[]'::json)\n) AS sabotadores\nFROM ultimos;",
        "options": {
          "queryReplacement": "={{ [ $('Normalizar Entrada').item.json.usuario_id ] }}"
        }
      },
      "id": "8f958011-d23d-4a9e-8940-e86ed1fa2c91",
      "name": "Buscar Sabotadores Recentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2304,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object(\n  'areas_vida',\n  COALESCE(json_agg(\n    json_build_object(\n      'id', avc.id,\n      'codigo', avc.codigo,\n      'nome', avc.nome,\n      'descricao', avc.descricao\n    )\n    ORDER BY avc.nome ASC\n  ), '[]'::json)\n) AS areas\nFROM public.areas_vida_catalogo avc\nWHERE avc.ativo IS TRUE;",
        "options": {}
      },
      "id": "d2c5f800-e8f2-42f6-a750-dd51539e30e1",
      "name": "Listar Áreas da Vida",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2080,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object(\n  'sabotadores_catalogo',\n  COALESCE(json_agg(\n    json_build_object(\n      'id', sc.id,\n      'nome', sc.nome,\n      'emoji', sc.emoji,\n      'descricao', sc.descricao\n    )\n    ORDER BY sc.nome ASC\n  ), '[]'::json)\n) AS catalogo\nFROM public.sabotadores_catalogo sc;",
        "options": {}
      },
      "id": "9c6e146f-a218-4e42-ac67-c585f670b91a",
      "name": "Listar Sabotadores Catálogo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1872,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id, u.estagio_jornada FROM public.usuarios u WHERE u.id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [ $('Normalizar Entrada').item.json.usuario_id ] }}"
        }
      },
      "id": "e3ac18db-ac94-4c1a-91a3-8d38c00b39be",
      "name": "Buscar Estágio Usuário",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1664,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH estagio_user AS (\n  SELECT estagio_jornada FROM public.usuarios WHERE id = $1::uuid\n)\nSELECT json_build_object(\n  'quests_catalogo',\n  COALESCE(json_agg(\n    json_build_object(\n      'id', qc.id,\n      'codigo', qc.codigo,\n      'titulo', qc.titulo,\n      'descricao', qc.descricao,\n      'categoria', qc.categoria,\n      'sabotador_id', qc.sabotador_id,\n      'base_cientifica', qc.base_cientifica,\n      'instrucoes', qc.instrucoes,\n      'tempo_estimado_min', qc.tempo_estimado_min,\n      'dificuldade', qc.dificuldade,\n      'nivel_prioridade', qc.nivel_prioridade,\n      'xp', qc.xp\n    )\n    ORDER BY \n      qc.dificuldade ASC,\n      qc.nivel_prioridade DESC\n  ), '[]'::json)\n) AS catalogo\nFROM public.quests_catalogo qc\nCROSS JOIN estagio_user eu\nWHERE qc.ativo IS TRUE\n  AND (\n    -- Excluir apenas reflexão (criada automaticamente) e categoria personalizada\n    qc.codigo != 'reflexao_diaria'\n    AND qc.categoria != 'personalizada'\n    AND (\n      -- Incluir quests de sabotador OU\n      qc.sabotador_id IS NOT NULL\n      OR\n      -- Incluir todas as outras categorias (TCC, Estoicismo, Essencial, Neurociência, Boa Prática, etc.)\n      (qc.categoria IS NOT NULL AND qc.sabotador_id IS NULL)\n    )\n  )\n  AND (\n    -- Estágio 1 (Iniciante): dificuldade 1-2, prioridade alta/media\n    (eu.estagio_jornada = 1 AND qc.dificuldade <= 2 AND qc.nivel_prioridade >= 2)\n    OR\n    -- Estágio 2 (Intermediário): dificuldade 2-3, qualquer prioridade\n    (eu.estagio_jornada = 2 AND qc.dificuldade >= 2 AND qc.dificuldade <= 3)\n    OR\n    -- Estágio 3 (Avançado): dificuldade >= 2\n    (eu.estagio_jornada = 3 AND qc.dificuldade >= 2)\n    OR\n    -- Estágio 4 (Mestre): todas as dificuldades\n    (eu.estagio_jornada = 4)\n  );",
        "options": {
          "queryReplacement": "={{ [ $('Normalizar Entrada').item.json.usuario_id ] }}"
        }
      },
      "id": "ab2d3420-291c-4c52-ad70-07dfecfaeee6",
      "name": "Buscar Quests Catálogo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1456,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const getJson = (nodeName) => {\n  const data = $items(nodeName, 0, 0) || [];\n  const item = data[0] || {};\n  return item.json || {};\n};\n\nconst getNested = (source, path, fallback = undefined) => {\n  return path.reduce((acc, key) => (acc && acc[key] !== undefined ? acc[key] : undefined), source) ?? fallback;\n};\n\nconst entrada = getJson(\"Normalizar Entrada\");\nconst questsRaw = getJson(\"Buscar Quests Ativas\");\nconst conversasRaw = getJson(\"Buscar Conversas Recentes\");\nconst insightsRaw = getJson(\"Buscar Insights Recentes\");\nconst sabotadoresRaw = getJson(\"Buscar Sabotadores Recentes\");\nconst areasRaw = getJson(\"Listar Áreas da Vida\");\nconst sabotadoresCatRaw = getJson(\"Listar Sabotadores Catálogo\");\nconst estagioRaw = getJson(\"Buscar Estágio Usuário\");\nconst catalogoRaw = getJson(\"Buscar Quests Catálogo\");\n\nconst quests = questsRaw.contexto || {};\nconst questsAtivas = Array.isArray(quests.quests_ativas) ? quests.quests_ativas : [];\n\n// Lista de quests já criadas (para evitar duplicatas)\nconst questsJaCriadas = questsAtivas.map(q => ({\n  id: q.id,\n  titulo: q.titulo || q.config?.titulo || '',\n  catalogo_id: q.catalogo_id,\n  contexto_origem: q.contexto_origem || '',\n  status: q.status,\n  concluido_em: q.concluido_em\n}));\n\n// IDs de catálogo já usados (para priorizar quests novas)\nconst catalogoIdsJaUsados = new Set(\n  questsAtivas\n    .filter(q => q.catalogo_id)\n    .map(q => q.catalogo_id)\n);\n\nconst estagioJornada = estagioRaw.estagio_jornada || 1;\n\nconst catalogoData = catalogoRaw.catalogo || {};\nconst questsCatalogo = Array.isArray(catalogoData.quests_catalogo) ? catalogoData.quests_catalogo : [];\n\n// Filtrar quests do catálogo: priorizar as que ainda não foram usadas\nconst questsCatalogoNovas = questsCatalogo.filter(q => !catalogoIdsJaUsados.has(q.id));\nconst questsCatalogoUsadas = questsCatalogo.filter(q => catalogoIdsJaUsados.has(q.id));\n\n// Identificar sabotador mais ativo\nconst sabotadores = sabotadoresRaw.sabotadores || {};\nconst sabotadoresRecentes = Array.isArray(sabotadores.sabotadores_recentes) ? sabotadores.sabotadores_recentes : [];\nconst sabotadorMaisAtivo = sabotadoresRecentes.length > 0 ? sabotadoresRecentes[0] : null;\n\n// Buscar quests do catálogo por categoria (priorizando novas)\nconst questReflexao = questsCatalogoNovas.find(q => q.codigo === 'reflexao_diaria') \n  || questsCatalogoUsadas.find(q => q.codigo === 'reflexao_diaria') \n  || null;\n  \nconst questsSabotador = [\n  ...questsCatalogoNovas.filter(q => q.sabotador_id && sabotadorMaisAtivo && q.sabotador_id === sabotadorMaisAtivo.sabotador_id),\n  ...questsCatalogoUsadas.filter(q => q.sabotador_id && sabotadorMaisAtivo && q.sabotador_id === sabotadorMaisAtivo.sabotador_id)\n];\n\nconst questsTCC = [\n  ...questsCatalogoNovas.filter(q => q.categoria === 'tcc'),\n  ...questsCatalogoUsadas.filter(q => q.categoria === 'tcc')\n];\n\nconst questsEstoicismo = [\n  ...questsCatalogoNovas.filter(q => q.categoria === 'estoicismo'),\n  ...questsCatalogoUsadas.filter(q => q.categoria === 'estoicismo')\n];\n\nconst conversas = conversasRaw.conversas || {};\nconst conversasRecentes = Array.isArray(conversas.conversas_recentes) ? conversas.conversas_recentes : [];\n\nconst insights = insightsRaw.insights || {};\nconst areasVida = getNested(areasRaw, ['areas', 'areas_vida'], []);\nconst sabotadoresCatalogo = getNested(sabotadoresCatRaw, ['catalogo', 'sabotadores_catalogo'], []);\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    chat_id: entrada.chat_id,\n    estagio_jornada: estagioJornada,\n    quests_ativas: questsAtivas.filter(q => q.status === 'pendente' || q.status === 'ativa'),\n    quests_ja_criadas: questsJaCriadas,\n    conversas_recentes: conversasRecentes,\n    insights_recentes: insights.insights_recentes || [],\n    sabotadores_recentes: sabotadoresRecentes,\n    sabotador_mais_ativo: sabotadorMaisAtivo,\n    areas_vida_disponiveis: areasVida,\n    sabotadores_catalogo: sabotadoresCatalogo,\n    quests_catalogo: {\n      reflexao: questReflexao,\n      sabotador: questsSabotador,\n      tcc: questsTCC,\n      estoicismo: questsEstoicismo,\n      todas: questsCatalogo,\n      novas: questsCatalogoNovas,\n      usadas: questsCatalogoUsadas\n    }\n  }\n}];"
      },
      "id": "2bf378a8-37e4-419c-841a-6bb6dafb04a7",
      "name": "Montar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const entrada = $input.item.json || {};\n\nconst sabotadorMaisAtivo = entrada.sabotador_mais_ativo;\nconst questsCatalogo = entrada.quests_catalogo || {};\nconst questsJaCriadas = entrada.quests_ja_criadas || [];\nconst estagioJornada = entrada.estagio_jornada || 1;\n\n// IDs de catálogo já usados\nconst catalogoIdsUsados = new Set(\n  questsJaCriadas\n    .filter(q => q.catalogo_id)\n    .map(q => q.catalogo_id)\n);\n\n// Função para escolher melhor quest do catálogo baseado no estágio\nconst escolherQuestCatalogo = (lista, priorizarNovas = true) => {\n  if (!Array.isArray(lista) || lista.length === 0) return null;\n  \n  // Separar novas e usadas\n  const novas = lista.filter(q => !catalogoIdsUsados.has(q.id));\n  const usadas = lista.filter(q => catalogoIdsUsados.has(q.id));\n  \n  // Priorizar novas se solicitado\n  const candidatas = priorizarNovas && novas.length > 0 ? novas : (usadas.length > 0 ? usadas : lista);\n  \n  // Escolher baseado no estágio (dificuldade adequada)\n  const adequadas = candidatas.filter(q => {\n    const dificuldade = q.dificuldade || 2;\n    if (estagioJornada === 1) return dificuldade <= 2;\n    if (estagioJornada === 2) return dificuldade >= 2 && dificuldade <= 3;\n    if (estagioJornada === 3) return dificuldade >= 2;\n    return true; // estágio 4: todas\n  });\n  \n  const escolhida = adequadas.length > 0 ? adequadas[0] : candidatas[0];\n  return escolhida || null;\n};\n\n// Escolher quest do sabotador (SEMPRE necessário)\nconst questSabotador = sabotadorMaisAtivo \n  ? escolherQuestCatalogo(questsCatalogo.sabotador || [], true)\n  : null;\n\n// Escolher quest TCC, Estoicismo ou outras categorias (SEMPRE necessário)\n// Incluir todas as categorias exceto sabotador e reflexão\nconst todasQuests = questsCatalogo.todas || [];\nconst questsTCCEstoicismoOutras = todasQuests.filter(q => {\n  // Excluir quests de sabotador\n  if (q.sabotador_id) return false;\n  // Excluir reflexão (criada automaticamente)\n  if (q.codigo === 'reflexao_diaria') return false;\n  // Incluir todas as outras categorias (TCC, Estoicismo, Essencial, Neurociência, Boa Prática, etc.)\n  return q.categoria && q.categoria !== 'personalizada';\n});\n\nconst questTCCEstoicismoOutras = escolherQuestCatalogo(questsTCCEstoicismoOutras, true);\n\n// Preparar contexto limpo para o agente\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    chat_id: entrada.chat_id,\n    estagio_jornada: estagioJornada,\n    conversa_atual: entrada.conversas_recentes?.[0] || null,\n    insights_recentes: entrada.insights_recentes || [],\n    areas_vida: entrada.areas_vida_disponiveis || [],\n    sabotador_mais_ativo: sabotadorMaisAtivo,\n    quests_catalogo_escolhidas: {\n      sabotador: questSabotador,\n      tcc_estoicismo_outras: questTCCEstoicismoOutras\n    }\n  }\n}];"
      },
      "id": "196c7f0c-6e50-4c19-b814-a00d667e3bbe",
      "name": "Preparar Quest do Catálogo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        -32
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 2000,
          "temperature": 0.2
        }
      },
      "id": "97834001-1e4d-45be-92e5-b03f5d2db0b1",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1136,
        240
      ],
      "credentials": {
        "openRouterApi": {
          "id": "rSnkOnnAHyfayLJt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é o agente de geração de quests do MindQuest.\n\n**OBJETIVO:** Gerar SEMPRE EXATAMENTE 3 quests para o usuário:\n1. Quest PERSONALIZADA (custom) - criar do zero\n2. Quest SABOTADOR - baseada no catálogo (já escolhida)\n3. Quest TCC/ESTOICISMO/OUTRAS - baseada no catálogo (já escolhida)\n\n=== Contexto do Usuário ===\nEstágio: {{ $json.estagio_jornada || 1 }} (1=Iniciante, 2=Intermediário, 3=Avançado, 4=Mestre)\n\nConversa atual:\n{{ JSON.stringify($json.conversa_atual || {}) }}\n\nInsights recentes:\n{{ JSON.stringify($json.insights_recentes || []) }}\n\nÁreas da vida:\n{{ JSON.stringify($json.areas_vida || []) }}\n\nSabotador mais ativo:\n{{ JSON.stringify($json.sabotador_mais_ativo || null) }}\n\n=== Quests do Catálogo (JÁ ESCOLHIDAS) ===\nSabotador: {{ JSON.stringify($json.quests_catalogo_escolhidas?.sabotador || null) }}\nTCC/Estoicismo/Outras: {{ JSON.stringify($json.quests_catalogo_escolhidas?.tcc_estoicismo_outras || null) }}\n\n**IMPORTANTE:** Use as quests do catálogo como REFERÊNCIA/INSPIRAÇÃO, mas sempre personalize para o contexto do usuário.\n\n=== REGRAS OBRIGATÓRIAS ===\n\n1. **SEMPRE gerar EXATAMENTE 3 quests nesta ordem:**\n   - Quest 1: PERSONALIZADA (custom) - criar do zero baseada na conversa atual, sem usar catálogo\n   - Quest 2: SABOTADOR - baseada na quest do catálogo de sabotador (já escolhida para você)\n   - Quest 3: TCC/ESTOICISMO/OUTRAS - baseada na quest do catálogo (TCC, Estoicismo ou outras categorias - já escolhida para você)\n\n2. **Quest Personalizada (Quest 1):**\n   - Criar do zero baseada na conversa atual\n   - Gerar `base_cientifica` completo no mesmo formato do catálogo:\n     ```json\n     {\n       \"tipo\": \"tecnica\" | \"boa_pratica\",\n       \"objetivo\": \"...\",\n       \"fundamentos\": \"...\",\n       \"como_aplicar\": \"...\",\n       \"links_referencias\": []\n     }\n     ```\n   - Use as quests do catálogo como exemplo de formato\n\n3. **Quest Sabotador (Quest 2):**\n   - Baseada na quest do catálogo de sabotador (objeto em `quests_catalogo_escolhidas.sabotador`)\n   - Use como INSPIRAÇÃO/REFERÊNCIA\n   - Adapte título e descrição para o contexto do usuário e situação do sabotador\n   - Mantenha `catalogo_id` da quest escolhida\n   - Personalize para engajar com a realidade do usuário\n\n4. **Quest TCC/Estoicismo/Outras (Quest 3):**\n   - Baseada na quest do catálogo (objeto em `quests_catalogo_escolhidas.tcc_estoicismo_outras`)\n   - Pode ser TCC, Estoicismo ou outras categorias (diferentes de sabotador)\n   - Use como INSPIRAÇÃO/REFERÊNCIA\n   - Adapte título e descrição para o contexto do usuário\n   - Mantenha `catalogo_id` da quest escolhida\n   - Personalize para engajar com a realidade do usuário\n\n5. **Adaptação obrigatória (quests do catálogo):**\n   - Títulos devem ser engajadores e específicos ao contexto\n   - Referenciar elementos da conversa atual\n   - Usar linguagem que ressoe com a situação do usuário\n\n6. **Estágio do usuário:**\n   - Adaptar complexidade e abordagem conforme o estágio\n   - Estágio 1: Quest mais simples e direta\n   - Estágio 2-4: Quests mais complexas conforme aumenta\n\n=== Formato da Resposta ===\nJSON válido minificado:\n\n{\n  \"quests\": [\n    {\n      \"tipo\": \"personalizada\",\n      \"catalogo_id\": null,\n      \"titulo\": \"... título único e engajador baseado na conversa ...\",\n      \"descricao\": \"... descrição específica do contexto ...\",\n      \"base_cientifica\": {\n        \"tipo\": \"tecnica\",\n        \"objetivo\": \"...\",\n        \"fundamentos\": \"...\",\n        \"como_aplicar\": \"...\",\n        \"links_referencias\": []\n      },\n      \"contexto_origem\": \"conversa_especifica\",\n      \"prioridade\": \"alta|media|baixa\",\n      \"recorrencia\": \"diaria|semanal|unica\",\n      \"prazo_inicio\": \"YYYY-MM-DD\",\n      \"prazo_fim\": \"YYYY-MM-DD\",\n      \"progresso_meta\": 5,\n      \"insight_id\": \"uuid-válido\",\n      \"area_vida_id\": \"uuid-válido\",\n      \"sabotador_id\": \"id-ou-null\",\n      \"complexidade\": 2,\n      \"xp_recompensa\": 40\n    },\n    {\n      \"tipo\": \"catalogo\",\n      \"catalogo_id\": \"uuid-quest-sabotador\",\n      \"titulo\": \"... título ADAPTADO ao contexto do usuário e situação do sabotador ...\",\n      \"descricao\": \"... descrição ADAPTADA que referencia a conversa e o sabotador ...\",\n      \"base_cientifica\": null,\n      \"contexto_origem\": \"sabotador_ativo\",\n      \"prioridade\": \"alta\",\n      \"recorrencia\": \"diaria\",\n      \"prazo_inicio\": \"YYYY-MM-DD\",\n      \"prazo_fim\": \"YYYY-MM-DD\",\n      \"progresso_meta\": 7,\n      \"insight_id\": \"uuid-válido\",\n      \"area_vida_id\": \"uuid-válido\",\n      \"sabotador_id\": \"id-do-sabotador\",\n      \"complexidade\": 2,\n      \"xp_recompensa\": 40\n    },\n    {\n      \"tipo\": \"catalogo\",\n      \"catalogo_id\": \"uuid-quest-tcc-ou-estoicismo-ou-outras\",\n      \"titulo\": \"... título ADAPTADO ao contexto do usuário ...\",\n      \"descricao\": \"... descrição ADAPTADA que referencia a conversa ...\",\n      \"base_cientifica\": null,\n      \"contexto_origem\": \"desenvolvimento_pessoal\",\n      \"prioridade\": \"media\",\n      \"recorrencia\": \"diaria|semanal\",\n      \"prazo_inicio\": \"YYYY-MM-DD\",\n      \"prazo_fim\": \"YYYY-MM-DD\",\n      \"progresso_meta\": 5,\n      \"insight_id\": \"uuid-válido\",\n      \"area_vida_id\": \"uuid-válido\",\n      \"sabotador_id\": null,\n      \"complexidade\": 2,\n      \"xp_recompensa\": 30\n    }\n  ]\n}\n\n**SEMPRE retorne exatamente 3 quests nesta ordem: personalizada, sabotador, tcc_estoicismo_outras.**",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 1,
          "enableStreaming": false
        }
      },
      "id": "09b49c9e-acdb-4f28-833c-fc85b09e9430",
      "name": "Agente Quests",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1104,
        -48
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"quests\": [{\"tipo\": \"personalizada\", \"catalogo_id\": null, \"titulo\": \"Check-in matinal personalizado\", \"descricao\": \"Registrar vitórias baseadas no contexto da conversa\", \"base_cientifica\": {\"tipo\": \"tecnica\", \"objetivo\": \"Reforçar comportamentos positivos\", \"fundamentos\": \"TCC: Reforço positivo. Neurociência: Ativa sistema de recompensa\", \"como_aplicar\": \"Ao final do dia, liste 1-3 micro-vitórias\", \"links_referencias\": []}, \"contexto_origem\": \"conversa_especifica\", \"prioridade\": \"media\", \"recorrencia\": \"diaria\", \"prazo_inicio\": \"2025-01-22\", \"prazo_fim\": \"2025-01-29\", \"progresso_meta\": 5, \"insight_id\": \"33333333-3333-4333-8333-333333333333\", \"area_vida_id\": \"22222222-2222-2222-2222-222222222222\", \"sabotador_id\": null, \"complexidade\": 2, \"xp_recompensa\": 40}, {\"tipo\": \"catalogo\", \"catalogo_id\": \"11111111-1111-1111-1111-111111111111\", \"titulo\": \"Quest do Sabotador - adaptada ao seu contexto\", \"descricao\": \"Contramedida adaptada à sua situação específica\", \"base_cientifica\": null, \"contexto_origem\": \"sabotador_ativo\", \"prioridade\": \"alta\", \"recorrencia\": \"diaria\", \"prazo_inicio\": \"2025-01-22\", \"prazo_fim\": \"2025-01-29\", \"progresso_meta\": 7, \"insight_id\": \"33333333-3333-4333-8333-333333333333\", \"area_vida_id\": \"22222222-2222-2222-2222-222222222222\", \"sabotador_id\": \"sabotador-id\", \"complexidade\": 2, \"xp_recompensa\": 40}, {\"tipo\": \"catalogo\", \"catalogo_id\": \"44444444-4444-4444-4444-444444444444\", \"titulo\": \"Técnica TCC adaptada ao seu momento\", \"descricao\": \"Prática personalizada baseada na conversa atual\", \"base_cientifica\": null, \"contexto_origem\": \"desenvolvimento_pessoal\", \"prioridade\": \"media\", \"recorrencia\": \"diaria\", \"prazo_inicio\": \"2025-01-22\", \"prazo_fim\": \"2025-01-29\", \"progresso_meta\": 5, \"insight_id\": \"33333333-3333-4333-8333-333333333333\", \"area_vida_id\": \"22222222-2222-2222-2222-222222222222\", \"sabotador_id\": null, \"complexidade\": 2, \"xp_recompensa\": 30}]}"
      },
      "id": "99e02bf6-b632-4cf1-a657-85842270c7fa",
      "name": "Parser JSON",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -736,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const getJson = (nodeName) => {\n  const data = $items(nodeName, 0, 0) || [];\n  const item = data[0] || {};\n  return item.json || {};\n};\n\nconst contexto = getJson(\"Preparar Quest do Catálogo\");\n\nconst rawOutput = $json.output ?? { quests: [] };\nlet resultado;\nif (typeof rawOutput === 'string') {\n  try {\n    resultado = JSON.parse(rawOutput);\n  } catch (error) {\n    resultado = { quests: [] };\n  }\n} else if (rawOutput && typeof rawOutput === 'object') {\n  resultado = rawOutput;\n} else {\n  resultado = { quests: [] };\n}\n\nconst novasQuests = Array.isArray(resultado.quests) ? resultado.quests : [];\n\nreturn [{\n  json: {\n    usuario_id: contexto.usuario_id,\n    chat_id: contexto.chat_id,\n    novas_quests_sugeridas: novasQuests,\n    atualizacoes_sugeridas: [],\n    sabotadores_catalogo: contexto.sabotadores_catalogo || [],\n    sabotadores_recentes: contexto.sabotadores_recentes || [],\n    insights_recentes: contexto.insights_recentes || []\n  }\n}];"
      },
      "id": "7e7f2709-cbb1-40cb-8a63-0387fe960739",
      "name": "Interpretar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const entrada = ($input.item && $input.item.json) ? $input.item.json : {};\nconst questsAtivas = Array.isArray(entrada.quests_ativas) ? entrada.quests_ativas : [];\nconst questsJaCriadas = Array.isArray(entrada.quests_ja_criadas) ? entrada.quests_ja_criadas : [];\nconst QUESTS_OBRIGATORIAS = 3;\nconst dedupe = new Set();\nconst catalogoIdsUsados = new Set();\nconst titulosUsados = new Set();\nconst uuidRegex = /^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$/;\nconst insightsValidos = new Set(\n  (Array.isArray(entrada.insights_recentes) ? entrada.insights_recentes : [])\n    .map((item) => (typeof item?.id === 'string' ? item.id.trim().toLowerCase() : null))\n    .filter(Boolean)\n);\n\n// Preencher sets de duplicatas com quests já criadas\nfor (const questJaCriada of questsJaCriadas) {\n  const titulo = String(questJaCriada?.titulo || '').toLowerCase().trim();\n  const catalogoId = questJaCriada?.catalogo_id;\n  \n  if (titulo) {\n    titulosUsados.add(titulo);\n  }\n  \n  if (catalogoId && uuidRegex.test(catalogoId)) {\n    catalogoIdsUsados.add(catalogoId);\n  }\n  \n  const contexto = String(questJaCriada?.contexto_origem || '').toLowerCase().trim();\n  if (contexto || titulo) {\n    dedupe.add(`${contexto}|${titulo}`);\n  }\n}\n\n// Verificar duplicatas das quests ativas\nfor (const ativo of questsAtivas) {\n  const contexto = String(ativo?.contexto_origem || '').toLowerCase().trim();\n  const titulo = String((ativo?.config?.titulo ?? ativo?.titulo ?? '')).toLowerCase().trim();\n  const catalogoId = ativo?.catalogo_id;\n  \n  if (titulo) {\n    titulosUsados.add(titulo);\n  }\n  \n  if (catalogoId && uuidRegex.test(catalogoId)) {\n    catalogoIdsUsados.add(catalogoId);\n  }\n  \n  if (contexto || titulo) {\n    dedupe.add(`${contexto}|${titulo}`);\n  }\n}\n\nconst novas = [];\nconst atualizacoes = Array.isArray(entrada.atualizacoes_sugeridas) ? entrada.atualizacoes_sugeridas : [];\nconst candidatas = Array.isArray(entrada.novas_quests_sugeridas) ? entrada.novas_quests_sugeridas : [];\n\n// Função para verificar similaridade de títulos (evitar duplicatas)\nconst tituloSimilar = (titulo1, titulo2) => {\n  const t1 = String(titulo1 || '').toLowerCase().trim();\n  const t2 = String(titulo2 || '').toLowerCase().trim();\n  \n  if (!t1 || !t2) return false;\n  \n  // Verificar se são muito similares (80% de similaridade)\n  const palavras1 = t1.split(/\\s+/);\n  const palavras2 = t2.split(/\\s+/);\n  const palavrasComuns = palavras1.filter(p => palavras2.includes(p));\n  const similaridade = palavrasComuns.length / Math.max(palavras1.length, palavras2.length);\n  \n  return similaridade >= 0.8 || t1.includes(t2) || t2.includes(t1);\n};\n\n// Processar todas as candidatas e garantir 3 quests específicas\n// Ordem esperada: personalizada, sabotador, tcc_estoicismo\nconst questsPorTipo = { \n  personalizada: null, \n  sabotador: null, \n  tcc_estoicismo: null \n};\n\nfor (const quest of candidatas) {\n  if (!quest || typeof quest !== 'object') continue;\n  \n  const contexto = String(quest.contexto_origem || '').toLowerCase().trim();\n  const titulo = String(quest.titulo || '').toLowerCase().trim();\n  const chave = `${contexto}|${titulo}`;\n  \n  if (!contexto && !titulo) continue;\n  if (dedupe.has(chave)) continue;\n  \n  // Verificar se título é muito similar a algum já usado\n  let tituloMuitoSimilar = false;\n  for (const tituloUsado of titulosUsados) {\n    if (tituloSimilar(titulo, tituloUsado)) {\n      tituloMuitoSimilar = true;\n      break;\n    }\n  }\n  if (tituloMuitoSimilar) continue;\n  \n  // Verificar se catalogo_id já foi usado recentemente\n  let catalogoId = null;\n  if (typeof quest.catalogo_id === 'string') {\n    const trimmed = quest.catalogo_id.trim();\n    if (trimmed && uuidRegex.test(trimmed)) {\n      // Se já foi usado, pular (priorizar novas)\n      if (catalogoIdsUsados.has(trimmed)) {\n        continue; // Pular quests do catálogo já usadas\n      }\n      catalogoId = trimmed;\n    }\n  }\n  \n  let areaVidaId = null;\n  if (typeof quest.area_vida_id === 'string') {\n    const trimmed = quest.area_vida_id.trim();\n    if (trimmed && uuidRegex.test(trimmed)) {\n      areaVidaId = trimmed;\n    }\n  }\n  \n  let insightId = null;\n  if (typeof quest.insight_id === 'string') {\n    const trimmed = quest.insight_id.trim();\n    if (trimmed && uuidRegex.test(trimmed) && insightsValidos.has(trimmed.toLowerCase())) {\n      insightId = trimmed;\n    }\n  }\n  \n  let sabotadorId = null;\n  if (typeof quest.sabotador_id === 'string') {\n    const trimmed = quest.sabotador_id.trim();\n    if (trimmed && uuidRegex.test(trimmed)) {\n      sabotadorId = trimmed;\n    }\n  }\n  \n  if (!insightId) continue;\n  \n  // Classificar quest por tipo baseado no contexto e catalogo_id\n  let tipoCategoria = 'personalizada';\n  \n  if (catalogoId) {\n    // Quest do catálogo\n    if (contexto.includes('sabotador') || contexto.includes('sabot') || sabotadorId) {\n      tipoCategoria = 'sabotador';\n    } else if (contexto.includes('reflexao') || contexto.includes('reflex')) {\n      // Reflexão não deve ser gerada pelo agente - pular\n      continue;\n    } else {\n      tipoCategoria = 'tcc_estoicismo';\n    }\n  } else {\n    // Quest personalizada (sem catalogo_id)\n    tipoCategoria = 'personalizada';\n  }\n  \n  const questProcessada = {\n    tipo: quest.tipo || (catalogoId ? 'catalogo' : 'personalizada'),\n    catalogo_id: catalogoId,\n    titulo: quest.titulo,\n    descricao: quest.descricao,\n    base_cientifica: quest.base_cientifica || null,\n    contexto_origem: quest.contexto_origem,\n    prioridade: quest.prioridade || 'media',\n    recorrencia: quest.recorrencia || 'unica',\n    prazo_inicio: quest.prazo_inicio || null,\n    prazo_fim: quest.prazo_fim || null,\n    progresso_meta: quest.progresso_meta ?? 1,\n    status_inicial: quest.status_inicial || 'pendente',\n    area_vida_id: areaVidaId,\n    sabotador_id: sabotadorId,\n    insight_id: insightId,\n    complexidade: quest.complexidade ?? 0,\n    payload_extra: quest.payload_extra || {},\n    xp_recompensa: quest.xp_recompensa || 40\n  };\n  \n  // Armazenar por categoria (substituir se já existe)\n  if (tipoCategoria === 'personalizada' && !questsPorTipo.personalizada) {\n    questsPorTipo.personalizada = questProcessada;\n  } else if (tipoCategoria === 'sabotador' && !questsPorTipo.sabotador) {\n    questsPorTipo.sabotador = questProcessada;\n  } else if (tipoCategoria === 'tcc_estoicismo' && !questsPorTipo.tcc_estoicismo) {\n    questsPorTipo.tcc_estoicismo = questProcessada;\n  }\n  \n  dedupe.add(chave);\n  if (titulo) titulosUsados.add(titulo);\n  if (catalogoId) catalogoIdsUsados.add(catalogoId);\n}\n\n// Garantir que temos as 3 quests necessárias na ordem correta\nconst questsFinais = [];\nif (questsPorTipo.personalizada) questsFinais.push(questsPorTipo.personalizada);\nif (questsPorTipo.sabotador) questsFinais.push(questsPorTipo.sabotador);\nif (questsPorTipo.tcc_estoicismo) questsFinais.push(questsPorTipo.tcc_estoicismo);\n\n// Se não temos 3, usar outras candidatas que não foram classificadas (mas ainda validar duplicatas)\nfor (const quest of candidatas) {\n  if (questsFinais.length >= QUESTS_OBRIGATORIAS) break;\n  if (!quest || typeof quest !== 'object') continue;\n  \n  const contexto = String(quest.contexto_origem || '').toLowerCase().trim();\n  const titulo = String(quest.titulo || '').toLowerCase().trim();\n  const chave = `${contexto}|${titulo}`;\n  \n  // Pular reflexão\n  if (contexto.includes('reflexao') || contexto.includes('reflex')) {\n    continue;\n  }\n  \n  if (dedupe.has(chave)) continue;\n  \n  // Verificar similaridade de título\n  let tituloMuitoSimilar = false;\n  for (const tituloUsado of titulosUsados) {\n    if (tituloSimilar(titulo, tituloUsado)) {\n      tituloMuitoSimilar = true;\n      break;\n    }\n  }\n  if (tituloMuitoSimilar) continue;\n  \n  // Verificar catalogo_id já usado\n  let catalogoId = null;\n  if (typeof quest.catalogo_id === 'string') {\n    const trimmed = quest.catalogo_id.trim();\n    if (trimmed && uuidRegex.test(trimmed)) {\n      if (catalogoIdsUsados.has(trimmed)) {\n        continue; // Pular se já foi usado\n      }\n      catalogoId = trimmed;\n    }\n  }\n  \n  // Validar campos básicos\n  let insightId = null;\n  if (typeof quest.insight_id === 'string') {\n    const trimmed = quest.insight_id.trim();\n    if (trimmed && uuidRegex.test(trimmed) && insightsValidos.has(trimmed.toLowerCase())) {\n      insightId = trimmed;\n    }\n  }\n  \n  if (!insightId) continue;\n  \n  // Adicionar como quest adicional\n  let areaVidaId = null;\n  if (typeof quest.area_vida_id === 'string') {\n    const trimmed = quest.area_vida_id.trim();\n    if (trimmed && uuidRegex.test(trimmed)) {\n      areaVidaId = trimmed;\n    }\n  }\n  \n  questsFinais.push({\n    tipo: quest.tipo || 'catalogo',\n    catalogo_id: catalogoId,\n    titulo: quest.titulo,\n    descricao: quest.descricao,\n    base_cientifica: quest.base_cientifica || null,\n    contexto_origem: quest.contexto_origem,\n    prioridade: quest.prioridade || 'media',\n    recorrencia: quest.recorrencia || 'unica',\n    prazo_inicio: quest.prazo_inicio || null,\n    prazo_fim: quest.prazo_fim || null,\n    progresso_meta: quest.progresso_meta ?? 1,\n    status_inicial: quest.status_inicial || 'pendente',\n    area_vida_id: areaVidaId,\n    sabotador_id: quest.sabotador_id || null,\n    insight_id: insightId,\n    complexidade: quest.complexidade ?? 0,\n    payload_extra: quest.payload_extra || {},\n    xp_recompensa: quest.xp_recompensa || 40\n  });\n  \n  dedupe.add(chave);\n  if (titulo) titulosUsados.add(titulo);\n  if (catalogoId) catalogoIdsUsados.add(catalogoId);\n}\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id || null,\n    novas_quests: questsFinais.slice(0, QUESTS_OBRIGATORIAS),\n    atualizacoes,\n    estado_inicial: entrada\n  }\n}];"
      },
      "id": "8baae8c9-ed7b-4b50-b468-b1bd2cdfd27c",
      "name": "Aplicar Limites & Dedupe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $items(\"Aplicar Limites & Dedupe\", 0, 0) || [];\nconst entrada = (data[0] || {}).json || {};\nconst retorno = $input.item.json || {};\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    quests_registradas: entrada.novas_quests,\n    atualizacoes_enviadas: entrada.atualizacoes,\n    gamificacao_retorno: retorno\n  }\n}];"
      },
      "id": "ca1d0564-d7df-447a-9318-ed4598d6acb9",
      "name": "Montar Saída",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -32
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bTeLj5qOKQo9PDMO",
          "mode": "list",
          "cachedResultUrl": "/workflow/bTeLj5qOKQo9PDMO",
          "cachedResultName": "sw_xp_quest"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $('start').item.json.usuario_id }}",
            "quests_personalizadas": "={{ JSON.stringify($json.novas_quests) }}",
            "atualizacoes_status": "={{ JSON.stringify($json.atualizacoes) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "quests_personalizadas",
              "displayName": "quests_personalizadas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "atualizacoes_status",
              "displayName": "atualizacoes_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "92e1a759-3032-4c28-95c0-b98d44206cd4",
      "name": "Calcula Xps quest",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -272,
        -32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.slots_disponiveis }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "52ca2909-310e-4a36-9e21-f902caafefdb",
      "name": "Tem Slots?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1488,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const contexto = $input.item.json || {};\nreturn [{\n  json: {\n    usuario_id: contexto.usuario_id,\n    chat_id: contexto.chat_id,\n    quests_ativas: contexto.quests_ativas || [],\n    novas_quests_sugeridas: [],\n    atualizacoes_sugeridas: [],\n    sabotadores_catalogo: contexto.sabotadores_catalogo || [],\n    sabotadores_recentes: contexto.sabotadores_recentes || [],\n    areas_vida_disponiveis: contexto.areas_vida_disponiveis || []\n  }\n}];"
      },
      "id": "c04155fd-03a8-4e39-84cb-48e0da4408b7",
      "name": "Sem Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        -352
      ]
    }
  ],
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "Normalizar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Entrada": {
      "main": [
        [
          {
            "node": "Buscar Quests Ativas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Quests Ativas": {
      "main": [
        [
          {
            "node": "Buscar Conversas Recentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas Recentes": {
      "main": [
        [
          {
            "node": "Buscar Insights Recentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Insights Recentes": {
      "main": [
        [
          {
            "node": "Buscar Sabotadores Recentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sabotadores Recentes": {
      "main": [
        [
          {
            "node": "Listar Áreas da Vida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Áreas da Vida": {
      "main": [
        [
          {
            "node": "Listar Sabotadores Catálogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Sabotadores Catálogo": {
      "main": [
        [
          {
            "node": "Buscar Estágio Usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Quests",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Interpretar Resultado": {
      "main": [
        [
          {
            "node": "Aplicar Limites & Dedupe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar Limites & Dedupe": {
      "main": [
        [
          {
            "node": "Calcula Xps quest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Quests": {
      "main": [
        [
          {
            "node": "Interpretar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula Xps quest": {
      "main": [
        [
          {
            "node": "Montar Saída",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Contexto": {
      "main": [
        [
          {
            "node": "Preparar Quest do Catálogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser JSON": {
      "ai_outputParser": [
        [
          {
            "node": "Agente Quests",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Estágio Usuário": {
      "main": [
        [
          {
            "node": "Buscar Quests Catálogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Quests Catálogo": {
      "main": [
        [
          {
            "node": "Montar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Quest do Catálogo": {
      "main": [
        [
          {
            "node": "Agente Quests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "start": [
      {
        "json": {
          "usuario_id": "d949d81c-9235-41ce-8b3b-6b5d593c5e24",
          "chat_id": null
        }
      }
    ]
  },
  "versionId": "14c63500-874d-42ee-8ece-cd8116468082",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-05T13:38:03.212Z",
      "role": "workflow:owner",
      "workflowId": "LKjU8NE9aNHw7kEh",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}