backups/n8n/sw_calcula_jornada.json
{
  "createdAt": "2025-11-07T19:12:28.703Z",
  "id": "71Ru87yaRA5SNjOQ",
  "name": "sw_calcula_jornada",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usuario_id"
            }
          ]
        }
      },
      "id": "f1f92aaa-9318-4cc2-8325-e7e72b2e5626",
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const entrada = $input.item.json || {};\nconst usuarioId = entrada.usuario_id || entrada.id || $json.usuario_id;\nif (!usuarioId || typeof usuarioId !== 'string' || !usuarioId.trim()) {\n  throw new Error('usuario_id obrigatório');\n}\nreturn [{ json: { usuario_id: usuarioId.trim() } }];\n"
      },
      "id": "2c47f697-2896-498a-8de8-2df7cc5352c7",
      "name": "Validar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT usuario_id, xp_total FROM public.quest_estado_usuario WHERE usuario_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id] }}"
        }
      },
      "id": "208a85ec-cdfd-4f54-9775-5360f13e569a",
      "name": "Buscar XP",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH nivel_destino AS (\n  SELECT jn.*\n  FROM public.jornada_niveis jn\n  WHERE jn.xp_minimo <= $2::int\n    AND ($2::int < COALESCE(jn.xp_proximo_nivel, $2::int + 1))\n  ORDER BY jn.nivel DESC\n  LIMIT 1\n)\nUPDATE public.resumo_jornada r\nSET\n  nivel_atual      = COALESCE(nivel_destino.nivel, r.nivel_atual),\n  titulo_nivel     = COALESCE(nivel_destino.nome, r.titulo_nivel),\n  xp_proximo_nivel = COALESCE(nivel_destino.xp_proximo_nivel, r.xp_proximo_nivel),\n  atualizado_em    = NOW()\nFROM nivel_destino\nWHERE r.usuario_id = $1::uuid\nRETURNING r.usuario_id, r.nivel_atual, r.titulo_nivel, r.xp_proximo_nivel;\n",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id, $json.xp_total || 0] }}"
        }
      },
      "id": "3ab8600d-a22b-4729-9443-df30166bf724",
      "name": "Atualizar Jornada",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "be9e5045-9357-443e-beaf-bf20e53328f3",
      "name": "Fim",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        928,
        0
      ]
    }
  ],
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "Validar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Entrada": {
      "main": [
        [
          {
            "node": "Buscar XP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar XP": {
      "main": [
        [
          {
            "node": "Atualizar Jornada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Jornada": {
      "main": [
        [
          {
            "node": "Fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "start": [
      {
        "json": {
          "usuario_id": "d949d81c-9235-41ce-8b3b-6b5d593c5e24"
        }
      }
    ]
  },
  "versionId": "d23a2129-f51b-40a1-a847-82d628121481",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-07T19:12:28.703Z",
      "role": "workflow:owner",
      "workflowId": "71Ru87yaRA5SNjOQ",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
