backups/n8n/sw_criar_quest_personalizada.json
{
  "createdAt": "2025-11-05T13:38:03.212Z",
  "id": "LKjU8NE9aNHw7kEh",
  "name": "sw_criar_quest_personalizada",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usuario_id"
            },
            {
              "name": "chat_id"
            }
          ]
        }
      },
      "id": "f989ba7c-3250-4fbe-8335-72f39ba0744d",
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1824,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\n\nconst usuarioId = input.usuario_id;\nif (!usuarioId) {\n  throw new Error('usuario_id obrigatório');\n}\n\nreturn [{\n  json: {\n    usuario_id: usuarioId,\n    chat_id: input.chat_id || null\n  }\n}];"
      },
      "id": "67ca1917-193c-4d43-b510-dec2ee54840d",
      "name": "Normalizar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "8fe25394-b17a-45d3-a488-48c6ccbbad8a",
      "name": "Buscar Quests Ativas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1456,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "609268f5-ae8b-43dc-ab0f-a4bfd4624ded",
      "name": "Buscar Conversas Recentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1280,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "930aa2fd-f11a-438e-8d40-75037d39f294",
      "name": "Buscar Insights Recentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1088,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "02617072-2204-4cdd-8730-30d9eb1b4dfd",
      "name": "Buscar Sabotadores Recentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -880,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "d339922e-db9c-4322-9404-954059299088",
      "name": "Listar Áreas da Vida",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -656,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "04dbf5a4-288a-4474-8c70-aa4e5c69efac",
      "name": "Listar Sabotadores Catálogo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const getJson = (nodeName) => {\n  const data = $items(nodeName, 0, 0) || [];\n  const item = data[0] || {};\n  return item.json || {};\n};\n\nconst entrada = getJson(\"Normalizar Entrada\");\nconst questsRaw = getJson(\"Buscar Quests Ativas\");\nconst conversasRaw = getJson(\"Buscar Conversas Recentes\");\nconst insightsRaw = getJson(\"Buscar Insights Recentes\");\nconst sabotadoresRaw = getJson(\"Buscar Sabotadores Recentes\");\nconst areasRaw = getJson(\"Listar Áreas da Vida\");\nconst sabotadoresCatRaw = getJson(\"Listar Sabotadores Catálogo\");\n\nconst quests = questsRaw.contexto || {};\nconst questsAtivas = Array.isArray(quests.quests_ativas) ? quests.quests_ativas : [];\nconst ativosValidos = questsAtivas.filter((quest) => {\n  const status = String(quest?.status || '').toLowerCase();\n  return status === 'pendente' || status === 'ativa';\n});\nconst limite = 3;\nconst slotsDisponiveis = Math.max(0, limite - ativosValidos.length);\n\nconst conversas = conversasRaw.conversas || {};\nconst insights = insightsRaw.insights || {};\nconst sabotadores = sabotadoresRaw.sabotadores || {};\nconst areasVida = areasRaw.areas_vida || [];\nconst sabotadoresCatalogo = sabotadoresCatRaw.sabotadores_catalogo || [];\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    chat_id: entrada.chat_id,\n    quests_ativas: questsAtivas,\n    slots_disponiveis: slotsDisponiveis,\n    conversas_recentes: conversas.conversas_recentes || [],\n    insights_recentes: insights.insights_recentes || [],\n    sabotadores_recentes: sabotadores.sabotadores_recentes || [],\n    areas_vida_disponiveis: areasVida,\n    sabotadores_catalogo: sabotadoresCatalogo\n  }\n}];"
      },
      "id": "ca759383-8ee9-4a8e-9ac4-8258f9aabb3e",
      "name": "Montar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        160
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 900,
          "temperature": 0.2
        }
      },
      "id": "00a0027c-d40a-4ccc-81d1-f3efe2b79809",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -320,
        544
      ],
      "credentials": {
        "openRouterApi": {
          "id": "rSnkOnnAHyfayLJt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é o agente de quests personalizadas do MindQuest.\nConsidere o contexto abaixo para sugerir novas quests ou atualizar as existentes.\n\n=== Dados do usuário ===\nChat atual: {{ $json.chat_id || 'N/A' }}\n\nQuests ativas:\n{{ JSON.stringify($json.quests_ativas || []) }}\n\nConversas recentes (máx. 10):\n{{ JSON.stringify($json.conversas_recentes || []) }}\n\nInsights recentes (máx. 10) — use os IDs para vincular cada quest:\n{{ JSON.stringify($json.insights_recentes || []) }}\n\nSabotadores recentes (máx. 10):\n{{ JSON.stringify($json.sabotadores_recentes || []) }}\n\nÁreas da vida disponíveis (use sempre os IDs abaixo):\n{{ JSON.stringify($json.areas_vida_disponiveis || []) }}\n\nSabotadores disponíveis (use apenas os IDs abaixo quando precisar referenciar um sabotador):\n{{ JSON.stringify($json.sabotadores_catalogo || []) }}\n\n=== Regras ===\n1. Somente micro-hábitos concretos (duração máxima 7 dias).\n2. Respeite limite total de 4 quests ativas/pendentes (considerando as atuais).\n3. Evite duplicar contexto/título já presente.\n4. Se necessário, sugira atualizações (concluir/cancelar/reiniciar) para quests existentes.\n5. Ajuste prioridade e recorrência conforme relevância.\n6. Toda nova quest deve estar vinculada a um insight listado acima (preencha sempre o campo insight_id com o UUID correspondente).\n7. Informe o sabotador somente quando fizer sentido, mas **apenas** usando os IDs fornecidos na lista de sabotadores disponíveis; caso contrário deixe sabotador_id como null.\n8. Sempre informe a área da vida usando o ID fornecido e o nível de complexidade entre 0 e 5 (0 = microação simples, 5 = altamente desafiadora) considerando esforço emocional e operacional.\n\n=== Formato da resposta ===\nRetorne exclusivamente JSON válido em uma única linha (sem quebras de linha) e minificado. Dentro das strings, escape aspas duplas com \\\\\" conforme JSON padrão.\n\n{\"novas_quests\":[{\"titulo\":\"Check-in matinal\",\"descricao\":\"Registrar uma vitória pequena toda manhã\",\"contexto_origem\":\"manter_foco\",\"prioridade\":\"media\",\"recorrencia\":\"diaria\",\"prazo_inicio\":\"2025-11-05\",\"prazo_fim\":\"2025-11-11\",\"progresso_meta\":5,\"status_inicial\":\"pendente\",\"xp_recompensa\":40,\"insight_id\":\"33333333-3333-4333-8333-333333333333\",\"sabotador_id\":\"11111111-1111-1111-1111-111111111111\",\"area_vida_id\":\"22222222-2222-2222-2222-222222222222\",\"complexidade\":2,\"payload_extra\":{\"canal\":\"app\"}}],\"atualizacoes\":[{\"meta_codigo\":\"quest_custom_001\",\"instancia_id\":\"00000000-0000-0000-0000-000000000000\",\"novo_status\":\"concluida\",\"progresso_atual\":3,\"xp_extra\":20}]}\n\n\nSe nada for necessário, retorne exatamente {\"novas_quests\": [], \"atualizacoes\": []}.\nNunca devolva arrays soltos ou texto fora do JSON.",
        "options": {
          "maxIterations": 1,
          "enableStreaming": false
        }
      },
      "id": "c21a7af6-6d35-406d-8d31-2c200380ecc3",
      "name": "Agente Quests",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -64,
        160
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"novas_quests\":[{\"titulo\":\"Check-in matinal\",\"descricao\":\"Registrar uma vitória pequena toda manhã\",\"contexto_origem\":\"manter_foco\",\"prioridade\":\"media\",\"recorrencia\":\"diaria\",\"prazo_inicio\":\"2025-11-05\",\"prazo_fim\":\"2025-11-11\",\"progresso_meta\":5,\"status_inicial\":\"pendente\",\"xp_recompensa\":40,\"insight_id\":\"33333333-3333-4333-8333-333333333333\",\"sabotador_id\":\"11111111-1111-1111-1111-111111111111\",\"area_vida_id\":\"22222222-2222-2222-2222-222222222222\",\"complexidade\":2,\"payload_extra\":{\"canal\":\"app\"}}],\"atualizacoes\":[{\"meta_codigo\":\"quest_custom_001\",\"instancia_id\":\"00000000-0000-0000-0000-000000000000\",\"novo_status\":\"concluida\",\"progresso_atual\":3,\"xp_extra\":20}]}"
      },
      "id": "948401b4-e55d-4c30-8ef5-8ca8a7ad092f",
      "name": "Parser JSON",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        80,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "const getJson = (nodeName) => {\n  const data = $items(nodeName, 0, 0) || [];\n  const item = data[0] || {};\n  return item.json || {};\n};\n\nconst contexto = getJson(\"Montar Contexto\");\n\nconst rawOutput = $json.output ?? { novas_quests: [], atualizacoes: [] };\nlet resultado;\nif (typeof rawOutput === 'string') {\n  try {\n    resultado = JSON.parse(rawOutput);\n  } catch (error) {\n    resultado = { novas_quests: [], atualizacoes: [] };\n  }\n} else if (rawOutput && typeof rawOutput === 'object') {\n  resultado = rawOutput;\n} else {\n  resultado = { novas_quests: [], atualizacoes: [] };\n}\n\nconst novasQuests = Array.isArray(resultado.novas_quests) ? resultado.novas_quests : [];\nconst atualizacoes = Array.isArray(resultado.atualizacoes) ? resultado.atualizacoes : [];\n\nreturn [{\n  json: {\n    usuario_id: contexto.usuario_id,\n    chat_id: contexto.chat_id,\n    quests_ativas: contexto.quests_ativas,\n    novas_quests_sugeridas: novasQuests,\n    atualizacoes_sugeridas: atualizacoes,\n    sabotadores_catalogo: contexto.sabotadores_catalogo || [],\n    sabotadores_recentes: contexto.sabotadores_recentes || []\n  }\n}];"
      },
      "id": "914c5fe4-df19-435e-9f62-e25d8e470ab1",
      "name": "Interpretar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const entrada = $input.item.json || {};\nconst questsAtivas = Array.isArray(entrada.quests_ativas) ? entrada.quests_ativas : [];\nconst limite = 3;\nconst dedupe = new Set();\n\nconst normalizeUuid = (value) => {\n  if (typeof value !== 'string') return null;\n  const trimmed = value.trim();\n  if (!trimmed) return null;\n  const uuidRegex = /^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$/;\n  return uuidRegex.test(trimmed) ? trimmed : null;\n};\n\nfor (const ativo of questsAtivas) {\n  const contexto = (ativo?.contexto_origem || '').toLowerCase().trim();\n  const titulo = ((ativo?.config && ativo.config.titulo) || ativo?.titulo || '').toLowerCase().trim();\n  if (contexto || titulo) {\n    dedupe.add(`${contexto}|${titulo}`);\n  }\n}\n\nconst novas = [];\nconst atualizacoes = Array.isArray(entrada.atualizacoes_sugeridas) ? entrada.atualizacoes_sugeridas : [];\nconst candidatas = Array.isArray(entrada.novas_quests_sugeridas) ? entrada.novas_quests_sugeridas : [];\n\nfor (const quest of candidatas) {\n  if (!quest || typeof quest !== 'object') continue;\n  if (novas.length + questsAtivas.length >= limite) break;\n\n  const contexto = (quest.contexto_origem || '').toLowerCase().trim();\n  const titulo = (quest.titulo || '').toLowerCase().trim();\n  const chave = `${contexto}|${titulo}`;\n  if (dedupe.has(chave)) continue;\n\n  const areaVidaId = normalizeUuid(quest.area_vida_id);\n  const insightId = normalizeUuid(quest.insight_id);\n  if (!areaVidaId || !insightId) continue;\n\n  dedupe.add(chave);\n  novas.push({\n    titulo: quest.titulo,\n    descricao: quest.descricao,\n    contexto_origem: quest.contexto_origem,\n    prioridade: quest.prioridade || 'media',\n    recorrencia: quest.recorrencia || 'unica',\n    prazo_inicio: quest.prazo_inicio || null,\n    prazo_fim: quest.prazo_fim || null,\n    progresso_meta: quest.progresso_meta ?? 1,\n    status_inicial: quest.status_inicial || 'pendente',\n    area_vida_id: areaVidaId,\n    sabotador_id: quest.sabotador_id || null,\n    insight_id: insightId,\n    complexidade: quest.complexidade ?? 0,\n    payload_extra: quest.payload_extra || {}\n  });\n}\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    novas_quests: novas,\n    atualizacoes,\n    estado_inicial: entrada\n  }\n}];"
      },
      "id": "12af0ffb-6c51-40e4-b7af-2388f60ad1a5",
      "name": "Aplicar Limites & Dedupe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $items(\"Aplicar Limites & Dedupe\", 0, 0) || [];\nconst entrada = (data[0] || {}).json || {};\nconst retorno = $input.item.json || {};\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    quests_registradas: entrada.novas_quests,\n    atualizacoes_enviadas: entrada.atualizacoes,\n    gamificacao_retorno: retorno\n  }\n}];"
      },
      "id": "a8a9e634-a5e6-4547-9b44-e153fcd9c93a",
      "name": "Montar Saída",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        160
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bTeLj5qOKQo9PDMO",
          "mode": "list",
          "cachedResultUrl": "/workflow/bTeLj5qOKQo9PDMO",
          "cachedResultName": "sw_xp_quest"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $('start').item.json.usuario_id }}",
            "quests_personalizadas": "={{ JSON.stringify($json.novas_quests) }}",
            "atualizacoes_status": "={{ JSON.stringify($json.atualizacoes) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "quests_personalizadas",
              "displayName": "quests_personalizadas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "atualizacoes_status",
              "displayName": "atualizacoes_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "09f1bb87-573e-488d-abe3-4f6e6a9dca6c",
      "name": "Calcula Xps quest",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        736,
        160
      ]
    },
    {
      "id": "63f7d10f-5d8c-4c69-8f0f-5f0e4d3a971c",
      "name": "Tem Slots?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -64,
        160
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.slots_disponiveis }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      }
    },
    {
      "id": "0c0b6f53-4a23-444d-8a0d-2f4605b1a68c",
      "name": "Sem Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "parameters": {
        "jsCode": "const contexto = $input.item.json || {};\nreturn [{\n  json: {\n    usuario_id: contexto.usuario_id,\n    chat_id: contexto.chat_id,\n    quests_ativas: contexto.quests_ativas || [],\n    novas_quests_sugeridas: [],\n    atualizacoes_sugeridas: [],\n    sabotadores_catalogo: contexto.sabotadores_catalogo || [],\n    sabotadores_recentes: contexto.sabotadores_recentes || [],\n    areas_vida_disponiveis: contexto.areas_vida_disponiveis || []\n  }\n}];"
      }
    }
  ],
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "Normalizar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Entrada": {
      "main": [
        [
          {
            "node": "Buscar Quests Ativas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Quests Ativas": {
      "main": [
        [
          {
            "node": "Buscar Conversas Recentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas Recentes": {
      "main": [
        [
          {
            "node": "Buscar Insights Recentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Insights Recentes": {
      "main": [
        [
          {
            "node": "Buscar Sabotadores Recentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sabotadores Recentes": {
      "main": [
        [
          {
            "node": "Listar Áreas da Vida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Áreas da Vida": {
      "main": [
        [
          {
            "node": "Listar Sabotadores Catálogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Sabotadores Catálogo": {
      "main": [
        [
          {
            "node": "Montar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Quests",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Parser JSON",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Interpretar Resultado": {
      "main": [
        [
          {
            "node": "Aplicar Limites & Dedupe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar Limites & Dedupe": {
      "main": [
        [
          {
            "node": "Calcula Xps quest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser JSON": {
      "ai_outputParser": [
        [
          {
            "node": "Agente Quests",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Agente Quests": {
      "main": [
        [
          {
            "node": "Interpretar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula Xps quest": {
      "main": [
        [
          {
            "node": "Montar Saída",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Contexto": {
      "main": [
        [
          {
            "node": "Tem Slots?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Slots?": {
      "main": [
        [
          {
            "node": "Agente Quests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem Slots": {
      "main": [
        [
          {
            "node": "Aplicar Limites & Dedupe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "start": [
      {
        "json": {
          "usuario_id": "d949d81c-9235-41ce-8b3b-6b5d593c5e24"
        }
      }
    ]
  },
  "versionId": "f4d6d9c8-7379-49c3-96bd-14e4c7b1e26f",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-05T13:38:03.212Z",
      "role": "workflow:owner",
      "workflowId": "LKjU8NE9aNHw7kEh",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
