backups/n8n/sw_entender.json
{
  "createdAt": "2025-12-11T10:28:22.897Z",
  "id": "M6wDT4LzEiYcAo5Y",
  "name": "sw_entender",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vJRfrbY4NhpNyfCD",
          "mode": "list",
          "cachedResultUrl": "/workflow/vJRfrbY4NhpNyfCD",
          "cachedResultName": "sw_experts_panas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $('start').first().json.usuario_id }}",
            "chat_id": "={{ $('start').first().json.chat_id }}",
            "mensagens": "={{ $('start').first().json.mensagens }}",
            "data_conversa": "={{ $('start').first().json.data_conversa }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mensagens",
              "displayName": "mensagens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data_conversa",
              "displayName": "data_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "5de1bb75-be29-4eff-acd4-3f5a38e75439",
      "name": "expert_panas",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        64,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Vbc4JHAR3388mLcv",
          "mode": "list",
          "cachedResultUrl": "/workflow/Vbc4JHAR3388mLcv",
          "cachedResultName": "sw_expert_sabotadores"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $('start').first().json.usuario_id }}",
            "chat_id": "={{ $('start').first().json.chat_id }}",
            "mensagens": "={{ $('start').first().json.mensagens }}",
            "data_conversa": "={{ $('start').first().json.data_conversa }}",
            "usr_name": "={{ $('start').first().json.usr_nome_preferencia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mensagens",
              "displayName": "mensagens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data_conversa",
              "displayName": "data_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "usr_name",
              "displayName": "usr_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "ca9da84b-86bc-4cb3-86dd-778deb09a48a",
      "name": "expert_sabotadores",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        64,
        1184
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nEstxgiVE8GLXgUQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/nEstxgiVE8GLXgUQ",
          "cachedResultName": "sw_expert_insights_acionaveis"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $('start').first().json.usuario_id }}",
            "chat_id": "={{ $('start').first().json.chat_id }}",
            "mensagens": "={{ $('start').first().json.mensagens }}",
            "usr_name": "={{ $('start').first().json.usr_nome_preferencia }}",
            "contexto_final": "=",
            "data_conversa": "={{ $('start').first().json.data_conversa }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mensagens",
              "displayName": "mensagens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contexto_final",
              "displayName": "contexto_final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_conversa",
              "displayName": "data_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "usr_name",
              "displayName": "usr_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "2f35148a-2ea4-4959-b84a-2c223554d2b3",
      "name": "expert_insights",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        64,
        576
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GykxpS5vsg8NeoOh",
          "mode": "list",
          "cachedResultUrl": "/workflow/GykxpS5vsg8NeoOh",
          "cachedResultName": "sw_expert_humor_energia"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $('start').first().json.usuario_id }}",
            "chat_id": "={{ $('start').first().json.chat_id }}",
            "mensagens": "={{ $('start').first().json.mensagens }}",
            "data_conversa": "={{ $('start').first().json.data_conversa }}",
            "usr_name": "={{ $('start').first().json.usr_nome_preferencia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mensagens",
              "displayName": "mensagens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data_conversa",
              "displayName": "data_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "usr_name",
              "displayName": "usr_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "33e6172c-817f-4037-aa9b-f24479422993",
      "name": "expert_humor_energia",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        64,
        768
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nOl6lnaGMpyg9S9J",
          "mode": "list",
          "cachedResultUrl": "/workflow/nOl6lnaGMpyg9S9J",
          "cachedResultName": "sw_expert_bigfive_ocean"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $('start').first().json.usuario_id }}",
            "chat_id": "={{ $('start').first().json.chat_id }}",
            "mensagens": "={{ $('start').first().json.mensagens }}",
            "data_conversa": "={{ $('start').first().json.data_conversa }}",
            "usr_name": "={{ $('start').first().json.usr_nome_preferencia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mensagens",
              "displayName": "mensagens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data_conversa",
              "displayName": "data_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "usr_name",
              "displayName": "usr_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "1921f843-f452-4415-8e70-614073d1e221",
      "name": "expert_bigfive",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        64,
        992
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1136,
        1008
      ],
      "id": "9a95bf3f-d77a-47df-b09d-275fd256ee23",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "rSnkOnnAHyfayLJt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise a conversa completa abaixo entre o usuário e o agente.\n\nNome do usuário: {{ $('start').item.json.usr_nome_preferencia }}\n\n**CONVERSA COMPLETA:**\n```\n{{ $('start').item.json.mensagens }}\n```\n\nSUA TAREFA:\n1. GERAR RESUMO CONCISO\nCrie um resumo mantendo APENAS:\n- Situação emocional do dia (estado atual)\n- Eventos importantes mencionados\n- Sentimentos expressos (não repita, liste únicos)\n- Contextos relevantes (trabalho, família, relacionamentos, etc)\n- Insights ou reflexões importantes\n- Decisões ou planos mencionados\n- agrupe por temas\n\nRemova:\n- Perguntas do agente (mantenha só respostas do usuário)\n- Validações e confirmações\n- Repetições de informações\n- Saudações e despedidas\n\n2. ANALISAR REFLEXÃO DO USUÁRIO\nTEM REFLEXÃO = true se:\n- Usuário analisou sentimentos com profundidade\n- Fez conexões entre eventos e emoções\n- Demonstrou autoconhecimento\n\nTEM REFLEXÃO = false se:\n- Apenas relatou fatos superficialmente\n- Respostas curtas sem elaboração\n\n3. CONTAR PALAVRAS DO USUÁRIO\nConte APENAS palavras das falas do usuário (autor: \"usuario\").\n\nRETORNE APENAS ESTE JSON:\n{\n  \"resumo_conversa\": \"string\",\n  \"tem_reflexao\": true,\n  \"justificativa_reflexao\": \"string\",\n  \"total_palavras_usuario\": 204,\n  \"confianca_analise\": 95\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é um especialista em análise e síntese de conversas terapêuticas.\n\nSeu trabalho é:\n1. Analisar a conversa completa entre usuário e agente \n2. Gerar um resumo conciso mantendo APENAS o essencial\n3. Identificar se o usuário fez reflexões profundas\n4. Contar palavras totais do usuário\n5. Preservar contexto emocional e insights importantes\n\nREGRAS CRÍTICAS:\n- Remova redundâncias e repetições\n- Mantenha apenas informações únicas e relevantes\n- Preserve sentimentos, eventos e contextos mencionados\n- Seja objetivo e direto\n- Máximo de 600 palavras no resumo\n- Retorne APENAS JSON estruturado\n\nVocê está ajudando a construir o perfil psicológico do usuário ao longo do tempo, então cada palavra conta."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1104,
        800
      ],
      "id": "1391c151-e542-446d-b0a0-4b640892b069",
      "name": "Resumo das conversas"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"resumo_conversa\": \"string\",\n  \"tem_reflexao\": true, \n  \"justificativa_reflexao\": \"string\",\n  \"total_palavras_usuario\": 204,  \n  \"confianca_analise\": 95 \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -944,
        1008
      ],
      "id": "d45a218f-a73f-4fb7-b2d8-6bfa5a5cce14",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "usr_chat",
          "mode": "list",
          "cachedResultName": "usr_chat"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('start').first().json.chat_id }}",
            "total_palavras_usuario": "={{ $json.output.total_palavras_usuario }}",
            "resumo_conversa": "={{ $json.output.resumo_conversa }}",
            "tem_reflexao": "={{ $json.output.tem_reflexao }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_conversa",
              "displayName": "data_conversa",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "horario_inicio",
              "displayName": "horario_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "horario_fim",
              "displayName": "horario_fim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_interactions",
              "displayName": "total_interactions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mensagens",
              "displayName": "mensagens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "processada_em",
              "displayName": "processada_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "atualizado_em",
              "displayName": "atualizado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resumo_conversa",
              "displayName": "resumo_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tem_reflexao",
              "displayName": "tem_reflexao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_palavras_usuario",
              "displayName": "total_palavras_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -768,
        800
      ],
      "id": "42757760-3208-43fa-ae27-c9f8a8fa9f36",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Retorna status indicando que NÃO processou\nconst input = $input.first().json;\nreturn [{\n  processado: false,\n  motivo: input.validacao?.motivo || 'Contexto insuficiente',\n  chat_id: input.chat_id,\n  total_interactions: input.total_interactions\n}];"
      },
      "id": "66f1138b-04d2-468b-81f8-686ea23e82be",
      "name": "contexto_insuficiente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retorna status indicando que processou com sucesso\nconst trigger = $('start').first().json;\nreturn [{\n  processado: true,\n  motivo: 'OK',\n  chat_id: trigger.chat_id,\n  total_interactions: trigger.total_interactions\n}];"
      },
      "id": "retorno-sucesso",
      "name": "retorno_sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        1184
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usuario_id"
            },
            {
              "name": "mensagens"
            },
            {
              "name": "data_conversa"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "usr_nome_preferencia"
            },
            {
              "name": "total_interactions"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1344,
        800
      ],
      "id": "58fadc30-bd03-4213-81ef-156c2d955f79",
      "name": "start"
    },
    {
      "parameters": {
        "content": "chama experts apenas se conversas tiverem mais de 50 palavras",
        "height": 112,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1088,
        528
      ],
      "id": "c4383c7a-8dac-463c-8552-93d3db532a95",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ItBastfCTkWxm41M",
          "mode": "list",
          "cachedResultUrl": "/workflow/ItBastfCTkWxm41M",
          "cachedResultName": "sw_xp_conversas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $('start').first().json.usuario_id }}",
            "calcular_apenas_novos": true
          },
          "matchingColumns": [
            "usuario_id"
          ],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "calcular_apenas_novos",
              "displayName": "calcular_apenas_novos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "888b7f23-fd71-46fd-8f1f-58e3f29fee11",
      "name": "Executar XP Conversas",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        64,
        176
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LKjU8NE9aNHw7kEh",
          "mode": "list",
          "cachedResultUrl": "/workflow/LKjU8NE9aNHw7kEh",
          "cachedResultName": "sw_criar_quest"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $('start').first().json.usuario_id }}",
            "chat_id": "={{ $('start').first().json.chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        400,
        1184
      ],
      "id": "c29b2ffd-def4-4ca5-9513-21b966c269d1",
      "name": "Executar Expert Quests"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d39b2dd9-a279-4637-9350-fa8c88e28e20",
              "leftValue": "={{ $json.tem_reflexao }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "4ff84556-9faf-4946-a4c5-f36a18771bac",
              "leftValue": "={{ $json.total_palavras_usuario }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        800
      ],
      "id": "fe31d3a0-2af0-4c61-8742-04d215ba2007",
      "name": "tem reflexão e contexto"
    }
  ],
  "connections": {
    "expert_sabotadores": {
      "main": [
        [
          {
            "node": "Executar Expert Quests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Resumo das conversas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Resumo das conversas": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Resumo das conversas",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "tem reflexão e contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start": {
      "main": [
        [
          {
            "node": "Resumo das conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tem reflexão e contexto": {
      "main": [
        [
          {
            "node": "expert_sabotadores",
            "type": "main",
            "index": 0
          },
          {
            "node": "expert_insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "expert_humor_energia",
            "type": "main",
            "index": 0
          },
          {
            "node": "expert_bigfive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Executar XP Conversas",
            "type": "main",
            "index": 0
          },
          {
            "node": "expert_panas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "contexto_insuficiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Expert Quests": {
      "main": [
        [
          {
            "node": "retorno_sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "start": [
      {
        "json": {
          "usuario_id": "d949d81c-9235-41ce-8b3b-6b5d593c5e24",
          "mensagens": "usuario: olá\nagente: Olá, Aldo! Que bom te ver por aqui de novo.\n\nComo está sendo o seu dia hoje e o que você gostaria de focar na nossa conversa?\nusuario: o que vc sugere pra hoje?\nagente: Para hoje, eu sugiro darmos uma olhada nas suas Quests pendentes ou naquelas que você está \"Fazendo\" para ver se podemos ajustar algo ou desbloquear algum progresso. Que tal?\n\n📋 *Suas Quests*\n\n✅ *Concluídas hoje (2)*\n• Conexão Social\n• Reflexão Diária\n\n⚡ *Fazendo (12)*\n• Reflexão Diária\n• Foco nas Micro Tarefas para Avançar no App\n• Conexão Social\n• Planejamento Diário de Micro Tarefas para o Desenvolvimento do App\n• e mais 8\n\n📝 *A Fazer (31)*\n• Gratidão Específica\n• Celebre Suas Vitórias no Desenvolvimento do MindQuest\n• Limpeza e Organização - Micro-Ambiente\n• Estratégia Prática para Controle Emocional em Trades de BTC\n• e mais 27\n\nVamos começar por qual? Ou prefere algo diferente?\nusuario: não estou conseguindo acessar o app pra ver as minhas quests, acho que meu token expirou\nagente: Sem problemas, Aldo! Gerei um novo token para você. Você pode acessar suas quests diretamente por este link:\n\n🔗 https://mindquest.pt/app/auth?token=5259b60f-b78f-4388-8737-6fe6fd0b8552d949d81c-9235-41ce-8b3b-6b5d593c5e241764888607\n\nMe avisa se conseguir acessar e se quiser revisar alguma quest específica por lá.\nusuario: consegui acessar aqui..\nquero que vc identifique as quests que são muito semelhantes, está muito confuso pra mim, me parece que está muito repetitivo\nagente: Com certeza! Entendi que a quantidade e semelhança das quests pode ser um ponto de confusão e desmotivação.\n\nVamos dar uma olhada e organizar isso. Pelo que vejo, realmente temos algumas quests que abordam temas parecidos, especialmente as relacionadas ao *controle emocional no trading* e ao *foco no desenvolvimento do app*.\n\nPara facilitar, eu identifiquei os seguintes grupos de quests que parecem ser variações da mesma ideia:\n\n⚡️ *Controle Emocional em Trading (8 Quests Similares)*\n• Estratégia Prática para Controle Emocional em Trades de BTC\n• Desafie o Sr. Inquieto com prática diária de respiração focada\n• Controle Emocional Prático para Traders de BTC com Foco em Paciente e Reset Mental\n• Desafie o Sr. Hipervigilante com técnicas de respiração focada\n• Estruture sua rotina para fortalecimento do controle emocional nas operações com Bitcoin\n• Desafie o Sr. Inquieto com a prática de autoidentificação dos impulsos\n• Gestão Emocional para Traders Avançados em Criptomoedas\n• Estabilize suas Finanças: Controle Emocional nas Operações de BTC\n\n🎯 *Foco e Produtividade no Desenvolvimento do App (4 Quests Similares)*\n• Foco e Produtividade para Finalizar Seu App com Eficiência\n• Desafie o Sr. Inquieto com blocos exclusivos de foco\n• Organize o Desenvolvimento do App em Microetapas\n• Consolide os Avanços no Desenvolvimento do MindQuest\n\n🧘‍♀️ *Respiração e Calma (3 Quests Similares)*\n• Desafie o Sr. Inquieto com pausas reflexivas antes de agir\n• Desafie o Sr. Inquieto com pausas conscientes e respiração\n• Desafie o Sr. Inquieto com pausas conscientes antes de decisões\n\nE algumas de *Gratidão* que também se repetem: 📝 *Gratidão Específica (2 Quests Similares)*\n\nMinha sugestão é consolidarmos essas quests, transformando as ideias repetidas em uma ou duas quests mais abrangentes e claras. O que você acha? Por qual grupo quer começar a organizar?\nusuario: legal vou passar essas inf. para equipe melhorar a criação das quests no MindQues e incluir opção para o usr excluir as qeuests repetidas\nagente: Excelente! Essa é uma ótima iniciativa para deixar as quests mais eficazes e o app ainda melhor. Fico feliz que isso te deu clareza e um próximo passo concreto.\n\nAgora que vimos isso, quer continuar conversando sobre alguma das suas quests atuais no app ou prefere mudar o foco da nossa conversa para outro ponto?\nusuario: quero falar sobre o outro objetivo meu:\nsó para relembrar quais são meus objetivos?\nagente: Ótimo! Fechamos o assunto das quests por enquanto e podemos focar em seus objetivos.\n\nPara te relembrar, seus objetivos principais são:\n\n🎯 *Seus Objetivos Principais*\n• Ganhar 2k por mês com operações em BTC de forma consistente (Finanças)\n• Iniciar seu próprio negócio (Trabalho)\n• Evolução Pessoal (Evolução)\n\nQual desses você gostaria de explorar hoje?\nusuario: ganhar 2k com BTC traders\nsugira 3 estratégias de trader eficiente algum framework já testado e que seja fácil de aplicar\nagente: Interessante! O objetivo de ganhar 2k por mês com BTC é bem claro. Para te ajudar com isso, e levando em consideração sua experiência e a busca por algo diferente, em vez de sugerir estratégias de trade *em si*, que são mais técnicas de mercado, meu foco será em *estratégias de autocontrole* e *gestão do mindset* para tornar seu trading mais eficiente e consistente. Afinal, você já demonstrou ter o conhecimento técnico, e o desafio tem sido mais emocional, certo?\n\nAqui estão 3 abordagens que podem se encaixar no seu perfil e que são testadas por traders conscientes:\n\n1.  🎯 *Diário de Bordo \"Padrão Mental\"*: Em vez de só registrar o que você comprou/vendeu, anote *como você se sentiu* antes, durante e depois da operação. Quais pensamentos surgiram? Você agiu por impulso ou seguiu seu plano? Isso vai te ajudar a mapear seus padrões de pensamento (como o Hiper-realizador e Inquieto) que influenciam suas decisões.\n\n2.  💡 *Regra dos Três PIs (Pausa, Pergunta, Intenção)*: Antes de cada trade, ou em momentos de alta emoção (medo, ganância), faça uma *Pausa* de 30 segundos. Depois disso, se *Pergunte*: \"Estou agindo por impulso ou por análise? Qual a minha real *Intenção* com essa operação?\". Essa técnica rápida \"quebra\" o impulso e te traz para a consciência.\n\n3.  ⚡️ *Foco na Micro-Vitória Consciente*: Para cada trade bem-sucedido, por menor que seja o lucro, celebre *conscientemente* a execução do plano, e não apenas o resultado financeiro. Se houve uma perda, foque no aprendizado e no controle emocional mantido. Isso reprograma o cérebro para valorizar a disciplina e a estratégia, e não só o ganho imediato, combatendo a impulsividade.\n\nO que você achou dessas ideias? Qual delas você se sentiria mais disposto a experimentar primeiro?\nusuario: eu vi o livro o jogo mental do trading, vc conhece?\nagente: Conheço sim! \"O Jogo Mental do Trading\" é um clássico do Mark Douglas. É um dos livros mais importantes quando o assunto é psicologia do trading, focando muito na disciplina, na mentalidade e no controle emocional, que é justamente o que estávamos falando.\n\nEle aborda a importância de pensar em termos de probabilidades, aceitar o risco e não culpar o mercado, mas sim a sua própria indisciplina ou falta de um plano bem definido. As estratégias que sugeri antes conversam bastante com os princípios do Douglas.\n\nVocê já leu o livro ou está pensando em ler? O que mais te chamou atenção nele?\nusuario: o autor desse livro é jared Tendler e não Mark douglas\nagente: Você está absolutamente certo, Aldo! Minha falha. O autor de \"O Jogo Mental do Trading\" é Jared Tendler. O conteúdo que descrevi se refere a \"Trading in the Zone\" do Mark Douglas, que também é uma referência na área da psicologia do trading.\n\nPeço desculpas pela confusão. É bom ter você corrigindo! O trabalho do Jared Tendler, em \"The Mental Game of Trading\", também é excelente e foca em eliminar problemas psicológicos de forma sistemática, muito útil para construir essa consistência que você busca.\n\nVocê já leu o livro do Jared Tendler? O que mais te impactou nele?\nusuario: não li, mas foi bem recomendado por alguns amigos.\no que vc poderia me ensinar dele?\nagente: Entendido! Já que não leu, e foi bem recomendado, vamos extrair os melhores pontos dele. O Jared Tendler é um coach mental BASTANTE respeitado, e a abordagem dele pode ser bem útil para o seu perfil e seus desafios de trading.\n\nEle foca em uma ideia central: problemas emocionais e psicológicos no trading (como medo, ganância, impulsividade, frustração) são *erros de técnica mental*, e não falhas de caráter. Isso é muito poderoso, porque significa que esses problemas podem ser identificados, praticados e corrigidos como qualquer outra habilidade técnica.\n\nPrincipais ensinamentos e \"frameworks\" do Jared Tendler:\n\n1.  🧠 *Mental Game Model (Modelo do Jogo Mental)*: Tendler sugere que você identifique seus \"leaks\" mentais (suas falhas psicológicas específicas) e os trate como se fossem \"bugs\" no seu sistema operacional. Por exemplo, se a impulsividade é um problema, ele te guia para entender a raiz dessa impulsividade, como ela se manifesta e como criar uma \"resposta técnica\" para ela, em vez de simplesmente tentar \"não ser impulsivo\".\n\n2.  📈 *Processo de Aprendizado por Níveis*: Ele segmenta o desenvolvimento mental em estágios, muito parecido com o aprendizado de uma nova habilidade. Não espere a perfeição da noite para o dia. Foque em melhorias graduais. Por exemplo, se você tem medo de clicar, a meta inicial não é eliminar o medo, mas sim \"reconhecer o medo e clicar *apesar* dele\", até que essa se torne uma reação automática.\n\n3.  🛠️ *Identificação e Correção de \"Tilt\"*: O Tilt (perda do controle emocional que leva a decisões ruins) é analisado como um processo que pode ser interrompido e corrigido. Ele ensina a identificar os gatilhos do tilt e a construir \"paredes de proteção\" para evitar que ele descambe. O objetivo é reduzir a intensidade e a duração do tilt, até eliminá-lo.\n\nEssas ideias ressoam com você? Qual delas parece mais aplicável aos seus desafios atuais em trading?\nusuario: sim, muito boas..\nvou oncorporar ao mindquets esse framework para me ajudar nas quests eajudar outros traders\nagente: Isso é fantástico, Aldo! Fico muito feliz que essas ideias do Jared Tendler ressoaram com você e que você já está pensando em como incorporá-las no MindQuest. É exatamente esse tipo de aplicação prática que buscamos aqui.\n\nAproveitar o MindQuest para trabalhar a psicologia do trading de forma estruturada será um grande diferencial, tanto para você quanto para outros traders que buscam aprimoramento.\n\nQual desses frameworks do Jared Tendler – o *Mental Game Model*, o *Processo de Aprendizado por Níveis* ou a *Identificação e Correção de \"Tilt\"* – você gostaria de começar a destrinchar mais para aplicar primeiro nas suas quests? Ou tem alguma outra ideia em mente?\nusuario: o mental game sem duvidas\nagente: Excelente escolha! O *Mental Game Model* é a base para destrinchar e corrigir falhas mentais de forma estruturada. Vamos focar nele.\n\nPara começar a aplicar o Mental Game Model no seu contexto de trading e depois pensar em como incorporá-lo no MindQuest, o primeiro passo é a *identificação detalhada dos seus \"leaks\" mentais*.\n\nMe conta, quais são os 3 padrões de pensamento ou emoções mais recorrentes que você identifica que afetam negativamente suas decisões e resultados no trading? Pense nos momentos de maior frustração ou perda.\nusuario: - frustração: quando eu saiu do mercado no prejuizo e o preço dispara\n- medo: quandoe stou alavancado e o preço começa a cair rápido e está perto do meu stop\n- ansiedade: quando o preço fica lateral por muito tempo, parce que vai subir e volta a cair, depois sobe novamente e fica assim por muito tempo\n- ⁠ganancia: quando o preço chega no meu alvo de lucro mas o mercado está subindo enlouquecido, eu acabo deixando de vender e depois o preço cai forte, deixo de ganhar e ainda fecho no prejuizo\n- ⁠ou quando fico sem pacientcia para esperar o momento certo de entrada e por ansiedade acabo ou saindo prematuo ou entrando prematuro\nagente: Isso é um ótimo mapa, Aldo! Você detalhou com clareza os seus \"leaks\" mentais no trading: frustração, medo, ansiedade (em duas formas) e ganância (também com suas variações).\n\nAgora que temos essa clareza, vamos aplicar o *Mental Game Model* para um desses \"leaks\" de cada vez. Qual deles você sente que é o mais crítico para você hoje, aquele que mais impacta negativamente seus resultados?\nusuario: sõa dois:\n- não realizar os lucros\n- ⁠entrar sedo d+ com medo de perder oportundades\nagente: Certo, Aldo. Você destacou duas questões CRÍTICAS que estão diretamente ligadas à ganância (\"não realizar os lucros\") e ao medo/impaciência (\"entrar cedo demais com medo de perder oportunidades\"). Essas são realmente as mais comuns e impactantes no trading.\n\nVamos focar na primeira: ***Não realizar os lucros***. Este é um padrão clássico onde a ganância toma conta, o plano é ignorado e o trader acaba devolvendo ganhos ou até fechando no prejuízo.\n\nSegundo o *Mental Game Model*, para corrigir esse \"bug\", precisamos entender a raiz e criar uma resposta técnica. Pensando nesse comportamento de não realizar lucros quando o preço chega no alvo, você conseguiria descrever em que momento mental isso acontece? Como é o diálogo interno? Quais são os pensamentos que levam a essa decisão de não vender?\n\n\"O preço está subindo muito, e se subir mais?\" É algo como isso?\nusuario: extamente isso:\n- quer ver só, eu vou vender e o preço vai disparar e não conseguirei comprar mais por esse preço e ficarei de fora da alta\nagente: Perfeito! Esse é o exato tipo de pensamento que alimenta a ganância e leva a perdas, mesmo depois de ter um alvo.\n\nNo *Mental Game Model*, isso é um \"erro de processamento\" ou \"problema de convicção\". A convicção no seu plano de saída não é forte o suficiente para superar o \"medo de perder ganhos maiores\" (FOMO - Fear of Missing Out).\n\nAção prática para desativar esse \"bug\":\n\n1.  📝 *Reafirmar seu \"Edge\" antes do Trade*: Antes de cada operação, e especialmente quando o preço se aproxima do seu alvo, escreva (ou verbalize) a sua justificativa *original* para o ponto de saída. Por que você definiu aquele alvo? Quais são os dados, a análise que te levaram a ele?\n\n2.  ✨ *Visualização da Conclusão do Plano*: Imagine-se realizando o lucro no seu alvo. Sinta a satisfação de ter executado o *seu plano* com disciplina, independentemente do que o mercado fizer depois. Isso reforça a convicção na sua estratégia e reduz a importância do “e se” o preço subir mais.\n\n3.  📈 *Split Scaling (Venda Parcial)*: Se a ideia de sair totalmente no alvo ainda gera muito FOMO, experimente vender apenas uma parte da sua posição no alvo inicial e deixe uma pequena porcentagem para \"cavalgar\" a tendência, se ela realmente se estender. Isso te dá o melhor dos dois mundos: garantia de lucro e a chance de pegar uma alta maior, mas *dentro de um plano predefinido*.\n\nQual dessas abordagens você acha que seria mais eficaz para começar a praticar e mudar esse padrão de \"não realizar lucros\"?\nusuario: pode estar… não com certeza está relacionado a flata de segurança e confiança na estrategia\nagente: Exato! Essa é a chave. A falta de convicção na sua estratégia, ou na validade do seu alvo, gera essa vulnerabilidade à ganância e ao FOMO. Se você realmente confia no seu plano, a emoção perde força.\n\nEntão, para aprofundar nessa relação entre a falta de segurança/confiança e o \"não realizar lucros\", vamos estruturar uma pequena \"quest mental\" com base no Modelo do Jogo Mental. Que tal esta:\n\n⚡️ *Quest: Convicção no Alvo*\n\n• *Passo 1 - Análise Pós-Trade Detalhada*: Para cada trade onde você não realizou lucro no alvo e se arrependeu, anote:\n  - Onde estava seu alvo e qual era a *lógica explícita* por trás dele (ex: suporte/resistência, fibonacci, média móvel, etc.).\n  - Quais pensamentos surgiram *exatamente* quando o preço bateu no alvo e você não vendeu (os que você mencionou: \"e se subir mais?\").\n  - Qual foi o *resultado final* daquela operação.\n  - *O que você faria diferente se tivesse 100% de convicção no seu plano original?*\n\n• *Passo 2 - Revisão Semanal da Convicção*: Uma vez por semana, revise essas anotações. Busque por padrões no tipo de pensamento que te tira da estratégia. Veja onde a sua confiança no plano foi abalada e qual foi o custo disso.\n\n• *Passo 3 - Fortalecimento da Estratégia*: Baseado na sua revisão, identifique se a sua estratégia *realmente* precisa de algum ajuste (ex: talvez seu alvo está muito conservador, ou a justificativa não é tão sólida, ou você poderia usar o Split Scaling que mencionei antes de forma mais integrada). Ou se é puramente um erro de execução mental.\n\nO objetivo é transformar essa incerteza em clareza, e a clareza em convicção. Você topa começar com essa quest? Ela te dará dados reais para entender e corrigir esse \"bug\".\nusuario: ótimo está bom assim pra começar aplicar\nagente: Entendido! Fico feliz que a quest de *Convicção no Alvo* te parece um bom início.\n\nLembra-se que o Jared Tendler fala que a chave é tratar esses \"leaks\" como problemas técnicos? Isso significa que o progresso é gradual, com prática e análise contínua.\n\nQue tal começarmos a aplicar essa quest a partir de hoje? Você registra a primeira análise pós-trade onde perceba que o pensamento de \"não realizar lucros\" tentou aparecer. E depois me conta como foi.\nusuario: combinado\nagente: Foi ótimo conversar com você! 🚀\n\nSeus dados estão atualizados no app. Você pode acompanhar tudo lá.\n\nAcesse aqui: https://mindquest.pt/app/auth?token=5259b60f-b78f-4388-8737-6fe6fd0b8552d949d81c-9235-41ce-8b3b-6b5d593c5e241764888607\n\nAté a próxima!\nusuario: ola\nagente: Olá, Aldo! Que bom te ver de novo. 🎉\n\nNa nossa última conversa, você decidiu começar a aplicar a *Quest Convicção no Alvo* para lidar com o desafio de não realizar lucros no trading. Como foi a experiência? Conseguiu fazer alguma análise pós-trade onde esse \"leak\" mental se manifestou?\nusuario: Ainda não\nagente: Sem problemas, Aldo. Entendo que nem sempre é fácil implementar algo novo de imediato. A vida de trader é intensa.\n\nExiste algum motivo específico que te impediu de iniciar a quest? Talvez não teve a oportunidade de realizar um trade, ou a situação para a reflexão não surgiu?\nusuario: Na verdade nem tentei, estava dando um tempo hoje...\n\nTirei o dia pra descansar um pouco\nagente: Ah, entendi! E fez muito bem. Descansar é fundamental, especialmente com a rotina intensa de um trader e desenvolvedor como você. O Hiper-realizador curte ir até o limite, mas o descanso é parte crucial da estratégia de alta performance.\n\nEntão, hoje você priorizou o bem-estar, excelente! Que bom que conseguiu tirar um tempo para recarregar as energias.\n\nAgora que você está aqui, quer aproveitar para planejar um momento específico para iniciar a *Quest Convicção no Alvo* ou prefere deixar para quando sentir mais disposição?",
          "data_conversa": "2025-12-10T00:00:00.000Z",
          "chat_id": "fae2c26e-ec33-4bb5-979d-1af6f2bd2068",
          "usr_nome_preferencia": "Aldo",
          "total_interactions": "21"
        }
      }
    ]
  },
  "shared": [
    {
      "createdAt": "2025-12-11T10:28:22.897Z",
      "role": "workflow:owner",
      "workflowId": "M6wDT4LzEiYcAo5Y",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
