backups/n8n/sw_expert_insights_acionaveis.json
{
  "createdAt": "2025-10-09T14:32:30.486Z",
  "id": "nEstxgiVE8GLXgUQ",
  "name": "sw_expert_insights_acionaveis",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usuario_id"
            },
            {
              "name": "mensagens"
            },
            {
              "name": "contexto_final"
            },
            {
              "name": "data_conversa"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "usr_name"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -96,
        48
      ],
      "id": "ebcbbdd2-bc5a-46e3-9fd9-dae42379d170",
      "name": "start"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é psicólogo especialista em desenvolvimento pessoal. Analise a conversa e contexto validado abaixo.\n\nCONVERSA:\n{{ $json.mensagens }}\n\nUsuário: {{ $json.usr_name }} | Data: {{ $json.data_conversa }}\n\nChame a ferramenta: ´get_user_insight`\nConsidere também esses ultimos Insights na sua analise\n\nTAREFA: Gere 1 insights acionáveis com Feedback Sanduíche + Recursos Práticos.\nPriorize os pontos mais relevantes identificados na conversa\n\nAnalise os ultimos Insighs anteriores para evitar repetição\n\nESTRUTURA DE CADA INSIGHT:\n1. RESUMO (30-50 palavras): Sintetize estado emocional objetivamente\n2. FEEDBACK SANDUÍCHE:\n   - Positivo (20-30 pal): Reconheça forças\n   - Desenvolvimento (30-40 pal): Padrão que merece atenção\n   - Motivacional (20-30 pal): Esperança + próximos passos\n3. RECURSOS (2-4 itens): tipo, nome, descricao, aplicacao_pratica\n4. TITULO: Gere titulo curto 3 a 4 palavras. use tecnicas de copy do marketing para gerar curiosidade e e headlines clicáveis.\n\n═══════════════════════════════════════════════════════\n⚠️ VALORES PERMITIDOS - USE EXATAMENTE COMO LISTADO ⚠️\n═══════════════════════════════════════════════════════\n\nCATEGORIA (use APENAS estes valores):\n✓ comportamental\n✓ emocional\n✓ social\n✓ cognitivo\n✗ NUNCA: financeiro, profissional, financeiro-emocional, ou qualquer outro\n\nTIPO INSIGHT (use APENAS estes valores):\n✓ padrao\n✓ melhoria\n✓ positivo\n✓ alerta\n\nPRIORIDADE (use APENAS estes valores):\n✓ alta\n✓ media (SEM acento)\n✓ baixa\n\nTIPO RECURSO (use APENAS estes valores):\n✓ tecnica\n✓ conceito\n✓ leitura\n✓ pratica\n✓ reflexao\n\n═══════════════════════════════════════════════════════\n\nREGRAS CRÍTICAS:\n- Base TUDO no relatado (sem suposições)\n- Use APENAS os valores listados acima (sem variações, adaptações ou combinações)\n- Seja ESPECÍFICO nas evidências\n- Recursos PRÁTICOS e aplicáveis\n- Tom EMPÁTICO mas DIRETO\n- VALIDE cada campo antes de gerar o JSON\n\nANTES DE RETORNAR: Verifique se TODOS os valores de categoria, tipo, prioridade e tipo_recurso estão EXATAMENTE como listado acima.\n\nRETORNE JSON ARRAY com 1 insights no formato:\n[{\"tipo\":\"padrao\",\"categoria\":\"emocional\",\"titulo\":\"Título\",\"icone\":\"🔄\",\"prioridade\":\"alta\",\"resumo_situacao\":\"...\",\"feedback_positivo\":\"...\",\"feedback_desenvolvimento\":\"...\",\"feedback_motivacional\":\"...\",\"recursos_sugeridos\":[{\"tipo\":\"tecnica\",\"nome\":\"...\",\"descricao\":\"...\",\"aplicacao_pratica\":\"...\"}],\"baseado_em\":[\"evidência1\",\"evidência2\"]}]",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Psicólogo especialista. Gera insights acionáveis com feedback sanduíche e recursos práticos. Retorna array JSON com 2-4 insights.",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        144,
        48
      ],
      "id": "5519a1ef-0ee6-4d12-9c14-42beb5e915de",
      "name": "Gerador Insights"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[{\"tipo\":\"padrao\",\"categoria\":\"emocional\",\"titulo\":\"Ciclo Produtividade\",\"icone\":\"🔄\",\"prioridade\":\"media\",\"resumo_situacao\":\"Resumo\",\"feedback_positivo\":\"Positivo\",\"feedback_desenvolvimento\":\"Desenvolvimento\",\"feedback_motivacional\":\"Motivacional\",\"recursos_sugeridos\":[{\"tipo\":\"tecnica\",\"nome\":\"Nome\",\"descricao\":\"Desc\",\"aplicacao_pratica\":\"Aplicação\"}],\"baseado_em\":[\"ev1\"]}]",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        336,
        384
      ],
      "id": "a80b485e-52ee-4e43-9a5a-0e3952051056",
      "name": "Parser JSON"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 2000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -112,
        464
      ],
      "id": "0f6db9cf-f7b1-4821-8975-ec2653eb95d2",
      "name": "OpenRouter Claude",
      "credentials": {
        "openRouterApi": {
          "id": "rSnkOnnAHyfayLJt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO insights (\n  usuario_id,\n  chat_id,\n  tipo,\n  categoria,\n  titulo,\n  descricao,\n  icone,\n  prioridade,\n  ativo,\n  resumo_situacao,\n  feedback_positivo,\n  feedback_desenvolvimento,\n  feedback_motivacional,\n  recursos_sugeridos,\n  baseado_em\n)\nSELECT \n  $1::uuid,\n  $2::uuid,\n  elem->>'tipo',\n  elem->>'categoria',\n  elem->>'titulo',\n  elem->>'resumo_situacao',\n  elem->>'icone',\n  elem->>'prioridade',\n  true,\n  elem->>'resumo_situacao',\n  elem->>'feedback_positivo',\n  elem->>'feedback_desenvolvimento',\n  elem->>'feedback_motivacional',\n  elem->'recursos_sugeridos',\n  ARRAY(SELECT jsonb_array_elements_text(elem->'baseado_em'))\nFROM jsonb_array_elements($3::jsonb) AS elem\nRETURNING id, tipo, categoria, titulo, prioridade, criado_em;",
        "options": {
          "queryReplacement": "=[\n  {{ $('start').item.json.usuario_id }},\n  {{ $('start').item.json.chat_id }},\n  {{ JSON.stringify($json.output) }}\n]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        48
      ],
      "id": "ccdb2a1e-fc51-4c5e-bb21-9803cbc29993",
      "name": "Gravar Insights",
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        48
      ],
      "id": "5480e67e-2907-4cfa-9a95-f100a3a2164a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select tipo, categoria, titulo, descricao, prioridade from insights where usuario_id = $1 limit 15 ",
        "options": {
          "queryReplacement": "={{ $('start').first().json.usuario_id }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        224,
        272
      ],
      "id": "3522f252-eba0-4095-80bc-6b2296af3d4b",
      "name": "get_user_insight",
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "Gerador Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerador Insights": {
      "main": [
        [
          {
            "node": "Gravar Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser JSON": {
      "ai_outputParser": [
        [
          {
            "node": "Gerador Insights",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Claude": {
      "ai_languageModel": [
        [
          {
            "node": "Gerador Insights",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Parser JSON",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Insights": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_user_insight": {
      "ai_tool": [
        [
          {
            "node": "Gerador Insights",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "start": [
      {
        "json": {
          "usuario_id": "d949d81c-9235-41ce-8b3b-6b5d593c5e24",
          "mensagens": "[{\"interaction\":1,\"autor\":\"usuario\",\"texto\":\"Olá\",\"timestamp\":\"2025-11-18T22:13:44.840Z\"},{\"interaction\":1,\"autor\":\"agente\",\"texto\":\"Oi Aldo, bom te ver por aqui de novo. Que bom que está voltando para esse espaço de cuidado com você mesmo.\\n\\nVejo que os desafios que você tem enfrentado recentemente são bem pesados — sair do mercado financeiro, lidar com perdas e a necessidade urgente de garantir sustento, tudo isso mexendo muito com seu emocional.\\n\\nÉ admirável como você mostra tanta disciplina e coragem, mesmo sentindo cansaço e ansiedade. Isso deixa claro o quanto sua conscienciosidade é forte, mesmo diante do peso do neuroticismo.\\n\\nQue tal a gente pensar juntos em passos leves para aliviar um pouco essa pressão e ajudar a trazer um pouco mais de clareza e controle?\\n\\n• Podemos explorar pequenas rotinas diárias que ajudem a recuperar a sensação de estabilidade, sem cobrar muito de você.\\n\\n• Se quiser, podemos revisar suas estratégias atuais e ver se tem algo que melhore sua energia e mantenha o foco de forma mais gentil.\\n\\n• Também podemos conversar sobre como reconhecer e acolher suas emoções sem deixar que elas te impeçam de agir.\\n\\nComo você está se sentindo hoje para conversar um pouco sobre tudo isso?\",\"timestamp\":\"2025-11-18T22:13:44.840Z\"},{\"interaction\":2,\"autor\":\"usuario\",\"texto\":\"Olá\",\"timestamp\":\"2025-11-18T22:13:44.841Z\"},{\"interaction\":2,\"autor\":\"agente\",\"texto\":\"Oi Aldo, que bom te encontrar por aqui de novo. Como você está hoje e o que gostaria de trazer para a nossa conversa?\\n\\nSe quiser, podemos retomar algum dos assuntos que já passamos ou abrir espaço para algo novo que esteja tocando você agora.\\n\\n• Podemos explorar juntos como continuar cuidando da sua disciplina e energia diante dos desafios que você tem enfrentado.\\n\\n• Também é possível pensar em formas de dar mais espaço para a sua segurança emocional e aliviar o peso que sente.\\n\\n• Se preferir, podemos olhar para outros aspectos da sua vida que estejam pedindo atenção e clareza.\\n\\nO que está vindo para você agora? Quer começar por algum tema específico?\",\"timestamp\":\"2025-11-18T22:13:44.841Z\"},{\"interaction\":3,\"autor\":\"usuario\",\"texto\":\"Então, eu não sei se eu comentei com você na última conversa, então eu vou repetir aqui. Eu decidi sair do mercado no último domingo. É claro que foi uma decisão bastante difícil para tomar, mas de certa forma deu um alívio, porque é um prejuízo realizado, mas pelo menos eu sei que não vai ficar pior do que isso. porque eu tirei o dinheiro que estava em cripto e deixei em dólar e com isso eu consegui ter um pouco mais de tranquilidade para repensar o que fazer daqui para frente agora eu estou revendo as possibilidades de geração de renda estou dedicando no meu aplicativo estou conseguindo dormir bem, estou conseguindo descansar hoje fez um dia maravilhoso de sol, consegui sair, caminhar consegui tirar um dia mais leve, sem muita correria no trabalho trabalhei mais tranquilo descansei um pouco a tarde, assisti um pouco, estou com energia, estou empolgado com o resultado do meu app que eu estou fazendo uma repaginada nele então está evoluindo bem e eu estou num estado assim, tranquilo inclusive agora há pouco eu estava até bastante feliz, estava ouvindo música, estava tranquilo e otimista também com o meu app e olhando friamente também eu vi que não tem motivo para desespero, tem muitas alternativas que eu posso fazer de geração de renda, ou aqui em Portugal, ou se voltar para o Brasil mas ainda não não é motivo ainda para desespero pensando mais calmamente tem muitas saídas ainda para eu tentar ainda do desespero bater, vamos dizer assim\",\"timestamp\":\"2025-11-18T22:13:44.841Z\"},{\"interaction\":3,\"autor\":\"agente\",\"texto\":\"Que bom ouvir que, mesmo depois de uma decisão tão difícil, você tem encontrado espaço para respirar e sentir alívio, Aldo. Isso mostra uma força e uma consciência muito boas em você.\\n\\nFico feliz em saber que está conseguindo descansar, caminhar e até se empolgar com o seu aplicativo. Essas pequenas vitórias diárias são fundamentais para recarregar a energia e manter a motivação.\\n\\nSua visão tranquila e otimista sobre o futuro, mesmo diante da incerteza, é uma parte muito importante para a gente fortalecer.\\n\\n• Que tal a gente pensar em rotinas que te ajudem a manter esse equilíbrio entre foco e descanso?\\n\\n• Podemos também explorar formas de continuar avançando no seu app de um jeito que te mantenha empolgado e sem pressão.\\n\\n• Se quiser, posso ajudar a organizar as possibilidades de geração de renda para dar mais clareza e segurança para seus próximos passos.\\n\\nComo está se sentindo após esse dia mais leve e esses avanços? Quer contar mais sobre o que te animou hoje?\",\"timestamp\":\"2025-11-18T22:13:44.841Z\"},{\"interaction\":4,\"autor\":\"usuario\",\"texto\":\"O meu plano agora é o seguinte, primeiro passo é focar no meu app. Eu vou terminar, a ideia é terminar no máximo até o final desse mês, uma versão que já seja possível fazer um primeiro teste. Vou fazer as campanhas de marketing, vou vender por um preço bastante atrativo, quase impossível da pessoa resistir. vou colocar poucas pessoas para testar o feedback, até mesmo a funcionalidade, questão da arquitetura, do sistema e tudo, e vou colocar energia nisso, para não ficar mudando de estratégia. Quando eu startar e ver que está andando, daí eu vou pensar em outras alternativas. Eu posso montar uma agência de automação com uso de IA, posso montar minha consultoria de TI aqui em Portugal, posso começar a procurar emprego também como gerente de projeto ou programador posso procurar trabalho de freelance na área de tecnologia com desenvolvimento tem muitas alternativas que eu posso seguir posso começar a produzir conteúdo ensinando, posso fazer um curso e lançar e eu quero que você coloque tudo isso também como possíveis metas para o futuro para analisar\",\"timestamp\":\"2025-11-18T22:13:44.841Z\"},{\"interaction\":4,\"autor\":\"agente\",\"texto\":\"Aldo, que plano tão bem estruturado e focado você está desenhando. Isso mostra claramente sua disciplina, e a forma como você está organizando as etapas é um ótimo jeito de manter a energia dando passos firmes.\\n\\nFocar em terminar uma versão testável do app até o fim do mês é uma meta concreta que te dá um norte claro, e pensar em campanhas e feedbacks desde o começo só fortalece essa base.\\n\\nTambém é valioso que você já esteja abrindo espaço para outras possibilidades sem pressão, reconhecendo que pode ir ajustando conforme vê o andamento.\\n\\n• Vale a pena criar um cronograma semanal para as tarefas do app, assim você equilibra foco e flexibilidade.\\n\\n• Se quiser, podemos listar juntos os critérios que vai usar para decidir quando partir para as outras opções.\\n\\n• Pode ser bom reservar um tempo para celebrar cada pequena conquista durante esse processo, para manter a motivação.\\n\\nComo está se sentindo em relação a essa fase mais prática e cheia de possibilidades? Quer explorar alguma dessas metas com mais detalhes?\",\"timestamp\":\"2025-11-18T22:13:44.841Z\"},{\"interaction\":5,\"autor\":\"usuario\",\"texto\":\"Minha meta principal é desenvolver o app. Eu já estou com o meu backlog, com as funcionalidades essenciais, bem documentadas, e a minha estratégia é o seguinte, é fazer o quanto antes. Então, eu vou para cima e faço o quanto antes. Estou tentando fazer pausas durante o dia, para ficar calmo, ficar tranquilo e não sobrecarregar a minha mente, mas o meu limite é a minha mente. quando eu estou me sentindo muito cansado, eu paro, relaxo um pouco, descanso. Mas enquanto a minha mente estiver boa, é correr para cima para fazer isso logo e lançar.\",\"timestamp\":\"2025-11-18T22:13:44.841Z\"},{\"interaction\":5,\"autor\":\"agente\",\"texto\":\"Aldo, incrível como você está equilibrando a determinação com o cuidado consigo mesmo. Reconhecer o limite da mente e parar para descansar mostra uma sabedoria importante nessa jornada.\\n\\nSua estratégia de ir para cima enquanto a mente está boa é ótima para manter o ritmo, e as pausas são essenciais para não deixar a pressão se acumular.\\n\\nEssa combinação é uma forma gentil de garantir que o foco dure e que o projeto avance com qualidade.\\n\\n• Que tal criar pequenos momentos fixos no seu dia só para essas pausas, como lembretes para respirar e relaxar?\\n\\n• Você pode usar técnicas rápidas de relaxamento para recarregar sem perder muito tempo.\\n\\n• Também dá para monitorar como se sente no final do dia e ajustar o ritmo para os próximos passos.\\n\\nComo você percebe a sua mente durante esses dias intensos de trabalho? Quer explorar jeitos de dar um respiro quando a pressão aumentar?\",\"timestamp\":\"2025-11-18T22:13:44.841Z\"},{\"interaction\":6,\"autor\":\"usuario\",\"texto\":\"Eu preciso exercitar a questão do Pomodoro, né? Fazer paradas, porque se eu não gerenciar isso, eu trabalho o dia inteiro sem parar, não lembro nem, muitas vezes, nem de tomar água, nem de encher minha garrafa. Então eu tenho que fazer algumas pausas ali, consciente, e vou instalar algum app aí pra me lembrar disso. Já tá como um desafio meu aí, como um quest aqui no meu app.\",\"timestamp\":\"2025-11-18T22:13:44.841Z\"},{\"interaction\":6,\"autor\":\"agente\",\"texto\":\"Aldo, você está mostrando uma clareza grande sobre a importância de cuidar do seu ritmo para não se sobrecarregar. Reconhecer a necessidade das pausas, especialmente com um método como o Pomodoro, é um passo bem consciente e valioso.\\n\\nColocar isso como um desafio no seu app é uma ideia genial porque transforma esse cuidado em algo prático e motivador para você.\\n\\n• Usar um app para lembrar das pausas e hidratação pode realmente ajudar a criar essa disciplina com menos esforço.\\n\\n• Também vale preparar pequenos rituais nas pausas, como respirar fundo ou dar uma caminhada curta para renovar a mente.\\n\\n• Continuar vendo isso como uma meta a alcançar gradual permite ir ajustando sem pressão.\\n\\nFaz sentido esse resumo para você? Quer ajustar ou acrescentar algo antes de finalizarmos por hoje?\",\"timestamp\":\"2025-11-18T22:13:44.841Z\"},{\"interaction\":7,\"autor\":\"usuario\",\"texto\":\"está bom assim\",\"timestamp\":\"2025-11-18T22:13:44.841Z\"},{\"interaction\":7,\"autor\":\"agente\",\"texto\":\"Que bom que esse resumo fez sentido para você, Aldo. Vejo que você tem muita clareza e disciplina, e isso vai continuar sendo seu maior aliado.\\n\\nParar para cuidar da mente e estruturar suas metas com foco e gentileza é o caminho para seguir firme, mesmo com os desafios que surgem.\\n\\nQuando quiser continuar essa conversa ou explorar outras áreas, o MindQuest está aqui para te apoiar.\\n\\nCuida bem de você até lá, e fique à vontade para voltar quando quiser dar mais passos juntos.\",\"timestamp\":\"2025-11-18T22:13:44.841Z\"}]",
          "contexto_final": null,
          "data_conversa": "Tue Nov 18 2025 00:00:00 GMT+0000 (Coordinated Universal Time)",
          "chat_id": "7029cabb-2bc6-4aba-b03d-5c01325fda18",
          "usr_name": "Aldo - pt"
        }
      }
    ]
  },
  "activeVersionId": null,
  "shared": [
    {
      "createdAt": "2025-10-09T14:32:30.486Z",
      "role": "workflow:owner",
      "workflowId": "nEstxgiVE8GLXgUQ",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
