backups/n8n/sw_quest_sabotador.json
{
  "createdAt": "2025-12-22T20:02:44.402Z",
  "id": "0fwtdzQoUdwqkJCc",
  "name": "sw_quest_sabotador",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usuario_id"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "contexto",
              "type": "object"
            }
          ]
        }
      },
      "id": "a31685fc-1cef-4cae-bd18-ccdd6edeea35",
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        784,
        288
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Buscar contramedidas do sabotador detectado\nSELECT \n  id,\n  codigo,\n  titulo,\n  descricao,\n  categoria,\n  sabotador_id,\n  base_cientifica,\n  xp\nFROM quests_catalogo\nWHERE ativo = true\n  AND sabotador_id = $1\n  AND categoria = 'contramedida_sabotador'\nORDER BY RANDOM()\nLIMIT 5;",
        "options": {
          "queryReplacement": "={{ [$json.contexto?.sabotador_id || 'inquieto'] }}"
        }
      },
      "id": "d48f0f57-35b2-4222-bf4a-84bbc3caabf0",
      "name": "Buscar Contramedidas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        288
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Buscar quests de sabotador existentes (últimos 7 dias)\nSELECT \n  uq.id,\n  uq.catalogo_id,\n  uq.sabotador_id,\n  uq.status,\n  uq.ativado_em,\n  uq.config->>'titulo' as titulo\nFROM usuarios_quest uq\nWHERE uq.usuario_id = $1::uuid\n  AND uq.sabotador_id IS NOT NULL\n  AND uq.status IN ('ativa', 'disponivel')\n  AND uq.ativado_em > NOW() - INTERVAL '7 days'\nORDER BY uq.ativado_em DESC;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id] }}"
        }
      },
      "id": "3397e961-2a36-49b7-8d30-77e51304ce91",
      "name": "Buscar Existentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1232,
        288
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Verificar Duplicação v3 - Abordagem Híbrida\n// REGRA: Pode criar se tem dados personalizados OU catálogo disponível\n\nconst entrada = $('start').first().json;\nconst catalogo = $items('Buscar Contramedidas', 0, 0).map(i => i.json);\nconst existentes = $input.all().map(i => i.json);\n\nconst contexto = entrada.contexto || {};\nconst sabotadorId = contexto.sabotador_id;\n\nif (!sabotadorId) {\n  return [{\n    json: {\n      usuario_id: entrada.usuario_id,\n      pode_criar: false,\n      motivo: 'sem_sabotador_detectado'\n    }\n  }];\n}\n\n// Verificar cooldown: mesmo sabotador em 7 dias\nconst temQuestRecente = existentes.some(e => e.sabotador_id === sabotadorId);\n\nif (temQuestRecente) {\n  return [{\n    json: {\n      usuario_id: entrada.usuario_id,\n      pode_criar: false,\n      motivo: 'cooldown_7_dias',\n      sabotador_id: sabotadorId\n    }\n  }];\n}\n\n// Verificar se tem dados personalizados (insight + contramedida do expert)\nconst temInsight = contexto.insight_atual && contexto.insight_atual.length > 10;\nconst temContramedida = contexto.contramedida_ativa && contexto.contramedida_ativa.length > 10;\nconst temDadosPersonalizados = temInsight && temContramedida;\n\n// Excluir catálogos já usados\nconst catalogoIdsUsados = new Set(existentes.map(e => e.catalogo_id).filter(Boolean));\nconst catalogoDisponivel = catalogo.filter(q => !catalogoIdsUsados.has(q.id));\n\n// NOVA REGRA: pode criar se tem dados personalizados OU catálogo\nconst podeCriar = temDadosPersonalizados || catalogoDisponivel.length > 0;\n\nlet motivo = 'ok';\nif (!podeCriar) {\n  motivo = 'sem_dados_personalizados_e_sem_catalogo';\n}\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    chat_id: entrada.chat_id,\n    pode_criar: podeCriar,\n    motivo: motivo,\n    catalogo_disponivel: catalogoDisponivel,\n    tem_dados_personalizados: temDadosPersonalizados,\n    contexto: contexto\n  }\n}];"
      },
      "id": "3d92df2d-d1d6-4185-a1ab-22024063345c",
      "name": "Verificar Duplicação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "pode_criar",
              "leftValue": "={{ $json.pode_criar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0a347a1f-007d-4d08-9a62-2a40ed90f1d2",
      "name": "Pode Criar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nreturn [{\n  json: {\n    sucesso: false,\n    tipo: 'sabotador',\n    motivo: input.motivo || 'bloqueado',\n    quest_criada: null\n  }\n}];"
      },
      "id": "7ad75ea9-c8c7-4111-96d2-99b474ba73bc",
      "name": "Saída Sem Criar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Selecionar Contramedida v3 - Abordagem Híbrida\n// FONTE 1: usuarios_sabotadores → insight + contramedida personalizada\n// FONTE 2: quests_catalogo → base_cientifica (fundamentação)\n\nconst input = $input.item.json || {};\nconst catalogo = input.catalogo_disponivel || [];\nconst contexto = input.contexto || {};\n\n// Dados personalizados do expert sabotador\nconst insightPersonalizado = contexto.insight_atual || null;\nconst contramedidaPersonalizada = contexto.contramedida_ativa || null;\n\n// Se não tem dados personalizados, precisa de catálogo\nconst temDadosPersonalizados = insightPersonalizado && contramedidaPersonalizada;\n\nif (!temDadosPersonalizados && catalogo.length === 0) {\n  throw new Error('Sem dados personalizados e sem contramedidas no catálogo');\n}\n\n// Selecionar quest do catálogo (para base_cientifica)\nlet questCatalogo = null;\nif (catalogo.length > 0) {\n  // Tentar encontrar contramedida relacionada à contramedida personalizada\n  if (contramedidaPersonalizada) {\n    const keywords = contramedidaPersonalizada.toLowerCase().split(/\\s+/).filter(w => w.length > 4);\n    questCatalogo = catalogo.find(q => {\n      const desc = (q.descricao || '').toLowerCase();\n      return keywords.some(k => desc.includes(k));\n    });\n  }\n  // Fallback: primeira disponível\n  if (!questCatalogo) {\n    questCatalogo = catalogo[0];\n  }\n}\n\n// Montar objeto híbrido\nreturn [{\n  json: {\n    usuario_id: input.usuario_id,\n    chat_id: input.chat_id,\n    \n    // PERSONALIZAÇÃO (usuarios_sabotadores)\n    insight_personalizado: insightPersonalizado,\n    contramedida_personalizada: contramedidaPersonalizada,\n    tem_dados_personalizados: temDadosPersonalizados,\n    \n    // FUNDAMENTAÇÃO (quests_catalogo)\n    quest_catalogo: questCatalogo,\n    base_cientifica: questCatalogo?.base_cientifica || null,\n    \n    // Contexto completo\n    contexto: contexto\n  }\n}];"
      },
      "id": "65930cde-54f7-43cf-923e-f7710c32713a",
      "name": "Selecionar Contramedida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar Insert - Quest Sabotador v3 (Híbrido)\n// Combina: personalização do expert + base científica do catálogo\n\nconst entrada = $items('Selecionar Contramedida', 0, 0)[0].json;\nconst adaptado = $input.item.json;\n\n// Catálogo pode ser null se não houver disponível\nconst catalogoId = entrada.quest_catalogo?.id || null;\nconst baseCientifica = entrada.base_cientifica || null;\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    catalogo_id: catalogoId,\n    sabotador_id: entrada.contexto.sabotador_id,\n    titulo: adaptado.output.titulo,\n    descricao: adaptado.output.descricao,\n    base_cientifica: baseCientifica\n  }\n}];"
      },
      "id": "033b8514-3a72-4821-b172-30894a98cc83",
      "name": "Preparar Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Insert Quest Sabotador v3 (Híbrido)\n-- catalogo_id pode ser NULL se quest foi criada apenas com dados personalizados\nINSERT INTO usuarios_quest (\n  usuario_id,\n  catalogo_id,\n  sabotador_id,\n  status,\n  config,\n  ativado_em\n)\nVALUES (\n  $1::uuid,\n  NULLIF($2, '')::uuid,\n  $3::text,\n  'disponivel',\n  jsonb_build_object(\n    'titulo', $4,\n    'descricao', $5,\n    'contexto_origem', 'sabotador_hibrido',\n    'base_cientifica', COALESCE($6::jsonb, '{}'::jsonb)\n  ),\n  NOW()\n)\nRETURNING id, catalogo_id, sabotador_id, status, config;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id, $json.catalogo_id || '', $json.sabotador_id, $json.titulo, $json.descricao, JSON.stringify($json.base_cientifica || {})] }}"
        }
      },
      "id": "85c8a114-2627-485f-8fc0-3fd0bee9d520",
      "name": "Inserir Quest",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const quest = $input.item.json || {};\nreturn [{\n  json: {\n    sucesso: true,\n    tipo: 'sabotador',\n    quest_criada: {\n      id: quest.id,\n      catalogo_id: quest.catalogo_id,\n      sabotador_id: quest.sabotador_id,\n      titulo: quest.config?.titulo || quest.catalogo_titulo,\n      categoria: quest.categoria,\n      status: quest.status\n    }\n  }\n}];"
      },
      "id": "782f4418-94a1-447a-9777-c84c7c17b968",
      "name": "Saída Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        560
      ]
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "id": "llm-sabotador",
      "name": "OpenRouter",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1072,
        768
      ],
      "credentials": {
        "openRouterApi": {
          "id": "rSnkOnnAHyfayLJt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"titulo\":{\"type\":\"string\",\"description\":\"Título da quest (max 70 chars)\"},\"descricao\":{\"type\":\"string\",\"description\":\"Descrição da ação prática\"}},\"required\":[\"titulo\",\"descricao\"]}"
      },
      "id": "parser-sabotador",
      "name": "Parser Quest",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1248,
        768
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<input>\n\n<!-- PERSONALIZAÇÃO: Dados do Expert Sabotador (usuarios_sabotadores) -->\n<personalizacao>\n<insight_expert>{{ $json.insight_personalizado || 'não disponível' }}</insight_expert>\n<contramedida_expert>{{ $json.contramedida_personalizada || 'não disponível' }}</contramedida_expert>\n</personalizacao>\n\n<!-- FUNDAMENTAÇÃO: Base Científica do Catálogo -->\n<base_cientifica>\n{{ JSON.stringify($json.base_cientifica || {}) }}\n</base_cientifica>\n\n<!-- CONTEXTO DO SABOTADOR -->\n<sabotador>\n<padrao>{{ $json.contexto.sabotador_nome || $json.contexto.sabotador_id }}</padrao>\n<intensidade>{{ $json.contexto.intensidade || 0 }}%</intensidade>\n</sabotador>\n\n<!-- CONTEXTO DA CONVERSA -->\n<conversa>\n<resumo>{{ $json.contexto.resumo_conversa || 'conversa de reflexão' }}</resumo>\n<emocoes>{{ $json.contexto.emocoes_texto || '' }}</emocoes>\n</conversa>\n\n</input>\n\n<task>\nCrie uma quest que combine:\n1. <insight_expert> + <contramedida_expert> → personalização\n2. <base_cientifica> → fundamento científico\n3. <conversa> → contexto específico\n\nA quest deve ser uma AÇÃO PRÁTICA baseada na contramedida do expert.\n</task>\n\n<output>{\"titulo\": \"string (max 70 chars)\", \"descricao\": \"string\"}</output>",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=<role>\nVocê é o Especialista em Quests de Sabotador do MindQuest.\nVocê representa o **AGIR** no framework: CONVERSAR → ENTENDER → AGIR → EVOLUIR.\n</role>\n\n<objective>\nCriar quests que combinam:\n- **Personalização** do Expert Sabotador (insight + contramedida já adaptados ao usuário)\n- **Fundamentação científica** do catálogo (TCC, Neurociência)\n</objective>\n\n<success_criteria>\n1. **Nomenclatura**: Título = VERBO + OBJETO + RESULTADO (sem jargões)\n2. **Atrito**: Executável em <5 minutos\n3. **Propósito**: Usuário entende o \"porquê\" instantaneamente\n4. **Nativismo**: APENAS funcionalidades MindQuest (nunca apps externos)\n</success_criteria>\n\n<input_usage>\nPRIORIDADE DE USO:\n1. <insight_expert> → Entenda o padrão específico do usuário\n2. <contramedida_expert> → BASE PRINCIPAL para a ação da quest\n3. <base_cientifica> → Fundamento para a descrição (objetivo, fundamentos)\n4. <conversa> → Contexto para personalizar ainda mais\n\nA contramedida do expert JÁ FOI PERSONALIZADA para este usuário.\nSua tarefa é transformá-la em uma MICRO-AÇÃO executável.\n</input_usage>\n\n<forbidden_terms>\nNUNCA usar no título:\n- Nome do sabotador (Crítico, Inquieto, Hiper-Realizador, etc)\n- \"Desafie o Sr. X\"\n- Termos técnicos (TCC, Mindfulness, Reframing, 4-7-8)\n</forbidden_terms>\n\n<mindquest_features>\n| Necessidade | Use no MindQuest |\n|-------------|------------------|\n| Registrar conquista | Conversar com Mentor |\n| Ver sabotadores | Menu Entender → Sabotadores |\n| Check-in | Menu Conversar → Check-in |\n</mindquest_features>\n\n<examples>\n✅ BOM (baseado em contramedida do expert):\nContramedida expert: \"Celebrar pequenas vitórias, aprender a descansar\"\nQuest: {\"titulo\": \"Registre 3 vitórias da semana antes de planejar mais\", \"descricao\": \"Liste no MindQuest 3 coisas que você concluiu essa semana. Só depois pense no próximo passo. Isso treina seu cérebro a reconhecer progresso.\"}\n\n✅ BOM (combinando insight + base científica):\nInsight: \"Alta atividade mental, dificuldade em desacelerar\"\nBase: \"TCC: Reduz impulsividade. Neurociência: Ativa córtex pré-frontal\"\nQuest: {\"titulo\": \"Respire 3x antes de abrir nova tarefa\", \"descricao\": \"Quando for iniciar algo novo, pare e respire 3 vezes. Isso ativa a parte racional do cérebro e reduz decisões impulsivas.\"}\n\n❌ RUIM: {\"titulo\": \"Desafie o Sr. Inquieto com mindfulness\", \"descricao\": \"Use técnicas de TCC...\"}\n</examples>\n\n<output_rules>\n1. Retorne APENAS JSON válido\n2. Título: máximo 70 caracteres, SEM nome do sabotador\n3. Descrição: incluir o PORQUÊ funciona (da base científica) + mencionar MindQuest\n</output_rules>\n\n<verbos>Proteja, Registre, Celebre, Reconheça, Expresse, Canalize, Desacelere, Transforme, Pause, Respire</verbos>\n\n<output>{\"titulo\": \"string\", \"descricao\": \"string\"}</output>"
        }
      },
      "id": "agent-sabotador",
      "name": "Quest sabotador",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1088,
        560
      ]
    },
    {
      "parameters": {
        "content": "ENTRADA:\n├── usuarios_sabotadores (PERSONALIZAÇÃO)\n│   ├── insight_atual → entende o padrão do usuário\n│   └── contramedida_ativa → BASE da ação\n│\n└── quests_catalogo (FUNDAMENTAÇÃO)\n    └── base_cientifica → objetivo, fundamentos, como_aplicar\n\nSAÍDA:\n└── Quest com:\n    ├── Título: ação específica baseada na contramedida personalizada\n    ├── Descrição: inclui o PORQUÊ funciona (da base científica)\n    └── base_cientifica: fundamentação do catálogo",
        "height": 384,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        256
      ],
      "id": "93124e91-de79-4e04-8a30-b2c3d34761c2",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "Buscar Contramedidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contramedidas": {
      "main": [
        [
          {
            "node": "Buscar Existentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Existentes": {
      "main": [
        [
          {
            "node": "Verificar Duplicação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Duplicação": {
      "main": [
        [
          {
            "node": "Pode Criar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pode Criar?": {
      "main": [
        [
          {
            "node": "Selecionar Contramedida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Saída Sem Criar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Insert": {
      "main": [
        [
          {
            "node": "Inserir Quest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Quest": {
      "main": [
        [
          {
            "node": "Saída Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selecionar Contramedida": {
      "main": [
        [
          {
            "node": "Quest sabotador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "Quest sabotador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser Quest": {
      "ai_outputParser": [
        [
          {
            "node": "Quest sabotador",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Quest sabotador": {
      "main": [
        [
          {
            "node": "Preparar Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "activeVersionId": null,
  "shared": [
    {
      "createdAt": "2025-12-22T20:02:44.402Z",
      "role": "workflow:owner",
      "workflowId": "0fwtdzQoUdwqkJCc",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
