backups/n8n/sw_quest_personalizada.json
{
  "createdAt": "2025-12-22T20:02:33.840Z",
  "id": "DaiEAB3m8Ey9Nuzy",
  "name": "sw_quest_personalizada",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usuario_id"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "contexto",
              "type": "object"
            }
          ]
        }
      },
      "id": "641c91af-dde3-45b3-bb93-99dda0bc1877",
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        336,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const entrada = $input.item.json || {};\nconst contexto = entrada.contexto || {};\n\n// Usa pedido_quest do expert de resumo\nconst pedidoQuest = contexto.pedido_quest || '';\n\nif (!pedidoQuest || pedidoQuest.length < 5) {\n  return [{\n    json: {\n      pode_criar: false,\n      motivo: 'sem_pedido_quest',\n      usuario_id: entrada.usuario_id\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    pode_criar: true,\n    usuario_id: entrada.usuario_id,\n    chat_id: entrada.chat_id,\n    pedido: pedidoQuest,\n    resumo_conversa: contexto.resumo_conversa || '',\n    contexto: contexto\n  }\n}];"
      },
      "id": "524e9038-a86d-4aee-80ea-21f9197fdc96",
      "name": "Validar Pedido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "pode_criar",
              "leftValue": "={{ $json.pode_criar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22baca97-d395-49b9-8c7b-9d7c29a2b3b6",
      "name": "Pode Criar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nreturn [{\n  json: {\n    sucesso: false,\n    tipo: 'personalizada',\n    motivo: input.motivo || 'bloqueado',\n    quest_criada: null\n  }\n}];"
      },
      "id": "8774869d-2574-4f9b-95e5-31d11c3fc30f",
      "name": "Saída Sem Criar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        464
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO usuarios_quest (\n  usuario_id,\n  catalogo_id,\n  status,\n  config,\n  ativado_em\n)\nVALUES (\n  $1::uuid,\n  '00000000-0000-0000-0000-000000000001',\n  'disponivel',\n  $2::jsonb,\n  NOW()\n)\nRETURNING id, catalogo_id, status, config;",
        "options": {
          "queryReplacement": "={{ [\n  $json.usuario_id,\n  JSON.stringify({\n    titulo: $json.pedido.substring(0, 80),\n    descricao: $json.pedido,\n    contexto_origem: 'pedido_explicito',\n    prioridade: 'alta'\n  })\n] }}"
        }
      },
      "id": "37a4c774-17e1-4906-8e09-8671406f6c5c",
      "name": "Inserir Quest",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        256
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const quest = $input.item.json || {};\nreturn [{\n  json: {\n    sucesso: true,\n    tipo: 'personalizada',\n    quest_criada: {\n      id: quest.id,\n      titulo: quest.config?.titulo,\n      status: quest.status\n    }\n  }\n}];"
      },
      "id": "252a7b83-c5d8-47ab-8570-c1fad68ccb54",
      "name": "Saída Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        256
      ]
    },
    {
      "id": "llm-personalizada",
      "name": "OpenRouter",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        784,
        480
      ],
      "parameters": {},
      "credentials": {
        "openRouterApi": {
          "id": "rSnkOnnAHyfayLJt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "id": "parser-personalizada",
      "name": "Parser Quest",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        960,
        480
      ],
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"titulo\":{\"type\":\"string\"},\"descricao\":{\"type\":\"string\"}},\"required\":[\"titulo\",\"descricao\"]}"
      }
    },
    {
      "id": "agent-personalizada",
      "name": "Criar Quest",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        784,
        80
      ],
      "parameters": {
        "promptType": "define",
        "text": "=PEDIDO DO USUÁRIO:\n{{ $json.pedido }}\n\nCONTEXTO DA CONVERSA:\n{{ $json.resumo_conversa || 'conversa de reflexão' }}\n\nRetorne JSON: {\"titulo\":\"...\",\"descricao\":\"...\"}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você cria quests personalizadas baseadas no pedido explícito do usuário. Título: claro e acionável, máx 80 chars. Descrição: detalhada e específica ao contexto. Retorne APENAS JSON válido em uma linha."
        }
      }
    }
  ],
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "Validar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Pedido": {
      "main": [
        [
          {
            "node": "Pode Criar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pode Criar?": {
      "main": [
        [
          {
            "node": "Criar Quest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Saída Sem Criar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Quest": {
      "main": [
        [
          {
            "node": "Saída Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "Criar Quest",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser Quest": {
      "ai_outputParser": [
        [
          {
            "node": "Criar Quest",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Criar Quest": {
      "main": [
        [
          {
            "node": "Inserir Quest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "activeVersionId": null,
  "shared": [
    {
      "createdAt": "2025-12-22T20:02:33.840Z",
      "role": "workflow:owner",
      "workflowId": "DaiEAB3m8Ey9Nuzy",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
