backups/n8n/sw_quest_objetivos.json
{
  "createdAt": "2025-12-22T00:00:00.000Z",
  "id": "sw_quest_objetivos_v1",
  "name": "sw_quest_objetivos",
  "description": "Especialista em quests de objetivos (micro-ações)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "usuario_id" },
            { "name": "chat_id" },
            { "name": "contexto", "type": "object" }
          ]
        }
      },
      "id": "start-obj",
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const entrada = $input.item.json || {};\nconst contexto = entrada.contexto || {};\n\nconst resumo = contexto.resumo_conversa || '';\nconst objetivos = contexto.objetivos_especificos || [];\n\nif (objetivos.length === 0) {\n  return [{\n    json: {\n      pode_criar: false,\n      motivo: 'sem_objetivos',\n      usuario_id: entrada.usuario_id\n    }\n  }];\n}\n\n// Usa resumo processado (sem validar tamanho - expert já validou)\nreturn [{\n  json: {\n    pode_criar: true,\n    usuario_id: entrada.usuario_id,\n    chat_id: entrada.chat_id,\n    objetivo_selecionado: objetivos[0],\n    resumo_conversa: resumo || 'conversa de reflexão',\n    contexto: contexto\n  }\n}];"
      },
      "id": "validar-contexto-obj",
      "name": "Validar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "pode_criar",
              "leftValue": "={{ $json.pode_criar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "pode-criar-obj",
      "name": "Pode Criar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nreturn [{\n  json: {\n    sucesso: false,\n    tipo: 'objetivos',\n    motivo: input.motivo || 'bloqueado',\n    quest_criada: null\n  }\n}];"
      },
      "id": "saida-sem-criar-obj",
      "name": "Saída Sem Criar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 500]
    },
    {
      "parameters": {
        "inputText": "OBJETIVO DO USUÁRIO:\nTítulo: {{ $json.objetivo_selecionado.titulo }}\nDetalhamento: {{ $json.objetivo_selecionado.detalhamento }}\nÁrea: {{ $json.objetivo_selecionado.area_vida }}\n\nCONTEXTO DA CONVERSA:\n{{ $json.resumo_conversa || 'conversa de reflexão' }}",
        "options": {
          "systemMessage": "<role>\nVocê é o Especialista em Objetivos do MindQuest.\nSua função é extrair micro-ações da conversa que avancem objetivos reais do usuário.\nVocê transforma intenções em próximos passos concretos.\n</role>\n\n<objective>\nGerar quest que represente o PRÓXIMO PASSO CONCRETO mencionado na conversa.\nSucesso = ação específica + vinculada ao objetivo + completável hoje.\n</objective>\n\n<rules>\n1. TÍTULO: 'Avançar em [objetivo]: [ação da conversa]' (máx 80 chars)\n2. DESCRIÇÃO: Próximo passo extraído da conversa + como começar\n3. AÇÃO: Específica, mensurável, para hoje\n4. NUNCA inventar - só extrair o que foi mencionado\n5. Se não houver ação clara na conversa, retornar título genérico do objetivo\n</rules>\n\n<workflow>\n1. Leia o contexto da conversa\n2. Identifique ação ou intenção mencionada\n3. Conecte com o objetivo fornecido\n4. Gere título e descrição como próximo passo\n</workflow>\n\n<examples>\n<example>\nInput: Objetivo 'Lançar app MindQuest', Conversa: 'preciso corrigir os bugs de notificação'\nOutput:\n{\n  \"titulo\": \"Avançar no App: Corrigir bugs de notificação\",\n  \"descricao\": \"Você mencionou que precisa corrigir bugs de notificação. Hoje, escolha 1 bug específico e resolva. Registre o progresso no MindQuest quando concluir.\"\n}\n</example>\n<example>\nInput: Objetivo 'Saúde Mental', Conversa: 'tenho dormido mal por causa do trabalho'\nOutput:\n{\n  \"titulo\": \"Avançar em Saúde: Definir horário fixo para dormir\",\n  \"descricao\": \"Você mencionou que está dormindo mal. Hoje, defina um horário fixo para começar a desligar (ex: 22h). Registre se conseguiu seguir no MindQuest.\"\n}\n</example>\n</examples>\n\n<output_format>\nRetorne APENAS JSON válido:\n{\n  \"titulo\": \"string máx 80 chars\",\n  \"descricao\": \"string com próximo passo concreto\"\n}\n</output_format>"
        }
      },
      "id": "criar-ia-obj",
      "name": "Criar Micro-Ação",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [860, 300],
      "credentials": {
        "openRouterApi": {
          "id": "your-openrouter-id",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"titulo\": { \"type\": \"string\" },\n    \"descricao\": { \"type\": \"string\" }\n  },\n  \"required\": [\"titulo\", \"descricao\"]\n}"
      },
      "id": "parser-obj",
      "name": "Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "jsCode": "const entrada = $items('Pode Criar?', 0, 0)[0].json;\nconst criado = $input.item.json;\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    objetivo_id: entrada.objetivo_selecionado.id,\n    area_vida_id: entrada.objetivo_selecionado.area_vida_id,\n    titulo: criado.titulo,\n    descricao: criado.descricao\n  }\n}];"
      },
      "id": "preparar-insert-obj",
      "name": "Preparar Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO usuarios_quest (\n  usuario_id,\n  catalogo_id,\n  objetivo_id,\n  area_vida_id,\n  status,\n  config,\n  ativado_em\n)\nVALUES (\n  $1::uuid,\n  '00000000-0000-0000-0000-000000000001',\n  $2::uuid,\n  $3::uuid,\n  'disponivel',\n  $4::jsonb,\n  NOW()\n)\nRETURNING id, catalogo_id, objetivo_id, status, config;",
        "options": {
          "queryReplacement": "={{ [\n  $json.usuario_id,\n  $json.objetivo_id,\n  $json.area_vida_id,\n  JSON.stringify({\n    titulo: $json.titulo,\n    descricao: $json.descricao,\n    contexto_origem: 'objetivo_ia',\n    objetivo_id: $json.objetivo_id\n  })\n] }}"
        }
      },
      "id": "inserir-quest-obj",
      "name": "Inserir Quest",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1400, 300],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const quest = $input.item.json || {};\nreturn [{\n  json: {\n    sucesso: true,\n    tipo: 'objetivos',\n    quest_criada: {\n      id: quest.id,\n      objetivo_id: quest.objetivo_id,\n      titulo: quest.config?.titulo,\n      status: quest.status\n    }\n  }\n}];"
      },
      "id": "saida-sucesso-obj",
      "name": "Saída Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    }
  ],
  "connections": {
    "start": {
      "main": [[{ "node": "Validar Contexto", "type": "main", "index": 0 }]]
    },
    "Validar Contexto": {
      "main": [[{ "node": "Pode Criar?", "type": "main", "index": 0 }]]
    },
    "Pode Criar?": {
      "main": [
        [{ "node": "Criar Micro-Ação", "type": "main", "index": 0 }],
        [{ "node": "Saída Sem Criar", "type": "main", "index": 0 }]
      ]
    },
    "Criar Micro-Ação": {
      "main": [[{ "node": "Parser", "type": "main", "index": 0 }]]
    },
    "Parser": {
      "main": [[{ "node": "Preparar Insert", "type": "main", "index": 0 }]]
    },
    "Preparar Insert": {
      "main": [[{ "node": "Inserir Quest", "type": "main", "index": 0 }]]
    },
    "Inserir Quest": {
      "main": [[{ "node": "Saída Sucesso", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "activeVersionId": null,
  "shared": [],
  "tags": []
}
