backups/n8n/sw_quest_sabotador.json
{
  "createdAt": "2025-12-22T00:00:00.000Z",
  "id": "sw_quest_sabotador_v1",
  "name": "sw_quest_sabotador",
  "description": "Especialista em quests de sabotadores (contramedidas específicas)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "usuario_id" },
            { "name": "chat_id" },
            { "name": "contexto", "type": "object" }
          ]
        }
      },
      "id": "start-sab",
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Buscar contramedidas do sabotador detectado\nSELECT \n  id,\n  codigo,\n  titulo,\n  descricao,\n  categoria,\n  sabotador_id,\n  base_cientifica,\n  xp\nFROM quests_catalogo\nWHERE ativo = true\n  AND sabotador_id = $1\n  AND categoria = 'contramedida_sabotador'\nORDER BY RANDOM()\nLIMIT 5;",
        "options": {
          "queryReplacement": "={{ [$json.contexto?.sabotador_id || 'inquieto'] }}"
        }
      },
      "id": "buscar-contramedidas",
      "name": "Buscar Contramedidas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [420, 300],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Buscar quests de sabotador existentes (últimos 7 dias)\nSELECT \n  uq.id,\n  uq.catalogo_id,\n  uq.sabotador_id,\n  uq.status,\n  uq.ativado_em,\n  uq.config->>'titulo' as titulo\nFROM usuarios_quest uq\nWHERE uq.usuario_id = $1::uuid\n  AND uq.sabotador_id IS NOT NULL\n  AND uq.status IN ('ativa', 'disponivel')\n  AND uq.ativado_em > NOW() - INTERVAL '7 days'\nORDER BY uq.ativado_em DESC;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id] }}"
        }
      },
      "id": "buscar-existentes-sab",
      "name": "Buscar Existentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [640, 300],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Verificar duplicação: mesmo sabotador em 7 dias\nconst entrada = $('start').first().json;\nconst catalogo = $input.all().map(i => i.json);\nconst existentes = $items('Buscar Existentes', 0, 0).map(i => i.json);\n\nconst contexto = entrada.contexto || {};\nconst sabotadorId = contexto.sabotador_id;\n\nif (!sabotadorId) {\n  return [{\n    json: {\n      usuario_id: entrada.usuario_id,\n      pode_criar: false,\n      motivo: 'sem_sabotador_detectado'\n    }\n  }];\n}\n\n// Verificar cooldown: mesmo sabotador em 7 dias\nconst temQuestRecente = existentes.some(e => e.sabotador_id === sabotadorId);\n\nif (temQuestRecente) {\n  return [{\n    json: {\n      usuario_id: entrada.usuario_id,\n      pode_criar: false,\n      motivo: 'cooldown_7_dias',\n      sabotador_id: sabotadorId\n    }\n  }];\n}\n\n// Excluir catálogos já usados (últimos 30 dias)\nconst catalogoIdsUsados = new Set(existentes.map(e => e.catalogo_id).filter(Boolean));\nconst catalogoDisponivel = catalogo.filter(q => !catalogoIdsUsados.has(q.id));\n\nconst podeCriar = catalogoDisponivel.length > 0;\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    chat_id: entrada.chat_id,\n    pode_criar: podeCriar,\n    motivo: podeCriar ? 'ok' : 'sem_contramedidas_disponiveis',\n    catalogo_disponivel: catalogoDisponivel,\n    contexto: contexto\n  }\n}];"
      },
      "id": "verificar-dup-sab",
      "name": "Verificar Duplicação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "pode_criar",
              "leftValue": "={{ $json.pode_criar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "pode-criar-sab",
      "name": "Pode Criar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nreturn [{\n  json: {\n    sucesso: false,\n    tipo: 'sabotador',\n    motivo: input.motivo || 'bloqueado',\n    quest_criada: null\n  }\n}];"
      },
      "id": "saida-sem-criar-sab",
      "name": "Saída Sem Criar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 500]
    },
    {
      "parameters": {
        "jsCode": "// Selecionar contramedida aleatória\nconst input = $input.item.json || {};\nconst catalogo = input.catalogo_disponivel || [];\n\nif (catalogo.length === 0) {\n  throw new Error('Nenhuma contramedida disponível');\n}\n\nconst questSelecionada = catalogo[0];\n\nreturn [{\n  json: {\n    usuario_id: input.usuario_id,\n    chat_id: input.chat_id,\n    quest_catalogo: questSelecionada,\n    contexto: input.contexto\n  }\n}];"
      },
      "id": "selecionar-contra",
      "name": "Selecionar Contramedida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "inputText": "Sabotador: {{ $json.contexto.sabotador_nome }}\nContramedida do catálogo: {{ $json.quest_catalogo.titulo }}\n\nContexto conversa: {{ $json.contexto.mensagem_relevante || 'usuário demonstrou comportamento do sabotador' }}\nInsight atual: {{ $json.contexto.insight_atual }}\nContramedida ativa: {{ $json.contexto.contramedida_ativa }}\nIntensidade: {{ $json.contexto.intensidade }}/10",
        "options": {
          "systemMessage": "<role>\nVocê é o Especialista em Sabotadores do MindQuest.\nSua função é criar contramedidas personalizadas que combatam padrões mentais específicos.\nVocê usa TCC e psicologia positiva para transformar insights em ações.\n</role>\n\n<objective>\nGerar quest que confronte o sabotador no contexto REAL da conversa.\nSucesso = usuário reconhece o padrão + tem ação específica para hoje.\n</objective>\n\n<rules>\n1. TÍTULO: 'Desafie o Sr. [Nome] com [ação do contexto]' (máx 80 chars)\n2. DESCRIÇÃO: Cite o insight + ação específica + como registrar no MindQuest\n3. CONTEXTO: Use a situação REAL mencionada na conversa\n4. AÇÃO: Específica, mensurável, para hoje\n5. NUNCA genérico - sempre ancorar no contexto\n</rules>\n\n<workflow>\n1. Identifique comportamento do sabotador na conversa\n2. Conecte com o insight_atual fornecido\n3. Adapte a contramedida do catálogo ao contexto\n4. Gere título e descrição ultra-específicos\n</workflow>\n\n<examples>\n<example>\nInput: Sabotador 'Inquieto', Contramedida 'Pausas conscientes', Contexto: 'trabalhando 10h no app sem parar'\nOutput:\n{\n  \"titulo\": \"Desafie o Sr. Inquieto com pausa de 5min a cada 2h de código\",\n  \"descricao\": \"Você mencionou que está codando 10h sem parar. O Inquieto te convence que parar é perder tempo. Hoje, defina alarme para pausar 5min a cada 2h. Registre como se sentiu após cada pausa no MindQuest.\"\n}\n</example>\n<example>\nInput: Sabotador 'Crítico', Contramedida 'Celebrar vitórias', Contexto: 'app não está perfeito'\nOutput:\n{\n  \"titulo\": \"Desafie o Sr. Crítico celebrando 1 funcionalidade pronta\",\n  \"descricao\": \"O Crítico foca no que falta. Hoje, escolha 1 funcionalidade que você FINALIZOU e celebre por 2 minutos. Pode ser simples. Registre o que completou no MindQuest.\"\n}\n</example>\n</examples>\n\n<output_format>\nRetorne APENAS JSON válido:\n{\n  \"titulo\": \"string máx 80 chars\",\n  \"descricao\": \"string acionável com referência ao contexto\"\n}\n</output_format>"
        }
      },
      "id": "adaptar-ia-sab",
      "name": "Adaptar Contramedida",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [1520, 300],
      "credentials": {
        "openRouterApi": {
          "id": "your-openrouter-id",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"titulo\": { \"type\": \"string\" },\n    \"descricao\": { \"type\": \"string\" }\n  },\n  \"required\": [\"titulo\", \"descricao\"]\n}"
      },
      "id": "parser-adapt-sab",
      "name": "Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "jsCode": "const entrada = $items('Selecionar Contramedida', 0, 0)[0].json;\nconst adaptado = $input.item.json;\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    catalogo_id: entrada.quest_catalogo.id,\n    sabotador_id: entrada.contexto.sabotador_id,\n    titulo: adaptado.titulo,\n    descricao: adaptado.descricao,\n    contexto: entrada.contexto,\n    base_cientifica: entrada.quest_catalogo.base_cientifica\n  }\n}];"
      },
      "id": "preparar-insert-sab",
      "name": "Preparar Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1880, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Inserir quest de sabotador adaptada\nWITH inserted AS (\n  INSERT INTO usuarios_quest (\n    usuario_id,\n    catalogo_id,\n    sabotador_id,\n    status,\n    config,\n    ativado_em\n  )\n  VALUES (\n    $1::uuid,\n    $2::uuid,\n    $3::text,\n    'disponivel',\n    $4::jsonb,\n    NOW()\n  )\n  RETURNING id, catalogo_id, sabotador_id, status, config, ativado_em\n)\nSELECT \n  i.id,\n  i.catalogo_id,\n  i.sabotador_id,\n  i.status,\n  i.config,\n  i.ativado_em,\n  qc.titulo as catalogo_titulo,\n  qc.categoria\nFROM inserted i\nJOIN quests_catalogo qc ON qc.id = i.catalogo_id;",
        "options": {
          "queryReplacement": "={{ [\n  $json.usuario_id,\n  $json.catalogo_id,\n  $json.sabotador_id,\n  JSON.stringify({\n    titulo: $json.titulo,\n    descricao: $json.descricao,\n    contexto_origem: 'sabotador_adaptado',\n    base_cientifica: $json.base_cientifica,\n    sabotador_id: $json.sabotador_id,\n    intensidade: $json.contexto.intensidade,\n    insight_atual: $json.contexto.insight_atual,\n    contramedida_ativa: $json.contexto.contramedida_ativa\n  })\n] }}"
        }
      },
      "id": "inserir-quest-sab",
      "name": "Inserir Quest",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2060, 300],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const quest = $input.item.json || {};\nreturn [{\n  json: {\n    sucesso: true,\n    tipo: 'sabotador',\n    quest_criada: {\n      id: quest.id,\n      catalogo_id: quest.catalogo_id,\n      sabotador_id: quest.sabotador_id,\n      titulo: quest.config?.titulo || quest.catalogo_titulo,\n      categoria: quest.categoria,\n      status: quest.status\n    }\n  }\n}];"
      },
      "id": "saida-sucesso-sab",
      "name": "Saída Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 300]
    }
  ],
  "connections": {
    "start": {
      "main": [[{ "node": "Buscar Contramedidas", "type": "main", "index": 0 }]]
    },
    "Buscar Contramedidas": {
      "main": [[{ "node": "Buscar Existentes", "type": "main", "index": 0 }]]
    },
    "Buscar Existentes": {
      "main": [[{ "node": "Verificar Duplicação", "type": "main", "index": 0 }]]
    },
    "Verificar Duplicação": {
      "main": [[{ "node": "Pode Criar?", "type": "main", "index": 0 }]]
    },
    "Pode Criar?": {
      "main": [
        [{ "node": "Selecionar Contramedida", "type": "main", "index": 0 }],
        [{ "node": "Saída Sem Criar", "type": "main", "index": 0 }]
      ]
    },
    "Selecionar Contramedida": {
      "main": [[{ "node": "Adaptar Contramedida", "type": "main", "index": 0 }]]
    },
    "Adaptar Contramedida": {
      "main": [[{ "node": "Parser", "type": "main", "index": 0 }]]
    },
    "Parser": {
      "main": [[{ "node": "Preparar Insert", "type": "main", "index": 0 }]]
    },
    "Preparar Insert": {
      "main": [[{ "node": "Inserir Quest", "type": "main", "index": 0 }]]
    },
    "Inserir Quest": {
      "main": [[{ "node": "Saída Sucesso", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "activeVersionId": null,
  "shared": [],
  "tags": []
}

