backups/n8n/sw_quest_objetivos.json
{
  "createdAt": "2025-12-22T20:02:06.087Z",
  "id": "tnTuBpFMexq6lz7Z",
  "name": "sw_quest_objetivos",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usuario_id"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "contexto",
              "type": "object"
            }
          ]
        }
      },
      "id": "fac4871f-a41a-4fe2-9b6a-9c1272e53321",
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const entrada = $input.item.json || {};\nconst contexto = entrada.contexto || {};\n\nconst resumo = contexto.resumo_conversa || '';\nconst objetivos = contexto.objetivos_especificos || [];\n\nif (objetivos.length === 0) {\n  return [{\n    json: {\n      pode_criar: false,\n      motivo: 'sem_objetivos',\n      usuario_id: entrada.usuario_id\n    }\n  }];\n}\n\n// Usa resumo processado (sem validar tamanho - expert já validou)\nreturn [{\n  json: {\n    pode_criar: true,\n    usuario_id: entrada.usuario_id,\n    chat_id: entrada.chat_id,\n    objetivo_selecionado: objetivos[0],\n    resumo_conversa: resumo || 'conversa de reflexão',\n    contexto: contexto\n  }\n}];"
      },
      "id": "9ab944c3-2269-4ef8-bc79-9ddc7b7e8464",
      "name": "Validar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "pode_criar",
              "leftValue": "={{ $json.pode_criar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "288fe313-c6cc-4c84-88f4-d1de7ba12823",
      "name": "Pode Criar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nreturn [{\n  json: {\n    sucesso: false,\n    tipo: 'objetivos',\n    motivo: input.motivo || 'bloqueado',\n    quest_criada: null\n  }\n}];"
      },
      "id": "35b455db-693a-464a-8ab5-86092366f2b7",
      "name": "Saída Sem Criar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const entrada = $items('Pode Criar?', 0, 0)[0].json;\nconst criado = $input.item.json;\n\nreturn [{\n  json: {\n    usuario_id: entrada.usuario_id,\n    objetivo_id: entrada.objetivo_selecionado.id,\n    area_vida_id: entrada.objetivo_selecionado.area_vida_id,\n    titulo: criado.titulo,\n    descricao: criado.descricao\n  }\n}];"
      },
      "id": "ab601f8d-321e-419d-a6fc-0a6c286e715f",
      "name": "Preparar Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO usuarios_quest (\n  usuario_id,\n  catalogo_id,\n  objetivo_id,\n  area_vida_id,\n  status,\n  config,\n  ativado_em\n)\nVALUES (\n  $1::uuid,\n  '00000000-0000-0000-0000-000000000001',\n  $2::uuid,\n  $3::uuid,\n  'disponivel',\n  $4::jsonb,\n  NOW()\n)\nRETURNING id, catalogo_id, objetivo_id, status, config;",
        "options": {
          "queryReplacement": "={{ [\n  $json.usuario_id,\n  $json.objetivo_id,\n  $json.area_vida_id,\n  JSON.stringify({\n    titulo: $json.titulo,\n    descricao: $json.descricao,\n    contexto_origem: 'objetivo_ia',\n    objetivo_id: $json.objetivo_id\n  })\n] }}"
        }
      },
      "id": "2b42cd35-d2ef-49f1-aa40-92908b77221b",
      "name": "Inserir Quest",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        512
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const quest = $input.item.json || {};\nreturn [{\n  json: {\n    sucesso: true,\n    tipo: 'objetivos',\n    quest_criada: {\n      id: quest.id,\n      objetivo_id: quest.objetivo_id,\n      titulo: quest.config?.titulo,\n      status: quest.status\n    }\n  }\n}];"
      },
      "id": "52d5d447-be47-4901-b5b9-9b01233ebf7a",
      "name": "Saída Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        512
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "llm-objetivos",
      "name": "OpenRouter",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -208,
        752
      ],
      "credentials": {
        "openRouterApi": {
          "id": "rSnkOnnAHyfayLJt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"titulo\":{\"type\":\"string\"},\"descricao\":{\"type\":\"string\"}},\"required\":[\"titulo\",\"descricao\"]}"
      },
      "id": "parser-objetivos",
      "name": "Parser Quest",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        16,
        752
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<input>\n\n<objetivo>\n<titulo>{{ $json.objetivo_selecionado.titulo }}</titulo>\n<detalhamento>{{ $json.objetivo_selecionado.detalhamento || 'sem detalhes' }}</detalhamento>\n<area_vida>{{ $json.objetivo_selecionado.area_vida || 'geral' }}</area_vida>\n</objetivo>\n\n<conversa>\n{{ $json.resumo_conversa || 'conversa de reflexão' }}\n</conversa>\n\n<estado_emocional>\n<humor>{{ $json.contexto.humor || 6 }}/10</humor>\n<energia>{{ $json.contexto.energia || 6 }}/10</energia>\n</estado_emocional>\n\n<quests_existentes>\n{{ JSON.stringify(($json.contexto.quests_existentes || []).map(q => q.config?.titulo || q.titulo).filter(Boolean)) }}\n</quests_existentes>\n\n</input>\n\n<task>\nCrie UMA quest que avance o objetivo acima.\nUse os dados de <input> para personalizar.\nEvite duplicar títulos de <quests_existentes>.\n</task>\n\n<output>\nRetorne APENAS JSON válido:\n{\"titulo\": \"VERBO + OBJETO + RESULTADO (max 70 chars)\", \"descricao\": \"ação prática usando MindQuest\"}\n</output>",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "<role>\nVocê é o Especialista em Quests de Objetivos do MindQuest.\nVocê representa o **AGIR** no framework: CONVERSAR → ENTENDER → AGIR → EVOLUIR.\n</role>\n\n<objective>\nTransformar objetivos em micro-ações executáveis para HOJE.\n</objective>\n\n<success_criteria>\n1. **Nomenclatura**: Título = VERBO + OBJETO + RESULTADO (sem jargões)\n2. **Atrito**: Executável em <10 minutos\n3. **Propósito**: Usuário entende o \"porquê\" instantaneamente\n4. **Nativismo**: APENAS funcionalidades MindQuest (nunca apps externos)\n</success_criteria>\n\n<input_usage>\nUSE OS DADOS DE ENTRADA:\n- <objetivo> → base para criar a quest\n- <conversa> → contexto adicional\n- <estado_emocional> → adaptar se humor/energia baixos\n- <quests_existentes> → evitar duplicação de títulos\n</input_usage>\n\n<mindquest_features>\n| Necessidade | Use no MindQuest |\n|-------------|------------------|\n| Registrar/Refletir | Conversar com Mentor |\n| Ver progresso | Menu Evoluir → Jornada |\n| Entender padrões | Menu Entender → Dashboard |\n</mindquest_features>\n\n<examples>\n<example>\n<input>Objetivo: Lançar app</input>\n<output>{\"titulo\": \"Defina a única feature que valida seu MVP\", \"descricao\": \"Registre no MindQuest qual funcionalidade é essencial. Liste 3 usuários para testar.\"}</output>\n</example>\n</examples>\n\n<output_rules>\n1. Retorne APENAS JSON válido em UMA linha\n2. Título: máximo 70 caracteres\n3. Descrição: mencionar MindQuest para registro\n4. SEM quebras de linha no JSON\n</output_rules>\n\n<verbos>\nDefina, Liste, Mapeie, Identifique, Priorize, Valide, Escolha, Documente\n</verbos>"
        }
      },
      "id": "agent-objetivos",
      "name": "Quest Objetivo",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -176,
        512
      ]
    }
  ],
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "Validar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Contexto": {
      "main": [
        [
          {
            "node": "Pode Criar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pode Criar?": {
      "main": [
        [
          {
            "node": "Quest Objetivo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Saída Sem Criar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Insert": {
      "main": [
        [
          {
            "node": "Inserir Quest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Quest": {
      "main": [
        [
          {
            "node": "Saída Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "Quest Objetivo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser Quest": {
      "ai_outputParser": [
        [
          {
            "node": "Quest Objetivo",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Quest Objetivo": {
      "main": [
        [
          {
            "node": "Preparar Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "shared": [
    {
      "createdAt": "2025-12-22T20:02:06.087Z",
      "role": "workflow:owner",
      "workflowId": "tnTuBpFMexq6lz7Z",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
