backups/n8n/sw_xp_conversas.json
{
  "name": "sw_xp_conversas",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usuario_id"
            }
          ]
        }
      },
      "id": "56b3ed10-dec1-4ee1-8d79-cf30729c3d63",
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        592,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const entrada = $input.item.json || {}; const usuarioId = entrada.usuario_id || entrada.id || $json.usuario_id; if (!usuarioId || typeof usuarioId !== 'string' || !usuarioId.trim()) { throw new Error('usuario_id obrigatório'); } return [{ json: { usuario_id: usuarioId.trim() } }];"
      },
      "id": "5b0ca1a0-30e8-43ad-a57c-9a3f452bc51d",
      "name": "Validar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT usuario_id, xp_total, total_xp_hoje, sequencia_atual, sequencia_recorde, meta_sequencia_codigo, proxima_meta_codigo, ultima_conversa_em, sequencia_status FROM public.quest_estado_usuario WHERE usuario_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id] }}"
        }
      },
      "id": "26ef8239-3f9c-43de-9a71-cc4600908307",
      "name": "Buscar Estado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        -64
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  uc.id,\n  date(uc.data_conversa) AS dia,\n  uc.tem_reflexao,\n  COALESCE(uc.total_palavras_usuario, 0) AS total_palavras_usuario\nFROM public.usr_chat uc\nWHERE uc.usuario_id = $1::uuid\n  AND date(uc.data_conversa) > COALESCE($2::date, '1970-01-01'::date)\nORDER BY dia ASC, uc.data_conversa ASC;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id, $json.ultima_conversa_em ? $json.ultima_conversa_em : '1970-01-01'] }}"
        }
      },
      "id": "af85a380-6ac2-4852-ade7-37d2d2818ede",
      "name": "Buscar Conversas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "alwaysOutputData": true,
      "position": [
        1296,
        -64
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const getItem = (nodeName) => {\n  const list = $items(nodeName, 0, 0) || [];\n  return list[0]?.json || null;\n};\nconst getItems = (nodeName) => {\n  const list = $items(nodeName) || [];\n  return list.map((entry) => entry?.json || {});\n};\nconst estado = getItem('Buscar Estado');\nif (!estado) {\n  throw new Error('Estado do usuário não encontrado');\n}\nconst conversas = getItems('Buscar Conversas');\nconst metas = [\n  { codigo: 'streak_003', dias: 3, bonus: 40 },\n  { codigo: 'streak_005', dias: 5, bonus: 60 },\n  { codigo: 'streak_007', dias: 7, bonus: 90 },\n  { codigo: 'streak_010', dias: 10, bonus: 130 },\n  { codigo: 'streak_015', dias: 15, bonus: 180 },\n  { codigo: 'streak_020', dias: 20, bonus: 250 },\n  { codigo: 'streak_025', dias: 25, bonus: 340 },\n  { codigo: 'streak_030', dias: 30, bonus: 450 },\n];\nconst toDay = (value) => {\n  if (!value) return null;\n  const date = new Date(value);\n  if (Number.isNaN(date.getTime())) return null;\n  return new Date(Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate()));\n};\nconst parseStatus = () => {\n  const raw = estado.sequencia_status;\n  if (!raw) return { estado: 'ativa', reinicios: 0, alvo_conversas: metas[0].dias };\n  if (typeof raw === 'object') return { estado: 'ativa', alvo_conversas: metas[0].dias, ...raw };\n  try {\n    return { estado: 'ativa', alvo_conversas: metas[0].dias, ...(JSON.parse(raw) || {}) };\n  } catch (error) {\n    return { estado: 'ativa', reinicios: 0, alvo_conversas: metas[0].dias };\n  }\n};\nconst status = parseStatus();\nlet xpGanho = 0;\nconst diasMap = new Map();\nconst calcXPConversa = (entrada) => {\n  const palavras = Number(entrada.total_palavras_usuario) || 0;\n  const reflexao = entrada.tem_reflexao === true;\n  if (palavras >= 500) return 50;\n  if (reflexao) return 35;\n  return 20;\n};\nfor (const conversa of conversas) {\n  const xp = calcXPConversa(conversa);\n  xpGanho += xp;\n  const dia = conversa.dia;\n  if (!diasMap.has(dia)) {\n    diasMap.set(dia, { xp: 0 });\n  }\n  diasMap.get(dia).xp += xp;\n}\nconst diasOrdenados = Array.from(diasMap.keys()).sort();\nlet sequenciaAtual = Number(estado.sequencia_atual) || 0;\nlet sequenciaRecorde = Number(estado.sequencia_recorde) || 0;\nlet reinicios = Number(status.reinicios) || 0;\nlet ultimaData = toDay(estado.ultima_conversa_em);\nlet metaAlcancadaIdx = metas.findIndex((meta) => meta.codigo === estado.meta_sequencia_codigo);\nif (metaAlcancadaIdx < 0) metaAlcancadaIdx = -1;\nlet alvoIdx = Math.max(metaAlcancadaIdx + 1, 0);\nconst resetMetaProgress = () => {\n  metaAlcancadaIdx = -1;\n  alvoIdx = 0;\n};\nconst applyReset = () => {\n  if (sequenciaAtual > 0) {\n    reinicios += 1;\n  }\n  sequenciaAtual = 0;\n  resetMetaProgress();\n};\nconst msDia = 24 * 60 * 60 * 1000;\nfor (const dia of diasOrdenados) {\n  const diaAtual = toDay(dia);\n  if (!diaAtual) continue;\n  if (ultimaData) {\n    const diff = Math.round((diaAtual - ultimaData) / msDia);\n    if (diff > 1) {\n      applyReset();\n    }\n    if (diff === 0) {\n      ultimaData = diaAtual;\n      continue;\n    }\n  } else {\n    resetMetaProgress();\n  }\n  sequenciaAtual += 1;\n  ultimaData = diaAtual;\n  if (sequenciaAtual > sequenciaRecorde) {\n    sequenciaRecorde = sequenciaAtual;\n  }\n  while (alvoIdx < metas.length && sequenciaAtual >= metas[alvoIdx].dias) {\n    xpGanho += metas[alvoIdx].bonus;\n    metaAlcancadaIdx = alvoIdx;\n    alvoIdx += 1;\n  }\n}\nconst hoje = toDay(new Date());\nif (ultimaData && hoje) {\n  const diffHoje = Math.round((hoje - ultimaData) / msDia);\n  if (diffHoje > 1) {\n    applyReset();\n  }\n}\nconst metaCodigoAtual = metaAlcancadaIdx >= 0 ? metas[metaAlcancadaIdx].codigo : metas[0].codigo;\nconst proximaCodigo = alvoIdx < metas.length ? metas[alvoIdx].codigo : null;\nconst alvoConversas = alvoIdx < metas.length ? metas[alvoIdx].dias : metas[metas.length - 1].dias;\nconst ultimaConversaISO = ultimaData ? ultimaData.toISOString() : estado.ultima_conversa_em || null;\nreturn [{\n  json: {\n    usuario_id: estado.usuario_id,\n    xp_ganho: xpGanho,\n    sequencia_atual: sequenciaAtual,\n    sequencia_recorde: sequenciaRecorde,\n    meta_sequencia_codigo: metaCodigoAtual,\n    proxima_meta_codigo: proximaCodigo,\n    ultima_conversa_em: ultimaConversaISO,\n    sequencia_status: { ...status, estado: 'ativa', reinicios, alvo_conversas: alvoConversas },\n    dias_processados: diasOrdenados.length,\n  },\n}];\n"
      },
      "id": "df026a33-878a-4214-9880-13b0a501036b",
      "name": "Calcular XP Conversas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH payload AS (\n  SELECT\n    $1::uuid AS usuario_id,\n    $2::int AS xp_ganho,\n    $3::int AS sequencia_atual,\n    $4::int AS sequencia_recorde,\n    $5::varchar AS meta_codigo,\n    $6::varchar AS proxima_codigo,\n    NULLIF($7::text, '')::timestamptz AS ultima_conversa_em,\n    $8::jsonb AS sequencia_status\n),\natualizado AS (\n  UPDATE public.quest_estado_usuario q\n  SET\n    xp_total = q.xp_total + payload.xp_ganho,\n    total_xp_hoje = q.total_xp_hoje + payload.xp_ganho,\n    sequencia_atual = payload.sequencia_atual,\n    sequencia_recorde = payload.sequencia_recorde,\n    meta_sequencia_codigo = payload.meta_codigo,\n    proxima_meta_codigo = payload.proxima_codigo,\n    ultima_conversa_em = COALESCE(payload.ultima_conversa_em, q.ultima_conversa_em),\n    sequencia_status = payload.sequencia_status,\n    atualizado_em = NOW()\n  FROM payload\n  WHERE q.usuario_id = payload.usuario_id\n  RETURNING q.usuario_id, payload.xp_ganho\n)\nSELECT\n  payload.usuario_id,\n  payload.xp_ganho,\n  payload.sequencia_atual,\n  payload.sequencia_recorde\nFROM payload\nLEFT JOIN atualizado ON atualizado.usuario_id = payload.usuario_id;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id, $json.xp_ganho, $json.sequencia_atual, $json.sequencia_recorde, $json.meta_sequencia_codigo, $json.proxima_meta_codigo, ($json.ultima_conversa_em && $json.ultima_conversa_em !== '' ? $json.ultima_conversa_em : null), JSON.stringify($json.sequencia_status || {})] }}"
        }
      },
      "id": "f70eb884-f195-4dd2-9ee0-f54c8ab7adf3",
      "name": "Atualizar Estado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1792,
        -64
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "71Ru87yaRA5SNjOQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/71Ru87yaRA5SNjOQ",
          "cachedResultName": "sw_calcula_jornada"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $json.usuario_id }}"
          },
          "matchingColumns": [
            "usuario_id"
          ],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "9a2443ec-1b6b-422d-8877-77f246a2a82d",
      "name": "Atualizar Jornada",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2032,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const entrada = $items('Validar Entrada', 0, 0) || [];\nconst payload = entrada[0]?.json || {};\nreturn [{ json: { usuario_id: payload.usuario_id || null } }];"
      },
      "id": "0a19ae8f-39cd-42ea-9831-513493f7b950",
      "name": "Retornar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        -64
      ]
    }
  ],
  "pinData": {
    "start": [
      {
        "json": {
          "usuario_id": "4bb8706a-7886-4ccb-8263-ff51aaafaafa"
        }
      }
    ]
  },
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "Validar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Entrada": {
      "main": [
        [
          {
            "node": "Buscar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Estado": {
      "main": [
        [
          {
            "node": "Buscar Conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas": {
      "main": [
        [
          {
            "node": "Calcular XP Conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular XP Conversas": {
      "main": [
        [
          {
            "node": "Atualizar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Estado": {
      "main": [
        [
          {
            "node": "Atualizar Jornada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Jornada": {
      "main": [
        [
          {
            "node": "Retornar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c02a60f2-a4ed-47ba-9014-aeb2bf33d9c7",
  "meta": {
    "instanceId": "8b04959d79052d9a4fde27fe8830b1f9748281331c826275aabfed3697b200b7"
  },
  "id": "ItBastfCTkWxm41M",
  "tags": []
}
