backups/n8n/sw_xp_conversas.json
{
  "createdAt": "2025-11-07T16:24:43.271Z",
  "id": "ItBastfCTkWxm41M",
  "name": "sw_xp_conversas",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usuario_id"
            },
            {
              "name": "calcular_apenas_novos",
              "type": "boolean"
            }
          ]
        }
      },
      "id": "01bfaacb-80c9-4616-898e-b2df7fad255f",
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const entrada = $input.item.json || {};\nconst usuarioId = entrada.usuario_id || entrada.id || $json.usuario_id;\nif (!usuarioId || typeof usuarioId !== 'string' || !usuarioId.trim()) {\n  throw new Error('usuario_id obrigatório');\n}\nconst rawStringFlag = entrada.recalcular_completo ?? $json.recalcular_completo ?? entrada.force_recalcular ?? entrada.force ?? null;\nconst rawBooleanFlag = entrada.calcular_apenas_novos ?? $json.calcular_apenas_novos;\nconst recalcularCompleto = rawStringFlag === null\n  ? (rawBooleanFlag === false)\n  : (typeof rawStringFlag === 'string'\n      ? ['1','true','yes','y','sim'].includes(rawStringFlag.trim().toLowerCase())\n      : Boolean(rawStringFlag));\nreturn [{\n  json: {\n    usuario_id: usuarioId.trim(),\n    recalcular_completo: recalcularCompleto,\n  },\n}];"
      },
      "id": "3824977c-2a20-47c2-be41-3bcc2f524d38",
      "name": "Validar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT usuario_id, xp_total, total_xp_hoje, sequencia_atual, sequencia_recorde, meta_sequencia_codigo, proxima_meta_codigo, ultima_conversa_em, sequencia_status FROM public.usuarios_conquistas WHERE usuario_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id] }}"
        }
      },
      "id": "a4234fac-fd83-4605-a81e-b9d93f9976cf",
      "name": "Buscar Estado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  uc.id,\n  date(uc.data_conversa) AS dia,\n  uc.tem_reflexao,\n  COALESCE(uc.total_palavras_usuario, 0) AS total_palavras_usuario,\n  uc.data_conversa,\n  uc.atualizado_em\nFROM public.usr_chat uc\nWHERE uc.usuario_id = $1::uuid\n  AND uc.data_conversa >= NOW() - INTERVAL '45 days'\nORDER BY dia ASC, uc.data_conversa ASC;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id] }}"
        }
      },
      "id": "cc7f43d4-90a7-4eeb-ac61-9bc50f94cca5",
      "name": "Buscar Conversas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "alwaysOutputData": true,
      "position": [
        624,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const getItem = (nodeName) => {\n  const list = $items(nodeName, 0, 0) || [];\n  return list[0]?.json || null;\n};\nconst getItems = (nodeName) => {\n  const list = $items(nodeName) || [];\n  return list.map((entry) => entry?.json || {});\n};\nconst estado = getItem('Buscar Estado');\nif (!estado) {\n  throw new Error('Estado do usuário não encontrado');\n}\nconst conversas = getItems('Buscar Conversas');\nconst metas = [\n  { codigo: 'streak_003', dias: 3, bonus: 40, titulo: 'Sequência de 3 conversas' },\n  { codigo: 'streak_005', dias: 5, bonus: 60, titulo: 'Sequência de 5 conversas' },\n  { codigo: 'streak_007', dias: 7, bonus: 90, titulo: 'Sequência de 7 conversas' },\n  { codigo: 'streak_010', dias: 10, bonus: 130, titulo: 'Sequência de 10 conversas' },\n  { codigo: 'streak_015', dias: 15, bonus: 180, titulo: 'Sequência de 15 conversas' },\n  { codigo: 'streak_020', dias: 20, bonus: 250, titulo: 'Sequência de 20 conversas' },\n  { codigo: 'streak_025', dias: 25, bonus: 340, titulo: 'Sequência de 25 conversas' },\n  { codigo: 'streak_030', dias: 30, bonus: 450, titulo: 'Sequência de 30 conversas' },\n];\nconst metaTargets = metas.map((meta) => ({ codigo: meta.codigo, dias: meta.dias }));\nconst XP_POR_DIA = 75;\nconst BONUS_PRIMEIRA_CONVERSA = 75;\nconst toTimestamp = (value) => {\n  if (!value && value !== 0) return null;\n  const date = new Date(value);\n  if (Number.isNaN(date.getTime())) return null;\n  return date.getTime();\n};\nconst toDay = (value) => {\n  if (!value && value !== 0) return null;\n  const date = new Date(value);\n  if (Number.isNaN(date.getTime())) return null;\n  return new Date(Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate()));\n};\nconst parseStatus = () => {\n  const raw = estado.sequencia_status;\n  if (!raw) return { estado: 'ativa', reinicios: 0, alvo_conversas: metaTargets[0].dias };\n  if (typeof raw === 'object') {\n    return { estado: 'ativa', alvo_conversas: metaTargets[0].dias, ...raw };\n  }\n  try {\n    return { estado: 'ativa', alvo_conversas: metaTargets[0].dias, ...(JSON.parse(raw) || {}) };\n  } catch (error) {\n    return { estado: 'ativa', reinicios: 0, alvo_conversas: metaTargets[0].dias };\n  }\n};\nconst determineNextMeta = (streak) => {\n  for (const meta of metaTargets) {\n    if (streak < meta.dias) {\n      return meta;\n    }\n  }\n  return metaTargets[metaTargets.length - 1];\n};\nconst status = parseStatus();\nconst msDia = 24 * 60 * 60 * 1000;\nconst conversasOrdenadas = conversas\n  .map((entrada) => {\n    const timestamp = toTimestamp(entrada.atualizado_em || entrada.data_conversa || entrada.dia);\n    const diaISO = toDay(entrada.atualizado_em || entrada.data_conversa || entrada.dia);\n    const diaISOTexto = diaISO ? diaISO.toISOString() : null;\n    return { ...entrada, timestamp, diaISO, diaISOTexto };\n  })\n  .filter((entrada) => entrada.diaISO && entrada.diaISOTexto && Number.isFinite(entrada.timestamp))\n  .sort((a, b) => (a.timestamp || 0) - (b.timestamp || 0));\nconst diasUnicosMap = new Map();\nfor (const conversa of conversasOrdenadas) {\n  const chave = conversa.diaISOTexto;\n  if (!chave) continue;\n  if (!diasUnicosMap.has(chave) || (conversa.timestamp || 0) < (diasUnicosMap.get(chave).timestamp || 0)) {\n    diasUnicosMap.set(chave, conversa);\n  }\n}\nconst diasUnicos = Array.from(diasUnicosMap.values()).sort((a, b) => (a.timestamp || 0) - (b.timestamp || 0));\nconst ultimaRegistradaTimestamp = toTimestamp(estado.ultima_conversa_em);\nconst ultimaDiaRegistrada = toDay(estado.ultima_conversa_em);\nlet xpBaseIncrement = 0;\nlet xpBonusIncrement = 0;\nlet sequenciaAtual = 0;\nlet sequenciaRecordeCalculado = 0;\nlet reinicios = Number(status.reinicios) || 0;\nlet metaAlcancadaIdxAnterior = metas.findIndex((meta) => meta.codigo === estado.meta_sequencia_codigo);\nif (metaAlcancadaIdxAnterior < 0) metaAlcancadaIdxAnterior = -1;\nlet metaAlcancadaIdx = metaAlcancadaIdxAnterior;\nlet alvoIdx = Math.max(metaAlcancadaIdxAnterior + 1, 0);\nconst resetMetaIndices = () => {\n  metaAlcancadaIdxAnterior = -1;\n  metaAlcancadaIdx = -1;\n  alvoIdx = 0;\n};\nconst applyReset = () => {\n  if (sequenciaAtual > 0) {\n    reinicios += 1;\n  }\n  sequenciaAtual = 0;\n  resetMetaIndices();\n};\nlet ultimoDiaSequencia = ultimaDiaRegistrada;\nlet ultimaTimestampProcessado = ultimaRegistradaTimestamp || null;\nlet diasNovos = 0;\nconst diasNovosDetalhes = [];\nconst streakEvents = [];\nfor (const diaInfo of diasUnicos) {\n  const diaISO = diaInfo.diaISO;\n  const timestamp = diaInfo.timestamp;\n  const diaEhNovo = !ultimaDiaRegistrada || diaISO.getTime() > ultimaDiaRegistrada.getTime();\n  if (diaEhNovo) {\n    xpBaseIncrement += XP_POR_DIA;\n    diasNovos += 1;\n    diasNovosDetalhes.push({\n      dia: diaISO.toISOString(),\n      conversa_id: (diaInfo && (diaInfo.conversa_id || diaInfo.id)) ? diaInfo.conversa_id || diaInfo.id : null,\n      data_conversa: diaInfo?.data_conversa || diaISO.toISOString(),\n    });\n  }\n  if (ultimoDiaSequencia) {\n    const diffDias = Math.floor((diaISO.getTime() - ultimoDiaSequencia.getTime()) / msDia);\n    if (diffDias > 1) {\n      applyReset();\n    }\n  }\n  sequenciaAtual += 1;\n  ultimoDiaSequencia = diaISO;\n  ultimaTimestampProcessado = timestamp ?? ultimaTimestampProcessado ?? timestamp;\n  if (sequenciaAtual > sequenciaRecordeCalculado) {\n    sequenciaRecordeCalculado = sequenciaAtual;\n  }\n  while (alvoIdx < metas.length && sequenciaAtual >= metas[alvoIdx].dias) {\n    if (diaEhNovo && alvoIdx > metaAlcancadaIdxAnterior) {\n      xpBonusIncrement += metas[alvoIdx].bonus;\n      streakEvents.push({\n        meta_codigo: metas[alvoIdx].codigo,\n        meta_titulo: metas[alvoIdx].titulo,\n        xp_bonus: metas[alvoIdx].bonus,\n        completado_em: diaISO.toISOString(),\n        dias: metas[alvoIdx].dias,\n      });\n    }\n    metaAlcancadaIdx = alvoIdx;\n    alvoIdx += 1;\n  }\n  metaAlcancadaIdxAnterior = metaAlcancadaIdx;\n}\nconst sequenciaRecorde = Math.max(sequenciaRecordeCalculado, Number(estado.sequencia_recorde) || 0);\nconst metaCodigoAtual = metaAlcancadaIdx >= 0 ? metas[metaAlcancadaIdx].codigo : metas[0].codigo;\nconst proximaMetaAlvo = determineNextMeta(sequenciaAtual);\nconst proximaCodigo = proximaMetaAlvo ? proximaMetaAlvo.codigo : null;\nconst alvoConversas = proximaMetaAlvo ? proximaMetaAlvo.dias : metaTargets[metaTargets.length - 1].dias;\nconst ultimaConversaISO = ultimoDiaSequencia\n  ? ultimoDiaSequencia.toISOString()\n  : estado.ultima_conversa_em || null;\nconst primeiraConversaDesbloqueada = !ultimaDiaRegistrada && diasNovos > 0;\nconst xpBonusPrimeira = primeiraConversaDesbloqueada ? BONUS_PRIMEIRA_CONVERSA : 0;\nconst xpBonusTotal = xpBonusIncrement + xpBonusPrimeira;\nconst xpTotalIncrement = xpBaseIncrement + xpBonusTotal;\nreturn [{\n  json: {\n    usuario_id: estado.usuario_id,\n    xp_ganho: xpTotalIncrement,\n    xp_total_increment: xpTotalIncrement,\n    xp_base_increment: xpBaseIncrement,\n    xp_bonus_increment: xpBonusTotal,\n    sequencia_atual: sequenciaAtual,\n    sequencia_recorde: sequenciaRecorde,\n    meta_sequencia_codigo: metaCodigoAtual,\n    proxima_meta_codigo: proximaCodigo,\n    ultima_conversa_em: ultimaConversaISO,\n    sequencia_status: { ...status, estado: 'ativa', reinicios, alvo_conversas: alvoConversas },\n    dias_processados: diasUnicos.length,\n    dias_novos: diasNovos,\n    dias_novos_detalhes: diasNovosDetalhes,\n    primeira_conversa_desbloqueada: primeiraConversaDesbloqueada,\n    xp_bonus_primeira: xpBonusPrimeira,\n    streaks_conquistas: streakEvents,\n  },\n}];"
      },
      "id": "5a33f3a4-6efc-4419-8744-3df4c8b138d8",
      "name": "Calcular XP Conversas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH payload AS (\n  SELECT\n    $1::uuid AS usuario_id,\n    $2::int AS xp_base_increment,\n    $3::int AS xp_bonus_increment,\n    $4::int AS xp_total_increment,\n    $5::int AS sequencia_atual,\n    $6::int AS sequencia_recorde,\n    $7::varchar AS meta_codigo,\n    $8::varchar AS proxima_codigo,\n    NULLIF($9::text, '')::timestamptz AS ultima_conversa_em,\n    $10::jsonb AS sequencia_status\n),\natualizado AS (\n  UPDATE public.usuarios_conquistas uc\n  SET\n    xp_total = COALESCE(uc.xp_total, 0) + payload.xp_total_increment,\n    xp_base = COALESCE(uc.xp_base, 0) + payload.xp_base_increment,\n    xp_bonus = COALESCE(uc.xp_bonus, 0) + payload.xp_bonus_increment,\n    total_xp_hoje = COALESCE(uc.total_xp_hoje, 0) + payload.xp_total_increment,\n    sequencia_atual = payload.sequencia_atual,\n    sequencia_recorde = payload.sequencia_recorde,\n    meta_sequencia_codigo = payload.meta_codigo,\n    proxima_meta_codigo = payload.proxima_codigo,\n    ultima_conversa_em = COALESCE(payload.ultima_conversa_em, uc.ultima_conversa_em),\n    sequencia_status = payload.sequencia_status,\n    atualizado_em = NOW()\n  FROM payload\n  WHERE uc.usuario_id = payload.usuario_id\n  RETURNING uc.usuario_id\n)\nSELECT payload.usuario_id\nFROM payload\nLEFT JOIN atualizado ON atualizado.usuario_id = payload.usuario_id;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id, $json.xp_base_increment || 0, $json.xp_bonus_increment || 0, $json.xp_total_increment || $json.xp_ganho || 0, $json.sequencia_atual || 0, $json.sequencia_recorde || 0, $json.meta_sequencia_codigo || '', $json.proxima_meta_codigo || '', ($json.ultima_conversa_em && $json.ultima_conversa_em !== '' ? $json.ultima_conversa_em : null), JSON.stringify($json.sequencia_status || {})] }}"
        }
      },
      "id": "88976865-0dd6-4846-9ab9-17f9198a6285",
      "name": "Atualizar Estado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "71Ru87yaRA5SNjOQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/71Ru87yaRA5SNjOQ",
          "cachedResultName": "sw_calcula_jornada"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $json.usuario_id }}"
          },
          "matchingColumns": [
            "usuario_id"
          ],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "88077949-4073-4a14-9755-8d69e8c3fe5c",
      "name": "Atualizar Jornada",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1360,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const entrada = $items('Validar Entrada', 0, 0) || [];\nconst payload = entrada[0]?.json || {};\nreturn [{ json: { usuario_id: payload.usuario_id || null } }];"
      },
      "id": "0a368fd4-0958-42cd-b996-2ab6ef87f729",
      "name": "Retornar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const parseDay = (value) => {\n  if (!value) return null;\n  const date = new Date(value);\n  if (Number.isNaN(date.getTime())) return null;\n  return Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate());\n};\n\nconst today = new Date();\nconst todayUtc = Date.UTC(today.getUTCFullYear(), today.getUTCMonth(), today.getUTCDate());\n\nconst normalizeStatus = (raw) => {\n  if (raw && typeof raw === 'object') {\n    return { ...raw };\n  }\n  if (typeof raw === 'string') {\n    try {\n      const parsed = JSON.parse(raw);\n      if (parsed && typeof parsed === 'object') {\n        return { ...parsed };\n      }\n    } catch (_err) {\n      // ignore\n    }\n  }\n  return {};\n};\n\nreturn $input.all().map(({ json }) => {\n  const ultimaConversaoUtc = parseDay(json.ultima_conversa_em);\n  const diffDias = ultimaConversaoUtc === null\n    ? Number.POSITIVE_INFINITY\n    : Math.floor((todayUtc - ultimaConversaoUtc) / 86_400_000);\n\n  if (!Number.isFinite(diffDias) || diffDias > 1) {\n    const statusAtual = normalizeStatus(json.sequencia_status);\n    const reinicios = Number.isFinite(Number(statusAtual.reinicios))\n      ? Number(statusAtual.reinicios) + 1\n      : 1;\n\n    json.sequencia_atual = 0;\n    json.meta_sequencia_codigo = 'streak_003';\n    json.proxima_meta_codigo = 'streak_005';\n    json.sequencia_status = {\n      estado: 'reiniciada',\n      reinicios,\n      alvo_conversas: 3,\n      completado_em: null,\n      ultimo_reset_em: new Date().toISOString(),\n    };\n  }\n\n  return { json };\n});"
      },
      "id": "11b35aa3-8c86-4191-a283-14459b2c0846",
      "name": "Zerar Sequência se Gap",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const estado = $json || {};\nconst entrada = ($items('Validar Entrada', 0, 0) || [])[0]?.json || {};\nconst force = Boolean(entrada.recalcular_completo);\nconst hoje = new Date();\nconst hojeUtc = Date.UTC(hoje.getUTCFullYear(), hoje.getUTCMonth(), hoje.getUTCDate());\nconst ultima = estado.ultima_conversa_em ? new Date(estado.ultima_conversa_em) : null;\nconst ultimaUtc = ultima ? Date.UTC(ultima.getUTCFullYear(), ultima.getUTCMonth(), ultima.getUTCDate()) : null;\nconst diffDias = ultimaUtc === null ? Number.POSITIVE_INFINITY : Math.max(0, Math.floor((hojeUtc - ultimaUtc) / 86_400_000));\nconst precisaRecalcular = force || diffDias >= 1;\nreturn [{\n  json: {\n    ...estado,\n    usuario_id: entrada.usuario_id ?? estado.usuario_id ?? null,\n    recalcular_completo: force,\n    precisa_recalcular: precisaRecalcular,\n    dias_desde_ultima_conversa: diffDias,\n  },\n}];"
      },
      "id": "12705097-3df8-4b68-ae94-67a19d4abf6a",
      "name": "Checar Necessidade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.precisa_recalcular }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "ea33d665-ebee-44a0-88fc-ce6fd0e81e42",
      "name": "Precisa Recalcular?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        848,
        16
      ]
    },
    {
      "id": "f1b9f692-6edb-4f41-9c28-6c1a4df9334f",
      "name": "Preparar XP Diário",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        432
      ],
      "parameters": {
        "jsCode": "const entrada = $json || {};\nconst usuarioId = entrada.usuario_id;\nconst diasNovos = entrada.dias_novos || 0;\nconst xpBase = entrada.xp_base_increment || entrada.xp_base_diario || 0;\nif (!usuarioId || !diasNovos || !xpBase) {\n  return [];\n}\nconst detalhesOrigem = Array.isArray(entrada.dias_novos_detalhes) ? entrada.dias_novos_detalhes : [];\nconst ocorrencias = detalhesOrigem.map((item) => ({\n  dia: item && item.dia ? item.dia : null,\n  conversa_id: item && (item.conversa_id || item.id) ? (item.conversa_id || item.id) : null,\n  data_conversa: item && item.data_conversa ? item.data_conversa : (item && item.dia ? item.dia : null),\n}));\nreturn [{\n  json: {\n    usuario_id: usuarioId,\n    meta_codigo: 'conversa_diaria',\n    meta_titulo: 'Conversa diária',\n    xp_base_increment: xpBase,\n    recorrencia_increment: diasNovos,\n    ocorrencias,\n  },\n}];"
      },
      "disabled": false
    },
    {
      "id": "ae2c598c-4a25-4b0f-8a19-0b6436b2662a",
      "name": "Registrar XP Diário",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        432
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH payload AS (\n  SELECT\n    $1::uuid AS usuario_id,\n    $2::text AS meta_codigo,\n    $3::text AS meta_titulo,\n    $4::int AS xp_base_increment,\n    $5::jsonb AS ocorrencias,\n    $6::int AS recorrencia_increment\n),\natualizado AS (\n  UPDATE public.conquistas_historico ch\n  SET\n    xp_base = COALESCE(ch.xp_base, 0) + payload.xp_base_increment,\n    detalhes = jsonb_set(\n      jsonb_set(\n        COALESCE(ch.detalhes, '{}'::jsonb),\n        '{recorrencia_total}',\n        to_jsonb(COALESCE((ch.detalhes->>'recorrencia_total')::int, 0) + payload.recorrencia_increment)\n      ),\n      '{ocorrencias}',\n      (COALESCE(ch.detalhes->'ocorrencias', '[]'::jsonb) || payload.ocorrencias)\n    ),\n    registrado_em = NOW()\n  FROM payload\n  WHERE ch.usuario_id = payload.usuario_id\n    AND ch.meta_codigo = payload.meta_codigo\n  RETURNING ch.id\n)\nINSERT INTO public.conquistas_historico (\n  usuario_id,\n  tipo,\n  meta_codigo,\n  meta_titulo,\n  xp_base,\n  xp_bonus,\n  nivel_anterior,\n  nivel_novo,\n  detalhes\n)\nSELECT\n  payload.usuario_id,\n  'conversa',\n  payload.meta_codigo,\n  payload.meta_titulo,\n  payload.xp_base_increment,\n  0,\n  NULL,\n  NULL,\n  jsonb_build_object(\n    'recorrencia_total', payload.recorrencia_increment,\n    'ocorrencias', payload.ocorrencias\n  )\nFROM payload\nWHERE NOT EXISTS (SELECT 1 FROM atualizado);",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id, $json.meta_codigo, $json.meta_titulo, $json.xp_base_increment || 0, JSON.stringify($json.ocorrencias || []), $json.recorrencia_increment || 0] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      },
      "disabled": false
    },
    {
      "id": "d3b3e3c4-2dd2-4c6f-8e32-63cf0c9196c9",
      "name": "Preparar Conquistas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        592
      ],
      "parameters": {
        "jsCode": "const entrada = $json || {};\nconst usuarioId = entrada.usuario_id;\nif (!usuarioId) {\n  return [];\n}\nconst conquistas = [];\nif (entrada.primeira_conversa_desbloqueada) {\n  conquistas.push({\n    usuario_id: usuarioId,\n    meta_codigo: 'primeira_conversa',\n    meta_titulo: 'Primeira conversa',\n    xp_base: 0,\n    xp_bonus: entrada.xp_bonus_primeira || 75,\n    detalhes: {\n      desbloqueada_em: entrada.ultima_conversa_em || new Date().toISOString(),\n    },\n  });\n}\nconst eventos = Array.isArray(entrada.streaks_conquistas) ? entrada.streaks_conquistas : [];\nfor (const evento of eventos) {\n  if (!evento || !evento.meta_codigo) continue;\n  conquistas.push({\n    usuario_id: usuarioId,\n    meta_codigo: evento.meta_codigo,\n    meta_titulo: evento.meta_titulo || evento.meta_codigo,\n    xp_base: 0,\n    xp_bonus: evento.xp_bonus || 0,\n    detalhes: {\n      completado_em: evento.completado_em || null,\n      dias: evento.dias || null,\n    },\n  });\n}\nreturn conquistas.map((item) => ({ json: item }));"
      },
      "disabled": false
    },
    {
      "id": "8bf9af0d-42b7-44de-9a33-2599410c3c52",
      "name": "Registrar Conquistas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        592
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.conquistas_historico (\n  usuario_id,\n  tipo,\n  meta_codigo,\n  meta_titulo,\n  xp_base,\n  xp_bonus,\n  nivel_anterior,\n  nivel_novo,\n  detalhes\n)\nVALUES (\n  $1::uuid,\n  'conversa',\n  $2::text,\n  $3::text,\n  $4::int,\n  $5::int,\n  NULL,\n  NULL,\n  COALESCE($6::jsonb, '{}'::jsonb)\n);",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id, $json.meta_codigo, $json.meta_titulo, $json.xp_base || 0, $json.xp_bonus || 0, JSON.stringify($json.detalhes || {})] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      },
      "disabled": false
    }
  ],
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "Validar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Entrada": {
      "main": [
        [
          {
            "node": "Buscar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Estado": {
      "main": [
        [
          {
            "node": "Checar Necessidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas": {
      "main": [
        [
          {
            "node": "Calcular XP Conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular XP Conversas": {
      "main": [
        [
          {
            "node": "Zerar Sequência se Gap",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar XP Diário",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Conquistas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Estado": {
      "main": [
        [
          {
            "node": "Atualizar Jornada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Jornada": {
      "main": [
        [
          {
            "node": "Retornar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zerar Sequência se Gap": {
      "main": [
        [
          {
            "node": "Atualizar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar Necessidade": {
      "main": [
        [
          {
            "node": "Precisa Recalcular?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precisa Recalcular?": {
      "main": [
        [
          {
            "node": "Buscar Conversas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retornar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar XP Diário": {
      "main": [
        [
          {
            "node": "Registrar XP Diário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Conquistas": {
      "main": [
        [
          {
            "node": "Registrar Conquistas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9727b75d-2106-49bc-aa9d-161bb41b544f",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-07T16:24:43.271Z",
      "role": "workflow:owner",
      "workflowId": "ItBastfCTkWxm41M",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
