backups/n8n/sw_xp_conversas.json
{
  "createdAt": "2025-12-12T20:21:50.690Z",
  "id": "W0i3ufnDIIcx75ez",
  "name": "sw_xp_conversas",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usuario_id"
            }
          ]
        }
      },
      "id": "2532c561-fe73-4f8d-b028-15c5328a48be",
      "name": "start",
      "position": [
        1520,
        240
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## XP Conversas v6.0\n\n### Regra\n- **10 XP por conversa/dia**\n\n### Fluxo\n1. Verifica se usuário existe\n2. Se NÃO existe → INSERT com 10 XP\n3. Se existe → verifica `ultima_conversa_em`\n4. Se já processou hoje → IGNORA\n5. Se não processou → UPDATE +10 XP\n\n### Resultados\n| Cenário | Retorno |\n|---------|--------|\n| Novo usuário | `criado` |\n| XP atualizado | `atualizado` |\n| Já processou | `ignorado` |\n\n### Input\n- `usuario_id` (obrigatório)"
      },
      "id": "e27a663a-a6de-486c-b707-7e96f81db215",
      "name": "Regras XP v5",
      "position": [
        704,
        48
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. Verificar se usuário existe e status\nWITH check_usuario AS (\n  SELECT \n    usuario_id,\n    xp_total,\n    conversas_concluidas,\n    DATE(ultima_conversa_em) = CURRENT_DATE AS ja_processou_hoje\n  FROM usuarios_conquistas\n  WHERE usuario_id = $1::uuid\n),\n\n-- 2. Criar se não existe (já com 10 XP)\ninserir_novo AS (\n  INSERT INTO usuarios_conquistas (\n    usuario_id, xp_total, xp_base, conversas_concluidas,\n    nivel_atual, titulo_nivel, xp_proximo_nivel,\n    ultima_conversa_em, atualizado_em\n  )\n  SELECT $1::uuid, 10, 10, 1, 1, 'Iniciante', 100, NOW(), NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM check_usuario)\n  RETURNING usuario_id, xp_total, conversas_concluidas, 'criado' AS resultado\n),\n\n-- 3. Atualizar se existe E não processou hoje\natualizar_xp AS (\n  UPDATE usuarios_conquistas uc\n  SET \n    xp_total = uc.xp_total + 10,\n    xp_base = uc.xp_base + 10,\n    conversas_concluidas = uc.conversas_concluidas + 1,\n    ultima_conversa_em = NOW(),\n    atualizado_em = NOW()\n  FROM check_usuario c\n  WHERE uc.usuario_id = $1::uuid\n    AND c.ja_processou_hoje = false\n  RETURNING uc.usuario_id, uc.xp_total, uc.conversas_concluidas, 'atualizado' AS resultado\n),\n\n-- 4. Retornar dados atuais se já processou hoje (ignorado)\nignorado AS (\n  SELECT \n    usuario_id, \n    xp_total, \n    conversas_concluidas, \n    'ignorado' AS resultado\n  FROM check_usuario\n  WHERE ja_processou_hoje = true\n    AND NOT EXISTS (SELECT 1 FROM inserir_novo)\n    AND NOT EXISTS (SELECT 1 FROM atualizar_xp)\n)\n\n-- Resultado final (sempre retorna algo)\nSELECT * FROM inserir_novo\nUNION ALL\nSELECT * FROM atualizar_xp\nUNION ALL\nSELECT * FROM ignorado;",
        "options": {
          "queryReplacement": "={{ [$json.usuario_id] }}"
        }
      },
      "id": "197e51da-38e4-4436-b3d6-c23f42b0fb47",
      "maxTries": 3,
      "name": "Processar XP",
      "position": [
        1712,
        240
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Resultado padronizado (sempre mesmo formato)\nconst result = $input.first().json;\n\nreturn [{\n  json: {\n    usuario_id: result.usuario_id,\n    resultado: result.resultado, // 'criado', 'atualizado' ou 'ignorado'\n    xp_ganho: result.resultado === 'ignorado' ? 0 : 10,\n    xp_total: result.xp_total,\n    conversas_concluidas: result.conversas_concluidas\n  }\n}];"
      },
      "id": "d6c51adc-1ae6-494e-b434-1adc87393574",
      "name": "Resultado",
      "position": [
        1920,
        240
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "Processar XP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar XP": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "start": [
      {
        "json": {
          "usuario_id": "d949d81c-9235-41ce-8b3b-6b5d593c5e24"
        }
      }
    ]
  },
  "activeVersionId": null,
  "shared": [
    {
      "createdAt": "2025-12-12T20:21:50.690Z",
      "role": "workflow:owner",
      "workflowId": "W0i3ufnDIIcx75ez",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
