backups/n8n/valida_xp_conversa.json
{
  "createdAt": "2025-11-09T16:41:11.013Z",
  "id": "W0jsh3lHv2MXIIZ4",
  "name": "valida_xp_conversa",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH sequencia_calc AS (\n  SELECT\n    q.usuario_id,\n    q.sequencia_atual,\n    q.sequencia_recorde,\n    q.meta_sequencia_codigo,\n    q.proxima_meta_codigo,\n    q.ultima_conversa_em,\n    lc.ultima_conversa_real,\n    CASE\n      WHEN q.sequencia_atual >= 30 THEN 'streak_030'\n      WHEN q.sequencia_atual >= 25 THEN 'streak_025'\n      WHEN q.sequencia_atual >= 20 THEN 'streak_020'\n      WHEN q.sequencia_atual >= 15 THEN 'streak_015'\n      WHEN q.sequencia_atual >= 10 THEN 'streak_010'\n      WHEN q.sequencia_atual >= 7 THEN 'streak_007'\n      WHEN q.sequencia_atual >= 5 THEN 'streak_005'\n      WHEN q.sequencia_atual >= 3 THEN 'streak_003'\n      ELSE 'streak_003'\n    END AS expected_meta,\n    CASE\n      WHEN q.sequencia_atual < 3 THEN 'streak_003'\n      WHEN q.sequencia_atual < 5 THEN 'streak_005'\n      WHEN q.sequencia_atual < 7 THEN 'streak_007'\n      WHEN q.sequencia_atual < 10 THEN 'streak_010'\n      WHEN q.sequencia_atual < 15 THEN 'streak_015'\n      WHEN q.sequencia_atual < 20 THEN 'streak_020'\n      WHEN q.sequencia_atual < 25 THEN 'streak_025'\n      WHEN q.sequencia_atual < 30 THEN 'streak_030'\n      ELSE 'streak_030'\n    END AS expected_next\n  FROM public.quest_estado_usuario q\n  LEFT JOIN (\n    SELECT usuario_id, MAX(data_conversa) AS ultima_conversa_real\n    FROM public.usr_chat\n    GROUP BY usuario_id\n  ) lc ON lc.usuario_id = q.usuario_id\n),\navaliado AS (\n  SELECT\n    sc.*,\n    array_remove(ARRAY[\n      CASE WHEN sc.sequencia_recorde < sc.sequencia_atual THEN 'recorde_menor_que_atual' END,\n      CASE WHEN sc.meta_sequencia_codigo IS DISTINCT FROM sc.expected_meta THEN 'meta_sequencia_incorreta' END,\n      CASE WHEN sc.proxima_meta_codigo IS DISTINCT FROM sc.expected_next THEN 'proxima_meta_incorreta' END,\n      CASE WHEN sc.ultima_conversa_real IS NOT NULL AND sc.ultima_conversa_em IS DISTINCT FROM sc.ultima_conversa_real THEN 'ultima_conversa_desatualizada' END\n    ], NULL) AS problemas\n  FROM sequencia_calc sc\n)\nSELECT\n  usuario_id,\n  problemas,\n  jsonb_build_object(\n    'sequencia_atual', sequencia_atual,\n    'sequencia_recorde', sequencia_recorde,\n    'meta_sequencia_codigo', meta_sequencia_codigo,\n    'expected_meta', expected_meta,\n    'proxima_meta_codigo', proxima_meta_codigo,\n    'expected_proxima', expected_next,\n    'ultima_conversa_em', ultima_conversa_em,\n    'ultima_conversa_real', ultima_conversa_real\n  ) AS contexto\nFROM avaliado\nWHERE array_length(problemas, 1) > 0;",
        "options": {}
      },
      "id": "2",
      "name": "Buscar Inconsistencias Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inconsistencias = $input.all().map(item => ({\n  usuario_id: item.json.usuario_id,\n  problemas: item.json.problemas,\n  contexto: item.json.contexto,\n}));\nreturn [{ json: { inconsistencias } }];"
      },
      "id": "3",
      "name": "Formatar Saida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        304
      ],
      "id": "5da1c0cf-7512-4a86-85e3-af1697b57547",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Buscar Inconsistencias Conversa": {
      "main": [
        [
          {
            "node": "Formatar Saida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Buscar Inconsistencias Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "shared": [
    {
      "createdAt": "2025-11-09T16:41:11.013Z",
      "role": "workflow:owner",
      "workflowId": "W0jsh3lHv2MXIIZ4",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
