backups/n8n/valida_xp_quest.json
{
  "createdAt": "2025-11-09T16:41:24.959Z",
  "id": "ON74wQBQEnISKafq",
  "name": "valida_xp_quest",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH concluidas AS (\n  SELECT\n    qi.id AS quest_instancia_id,\n    qi.usuario_id,\n    qi.modelo_id,\n    qm.config->>'recorrencia' AS recorrencia,\n    qi.xp_concedido,\n    qi.concluido_em,\n    ROW_NUMBER() OVER (\n      PARTITION BY qi.usuario_id, qi.modelo_id\n      ORDER BY qi.concluido_em NULLS LAST, qi.id\n    ) AS repeticao_idx\n  FROM public.quest_instancias qi\n  JOIN public.quest_modelos qm ON qm.id = qi.modelo_id\n  WHERE qi.status = 'concluida'\n),\navaliado AS (\n  SELECT\n    c.*,\n    CASE\n      WHEN COALESCE(c.recorrencia, 'unica') = 'recorrente'\n        THEN 150 + 30 * LEAST(21, c.repeticao_idx)\n      ELSE 150\n    END AS xp_esperado\n  FROM concluidas c\n)\nSELECT\n  usuario_id,\n  quest_instancia_id,\n  modelo_id,\n  recorrencia,\n  repeticao_idx,\n  xp_concedido,\n  xp_esperado,\n  CASE\n    WHEN xp_concedido IS NULL THEN 'xp_concedido_nulo'\n    WHEN xp_concedido <> xp_esperado THEN 'xp_incorreto'\n  END AS problema\nFROM avaliado\nWHERE xp_concedido IS DISTINCT FROM xp_esperado;",
        "options": {}
      },
      "id": "2",
      "name": "Buscar Inconsistencias Quest",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inconsistencias = $input.all().map(item => ({\n  usuario_id: item.json.usuario_id,\n  quest_instancia_id: item.json.quest_instancia_id,\n  modelo_id: item.json.modelo_id,\n  recorrencia: item.json.recorrencia,\n  repeticao_idx: item.json.repeticao_idx,\n  xp_concedido: item.json.xp_concedido,\n  xp_esperado: item.json.xp_esperado,\n  problema: item.json.problema,\n}));\nreturn [{ json: { inconsistencias } }];"
      },
      "id": "3",
      "name": "Formatar Saida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        224,
        304
      ],
      "id": "e360eb23-b2bd-4034-835b-a34017f7c637",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Buscar Inconsistencias Quest": {
      "main": [
        [
          {
            "node": "Formatar Saida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Buscar Inconsistencias Quest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "shared": [
    {
      "createdAt": "2025-11-09T16:41:24.959Z",
      "role": "workflow:owner",
      "workflowId": "ON74wQBQEnISKafq",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
