backups/n8n/webhook_anotacoes.json
{
  "createdAt": "2025-12-04T06:55:24.357Z",
  "id": "X96zV1QdYbn865XD",
  "name": "webhook_anotacoes",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "anotacoes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        208
      ],
      "webhookId": "783a6f9f-5e50-478f-97d9-8378e5b0d06a",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// No n8n webhook POST com Content-Type: application/json, o body vem parseado em input.json.body\nconst input = $input.first().json;\n\n// Body parseado automaticamente pelo n8n\nconst body = input.body || {};\nconst query = input.query || {};\n\n// Buscar valores (prioridade: body > query)\nconst tipoRaw = body.tipo || query.tipo || null;\nconst idRaw = body.id || query.id || null;\nconst anotacaoRaw = body.anotacao !== undefined ? body.anotacao : (query.anotacao !== undefined ? query.anotacao : null);\nconst usuarioIdRaw = body.usuario_id || body.user_id || query.usuario_id || query.user_id || null;\n\nconst tipo = tipoRaw ? String(tipoRaw).toLowerCase().trim() : '';\nconst id = idRaw ? String(idRaw).trim() : null;\nconst anotacao = anotacaoRaw !== null && anotacaoRaw !== undefined ? String(anotacaoRaw).trim() : null;\nconst usuarioId = usuarioIdRaw ? String(usuarioIdRaw).trim() : null;\n\nif (!tipo || !['conversa', 'quest'].includes(tipo)) {\n  throw new Error('tipo deve ser \"conversa\" ou \"quest\". Recebido: ' + JSON.stringify({ tipo: tipo, body: body, query: query }));\n}\n\nif (!id) {\n  throw new Error('id é obrigatório. Recebido: ' + JSON.stringify({ id: id, body: body, query: query }));\n}\n\nif (!usuarioId) {\n  throw new Error('usuario_id é obrigatório. Recebido: ' + JSON.stringify({ usuario_id: usuarioId, body: body, query: query }));\n}\n\nreturn [{\n  json: {\n    tipo: tipo,\n    id: id,\n    anotacao: anotacao,\n    usuario_id: usuarioId\n  }\n}];"
      },
      "id": "validar",
      "name": "Validar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.usr_chat\nSET anotacoes_usr = $2::text,\n    atualizado_em = NOW()\nWHERE id = $1::uuid\n  AND usuario_id = $3::uuid\n  AND $4::text = 'conversa'\nRETURNING id, anotacoes_usr, atualizado_em;",
        "options": {
          "queryReplacement": "={{ [$json.id, $json.anotacao, $json.usuario_id, $json.tipo] }}"
        }
      },
      "id": "atualizar_conversa",
      "name": "Atualizar Anotação Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.quests_recorrencias\nSET anotacoes_quest = $2::text,\n    atualizado_em = NOW()\nWHERE id = $1::uuid\n  AND EXISTS (\n    SELECT 1 FROM public.usuarios_quest uq\n    WHERE uq.id = quests_recorrencias.usuarios_quest_id\n      AND uq.usuario_id = $3::uuid\n  )\n  AND $4::text = 'quest'\nRETURNING id, anotacoes_quest, atualizado_em;",
        "options": {
          "queryReplacement": "={{ [$json.id, $json.anotacao, $json.usuario_id, $json.tipo] }}"
        }
      },
      "id": "atualizar_quest",
      "name": "Atualizar Anotação Quest",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// O nó recebe input de ambos nós Postgres (conversa e quest)\n// Como ambos conectam aqui, ele executa 2 vezes\n// Usar $input.first() que terá o resultado do nó que foi executado\nconst resultado = $input.first()?.json;\nconst validacao = $('Validar Entrada').first()?.json;\n\n// Se não tem id no resultado, provavelmente veio do nó que não atualizou nada\n// Retornar resposta vazia que será ignorada (o primeiro nó já respondeu)\nif (!resultado || !resultado.id) {\n  return [{ json: { _skip: true } }];\n}\n\nconst tipo = validacao?.tipo || 'quest';\nconst id = validacao?.id || resultado.id;\n\nreturn [{\n  json: {\n    success: true,\n    tipo: tipo,\n    id: id,\n    anotacao: resultado.anotacoes_usr || resultado.anotacoes_quest || null,\n    atualizado_em: resultado.atualizado_em || new Date().toISOString()\n  }\n}];"
      },
      "id": "formatar_resposta",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        208
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "responder",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        208
      ]
    },
    {
      "id": "webhook-get",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        500
      ],
      "parameters": {
        "path": "anotacoes",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "validar-get",
      "name": "Validar Params GET",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        500
      ],
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nconst tipo = (query.tipo || '').toLowerCase().trim();\nconst id = query.id || query.conversa_id || query.quest_id || null;\nconst user_id = query.user_id || query.usuario_id || null;\n\nif (!tipo || !['conversa', 'quest'].includes(tipo)) {\n  throw new Error('tipo deve ser \"conversa\" ou \"quest\"');\n}\n\nif (!id) {\n  throw new Error('id é obrigatório');\n}\n\nif (!user_id) {\n  throw new Error('user_id é obrigatório');\n}\n\nreturn [{ json: { tipo, id, user_id } }];"
      }
    },
    {
      "id": "buscar-anotacao-conversa",
      "name": "Buscar Anotação Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, anotacoes_usr as anotacao, atualizado_em\nFROM public.usr_chat\nWHERE id = $1::uuid\n  AND usuario_id = $2::uuid\n  AND $3::text = 'conversa'\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.id, $json.user_id, $json.tipo] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "buscar-anotacao-quest",
      "name": "Buscar Anotação Quest",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        600
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT qr.id, qr.anotacoes_quest as anotacao, qr.atualizado_em\nFROM public.quests_recorrencias qr\nINNER JOIN public.usuarios_quest uq ON uq.id = qr.usuarios_quest_id\nWHERE qr.id = $1::uuid\n  AND uq.usuario_id = $2::uuid\n  AND $3::text = 'quest'\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.id, $json.user_id, $json.tipo] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "montar-resposta-get",
      "name": "Montar Resposta GET",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        500
      ],
      "parameters": {
        "jsCode": "const resultado = $input.first()?.json;\nconst validacao = $('Validar Params GET').first()?.json;\n\nreturn [{\n  json: {\n    success: true,\n    tipo: validacao?.tipo || 'conversa',\n    id: validacao?.id || resultado?.id,\n    anotacao: resultado?.anotacao || null,\n    atualizado_em: resultado?.atualizado_em || null\n  }\n}];"
      }
    },
    {
      "id": "responder-get",
      "name": "Responder GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        416,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Entrada": {
      "main": [
        [
          {
            "node": "Atualizar Anotação Conversa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualizar Anotação Quest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Anotação Conversa": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Anotação Quest": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook GET": {
      "main": [
        [
          {
            "node": "Validar Params GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Params GET": {
      "main": [
        [
          {
            "node": "Buscar Anotação Conversa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Anotação Quest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Anotação Conversa": {
      "main": [
        [
          {
            "node": "Montar Resposta GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Anotação Quest": {
      "main": [
        [
          {
            "node": "Montar Resposta GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Resposta GET": {
      "main": [
        [
          {
            "node": "Responder GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "shared": [
    {
      "createdAt": "2025-12-04T06:55:24.357Z",
      "role": "workflow:owner",
      "workflowId": "X96zV1QdYbn865XD",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
