backups/n8n/webhook_objetivos.json
{
  "createdAt": "2025-11-28T21:18:02.550Z",
  "id": "t2V2FjqurbcnvMvh",
  "name": "webhook_objetivos",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "objetivos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        304
      ],
      "webhookId": "76f2286f-9b5e-4350-87d6-0a8864121c17"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.first().json || {};\nconst query = webhookData.query || {};\nconst user_id = query.user_id || query.userId || null;\n\nif (!user_id) {\n  throw new Error('user_id obrigat처rio');\n}\n\nreturn [{ json: { user_id: user_id } }];"
      },
      "id": "validar-get",
      "name": "Validar Params GET",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    u.id as user_id,\n    COALESCE(u.objetivo, NULL) as objetivo\nFROM usuarios u\nWHERE u.id = $1::uuid\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.user_id] }}"
        }
      },
      "id": "buscar-objetivo",
      "name": "Buscar Objetivo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first()?.json || {};\n\n// Verificar se objetivo n찾o foi encontrado\nif (!item || Object.keys(item).length === 0 || !item.user_id) {\n  return [{\n    json: {\n      success: false,\n      error: 'Objetivo n찾o encontrado'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    objetivo: item.objetivo || null\n  }\n}];"
      },
      "id": "montar-resposta-get",
      "name": "Montar Resposta GET",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "responder-get",
      "name": "Responder GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        400,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst user_id = body.user_id || body.usuario_id || null;\n\nif (!user_id) {\n  throw new Error('user_id obrigat처rio');\n}\n\nconst dados = {\n  user_id: user_id,\n  objetivo: body.objetivo || null\n};\n\nreturn [{ json: dados }];"
      },
      "id": "validar-post",
      "name": "Validar Params POST",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE usuarios\nSET \n    objetivo = COALESCE($2, objetivo),\n    atualizado_em = CURRENT_TIMESTAMP\nWHERE id = $1::uuid\nRETURNING \n    id as user_id,\n    COALESCE(objetivo, NULL) as objetivo;",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.objetivo] }}"
        }
      },
      "id": "atualizar-objetivo",
      "name": "Atualizar Objetivo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        512
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first()?.json || {};\n\nif (!item || !item.user_id) {\n  return [{\n    json: {\n      success: false,\n      error: 'Erro ao atualizar objetivo'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    objetivo: item.objetivo || null\n  }\n}];"
      },
      "id": "montar-resposta-post",
      "name": "Montar Resposta POST",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        512
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "responder-post",
      "name": "Responder POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        400,
        512
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "objetivos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "69b784a7-708b-4b06-a24e-eca8c5686a77",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        512
      ],
      "webhookId": "76f2286f-9b5e-4350-87d6-0a8864121c17"
    }
  ],
  "connections": {
    "Webhook GET": {
      "main": [
        [
          {
            "node": "Validar Params GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Params GET": {
      "main": [
        [
          {
            "node": "Buscar Objetivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Objetivo": {
      "main": [
        [
          {
            "node": "Montar Resposta GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Resposta GET": {
      "main": [
        [
          {
            "node": "Responder GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Params POST": {
      "main": [
        [
          {
            "node": "Atualizar Objetivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Objetivo": {
      "main": [
        [
          {
            "node": "Montar Resposta POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Resposta POST": {
      "main": [
        [
          {
            "node": "Responder POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Validar Params POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ee7df758-5c1a-4355-be4e-4b5e3ae5e25f",
  "versionCounter": 46,
  "triggerCount": 2,
  "shared": [
    {
      "createdAt": "2025-11-28T21:18:02.550Z",
      "role": "workflow:owner",
      "workflowId": "t2V2FjqurbcnvMvh",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
