backups/n8n/webhook_concluir_quest.json
{
  "createdAt": "2025-11-19T11:51:06.793Z",
  "id": "YF4CyvHY0BbLWNwC",
  "name": "webhook_concluir_quest",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "concluir-quest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node_webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1200,
        0
      ],
      "webhookId": "fb885634-496c-466f-b897-d2b75db029c7",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json ?? {};\nconst query = input.query ?? {};\n\nconst usuarioId = [query.usuario_id, query.user_id, query.usuarioId, query.userId].find((value) => typeof value === 'string' && value.trim().length > 0);\nconst questId = query.quest_id ?? query.questId ?? query.instancia_id;\n\nif (!usuarioId) {\n  throw new Error('usuario_id obrigatório');\n}\nif (!questId || typeof questId !== 'string' || questId.trim().length === 0) {\n  throw new Error('quest_id obrigatório');\n}\n\nreturn [{\n  json: {\n    usuario_id: usuarioId.trim(),\n    quest_id: questId.trim(),\n    fonte: typeof query.fonte === 'string' ? query.fonte.trim() || 'app_v1.3' : 'app_v1.3',\n    comentario: typeof query.comentario === 'string' ? query.comentario.trim() || null : null,\n  }\n}];"
      },
      "id": "node_validate",
      "name": "Normalizar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.usuarios_quest\nSET\n  status = 'concluida',\n  progresso_atual = progresso_meta,\n  progresso_percentual = 100,\n  concluido_em = CURRENT_TIMESTAMP,\n  atualizado_em = CURRENT_TIMESTAMP\nWHERE id = $1::uuid\n  AND usuario_id = $2::uuid\n  AND status = 'ativa'\nRETURNING\n  id AS quest_id,\n  usuario_id,\n  status,\n  progresso_meta,\n  progresso_atual,\n  progresso_percentual,\n  xp_concedido,\n  concluido_em,\n  atualizado_em;",
        "options": {
          "queryReplacement": "={{ [$json.quest_id, $json.usuario_id] }}"
        }
      },
      "id": "node_update_status",
      "name": "Atualizar Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -720,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_mindquest",
          "name": "Postgres - MindQuest"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first()?.json ?? {};\n\nif (!item.quest_id) {\n  throw new Error('Quest não encontrada ou já concluída');\n}\n\nreturn [{\n  json: {\n    usuario_id: item.usuario_id,\n    quest_id: item.quest_id,\n    status: item.status\n  }\n}];"
      },
      "id": "node_check_update",
      "name": "Validar Atualização",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bTeLj5qOKQo9PDMO",
          "mode": "list",
          "cachedResultUrl": "/workflow/bTeLj5qOKQo9PDMO",
          "cachedResultName": "sw_xp_quest"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $json.usuario_id }}",
            "quests_personalizadas": "[]",
            "atualizacoes_status": "[]"
          },
          "matchingColumns": [
            "usuario_id"
          ],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "quests_personalizadas",
              "displayName": "quests_personalizadas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            },
            {
              "id": "atualizacoes_status",
              "displayName": "atualizacoes_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "node_call_xp_quest",
      "name": "Calcular XP Quest",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -240,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  uq.id AS quest_id,\n  uq.usuario_id,\n  uq.status,\n  uq.progresso_meta,\n  uq.progresso_atual,\n  uq.progresso_percentual,\n  uq.xp_concedido,\n  uq.config,\n  uq.referencia_data,\n  uq.contexto_origem,\n  uq.concluido_em,\n  uq.atualizado_em,\n  uc.xp_total,\n  uc.xp_base,\n  uc.xp_bonus,\n  uc.total_quests_concluidas,\n  uc.total_quests_personalizadas\nFROM public.usuarios_quest uq\nLEFT JOIN public.usuarios_conquistas uc ON uc.usuario_id = uq.usuario_id\nWHERE uq.id = $1::uuid\n  AND uq.usuario_id = $2::uuid\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$('Validar Atualização').item.json.quest_id, $('Validar Atualização').item.json.usuario_id] }}"
        }
      },
      "id": "node_fetch_final",
      "name": "Buscar Quest Final",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_mindquest",
          "name": "Postgres - MindQuest"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first()?.json ?? {};\n\nreturn [{\n  json: {\n    success: true,\n    quest_id: item.quest_id,\n    usuario_id: item.usuario_id,\n    status: item.status,\n    xp_adicionado: item.xp_concedido || 0,\n    xp_base: item.xp_base || 0,\n    xp_bonus: item.xp_bonus || 0,\n    total_quests_concluidas: item.total_quests_concluidas || 0,\n    total_quests_personalizadas: item.total_quests_personalizadas || 0,\n    quest: {\n      id: item.quest_id,\n      status: item.status,\n      progresso_meta: item.progresso_meta,\n      progresso_atual: item.progresso_atual,\n      progresso_percentual: item.progresso_percentual,\n      xp_concedido: item.xp_concedido,\n      config: item.config,\n      concluido_em: item.concluido_em,\n      atualizado_em: item.atualizado_em\n    }\n  }\n}];"
      },
      "id": "node_format_response",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "node_respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalizar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Entrada": {
      "main": [
        [
          {
            "node": "Atualizar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Status": {
      "main": [
        [
          {
            "node": "Validar Atualização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Atualização": {
      "main": [
        [
          {
            "node": "Calcular XP Quest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular XP Quest": {
      "main": [
        [
          {
            "node": "Buscar Quest Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Quest Final": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-19T18:30:00.000Z",
  "versionId": "v1.3"
}
