backups/n8n/webhook_progresso_semanal.json
{
  "createdAt": "2025-11-17T11:31:57.209Z",
  "id": "gMb1UwtmEh5pkfxR",
  "name": "webhook_progresso_semanal",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "progresso-semanal",
        "responseMode": "responseNode",
        "options": {
          "onError": "continueRegularOutput"
        }
      },
      "id": "8b489dfa-521d-4922-9d91-f56b5604e3c9",
      "name": "Webhook Card Weekly Progress",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        272
      ],
      "webhookId": "645b50c5-e7dd-4b62-bf6f-1f83b681fb6f"
    },
    {
      "parameters": {
        "jsCode": "const userId = $json.query?.user_id ?? $json.body?.user_id;\n\nif (typeof userId !== 'string' || userId.trim() === '') {\n  throw new Error('Parâmetro user_id é obrigatório (?user_id=).');\n}\n\nreturn [{ json: { user_id: userId.trim() } }];"
      },
      "id": "144c11ea-f944-4b0c-9335-366f95cf091d",
      "name": "Validar Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        272
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- v2.0.0: Conversas baseadas em usr_chat (não mais quests_recorrencias)\nWITH params AS (\n  SELECT\n    $1::uuid AS usuario_id,\n    (CURRENT_DATE - INTERVAL '1 day' * (EXTRACT(ISODOW FROM CURRENT_DATE)::integer - 1))::date AS semana_inicio\n),\nlimites AS (\n  SELECT\n    usuario_id,\n    semana_inicio,\n    semana_inicio + 6 AS semana_fim\n  FROM params\n),\ndias AS (\n  SELECT\n    l.usuario_id,\n    generate_series(l.semana_inicio, l.semana_fim, INTERVAL '1 day')::date AS data\n  FROM limites l\n),\n-- CONVERSAS: buscar diretamente em usr_chat (NOVA LÓGICA)\nconversas_reais AS (\n  SELECT\n    uc.usuario_id,\n    uc.data_conversa AS data,\n    COUNT(*) AS total_conversas,\n    10 AS xp_conversa -- XP fixo por conversa realizada\n  FROM public.usr_chat uc\n  JOIN limites l ON l.usuario_id = uc.usuario_id\n  WHERE uc.data_conversa BETWEEN l.semana_inicio AND l.semana_fim\n    AND uc.status IN ('completa', 'processada', 'finalizado')\n  GROUP BY uc.usuario_id, uc.data_conversa\n),\n-- Meta de conversa por dia (sempre 10 XP)\nmeta_conversa AS (\n  SELECT\n    l.usuario_id,\n    10 AS pontos_por_dia\n  FROM limites l\n),\n-- QUESTS: apenas micro-ações (EXCLUINDO reflexao_diaria)\nquests_planejadas AS (\n  SELECT\n    qr.usuarios_quest_id AS quest_id,\n    uq.usuario_id,\n    qr.data_planejada AS data,\n    COALESCE(qr.xp_base, 10) AS xp_previsto,\n    qr.status\n  FROM public.quests_recorrencias qr\n  JOIN public.usuarios_quest uq ON uq.id = qr.usuarios_quest_id\n  JOIN limites l ON l.usuario_id = uq.usuario_id\n  LEFT JOIN public.quests_catalogo qc ON qc.id = uq.catalogo_id\n  WHERE (qc.codigo IS NULL OR qc.codigo != 'reflexao_diaria')\n    AND qr.data_planejada BETWEEN l.semana_inicio AND l.semana_fim\n    AND uq.status IN ('disponivel', 'ativa')\n),\n-- Meta de quests por dia\nmeta_quest_diaria AS (\n  SELECT\n    usuario_id,\n    data,\n    COALESCE(SUM(xp_previsto), 0) AS meta_quests\n  FROM quests_planejadas\n  GROUP BY usuario_id, data\n),\n-- Quantidade de quests previstas por dia\nqtd_quests_previstas AS (\n  SELECT\n    usuario_id,\n    data,\n    COUNT(DISTINCT quest_id) AS qtd_quests_previstas\n  FROM quests_planejadas\n  GROUP BY usuario_id, data\n),\n-- Quantidade de quests concluídas por dia\nqtd_quests_concluidas AS (\n  SELECT\n    usuario_id,\n    data,\n    COUNT(DISTINCT quest_id) FILTER (WHERE status = 'concluida') AS qtd_quests_concluidas\n  FROM quests_planejadas\n  GROUP BY usuario_id, data\n),\n-- Pontos de quests concluídas\npontos_quest AS (\n  SELECT\n    d.usuario_id,\n    d.data,\n    COALESCE(SUM(qp.xp_previsto) FILTER (WHERE qp.status = 'concluida'), 0) AS xp_base,\n    0 AS xp_bonus\n  FROM dias d\n  LEFT JOIN quests_planejadas qp ON qp.usuario_id = d.usuario_id AND qp.data = d.data\n  GROUP BY d.usuario_id, d.data\n),\n-- Resumo por dia\nresumo_dias AS (\n  SELECT\n    d.usuario_id,\n    d.data,\n    mc.pontos_por_dia AS meta_conversa,\n    COALESCE(mqd.meta_quests, 0) AS meta_quests,\n    mc.pontos_por_dia + COALESCE(mqd.meta_quests, 0) AS meta_total,\n    COALESCE(cr.xp_conversa, 0) AS xp_conversa,\n    pq.xp_base AS xp_quests,\n    pq.xp_bonus,\n    COALESCE(cr.xp_conversa, 0) + pq.xp_base AS xp_total,\n    COALESCE(qqp.qtd_quests_previstas, 0) AS qtd_quests_previstas,\n    COALESCE(qqc.qtd_quests_concluidas, 0) AS qtd_quests_concluidas,\n    CASE WHEN cr.total_conversas > 0 THEN true ELSE false END AS teve_conversa\n  FROM dias d\n  LEFT JOIN meta_conversa mc ON mc.usuario_id = d.usuario_id\n  LEFT JOIN conversas_reais cr ON cr.usuario_id = d.usuario_id AND cr.data = d.data\n  LEFT JOIN meta_quest_diaria mqd ON mqd.usuario_id = d.usuario_id AND mqd.data = d.data\n  LEFT JOIN qtd_quests_previstas qqp ON qqp.usuario_id = d.usuario_id AND qqp.data = d.data\n  LEFT JOIN qtd_quests_concluidas qqc ON qqc.usuario_id = d.usuario_id AND qqc.data = d.data\n  LEFT JOIN pontos_quest pq ON pq.usuario_id = d.usuario_id AND pq.data = d.data\n)\nSELECT\n  l.usuario_id,\n  l.semana_inicio,\n  l.semana_fim,\n  COALESCE(uc.sequencia_atual, 0) AS sequencia_atual,\n  COALESCE(SUM(r.xp_total), 0) AS xp_semana_total,\n  COALESCE(SUM(r.meta_total), 0) AS meta_semana_total,\n  COUNT(*) FILTER (WHERE r.teve_conversa = true) AS streak_dias,\n  COALESCE(SUM(r.qtd_quests_previstas), 0) AS qtd_quests_previstas_semana,\n  COALESCE(SUM(r.qtd_quests_concluidas), 0) AS qtd_quests_concluidas_semana,\n  json_agg(\n    json_build_object(\n      'data', r.data::text,\n      'label', CASE EXTRACT(ISODOW FROM r.data)\n                 WHEN 7 THEN 'Dom'\n                 WHEN 1 THEN 'Seg'\n                 WHEN 2 THEN 'Ter'\n                 WHEN 3 THEN 'Qua'\n                 WHEN 4 THEN 'Qui'\n                 WHEN 5 THEN 'Sex'\n                 WHEN 6 THEN 'Sáb'\n               END,\n      'totalXp', r.xp_total,\n      'xpBase', r.xp_total,\n      'xpBonus', r.xp_bonus,\n      'xpConversa', r.xp_conversa,\n      'xpQuests', r.xp_quests,\n      'metaDia', r.meta_total,\n      'metaConversa', r.meta_conversa,\n      'metaQuests', r.meta_quests,\n      'qtdQuestsPrevistas', r.qtd_quests_previstas,\n      'qtdQuestsConcluidas', r.qtd_quests_concluidas,\n      'teveConversa', r.teve_conversa\n    )\n    ORDER BY r.data\n  ) AS dias\nFROM limites l\nLEFT JOIN resumo_dias r ON r.usuario_id = l.usuario_id\nLEFT JOIN public.usuarios_conquistas uc ON uc.usuario_id = l.usuario_id\nGROUP BY l.usuario_id, l.semana_inicio, l.semana_fim, uc.sequencia_atual;",
        "options": {
          "queryReplacement": "={{ [$json.user_id] }}"
        }
      },
      "id": "fac825e6-4f51-46b9-82be-f26c45fcce40",
      "name": "Calcular Semana",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        272
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first()?.json || {};\nconst dias = Array.isArray(row.dias) ? row.dias : [];\n\nconst parsedDias = dias.map((dia) => {\n  const totalXp = Number(dia.totalXp ?? 0) || 0;\n  const metaDia = Number(dia.metaDia ?? 0) || 0;\n  const qtdPrevistas = Number(dia.qtdQuestsPrevistas ?? 0) || 0;\n  const qtdConcluidas = Number(dia.qtdQuestsConcluidas ?? 0) || 0;\n  \n  // Status baseado em quantidade de quests (não mais XP)\n  const status = qtdPrevistas > 0 && qtdConcluidas >= qtdPrevistas\n    ? 'concluido'\n    : qtdConcluidas > 0\n      ? 'parcial'\n      : 'pendente';\n\n  return {\n    data: dia.data ?? null,\n    label: dia.label ?? null,\n    totalXp,\n    xpBase: Number(dia.xpBase ?? 0) || 0,\n    xpBonus: Number(dia.xpBonus ?? 0) || 0,\n    xpConversa: Number(dia.xpConversa ?? 0) || 0,\n    xpQuests: Number(dia.xpQuests ?? 0) || 0,\n    metaDia,\n    metaConversa: Number(dia.metaConversa ?? 0) || 0,\n    metaQuests: Number(dia.metaQuests ?? 0) || 0,\n    qtdQuestsPrevistas: qtdPrevistas,\n    qtdQuestsConcluidas: qtdConcluidas,\n    status\n  };\n});\n\nconst xpSemanaTotal = Number(row.xp_semana_total ?? 0) || 0;\nconst xpMetaSemana = Number(row.meta_semana_total ?? 0) || undefined;\nconst percentualMeta = xpMetaSemana && xpMetaSemana > 0\n  ? Math.min(100, Math.round((xpSemanaTotal / xpMetaSemana) * 100))\n  : undefined;\n\n// Calcular dias concluídos baseado em quantidade de quests (não mais XP)\nconst diasConcluidos = parsedDias.filter((dia) => {\n  return dia.qtdQuestsPrevistas > 0 && dia.qtdQuestsConcluidas >= dia.qtdQuestsPrevistas;\n}).length;\n\nconst streakDias = Number(row.streak_dias ?? 0) || 0;\nconst qtdQuestsPrevistasSemana = Number(row.qtd_quests_previstas_semana ?? 0) || 0;\nconst qtdQuestsConcluidasSemana = Number(row.qtd_quests_concluidas_semana ?? 0) || 0;\n\nconst summary = {\n  usuarioId: row.usuario_id ?? null,\n  semanaInicio: row.semana_inicio ?? null,\n  semanaFim: row.semana_fim ?? null,\n  streakAtualDias: streakDias,\n  xpSemanaTotal,\n  xpMetaSemana,\n  qtdQuestsPrevistasSemana,\n  qtdQuestsConcluidasSemana,\n  dias: parsedDias\n};\n\nreturn [{\n  json: {\n    success: true,\n    usuario_id: summary.usuarioId,\n    card_weekly_progress: {\n      ...summary,\n      percentualMeta,\n      diasConcluidos\n    }\n  }\n}];"
      },
      "id": "f0d4b448-adc3-47d3-ad95-aa490829b7dd",
      "name": "Montar Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        272
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8b919da7-4737-4d81-a10f-a58858ebf92a",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        944,
        272
      ]
    }
  ],
  "connections": {
    "Webhook Card Weekly Progress": {
      "main": [
        [
          {
            "node": "Validar Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Params": {
      "main": [
        [
          {
            "node": "Calcular Semana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Semana": {
      "main": [
        [
          {
            "node": "Montar Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Card": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "activeVersionId": "8dbb0e40-3ba5-4c05-908a-f19820a37c64",
  "shared": [
    {
      "createdAt": "2025-11-17T11:31:57.209Z",
      "role": "workflow:owner",
      "workflowId": "gMb1UwtmEh5pkfxR",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "createdAt": "2025-12-23T18:36:10.512Z",
    "workflowId": "gMb1UwtmEh5pkfxR",
    "nodes": [
      {
        "parameters": {
          "path": "progresso-semanal",
          "responseMode": "responseNode",
          "options": {
            "onError": "continueRegularOutput"
          }
        },
        "id": "8b489dfa-521d-4922-9d91-f56b5604e3c9",
        "name": "Webhook Card Weekly Progress",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -48,
          272
        ],
        "webhookId": "645b50c5-e7dd-4b62-bf6f-1f83b681fb6f"
      },
      {
        "parameters": {
          "jsCode": "const userId = $json.query?.user_id ?? $json.body?.user_id;\n\nif (typeof userId !== 'string' || userId.trim() === '') {\n  throw new Error('Parâmetro user_id é obrigatório (?user_id=).');\n}\n\nreturn [{ json: { user_id: userId.trim() } }];"
        },
        "id": "144c11ea-f944-4b0c-9335-366f95cf091d",
        "name": "Validar Params",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          272
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- v2.0.0: Conversas baseadas em usr_chat (não mais quests_recorrencias)\nWITH params AS (\n  SELECT\n    $1::uuid AS usuario_id,\n    (CURRENT_DATE - INTERVAL '1 day' * (EXTRACT(ISODOW FROM CURRENT_DATE)::integer - 1))::date AS semana_inicio\n),\nlimites AS (\n  SELECT\n    usuario_id,\n    semana_inicio,\n    semana_inicio + 6 AS semana_fim\n  FROM params\n),\ndias AS (\n  SELECT\n    l.usuario_id,\n    generate_series(l.semana_inicio, l.semana_fim, INTERVAL '1 day')::date AS data\n  FROM limites l\n),\n-- CONVERSAS: buscar diretamente em usr_chat (NOVA LÓGICA)\nconversas_reais AS (\n  SELECT\n    uc.usuario_id,\n    uc.data_conversa AS data,\n    COUNT(*) AS total_conversas,\n    10 AS xp_conversa -- XP fixo por conversa realizada\n  FROM public.usr_chat uc\n  JOIN limites l ON l.usuario_id = uc.usuario_id\n  WHERE uc.data_conversa BETWEEN l.semana_inicio AND l.semana_fim\n    AND uc.status IN ('completa', 'processada', 'finalizado')\n  GROUP BY uc.usuario_id, uc.data_conversa\n),\n-- Meta de conversa por dia (sempre 10 XP)\nmeta_conversa AS (\n  SELECT\n    l.usuario_id,\n    10 AS pontos_por_dia\n  FROM limites l\n),\n-- QUESTS: apenas micro-ações (EXCLUINDO reflexao_diaria)\nquests_planejadas AS (\n  SELECT\n    qr.usuarios_quest_id AS quest_id,\n    uq.usuario_id,\n    qr.data_planejada AS data,\n    COALESCE(qr.xp_base, 10) AS xp_previsto,\n    qr.status\n  FROM public.quests_recorrencias qr\n  JOIN public.usuarios_quest uq ON uq.id = qr.usuarios_quest_id\n  JOIN limites l ON l.usuario_id = uq.usuario_id\n  LEFT JOIN public.quests_catalogo qc ON qc.id = uq.catalogo_id\n  WHERE (qc.codigo IS NULL OR qc.codigo != 'reflexao_diaria')\n    AND qr.data_planejada BETWEEN l.semana_inicio AND l.semana_fim\n    AND uq.status IN ('disponivel', 'ativa')\n),\n-- Meta de quests por dia\nmeta_quest_diaria AS (\n  SELECT\n    usuario_id,\n    data,\n    COALESCE(SUM(xp_previsto), 0) AS meta_quests\n  FROM quests_planejadas\n  GROUP BY usuario_id, data\n),\n-- Quantidade de quests previstas por dia\nqtd_quests_previstas AS (\n  SELECT\n    usuario_id,\n    data,\n    COUNT(DISTINCT quest_id) AS qtd_quests_previstas\n  FROM quests_planejadas\n  GROUP BY usuario_id, data\n),\n-- Quantidade de quests concluídas por dia\nqtd_quests_concluidas AS (\n  SELECT\n    usuario_id,\n    data,\n    COUNT(DISTINCT quest_id) FILTER (WHERE status = 'concluida') AS qtd_quests_concluidas\n  FROM quests_planejadas\n  GROUP BY usuario_id, data\n),\n-- Pontos de quests concluídas\npontos_quest AS (\n  SELECT\n    d.usuario_id,\n    d.data,\n    COALESCE(SUM(qp.xp_previsto) FILTER (WHERE qp.status = 'concluida'), 0) AS xp_base,\n    0 AS xp_bonus\n  FROM dias d\n  LEFT JOIN quests_planejadas qp ON qp.usuario_id = d.usuario_id AND qp.data = d.data\n  GROUP BY d.usuario_id, d.data\n),\n-- Resumo por dia\nresumo_dias AS (\n  SELECT\n    d.usuario_id,\n    d.data,\n    mc.pontos_por_dia AS meta_conversa,\n    COALESCE(mqd.meta_quests, 0) AS meta_quests,\n    mc.pontos_por_dia + COALESCE(mqd.meta_quests, 0) AS meta_total,\n    COALESCE(cr.xp_conversa, 0) AS xp_conversa,\n    pq.xp_base AS xp_quests,\n    pq.xp_bonus,\n    COALESCE(cr.xp_conversa, 0) + pq.xp_base AS xp_total,\n    COALESCE(qqp.qtd_quests_previstas, 0) AS qtd_quests_previstas,\n    COALESCE(qqc.qtd_quests_concluidas, 0) AS qtd_quests_concluidas,\n    CASE WHEN cr.total_conversas > 0 THEN true ELSE false END AS teve_conversa\n  FROM dias d\n  LEFT JOIN meta_conversa mc ON mc.usuario_id = d.usuario_id\n  LEFT JOIN conversas_reais cr ON cr.usuario_id = d.usuario_id AND cr.data = d.data\n  LEFT JOIN meta_quest_diaria mqd ON mqd.usuario_id = d.usuario_id AND mqd.data = d.data\n  LEFT JOIN qtd_quests_previstas qqp ON qqp.usuario_id = d.usuario_id AND qqp.data = d.data\n  LEFT JOIN qtd_quests_concluidas qqc ON qqc.usuario_id = d.usuario_id AND qqc.data = d.data\n  LEFT JOIN pontos_quest pq ON pq.usuario_id = d.usuario_id AND pq.data = d.data\n)\nSELECT\n  l.usuario_id,\n  l.semana_inicio,\n  l.semana_fim,\n  COALESCE(uc.sequencia_atual, 0) AS sequencia_atual,\n  COALESCE(SUM(r.xp_total), 0) AS xp_semana_total,\n  COALESCE(SUM(r.meta_total), 0) AS meta_semana_total,\n  COUNT(*) FILTER (WHERE r.teve_conversa = true) AS streak_dias,\n  COALESCE(SUM(r.qtd_quests_previstas), 0) AS qtd_quests_previstas_semana,\n  COALESCE(SUM(r.qtd_quests_concluidas), 0) AS qtd_quests_concluidas_semana,\n  json_agg(\n    json_build_object(\n      'data', r.data::text,\n      'label', CASE EXTRACT(ISODOW FROM r.data)\n                 WHEN 7 THEN 'Dom'\n                 WHEN 1 THEN 'Seg'\n                 WHEN 2 THEN 'Ter'\n                 WHEN 3 THEN 'Qua'\n                 WHEN 4 THEN 'Qui'\n                 WHEN 5 THEN 'Sex'\n                 WHEN 6 THEN 'Sáb'\n               END,\n      'totalXp', r.xp_total,\n      'xpBase', r.xp_total,\n      'xpBonus', r.xp_bonus,\n      'xpConversa', r.xp_conversa,\n      'xpQuests', r.xp_quests,\n      'metaDia', r.meta_total,\n      'metaConversa', r.meta_conversa,\n      'metaQuests', r.meta_quests,\n      'qtdQuestsPrevistas', r.qtd_quests_previstas,\n      'qtdQuestsConcluidas', r.qtd_quests_concluidas,\n      'teveConversa', r.teve_conversa\n    )\n    ORDER BY r.data\n  ) AS dias\nFROM limites l\nLEFT JOIN resumo_dias r ON r.usuario_id = l.usuario_id\nLEFT JOIN public.usuarios_conquistas uc ON uc.usuario_id = l.usuario_id\nGROUP BY l.usuario_id, l.semana_inicio, l.semana_fim, uc.sequencia_atual;",
          "options": {
            "queryReplacement": "={{ [$json.user_id] }}"
          }
        },
        "id": "fac825e6-4f51-46b9-82be-f26c45fcce40",
        "name": "Calcular Semana",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          464,
          272
        ],
        "credentials": {
          "postgres": {
            "id": "8ySWxtSO7gYK5uue",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const row = $input.first()?.json || {};\nconst dias = Array.isArray(row.dias) ? row.dias : [];\n\nconst parsedDias = dias.map((dia) => {\n  const totalXp = Number(dia.totalXp ?? 0) || 0;\n  const metaDia = Number(dia.metaDia ?? 0) || 0;\n  const qtdPrevistas = Number(dia.qtdQuestsPrevistas ?? 0) || 0;\n  const qtdConcluidas = Number(dia.qtdQuestsConcluidas ?? 0) || 0;\n  \n  // Status baseado em quantidade de quests (não mais XP)\n  const status = qtdPrevistas > 0 && qtdConcluidas >= qtdPrevistas\n    ? 'concluido'\n    : qtdConcluidas > 0\n      ? 'parcial'\n      : 'pendente';\n\n  return {\n    data: dia.data ?? null,\n    label: dia.label ?? null,\n    totalXp,\n    xpBase: Number(dia.xpBase ?? 0) || 0,\n    xpBonus: Number(dia.xpBonus ?? 0) || 0,\n    xpConversa: Number(dia.xpConversa ?? 0) || 0,\n    xpQuests: Number(dia.xpQuests ?? 0) || 0,\n    metaDia,\n    metaConversa: Number(dia.metaConversa ?? 0) || 0,\n    metaQuests: Number(dia.metaQuests ?? 0) || 0,\n    qtdQuestsPrevistas: qtdPrevistas,\n    qtdQuestsConcluidas: qtdConcluidas,\n    status\n  };\n});\n\nconst xpSemanaTotal = Number(row.xp_semana_total ?? 0) || 0;\nconst xpMetaSemana = Number(row.meta_semana_total ?? 0) || undefined;\nconst percentualMeta = xpMetaSemana && xpMetaSemana > 0\n  ? Math.min(100, Math.round((xpSemanaTotal / xpMetaSemana) * 100))\n  : undefined;\n\n// Calcular dias concluídos baseado em quantidade de quests (não mais XP)\nconst diasConcluidos = parsedDias.filter((dia) => {\n  return dia.qtdQuestsPrevistas > 0 && dia.qtdQuestsConcluidas >= dia.qtdQuestsPrevistas;\n}).length;\n\nconst streakDias = Number(row.streak_dias ?? 0) || 0;\nconst qtdQuestsPrevistasSemana = Number(row.qtd_quests_previstas_semana ?? 0) || 0;\nconst qtdQuestsConcluidasSemana = Number(row.qtd_quests_concluidas_semana ?? 0) || 0;\n\nconst summary = {\n  usuarioId: row.usuario_id ?? null,\n  semanaInicio: row.semana_inicio ?? null,\n  semanaFim: row.semana_fim ?? null,\n  streakAtualDias: streakDias,\n  xpSemanaTotal,\n  xpMetaSemana,\n  qtdQuestsPrevistasSemana,\n  qtdQuestsConcluidasSemana,\n  dias: parsedDias\n};\n\nreturn [{\n  json: {\n    success: true,\n    usuario_id: summary.usuarioId,\n    card_weekly_progress: {\n      ...summary,\n      percentualMeta,\n      diasConcluidos\n    }\n  }\n}];"
        },
        "id": "f0d4b448-adc3-47d3-ad95-aa490829b7dd",
        "name": "Montar Card",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          272
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "8b919da7-4737-4d81-a10f-a58858ebf92a",
        "name": "Responder Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          944,
          272
        ]
      }
    ],
    "connections": {
      "Webhook Card Weekly Progress": {
        "main": [
          [
            {
              "node": "Validar Params",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar Params": {
        "main": [
          [
            {
              "node": "Calcular Semana",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calcular Semana": {
        "main": [
          [
            {
              "node": "Montar Card",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar Card": {
        "main": [
          [
            {
              "node": "Responder Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Aldo Santos",
    "name": null,
    "description": null
  }
}
