backups/n8n/webhook_ocorrencias_sabotador.json
{
  "createdAt": "2025-12-03T12:57:01.454Z",
  "id": "oQVnWaDhkvu3DPWs",
  "name": "webhook_ocorrencias_sabotador",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "ocorrencias/sabotador",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook Ocorrências Sabotador",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        272
      ],
      "webhookId": "b90e5887-831e-4039-bd01-2223444491df",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const userId = $json.query?.user_id ?? $json.body?.user_id;\nconst sabotadorId = $json.query?.sabotador_id ?? $json.body?.sabotador_id;\n\nif (typeof userId !== 'string' || userId.trim() === '') {\n  throw new Error('Parâmetro user_id é obrigatório (?user_id=).');\n}\n\nif (typeof sabotadorId !== 'string' || sabotadorId.trim() === '') {\n  throw new Error('Parâmetro sabotador_id é obrigatório (?sabotador_id=).');\n}\n\nreturn [\n  {\n    json: {\n      user_id: userId.trim(),\n      sabotador_id: sabotadorId.trim(),\n    },\n  },\n];"
      },
      "id": "validar-params",
      "name": "Validar Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        272
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  us.id,\n  us.chat_id,\n  us.insight_atual,\n  us.contramedida_ativa,\n  us.intensidade_media,\n  us.contexto_principal,\n  us.criado_em,\n  uc.data_conversa AS data_ocorrencia,\n  uc.resumo_conversa,\n  uc.criado_em AS data_conversa\nFROM public.usuarios_sabotadores us\nLEFT JOIN public.usr_chat uc ON uc.id = us.chat_id\nWHERE us.usuario_id = $1::uuid\n  AND us.sabotador_id = $2\nORDER BY uc.data_conversa DESC, us.criado_em DESC;",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.sabotador_id] }}"
        }
      },
      "id": "buscar-ocorrencias",
      "name": "Buscar Ocorrências",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ocorrenciasItems = $input.all().map(item => item.json || {});\nconst params = $('Validar Params').first().json || {};\n\nconst response = {\n  success: true,\n  usuario_id: params.user_id || null,\n  sabotador_id: params.sabotador_id || null,\n  ocorrencias: ocorrenciasItems.map((row) => ({\n    id: row.id,\n    chat_id: row.chat_id,\n    insight_atual: row.insight_atual || null,\n    contramedida_ativa: row.contramedida_ativa || null,\n    intensidade_media: row.intensidade_media || null,\n    contexto_principal: row.contexto_principal || null,\n    data_ocorrencia: row.data_ocorrencia || row.criado_em || null,\n    data_conversa: row.data_conversa || null,\n    resumo_conversa: row.resumo_conversa || null,\n  })),\n  total: ocorrenciasItems.length,\n};\n\nreturn [\n  {\n    json: response,\n  },\n];"
      },
      "id": "montar-response",
      "name": "Montar Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "responder",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        304
      ]
    },
    {
      "parameters": {},
      "id": "merge-node",
      "name": "Merge Params",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        528,
        288
      ]
    }
  ],
  "connections": {
    "Webhook Ocorrências Sabotador": {
      "main": [
        [
          {
            "node": "Validar Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Params": {
      "main": [
        [
          {
            "node": "Buscar Ocorrências",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Ocorrências": {
      "main": [
        [
          {
            "node": "Merge Params",
            "type": "main",
            "index": 0
          },
          {
            "node": "Montar Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Response": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "activeVersionId": "46ad5fe7-08b6-4a58-b4f0-11482f077a3c",
  "shared": [
    {
      "createdAt": "2025-12-03T12:57:01.454Z",
      "role": "workflow:owner",
      "workflowId": "oQVnWaDhkvu3DPWs",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "createdAt": "2025-12-19T16:51:14.264Z",
    "workflowId": "oQVnWaDhkvu3DPWs",
    "nodes": [
      {
        "parameters": {
          "path": "ocorrencias/sabotador",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-node",
        "name": "Webhook Ocorrências Sabotador",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -240,
          272
        ],
        "webhookId": "b90e5887-831e-4039-bd01-2223444491df",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const userId = $json.query?.user_id ?? $json.body?.user_id;\nconst sabotadorId = $json.query?.sabotador_id ?? $json.body?.sabotador_id;\n\nif (typeof userId !== 'string' || userId.trim() === '') {\n  throw new Error('Parâmetro user_id é obrigatório (?user_id=).');\n}\n\nif (typeof sabotadorId !== 'string' || sabotadorId.trim() === '') {\n  throw new Error('Parâmetro sabotador_id é obrigatório (?sabotador_id=).');\n}\n\nreturn [\n  {\n    json: {\n      user_id: userId.trim(),\n      sabotador_id: sabotadorId.trim(),\n    },\n  },\n];"
        },
        "id": "validar-params",
        "name": "Validar Params",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          272
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  us.id,\n  us.chat_id,\n  us.insight_atual,\n  us.contramedida_ativa,\n  us.intensidade_media,\n  us.contexto_principal,\n  us.criado_em,\n  uc.data_conversa AS data_ocorrencia,\n  uc.resumo_conversa,\n  uc.criado_em AS data_conversa\nFROM public.usuarios_sabotadores us\nLEFT JOIN public.usr_chat uc ON uc.id = us.chat_id\nWHERE us.usuario_id = $1::uuid\n  AND us.sabotador_id = $2\nORDER BY uc.data_conversa DESC, us.criado_em DESC;",
          "options": {
            "queryReplacement": "={{ [$json.user_id, $json.sabotador_id] }}"
          }
        },
        "id": "buscar-ocorrencias",
        "name": "Buscar Ocorrências",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          240,
          400
        ],
        "credentials": {
          "postgres": {
            "id": "8ySWxtSO7gYK5uue",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const ocorrenciasItems = $input.all().map(item => item.json || {});\nconst params = $('Validar Params').first().json || {};\n\nconst response = {\n  success: true,\n  usuario_id: params.user_id || null,\n  sabotador_id: params.sabotador_id || null,\n  ocorrencias: ocorrenciasItems.map((row) => ({\n    id: row.id,\n    chat_id: row.chat_id,\n    insight_atual: row.insight_atual || null,\n    contramedida_ativa: row.contramedida_ativa || null,\n    intensidade_media: row.intensidade_media || null,\n    contexto_principal: row.contexto_principal || null,\n    data_ocorrencia: row.data_ocorrencia || row.criado_em || null,\n    data_conversa: row.data_conversa || null,\n    resumo_conversa: row.resumo_conversa || null,\n  })),\n  total: ocorrenciasItems.length,\n};\n\nreturn [\n  {\n    json: response,\n  },\n];"
        },
        "id": "montar-response",
        "name": "Montar Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          304
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "responder",
        "name": "Responder Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          864,
          304
        ]
      },
      {
        "parameters": {},
        "id": "merge-node",
        "name": "Merge Params",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          528,
          288
        ]
      }
    ],
    "connections": {
      "Webhook Ocorrências Sabotador": {
        "main": [
          [
            {
              "node": "Validar Params",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar Params": {
        "main": [
          [
            {
              "node": "Buscar Ocorrências",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Params",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Ocorrências": {
        "main": [
          [
            {
              "node": "Merge Params",
              "type": "main",
              "index": 0
            },
            {
              "node": "Montar Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar Response": {
        "main": [
          [
            {
              "node": "Responder Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Aldo Santos",
    "name": null,
    "description": null
  }
}
