backups/n8n/webhook_acoes_sabotador.json
{
  "createdAt": "2025-12-03T12:51:54.523Z",
  "id": "2Ma0YynYuaDblX8G",
  "name": "webhook_acoes_sabotador",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "acoes/sabotador",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook Ações Sabotador",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        304
      ],
      "webhookId": "3fc34620-f298-4b1d-8f1f-a5686afcabe5",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const userId = $json.query?.user_id ?? $json.body?.user_id;\nconst sabotadorId = $json.query?.sabotador_id ?? $json.body?.sabotador_id;\n\nif (typeof userId !== 'string' || userId.trim() === '') {\n  throw new Error('Parâmetro user_id é obrigatório (?user_id=).');\n}\n\nif (typeof sabotadorId !== 'string' || sabotadorId.trim() === '') {\n  throw new Error('Parâmetro sabotador_id é obrigatório (?sabotador_id=).');\n}\n\nreturn [\n  {\n    json: {\n      user_id: userId.trim(),\n      sabotador_id: sabotadorId.trim(),\n    },\n  },\n];"
      },
      "id": "validar-params",
      "name": "Validar Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  uq.id,\n  uq.status,\n  uq.ativado_em,\n  uq.atualizado_em,\n  uq.catalogo_id,\n  COALESCE(uq.config->>'titulo', qc.titulo, 'Quest personalizada') AS titulo,\n  COALESCE(uq.config->>'descricao', qc.descricao) AS descricao,\n  uq.config->>'tipo' AS tipo,\n  qc.codigo AS catalogo_codigo,\n  qc.xp AS xp_recompensa\nFROM public.usuarios_quest uq\nLEFT JOIN public.quests_catalogo qc ON qc.id = uq.catalogo_id\nWHERE uq.usuario_id = $1::uuid\n  AND uq.sabotador_id = $2\n  AND uq.status IN ('disponivel', 'ativa', 'inativa')\nORDER BY\n  CASE uq.status\n    WHEN 'ativa' THEN 0\n    WHEN 'disponivel' THEN 1\n    WHEN 'inativa' THEN 2\n  END,\n  uq.atualizado_em DESC;",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.sabotador_id] }}"
        }
      },
      "id": "buscar-quests",
      "name": "Buscar Quests Sabotador",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        432
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst paramsItem = items.find(item => item.json?.user_id && item.json?.sabotador_id);\nconst questsItems = items.filter(item => item.json?.id && !item.json?.user_id);\n\nconst params = paramsItem?.json || {};\nconst rows = questsItems.map(item => item.json || {});\n\nconst response = {\n  success: true,\n  usuario_id: params.user_id || null,\n  sabotador_id: params.sabotador_id || null,\n  acoes: rows.map((row) => ({\n    id: row.id,\n    status: row.status,\n    titulo: row.titulo || 'Quest sem título',\n    descricao: row.descricao || null,\n    tipo: row.tipo || null,\n    catalogo_id: row.catalogo_id || null,\n    catalogo_codigo: row.catalogo_codigo || null,\n    xp_recompensa: row.xp_recompensa || null,\n    ativado_em: row.ativado_em || null,\n    atualizado_em: row.atualizado_em || null,\n  })),\n  total: rows.length,\n};\n\nreturn [\n  {\n    json: response,\n  },\n];"
      },
      "id": "montar-response",
      "name": "Montar Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "responder",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        304
      ]
    },
    {
      "parameters": {},
      "id": "merge-node",
      "name": "Merge Params",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        304
      ]
    }
  ],
  "connections": {
    "Webhook Ações Sabotador": {
      "main": [
        [
          {
            "node": "Validar Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Params": {
      "main": [
        [
          {
            "node": "Buscar Quests Sabotador",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Quests Sabotador": {
      "main": [
        [
          {
            "node": "Merge Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Response": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Params": {
      "main": [
        [
          {
            "node": "Montar Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "shared": [
    {
      "createdAt": "2025-12-03T12:51:54.523Z",
      "role": "workflow:owner",
      "workflowId": "2Ma0YynYuaDblX8G",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
