backups/n8n/webhook_conversa_resumo.json
{
  "createdAt": "2025-10-12T07:55:47.675Z",
  "id": "v7HttxPItfsC82pA",
  "name": "webhook_conversa_resumo",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "resumo_conversas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        -16
      ],
      "id": "39a1ab4c-66a0-4c27-a64c-df9b474012eb",
      "name": "Webhook",
      "webhookId": "daf2181d-3e1c-4c2f-aa4a-78c4616b778e"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        608,
        16
      ],
      "id": "c81020fc-cb83-4640-8bd4-10f4e5e5e831",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5a3fb558-2687-40d3-a1fc-c2463ae95fa1",
              "leftValue": "={{ $json.query.conversa_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        -16
      ],
      "id": "49ce36f5-fbcf-43a7-a964-6bfaf020f869",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT ON (DATE(c.criado_em))\n  c.id,\n  c.criado_em AS data_conversa,\n  c.resumo_conversa,\n  COALESCE(qr.xp_base, 10) AS pontos\nFROM usr_chat c\nLEFT JOIN usuarios_quest uq ON uq.usuario_id = c.usuario_id\nLEFT JOIN quests_catalogo qc ON qc.id = uq.catalogo_id AND qc.codigo = 'reflexao_diaria'\nLEFT JOIN quests_recorrencias qr ON qr.usuarios_quest_id = uq.id \n  AND DATE(qr.data_concluida) = DATE(c.criado_em)\nWHERE c.usuario_id = $1\n  AND qc.id IS NOT NULL\nORDER BY DATE(c.criado_em) DESC, c.criado_em DESC\nLIMIT 10;",
        "options": {
          "queryReplacement": "={{ $json.query.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        128
      ],
      "id": "af018084-bb96-40b4-a6a1-49ce5cb174ba",
      "name": "todos os resumos",
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.id,\n  c.criado_em AS data_conversa,\n  c.resumo_conversa,\n  COALESCE(qr.xp_base, 10) AS pontos\nFROM usr_chat c\nLEFT JOIN usuarios_quest uq ON uq.usuario_id = c.usuario_id\nLEFT JOIN quests_catalogo qc ON qc.id = uq.catalogo_id AND qc.codigo = 'reflexao_diaria'\nLEFT JOIN quests_recorrencias qr ON qr.usuarios_quest_id = uq.id \n  AND DATE(qr.data_concluida) = DATE(c.criado_em)\nWHERE c.id = '{{ $json.query.conversa_id }}'\n  AND qc.id IS NOT NULL",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        -128
      ],
      "id": "536f4762-f018-4937-b671-dcec8726463d",
      "name": "todos os resumos1",
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "todos os resumos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "todos os resumos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "todos os resumos": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "todos os resumos1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "mindquest-n8n.cloudfy.live",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36 OPR/123.0.0.0",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.9,pt-BR;q=0.8,pt-PT;q=0.7,pt;q=0.6,es;q=0.5",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2001:818:e374:a600:5567:bd6e:1e6c:b2b",
            "cf-ipcountry": "PT",
            "cf-ray": "9a0a7cb02f35e3b0-LIS",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "origin": "http://localhost:5173",
            "priority": "u=1, i",
            "referer": "http://localhost:5173/",
            "sec-ch-ua": "\"Not;A=Brand\";v=\"99\", \"Opera\";v=\"123\", \"Chromium\";v=\"139\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "172.68.103.44",
            "x-forwarded-host": "mindquest-n8n.cloudfy.live",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d49265bfcab0",
            "x-real-ip": "172.68.103.44"
          },
          "params": {},
          "query": {
            "conversa_id": "7531f26b-d553-45fc-8d58-8e23fe1e2b2b"
          },
          "body": {},
          "webhookUrl": "https://mindquest-n8n.cloudfy.live/webhook/resumo_conversas",
          "executionMode": "production"
        }
      }
    ]
  },
  "shared": [
    {
      "createdAt": "2025-10-12T07:55:47.675Z",
      "role": "workflow:owner",
      "workflowId": "v7HttxPItfsC82pA",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
