backups/n8n/webhook_concluir_quest.json
{
  "createdAt": "2025-11-19T11:51:06.793Z",
  "id": "YF4CyvHY0BbLWNwC",
  "name": "webhook_concluir_quest",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "concluir-quest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5b68f6e1-04c3-4c52-900a-d7c5428625c6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        160
      ],
      "webhookId": "fb885634-496c-466f-b897-d2b75db029c7",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json ?? {};\nconst query = input.query ?? {};\n\nconst usuarioId = [query.usuario_id, query.user_id, query.usuarioId, query.userId].find((value) => typeof value === 'string' && value.trim().length > 0);\nconst questId = query.quest_id ?? query.questId ?? query.instancia_id;\nconst dataReferencia = query.data_referencia ?? query.dataReferencia;\n\nif (!usuarioId) {\n  throw new Error('usuario_id obrigatório');\n}\nif (!questId || typeof questId !== 'string' || questId.trim().length === 0) {\n  throw new Error('quest_id obrigatório');\n}\n\nreturn [{\n  json: {\n    usuario_id: usuarioId.trim(),\n    quest_id: questId.trim(),\n    data_referencia: dataReferencia && typeof dataReferencia === 'string' ? dataReferencia.trim() : null,\n    fonte: typeof query.fonte === 'string' ? query.fonte.trim() || 'app_v1.3' : 'app_v1.3',\n    comentario: typeof query.comentario === 'string' ? query.comentario.trim() || null : null,\n  }\n}];"
      },
      "id": "fd141ea2-3b5b-4bf0-b484-9bbc21b5bb6b",
      "name": "Normalizar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH quest_info AS (\n  SELECT id, usuario_id, recorrencias\n  FROM usuarios_quest\n  WHERE id = $1::uuid AND usuario_id = $2::uuid AND status IN ('ativa', 'pendente')\n)\nUPDATE usuarios_quest uq\nSET\n  recorrencias = jsonb_set(\n    recorrencias,\n    ARRAY['dias', (\n      SELECT (idx - 1)::text\n      FROM quest_info qi, jsonb_array_elements(qi.recorrencias->'dias') WITH ORDINALITY arr(elem, idx)\n      WHERE (elem->>'data')::date = COALESCE($3::date, CURRENT_DATE)\n    )],\n    jsonb_build_object(\n      'data', COALESCE($3, CURRENT_DATE::text),\n      'status', 'concluida',\n      'xp_previsto', (recorrencias->'dias'->0->>'xp_previsto')::int,\n      'concluido_em', COALESCE(($3 || ' 23:59:59')::text, CURRENT_TIMESTAMP::text)\n    )\n  ),\n  atualizado_em = CURRENT_TIMESTAMP\nFROM quest_info qi\nWHERE uq.id = qi.id\nRETURNING\n  uq.id AS quest_id,\n  uq.usuario_id,\n  uq.status,\n  uq.progresso_meta,\n  uq.progresso_atual,\n  uq.progresso_percentual,\n  uq.xp_concedido,\n  NULL::timestamp AS concluido_em,\n  uq.atualizado_em;",
        "options": {
          "queryReplacement": "={{ [$json.quest_id, $json.usuario_id, $json.data_referencia] }}"
        }
      },
      "id": "2e870f2c-290f-47cf-b835-f327ce83a367",
      "name": "Atualizar Recorrencia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first()?.json ?? {};\n\nif (!item.quest_id) {\n  throw new Error('Quest não encontrada ou já concluída');\n}\n\nreturn [{\n  json: {\n    usuario_id: item.usuario_id,\n    quest_id: item.quest_id,\n    status: item.status\n  }\n}];"
      },
      "id": "f1fda4b5-abca-46f1-ab8d-004e23d42aba",
      "name": "Validar Atualização",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        160
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bTeLj5qOKQo9PDMO",
          "mode": "list",
          "cachedResultUrl": "/workflow/bTeLj5qOKQo9PDMO",
          "cachedResultName": "sw_xp_quest"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $json.usuario_id }}",
            "quests_personalizadas": "[]",
            "atualizacoes_status": "={{ JSON.stringify([{instancia_id: $json.quest_id, novo_status: 'concluida', progresso_atual: 0, xp_extra: 0}]) }}"
          },
          "matchingColumns": [
            "usuario_id"
          ],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "quests_personalizadas",
              "displayName": "quests_personalizadas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            },
            {
              "id": "atualizacoes_status",
              "displayName": "atualizacoes_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "2a576a1d-51e0-4795-adf5-9e747e83cc0f",
      "name": "Calcular XP Quest",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1104,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  uq.id AS quest_id,\n  uq.usuario_id,\n  uq.status,\n  uq.progresso_meta,\n  uq.progresso_atual,\n  uq.progresso_percentual,\n  uq.xp_concedido,\n  uq.config,\n  uq.referencia_data,\n  uq.contexto_origem,\n  uq.concluido_em,\n  uq.atualizado_em,\n  uc.xp_total,\n  uc.xp_base,\n  uc.xp_bonus,\n  uc.total_quests_concluidas,\n  uc.total_quests_personalizadas\nFROM public.usuarios_quest uq\nLEFT JOIN public.usuarios_conquistas uc ON uc.usuario_id = uq.usuario_id\nWHERE uq.id = $1::uuid\n  AND uq.usuario_id = $2::uuid\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$('Validar Atualização').item.json.quest_id, $('Validar Atualização').item.json.usuario_id] }}"
        }
      },
      "id": "4810ef3e-d485-4a40-9192-b790e9368b39",
      "name": "Buscar Quest Final",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first()?.json ?? {};\n\nreturn [{\n  json: {\n    success: true,\n    quest_id: item.quest_id,\n    usuario_id: item.usuario_id,\n    status: item.status,\n    xp_adicionado: item.xp_concedido || 0,\n    xp_base: item.xp_base || 0,\n    xp_bonus: item.xp_bonus || 0,\n    total_quests_concluidas: item.total_quests_concluidas || 0,\n    total_quests_personalizadas: item.total_quests_personalizadas || 0,\n    quest: {\n      id: item.quest_id,\n      status: item.status,\n      progresso_meta: item.progresso_meta,\n      progresso_atual: item.progresso_atual,\n      progresso_percentual: item.progresso_percentual,\n      xp_concedido: item.xp_concedido,\n      config: item.config,\n      concluido_em: item.concluido_em,\n      atualizado_em: item.atualizado_em\n    }\n  }\n}];"
      },
      "id": "49e2ee1f-9ee3-41b3-a839-aac9d1a1258e",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "81d77147-895c-452c-853b-29a3d1baf30e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1824,
        160
      ]
    },
    {
      "id": "reset-quest-node",
      "name": "Resetar Quest Diaria",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1224,
        160
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.usuarios_quest\nSET\n  status = 'pendente',\n  progresso_atual = 0,\n  progresso_percentual = 0,\n  concluido_em = NULL,\n  atualizado_em = CURRENT_TIMESTAMP\nWHERE id = $1::uuid\n  AND usuario_id = $2::uuid\n  AND config->>'recorrencia' = 'diaria'\n  AND CURRENT_DATE BETWEEN janela_inicio AND janela_fim\nRETURNING \n  id AS quest_id,\n  status AS novo_status,\n  config->>'titulo' AS titulo;",
        "options": {
          "queryReplacement": "={{ [$('Validar Atualização').item.json.quest_id, $('Validar Atualização').item.json.usuario_id] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalizar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Entrada": {
      "main": [
        [
          {
            "node": "Atualizar Recorrencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Recorrencia": {
      "main": [
        [
          {
            "node": "Validar Atualização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Atualização": {
      "main": [
        [
          {
            "node": "Calcular XP Quest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular XP Quest": {
      "main": [
        [
          {
            "node": "Resetar Quest Diaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Quest Final": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar Quest Diaria": {
      "main": [
        [
          {
            "node": "Buscar Quest Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ae04f2ed-2214-4cfb-bb06-556ed074634f",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-11-19T11:51:06.793Z",
      "role": "workflow:owner",
      "workflowId": "YF4CyvHY0BbLWNwC",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
