backups/n8n/webhook_mapa_mental.json
{
  "createdAt": "2025-11-18T13:00:45.380Z",
  "id": "YlZ5iI1QJuW9mxqu",
  "name": "webhook_mapa_mental",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select resumo_conversa from usr_chat where usuario_id = 'd949d81c-9235-41ce-8b3b-6b5d593c5e24'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        240
      ],
      "id": "f9810d74-f194-4bf8-af67-88b788d98e86",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Usando SOMENTE o array `resumos` abaixo, gere um JSON seguindo exatamente esta hierarquia: {\"usuarioId\":\"{{ $json.usuarioId ?? 'desconhecido' }}\",\"areas\":[{\"area\":\"Área de vida\",\"assuntos\":[{\"assunto_central\":\"Tema focal\",\"mudanca_desejada\":\"O que a pessoa quer mudar\",\"acoes_praticas\":[\"ação 1\",\"ação 2\"],\"resultado_esperado\":\"Qual resultado alcançará\"}]}]}. Identifique 3-5 áreas relevantes e, dentro de cada área, descreva 1-3 assuntos centrais com foco concreto de mudança. Cada ação prática deve ser curta, específica e orientada a hábito; mantenha frases em primeira pessoa do singular. Retorne APENAS JSON válido, sem texto adicional.\nRESUMOS: {{ $json.resumos }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é especialista MindQuest em mapas mentais visuais. Agrupe os resumos por áreas de vida (trabalho, saúde emocional, relacionamentos, saúde física etc.) e detalhe, para cada área, assuntos centrais com objetivo de mudança, ações práticas e resultados esperados. Priorize clareza e consistência com o formato solicitado."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        176,
        240
      ],
      "id": "f4633838-f965-46ad-8107-2b1c69f8a8b4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const resumos = items.map(item => item.json.resumo_conversa ?? '');\nreturn [\n  {\n    json: {\n      usuarioId: items[0]?.json.usuario_id ?? null,\n      totalResumos: resumos.length,\n      resumos,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        240
      ],
      "id": "e5e75704-fc05-40a4-b135-711d041c4170",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        80,
        544
      ],
      "id": "bf6f078a-4778-4817-9430-b830e3f6543a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "rSnkOnnAHyfayLJt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "path": "mapa_mental",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        240
      ],
      "id": "d9142c50-a867-4e53-b06c-096a4a9ddc0b",
      "name": "Webhook",
      "webhookId": "481dacae-3d52-4619-8b03-9a104696bef1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"usuarioId\":\"d949d81c-9235-41ce-8b3b-6b5d593c5e24\",\"areas\":[{\"area\":\"Saúde Emocional\",\"assuntos\":[{\"assunto_central\":\"Controle emocional nas operações\",\"mudanca_desejada\":\"Reduzir reações impulsivas durante trades\",\"acoes_praticas\":[\"Respiro profundo antes de operar\",\"Revisar checklist emocional a cada sessão\"],\"resultado_esperado\":\"Executar decisões financeiras com calma e disciplina\"}]}]}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        464
      ],
      "id": "3a8e7c68-1703-4c7c-b5fb-4260e07a1d48",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        624,
        240
      ],
      "id": "b4524316-7d35-4008-8af9-9d0e5e83c3f3",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "shared": [
    {
      "createdAt": "2025-11-18T13:00:45.380Z",
      "role": "workflow:owner",
      "workflowId": "YlZ5iI1QJuW9mxqu",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
