backups/n8n/default/dash_insights_detalhes.json
{
  "createdAt": "2025-10-09T16:27:21.938Z",
  "updatedAt": "2025-10-16T17:16:12.436Z",
  "id": "hJiLj3MC3V3LMDKV",
  "name": "dash_insights_detalhes",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "insights",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3cd50132-9333-4c65-971a-103082ff306b",
      "name": "Webhook",
      "webhookId": "eed817c9-2b31-4af7-ac5c-a2f6dcd071cf"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        0
      ],
      "id": "defa58d7-c243-4bf1-aba7-acd9618c4ba1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "insights",
          "mode": "list",
          "cachedResultName": "insights"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "usuario_id",
              "value": "={{ $json.query.user_id }}"
            },
            {
              "column": "id",
              "value": "={{ $json.query.insight_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "777e60f4-fa18-4b8e-a9e7-ba47a738459a",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "mindquest-n8n.cloudfy.live",
            "user-agent": "PostmanRuntime/7.48.0",
            "content-length": "19",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2001:818:e374:a600:f1e6:ad9c:aba5:19ed",
            "cf-ipcountry": "PT",
            "cf-ray": "98bf57c6ac6faa28-LIS",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "postman-token": "0fc55a51-cde0-46b5-b158-deb6b527560a",
            "x-forwarded-for": "172.68.103.14",
            "x-forwarded-host": "mindquest-n8n.cloudfy.live",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d49265bfcab0",
            "x-real-ip": "172.68.103.14"
          },
          "params": {},
          "query": {
            "user_id": "8bc57788-8534-45a9-98be-39dc81ef4e6a",
            "insight_id": "e4b335c8-dd25-421f-a563-cd202a06a8e0"
          },
          "body": {
            "teste": "direto"
          },
          "webhookUrl": "https://mindquest-n8n.cloudfy.live/webhook/insights",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "5ca7b1d8-70e4-424c-8bf4-e61faab3b837",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-09T16:27:21.938Z",
      "updatedAt": "2025-10-09T16:27:21.938Z",
      "role": "workflow:owner",
      "workflowId": "hJiLj3MC3V3LMDKV",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "updatedAt": "2025-09-25T16:38:18.729Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "updatedAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "updatedAt": "2025-10-29T08:00:03.799Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-29",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}