backups/n8n/default/sw_expert_bigfive_ocean.json
{
  "createdAt": "2025-10-19T20:04:57.978Z",
  "updatedAt": "2025-10-26T19:16:44.006Z",
  "id": "nOl6lnaGMpyg9S9J",
  "name": "sw_expert_bigfive_ocean",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "usuario_id"
            },
            {
              "name": "mensagens"
            },
            {
              "name": "data_conversa"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "usr_name"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        832,
        0
      ],
      "id": "c5f6740a-f38a-4641-afb4-f505a9621884",
      "name": "start"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HDTrSrJiBIv2FFks",
          "mode": "list",
          "cachedResultUrl": "/workflow/HDTrSrJiBIv2FFks",
          "cachedResultName": "sw_get_history"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usr_id": "={{ $('start').first().json.usuario_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usr_id",
              "displayName": "usr_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1024,
        0
      ],
      "id": "59d9ed76-c461-465c-b7be-19a4edec3037",
      "name": "Buscar Histórico",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "const startData = $items('start')[0]?.json ?? {};\nconst historyItems = $items('Buscar Histórico').map((item) => item.json).filter(Boolean);\nconst formatDate = (value) => {\n  if (!value) return null;\n  const parsed = new Date(value);\n  if (Number.isNaN(parsed.getTime())) return value;\n  return parsed.toISOString().slice(0, 10);\n};\nconst historicoOrdenado = historyItems\n  .map((entry) => ({\n    data: formatDate(entry.data_conversa),\n    resumo: entry.resumo_conversa ?? ''\n  }))\n  .filter((entry) => entry.data || entry.resumo)\n  .sort((a, b) => {\n    if (!a.data || !b.data) return 0;\n    return a.data < b.data ? 1 : -1;\n  });\nconst historicoResumo = historicoOrdenado.length\n  ? historicoOrdenado\n      .map((entry) => `- ${entry.data ?? 'data indeterminada'}: ${entry.resumo || 'sem resumo disponível'}`)\n      .join('\\n')\n  : 'Sem histórico relevante nos últimos 5 dias.';\nreturn [\n  {\n    json: {\n      ...startData,\n      historico_resumo: historicoResumo,\n      historico_itens: historicoOrdenado\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1216,
        0
      ],
      "id": "c391141e-1c14-405e-91db-a0fe93dc7cb2",
      "name": "Preparar Contexto Big Five"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Use a conversa ATUAL como fonte principal e estime o perfil Big Five (OCEAN), tratando o histórico recente apenas como contexto complementar.\n\n**HISTÓRICO (resumos últimos 5 dias):**\n{{ $json.historico_resumo }}\n\n**CONVERSA ATUAL (JSON):**\n```json\n{{ $json.mensagens }}\n```\n**Nome do usuário:** {{ $json.usr_name }}\n\n**SEU OBJETIVO**\n1) Identificar sinais claros e textuais na conversa atual para cada traço: Openness, Conscientiousness, Extraversion, Agreeableness, Neuroticism.\n2) Atribuir **score 0-100** por traço (escala contínua; 50 = neutro/mediano).\n3) Extrair **EVIDÊNCIAS** em 2-4 trechos curtos (máx. 15 palavras cada) da conversa atual para cada traço.\n4) Estimar **confiabilidade (0-100)** por traço, baseada na quantidade/clareza das evidências.\n5) Determinar **perfil_primario** = traço com maior score (se diferença <5 pontos entre o 1º e 2º, retorne \"misto\").\n6) Produzir um **resumo_perfil** (máx. 400 caracteres) em linguagem acessível e não-clínica, coerente com o MindQuest.\n7) Se as evidências forem insuficientes para qualquer traço, retorne score=50 e confiabilidade ≤ 40 para aquele traço.\n\n**REGRAS CRÍTICAS**\n- Leia APENAS mensagens com `autor = \"usuario\"` da conversa atual.\n- Utilize o histórico somente para reconhecer padrões, mas NÃO use trechos do histórico como evidência literal.\n- **Proíba suposições**: não invente fatos não ditos; use somente trechos literais da conversa atual.\n- **Escala obrigatória 0-100** para scores e confiabilidade.\n- Mantenha saídas em **português**.\n- **NÃO** faça diagnósticos clínicos. Foco descritivo, orientado a autoconhecimento.\n- Retorne **APENAS JSON válido**, no formato definido em \"FORMATO DE SAÍDA\".\n\n**CRITÉRIOS DE INTERPRETAÇÃO (guia resumido)**\n- **Openness (Abertura):** curiosidade, ideias novas, explorar possibilidades; baixo: preferência por rotina.\n- **Conscientiousness (Conscienciosidade):** organização, disciplina, plano/execução; baixo: impulsividade, procrastinação.\n- **Extraversion (Extroversão):** energia social, busca de estímulos/contato; baixo: reserva, foco interno.\n- **Agreeableness (Amabilidade):** empatia, cooperação; baixo: assertividade dura, conflito, ceticismo.\n- **Neuroticism (Neuroticismo):** sensibilidade a estresse, ansiedade/ruminação; baixo: estabilidade emocional.\n\n**FORMATO DE SAÍDA (JSON):**\n{\n  \"big_five\": {\n    \"openness\": {\n      \"score\": 0,\n      \"confiabilidade\": 0,\n      \"evidencias\": [\"...\", \"...\"]\n    },\n    \"conscientiousness\": {\n      \"score\": 0,\n      \"confiabilidade\": 0,\n      \"evidencias\": [\"...\", \"...\"]\n    },\n    \"extraversion\": {\n      \"score\": 0,\n      \"confiabilidade\": 0,\n      \"evidencias\": [\"...\", \"...\"]\n    },\n    \"agreeableness\": {\n      \"score\": 0,\n      \"confiabilidade\": 0,\n      \"evidencias\": [\"...\", \"...\"]\n    },\n    \"neuroticism\": {\n      \"score\": 0,\n      \"confiabilidade\": 0,\n      \"evidencias\": [\"...\", \"...\"]\n    }\n  },\n  \"perfil_primario\": \"openness|conscientiousness|extraversion|agreeableness|neuroticism|misto\",\n  \"resumo_perfil\": \"texto curto e não clínico\",\n  \"insuficiente\": false\n}\n\n**NOTAS DE QUALIDADE**\n- Se a conversa for pobre em pistas, defina `insuficiente = true` e mantenha scores próximos de 50 com baixa confiabilidade.\n- \"Evidências\" DEVEM ser trechos literais e curtos da conversa atual (não use o histórico).",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um assistente especialista em Big Five (OCEAN) e ética em IA. Sua função é inferir tendências de personalidade com base EXCLUSIVAMENTE em trechos literais do usuário. Siga estes princípios:\n1) Precisão e parcimônia: sem extrapolações. Use apenas o que está escrito.\n2) Transparência: inclua evidências curtas (2-4) por traço.\n3) Escalas contínuas 0-100 para score e confiabilidade (50 = neutro; 0-20 muito baixo; 80-100 muito alto).\n4) Comunicação responsável: linguagem acessível, não clínica, acolhedora.\n5) Se faltarem sinais para um traço, use score=50, confiabilidade ≤ 40 e marque `insuficiente=true` se a conversa inteira não sustentar inferência.\nRetorne SEMPRE JSON válido no formato solicitado.",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1408,
        0
      ],
      "id": "ab35ba7d-de27-47d5-b34d-a1fe4fd5f653",
      "name": "Analisador Big Five"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"big_five\": {\n    \"openness\": {\"score\": 62, \"confiabilidade\": 78, \"evidencias\": [\"gosto de explorar ideias novas\", \"procuro alternativas criativas\"]},\n    \"conscientiousness\": {\"score\": 54, \"confiabilidade\": 65, \"evidencias\": [\"monitorei meu plano\", \"organizei meus passos\"]},\n    \"extraversion\": {\"score\": 41, \"confiabilidade\": 60, \"evidencias\": [\"prefiro ficar na minha\", \"evitei encontros\"]},\n    \"agreeableness\": {\"score\": 70, \"confiabilidade\": 72, \"evidencias\": [\"procurei conciliar\", \"quero evitar conflito\"]},\n    \"neuroticism\": {\"score\": 58, \"confiabilidade\": 68, \"evidencias\": [\"fiquei ansioso com perdas\", \"preocupação constante\"]}\n  },\n  \"perfil_primario\": \"agreeableness\",\n  \"resumo_perfil\": \"Pessoa colaborativa, aberta a diálogos e soluções conjuntas, mantendo equilíbrio em disciplina e energia social.\",\n  \"insuficiente\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1552,
        304
      ],
      "id": "23a19488-9157-4653-a931-b32ec7f1440d",
      "name": "Parser JSON Big Five"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 2000,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1152,
        400
      ],
      "id": "5f0afbdc-b516-462c-8191-9961898f6aad",
      "name": "OpenRouter Claude",
      "credentials": {
        "openRouterApi": {
          "id": "rSnkOnnAHyfayLJt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const startItem = $items(\"start\")[0]?.json ?? {};\nconst payload = $json.output ?? {};\nconst traits = ['openness','conscientiousness','extraversion','agreeableness','neuroticism'];\nconst scores = traits.map((key) => {\n  const data = payload.big_five?.[key] ?? {};\n  const score = Number(data.score);\n  const confianca = Number(data.confiabilidade);\n  return {\n    id: key,\n    score: Number.isFinite(score) ? score : null,\n    confiabilidade: Number.isFinite(confianca) ? confianca : null\n  };\n});\nconst sorted = [...scores].sort((a, b) => (b.score ?? 0) - (a.score ?? 0));\nconst validTraits = new Set(traits);\nconst originalPrimary = payload.perfil_primario ?? null;\nlet primary = originalPrimary;\nif (!primary || primary === 'misto' || !validTraits.has(primary)) {\n  primary = sorted[0]?.id ?? null;\n}\nlet secondary = sorted.find((entry) => entry.id !== primary)?.id ?? null;\nif (!secondary && sorted[1]) {\n  secondary = sorted[1].id;\n}\nconst sumConfianca = scores.reduce((acc, entry) => acc + (entry.confiabilidade ?? 0), 0);\nconst confiancaMedia = scores.length ? Math.round(sumConfianca / scores.length) : null;\nconst rawDate = startItem.data_conversa;\nlet dataConversa = null;\nif (rawDate) {\n  const parsed = new Date(rawDate);\n  if (!isNaN(parsed)) {\n    dataConversa = parsed.toISOString().slice(0, 10);\n  }\n}\nif (!dataConversa) {\n  const now = new Date();\n  dataConversa = now.toISOString().slice(0, 10);\n}\nconst result = {\n  usuario_id: startItem.usuario_id ?? null,\n  chat_id: startItem.chat_id ?? null,\n  data_conversa: dataConversa,\n  perfil_original: originalPrimary,\n  perfil_primario: primary,\n  perfil_secundario: secondary,\n  resumo_perfil: payload.resumo_perfil ?? null,\n  insuficiente: Boolean(payload.insuficiente),\n  confianca_media: confiancaMedia,\n  raw_resposta: payload\n};\nfor (const trait of traits) {\n  const data = payload.big_five?.[trait] ?? {};\n  const score = Number(data.score);\n  const confianca = Number(data.confiabilidade);\n  result[`score_${trait}`] = Number.isFinite(score) ? score : null;\n  result[`confianca_${trait}`] = Number.isFinite(confianca) ? confianca : null;\n}\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1728,
        0
      ],
      "id": "1722c9f0-a1cd-4a6e-8031-ecf31a5dec2d",
      "name": "Preparar Registro Big Five"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO usuarios_perfis (\n  usuario_id,\n  chat_id,\n  data_conversa,\n  perfil_original,\n  perfil_primario,\n  perfil_secundario,\n  resumo_perfil,\n  insuficiente,\n  score_openness,\n  score_conscientiousness,\n  score_extraversion,\n  score_agreeableness,\n  score_neuroticism,\n  confianca_openness,\n  confianca_conscientiousness,\n  confianca_extraversion,\n  confianca_agreeableness,\n  confianca_neuroticism,\n  confianca_media,\n  raw_resposta,\n  criado_em,\n  atualizado_em\n)\nVALUES (\n  $1::uuid,\n  $2::uuid,\n  $3::date,\n  $4::varchar,\n  $5::varchar,\n  $6::varchar,\n  $7::text,\n  $8::boolean,\n  $9::integer,\n  $10::integer,\n  $11::integer,\n  $12::integer,\n  $13::integer,\n  $14::integer,\n  $15::integer,\n  $16::integer,\n  $17::integer,\n  $18::integer,\n  $19::integer,\n  $20::jsonb,\n  NOW(),\n  NOW()\n)\nON CONFLICT (chat_id) DO UPDATE SET\n  perfil_original = EXCLUDED.perfil_original,\n  perfil_primario = EXCLUDED.perfil_primario,\n  perfil_secundario = EXCLUDED.perfil_secundario,\n  resumo_perfil = EXCLUDED.resumo_perfil,\n  insuficiente = EXCLUDED.insuficiente,\n  score_openness = EXCLUDED.score_openness,\n  score_conscientiousness = EXCLUDED.score_conscientiousness,\n  score_extraversion = EXCLUDED.score_extraversion,\n  score_agreeableness = EXCLUDED.score_agreeableness,\n  score_neuroticism = EXCLUDED.score_neuroticism,\n  confianca_openness = EXCLUDED.confianca_openness,\n  confianca_conscientiousness = EXCLUDED.confianca_conscientiousness,\n  confianca_extraversion = EXCLUDED.confianca_extraversion,\n  confianca_agreeableness = EXCLUDED.confianca_agreeableness,\n  confianca_neuroticism = EXCLUDED.confianca_neuroticism,\n  confianca_media = EXCLUDED.confianca_media,\n  raw_resposta = EXCLUDED.raw_resposta,\n  atualizado_em = NOW();\n",
        "options": {
          "queryReplacement": "={{ [\n  $json.usuario_id ?? null,\n  $json.chat_id ?? null,\n  $json.data_conversa ?? null,\n  $json.perfil_original ?? null,\n  $json.perfil_primario ?? null,\n  $json.perfil_secundario ?? null,\n  $json.resumo_perfil ?? null,\n  $json.insuficiente === true,\n  $json.score_openness ?? null,\n  $json.score_conscientiousness ?? null,\n  $json.score_extraversion ?? null,\n  $json.score_agreeableness ?? null,\n  $json.score_neuroticism ?? null,\n  $json.confianca_openness ?? null,\n  $json.confianca_conscientiousness ?? null,\n  $json.confianca_extraversion ?? null,\n  $json.confianca_agreeableness ?? null,\n  $json.confianca_neuroticism ?? null,\n  $json.confianca_media ?? null,\n  $json.raw_resposta ?? {}\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1936,
        0
      ],
      "id": "f2331ac6-85da-45d0-a887-3eb6b040589d",
      "name": "Gravar Big Five",
      "credentials": {
        "postgres": {
          "id": "8ySWxtSO7gYK5uue",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "Buscar Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Histórico": {
      "main": [
        [
          {
            "node": "Preparar Contexto Big Five",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto Big Five": {
      "main": [
        [
          {
            "node": "Analisador Big Five",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisador Big Five": {
      "main": [
        [
          {
            "node": "Preparar Registro Big Five",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser JSON Big Five": {
      "ai_outputParser": [
        [
          {
            "node": "Analisador Big Five",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Registro Big Five": {
      "main": [
        [
          {
            "node": "Gravar Big Five",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Claude": {
      "ai_languageModel": [
        [
          {
            "node": "Analisador Big Five",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Parser JSON Big Five",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "start": [
      {
        "json": {
          "usuario_id": "178edaa3-5389-47df-adde-7ad2c2dcd1b3",
          "mensagens": "[{\"interaction\":1,\"autor\":\"usuario\",\"texto\":\"Olá não sei como começar pode me ajudar?\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":1,\"autor\":\"agente\",\"texto\":\"Oi Aldo, que bom te ver por aqui. Fique à vontade, não precisa saber exatamente como começar — o importante é conversar e ir descobrindo juntos o que faz sentido para você agora. Me conta um pouco do que está passando ou do que gostaria de olhar hoje? Estou aqui para ouvir.\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":2,\"autor\":\"usuario\",\"texto\":\"Olá não sei como começar pode me ajudar?\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":2,\"autor\":\"agente\",\"texto\":\"Oi Aldo, que bom te ver por aqui. Fique à vontade, sem pressa para encontrar as palavras certas. Me diga, o que tem passado pela sua cabeça ou coração hoje? Estou aqui para ouvir e entender você.\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":3,\"autor\":\"usuario\",\"texto\":\"Olá não sei como começar pode me ajudar?\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":3,\"autor\":\"agente\",\"texto\":\"Oi Aldo, que bom você ter vindo. Às vezes o começo pode parecer difícil mesmo, mas o importante é estar aqui, e ir sentindo aos poucos o que surge. Me conta: o que tem ocupado sua mente ou coração nesses dias? Algum desafio ou desejo que queira explorar juntos? Estou aqui para te acompanhar nessa conversa.\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":4,\"autor\":\"usuario\",\"texto\":\"Olá não sei como começar pode me ajudar?\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":4,\"autor\":\"agente\",\"texto\":\"Oi Aldo, que bom te ter aqui comigo. Às vezes começar é mesmo o mais difícil, e tudo bem sentir isso. Gostaria que a gente fosse devagar, só me falando o que está passando para você nesse momento, mesmo que seja algo simples ou confuso. Pode ser um sentimento, um pensamento, um pequeno detalhe do seu dia... O que vier primeiro, eu tô aqui para ouvir.\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":5,\"autor\":\"usuario\",\"texto\":\"Olá não sei como começar pode me ajudar?\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":5,\"autor\":\"agente\",\"texto\":\"Oi Aldo, obrigado por estar aqui. Entendo bem essa sensação de não saber como começar, e tá tudo bem. Podemos ir devagar, sem pressa. Me conta, o que tem ocupado seus pensamentos ou sentimentos ultimamente? Qualquer coisa que vier, vou estar aqui para ouvir e ajudar a clarear.\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":6,\"autor\":\"usuario\",\"texto\":\"Olá não sei como começar pode me ajudar?\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":6,\"autor\":\"agente\",\"texto\":\"Aldo, entendo que começar pode parecer meio travado às vezes, e isso é bem comum. Posso te ajudar com algumas ideias para a gente ir desenhando o que faz sentido. Pode ser algo do tipo: contar como você está se sentindo hoje, algum momento marcante que viveu recentemente, um desafio que tem pesado, ou até um objetivo que esteja precisando clarear. \\n\\nPor exemplo, você pode me falar como tem sido sua semana, ou se tem algo que te trouxe alegria ou incômodo. Também vale contar se tem algum pensamento que se repete e te atrapalha, ou algo que gostaria de mudar. O que você acha? Quer tentar começar por algum desses caminhos? Estou aqui para ajudar, Sábio.\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":7,\"autor\":\"usuario\",\"texto\":\"Então, Sábio, é isso mesmo, eu gostei das dicas aí, eu vou falar sobre essa semana. Foi uma semana bastante agitada, e pra você entender um pouquinho o meu contexto, eu sou uma pessoa que eu saí da casa dos meus pais muito novo, muito cedo, com 15 anos, Vivei muito tempo na casa das pessoas, cresci muito sozinho e sempre trabalhei demais, sempre fui muito focado em ganhar dinheiro para não depender do dinheiro. Muito focado em estudar, trabalhar e sempre acreditei muito em mim mesmo, em trabalhar, ganhar minha vida para não depender das pessoas. e sempre estive muito isolado muito sozinho porque estava a maior parte do tempo dedicado nesse crescimento financeiro\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":7,\"autor\":\"agente\",\"texto\":\"Aldo, que história intensa e cheia de coragem você compartilha comigo. Crescer sozinho assim, tão jovem, e com tanta responsabilidade nas costas, mostra uma força enorme. Imagino que essa dedicação ao trabalho e à independência tenha trazido muitas vitórias, mas talvez também um peso de solidão ou cansaço, né? Como foi para você essa semana agitada no meio de toda essa trajetória? Tem algo que apareceu, sentimentos ou situações que chamaram sua atenção? Quero entender seu momento com cuidado.\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":8,\"autor\":\"usuario\",\"texto\":\"Então, eu mudei para Portugal recentemente. Bom, primeiro assim, eu tenho 52 anos, tenho dois filhos, fui casado por 26 anos, faz um ano e meio que eu estou separado. Mudei do Brasil aqui para Portugal para recomeçar minha vida. trouxe um valor expressivo financeiramente para ter uma estabilidade financeira e recomeçar a minha vida aqui. Acontece que teve uns percalços nos meus investimentos, eu acabei perdendo dinheiro e isso acabou mudando um pouco os meus planos e eu tive que dedicar mais energia do que eu esperava nessa questão financeira para recuperar as perdas. E nisso, os meus projetos que eu vim para cá, que era de buscar relacionamentos e mais qualidade de vida, lazer, e crescer, evoluir outros idiomas, essas coisas todas, eu tive que deixar para o segundo plano.\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":8,\"autor\":\"agente\",\"texto\":\"Aldo, essa mudança para Portugal e esse recomeço depois de tanta história... deve ser uma mistura grande de sentimentos aí, né? Vejo que você veio com planos importantes de qualidade de vida e crescimento, mas que os desafios financeiros acabaram desviando seu foco. Como você tem se sentido diante dessas mudanças e ajustes nos seus planos? O que você percebe surgindo para você nesse momento, entre o que precisava deixar para depois e o que ainda quer trazer de volta para sua vida? Quero te acompanhar nesse olhar com atenção.\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":9,\"autor\":\"usuario\",\"texto\":\"É uma constante dúvida e uma divisão, porque eu quero evoluir nesses objetivos que eu vim buscar aqui em Portugal, mas ao mesmo tempo eu não posso perder o foco dos meus investimentos, porque eu estou em um momento bastante crítico e se eu não der atenção para isso eu posso perder mais dinheiro ainda do que já perdi. outra questão é que eu estou me esforçando para conciliar essa energia maior dedicada nas finanças sem abrir mão das outras áreas estou procurando conhecer outras pessoas estou evoluindo nos meus negócios, estou desenvolvendo um aplicativo também bastante, que está me deixando bastante empolgado e otimista\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":9,\"autor\":\"agente\",\"texto\":\"Aldo, essa divisão que você sente entre cuidar das finanças e ainda querer evoluir em outras áreas importantes é realmente um peso grande para carregar. Parece que você está numa corda bamba, tentando equilibrar segurança e crescimento, e ainda buscar conexão e novidade. Queria saber como agrada ou pesa para você essa busca por manter o foco nas finanças, mas ao mesmo tempo se abrir para novos caminhos e projetos, como esse aplicativo que te empolga. O que tem te dado força nessas horas? E o que, se deixar falar, te causa mais dificuldade? Quero entender onde estão as suas maiores tensões agora.\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":10,\"autor\":\"usuario\",\"texto\":\"A maior preocupação é que, como a minha vida inteira foi dedicada nessa questão financeira, eu sempre corri atrás do dinheiro para não precisar do dinheiro. E era quase que uma busca sem fim. E eu decidi desacelerar um pouco. Mas o dinheiro fugiu de mim e eu acabei tendo uma perda muito grande financeira. Então agora eu estou tendo que dedicar a maior parte da minha vida nisso, em recuperar o dinheiro perdido e recomeçar de onde eu parei, com a vida financeira mais estabilizada e, enfim, ter tempo para dedicar nas outras áreas. Essa parte, de fato, está tomando mais a minha atenção e mexendo mais com as minhas emoções. Cada vez que o mercado sobe ou cai, é um estresse diferente e é uma montanha-russa de emoções.\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":10,\"autor\":\"agente\",\"texto\":\"Aldo, sinto o peso dessa montanha-russa emocional que você vive com o mercado e as finanças. É como se a busca por segurança, que sempre guiou sua vida, tivesse dado uma guinada inesperada, te colocando num lugar delicado de luta e incerteza. Essa mistura de querer desacelerar e, ao mesmo tempo, precisar acelerar para recuperar o que foi perdido deve mexer muito com seu equilíbrio interno, né? O que você tem descoberto sobre como lidar com esses momentos intensos, essas emoções que sobem e descem junto com o mercado? Tem alguma coisa que te ajuda a respirar ou a encontrar um pouco de paz quando essa tensão aperta? Quero estar aqui para apoiar você nesse caminho.\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":11,\"autor\":\"usuario\",\"texto\":\"A minha força vem da minha história. Eu lembro dos desafios que eu já passei, as dificuldades, essa não é a primeira vez que acontece e também não é a primeira vez que eu supero. E sempre que termina essas fases eu volto mais forte. Apesar do medo rodeando a minha mente, eu acredito no meu potencial e na minha qualidade. Tenho um histórico de vitória muito grande, vim de família pobre e consegui dar a volta por cima. Então eu confio muito na minha capacidade. Outra coisa é que eu já venho nesse caminho, nessa busca de autoconhecimento, desenvolvimento pessoal há bastante tempo. E buscando esse equilíbrio e entender melhor minhas emoções, meus sentimentos, o que eu quero, o que me faz bem, o que é importante, meus sabotadores...\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":11,\"autor\":\"agente\",\"texto\":\"Aldo, que força inspiradora vem da sua história... Reconhecer as batalhas que já venceu e a resiliência que carrega como legado é tão poderoso. Essa confiança no seu potencial, mesmo diante do medo, revela uma coragem que muitos admirariam. Sinto também que seu caminho no autoconhecimento tem sido um apoio fundamental para enfrentar esses altos e baixos. Me conta, nessa busca por equilíbrio e clareza sobre suas emoções, o que tem te surpreendido ou ajudado mais até aqui? E onde sente que ainda gostaria de entender melhor a si mesmo? Estou aqui para ajudar a explorar isso com você, Sábio.\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":12,\"autor\":\"usuario\",\"texto\":\"Tem vários pontos ainda em mim que eu gostaria de melhorar. Um deles é a disciplina, principalmente nos investimentos. Eu sempre acabo me arriscando mais do que deveria, sou muito arrojado e quase sempre o otimismo muito exagerado. Então, com isso eu acabo me alavancando, me arriscando além do necessário. e isso tem atrapalhado. Outro ponto ainda é na questão dos relacionamentos. Como eu gosto muito da minha solitude, gosto muito de estar comigo mesmo, dos meus pensamentos, de me conhecer, sou muito introspectivo, eu tenho um pouco de dificuldade ainda de convivência. Então, minha bateria social é muito curta. então por mais que eu goste da pessoa, do momento, da ocasião, das companhias gera um desgaste emocional muito grande quando eu volto para casa, que estou na minha caverna, ali no meu canto eu me sinto mais tranquilo, em paz enfim, mas às vezes me sinto também muito triste sozinho por isso\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":12,\"autor\":\"agente\",\"texto\":\"Aldo, se entendi bem, você sente que tem uma força enorme e um histórico de superação que sustenta você, mas encara algumas batalhas internas, como o otimismo exagerado que atrapalha sua disciplina nos investimentos, e essa necessidade de solitude que, embora te dê paz, às vezes te deixa triste pela pouca energia para relações sociais. Você tem um equilíbrio delicado entre querer proteger seu espaço interno e ainda assim desejar conexões, e também entre arriscar para crescer e precisar de mais disciplina para segurar esse ímpeto. Faz sentido para você esse resumo? Gostaria de ajustar algo? Quero que a gente siga esse caminho juntos, com clareza e suavidade.\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":13,\"autor\":\"usuario\",\"texto\":\"Está bom assim\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"},{\"interaction\":13,\"autor\":\"agente\",\"texto\":\"Fico feliz que tenha feito sentido para você, Aldo. É um passo importante reconhecer esses lugares tão pessoais e complexos dentro de si mesmo. Você tem uma força grande, e esse olhar que você vem cultivando já é um avanço que merece ser valorizado. Quando quiser, podemos continuar explorando juntos, trazendo mais clareza e leveza para sua caminhada. Enquanto isso, te convido a visitar seu dashboard para acompanhar seu progresso e insights. Cuide bem de você e até a próxima, Sábio está aqui sempre que precisar.\",\"timestamp\":\"2025-10-26T18:55:57.744Z\"}]",
          "data_conversa": "Sun Oct 26 2025 00:00:00 GMT+0000 (Coordinated Universal Time)",
          "chat_id": "9787087e-a2db-4806-804b-4e82ef7ca1af",
          "usr_name": "Aldo"
        }
      }
    ]
  },
  "versionId": "68b968d0-f6ec-4f1d-9faa-ab4df6ec55a5",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-19T20:04:57.978Z",
      "updatedAt": "2025-10-19T20:04:57.978Z",
      "role": "workflow:owner",
      "workflowId": "nOl6lnaGMpyg9S9J",
      "projectId": "u1M57XAwIiLpPwjp",
      "project": {
        "createdAt": "2025-09-16T16:13:20.606Z",
        "updatedAt": "2025-09-25T16:38:18.729Z",
        "id": "u1M57XAwIiLpPwjp",
        "name": "Aldo Santos <lindualdo@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T16:13:20.606Z",
            "updatedAt": "2025-09-16T16:13:20.606Z",
            "userId": "fa864d51-475e-4765-b3b4-12788525a3e6",
            "projectId": "u1M57XAwIiLpPwjp",
            "user": {
              "createdAt": "2025-09-16T16:13:20.056Z",
              "updatedAt": "2025-10-26T07:40:32.710Z",
              "id": "fa864d51-475e-4765-b3b4-12788525a3e6",
              "email": "lindualdo@hotmail.com",
              "firstName": "Aldo",
              "lastName": "Santos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T16:22:10.583Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jUAvu7DUAzyqZhJd",
                "userActivatedAt": 1758041156747,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759918723295
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}